

<div class="academic-program-thumbnail">
  {{ content.field_image }}
  <div class="content-thumb-title">
    <a href="{{- url -}}" rel="bookmark" class="arrow-link"><span>{{- label.0['#context'].value -}}</span></a>
  </div>
</div>
