

<div class="academic-program-thumbnail">
  {{ content.field_image }}
  <div class="content-thumb-title">
	  <a href="{{- url -}}" rel="bookmark" class="arrow-link">{{- label.0['#context'].value -}}</a>
	</div>
</div>

