/* ===============
   QUOTE WIDGET
==================== */

@use '../../../00-base/base' as *;

@mixin quote{
	font-size: 31px;
	line-height: 48px;
	font-family: $displayHeader;
	font-style: italic;
	.quote-mark{
		display: block;
		width: 20px;
		height: 19px;
		margin: -16px auto 30px;
		svg,.cls-1{
			fill: $brightBlue;
		}
	}
}

.paragraph--type--quote {
	color: $brightBlue;
	@media screen and (min-width: 690px){
		margin-left: calc(-50vw + 345px);
		margin-right: calc(-50vw + 345px);
	}
  .quote-wrapper {
  	max-width: 914px;
  	@include auto;
    border-top: $brightBlue 1px solid;
    border-bottom: $brightBlue 1px solid;
    padding: $spaceMd 0;
    text-align: center;
    .quote {
      @include quote;
    }
  }
}