/* ===============
   QUOTE WIDGET
==================== */

@use '../../../00-base/base' as *;

@mixin quote{
	font-size: 21px;
	line-height: 1.42;
	font-family: $displayHeader;
	font-style: italic;
  max-width: 650px;
  @include auto;
  @include tab{
    font-size: 30px;
	  line-height: 1.43;
  }
	.quote-mark{
		@include quoteMark;
    margin-bottom: $spaceMs;
    width: 100%;
	}//quote mark
}//end quote

.paragraph--type--quote {
	color: $royal;
  background: $ice;
	@media screen and (min-width: 954px){
		@include auto;
	}
  .quote-wrapper {
  	max-width: $breakoutWidth;
  	@include auto;
    padding: 36px $siteMarginMobile 36px;
    text-align: center;
    .quote {
      @include quote;
    }
    .field-source{
      margin: 14px auto 10px;
      font-size: 16px;
      line-height: 1.125;
      max-width: $textMax;
      @include tab{
        margin: 20px auto 4px;
      }
    }
    @include desk {
      padding: 106px $siteMarginMobile;
    }
  }//end quote wrapper
}//end paragraph type quote
