/* ======================
 WYSIWYG STYLES
============================ */

@use '00-base/base' as *;
@use '01-parts/buttons/button-mixins' as *;
@use '02-chunks/media/media-mixins' as *;

/*WYSIWYG for editors*/
.ck-editor__main{
	font-size: 16px;
	line-height: 1.4;
	p{
		margin: 0 0 26px;
	}
	a{
		color: $link;
		&:hover{
			color: $hoverLink;
		}
	}

	h2{
		@include heading2;
		font-size: 25px;
		margin: 0 0 30px;
	}

	h3{
		@include heading3;
		font-size: 22px;
		margin: 0 0 24px;
	}

	h4{
		@include heading4;
		font-size: 18px;
		margin: 0 0 22px;
	}

	h5{
		@include heading5;
		font-size: 16px;
		margin: 0 0 20px;
	}

	h6{
		@include heading6;
		font-size: 16px;
		margin: 0 0 20px;
	}

	ul,ol{
		margin-bottom: 26px;
	}

	.ck-content blockquote{
		border-top: 1px solid $brightBlue !important;
		border-bottom: 1px solid $brightBlue !important;
		@include quote;
		font-size: 28px;
		margin: 0 0 26px;
		position: relative;
		padding-top: 5.75rem;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 3rem;
			left: calc(50% - 10px);
			@include quoteMark;
		}
	}

	.ck-content hr{
		height: 1px;
		background: $borderRule;
		margin-bottom: 26px;
	}
}//end CKE editor Main
