/* ======================
 WYSIWYG STYLES
============================ */

@use '00-base/base' as *;
@use '01-parts/buttons/button-mixins' as *;
@use '02-chunks/media/media-mixins' as *;

/*WYSIWYG for editors*/
.ck.ck-editor__main{
  .ck-source-editing-area textarea{
    overflow-y: scroll;
  }
}
.ck-editor__main{
	font-size: 16px;
	line-height: 1.4;
	p{
		margin: 0 0 26px;
	}
	a{
		color: $link;
		&:hover{
			color: $hoverLink;
		}
	}

	h2{
		@include heading2;
		font-size: 24px;
		margin: 0 0 24px;
	}

	h3{
		@include heading3;
		font-size: 18px;
		margin: 0 0 8px;
	}

	h4{
		@include heading4;
		font-size: 20px;
		margin: 0 0 16px;
	}

	h5{
		@include heading5;
		font-size: 16px;
		margin: 0 0 20px;
	}

	h6{
		@include heading6;
		font-size: 16px;
		margin: 0 0 20px;
	}

	ul,ol{
		margin-bottom: 26px;
	}

	ul {
    list-style-type: none !important;
	  list-style-position: inside;
		& > li {
      padding: 0 0 $spaceXxs 1.5rem;
      text-indent: -.75rem;
      &:before {
        content: '•';
        display: inline-block;
        font-size: 12px;
        width: .75rem
      }
      ol,ul {
        margin: $spaceXxs 0 0 $spaceXs;
      }
    }//end li
    .ck-list-bogus-paragraph { 
      display: inline;
    }
	}//end ul

	ol:not([type]){
		list-style-type: none;
    list-style-position: inside;
    counter-reset: number;
    &[type="A"]{
      list-style-type: lower-alpha;
    }
    &[type="I"]{
      list-style-type: upper-roman;
    }
		& > li {
      counter-increment: number;
      padding: 0 0 $spaceXxs 1.5rem;
      text-indent: -1rem;
      list-style-type:none;
      &:before {
        content: counter(number) '. ';
        font-style: italic;
        font-family: $displayHeader;
        display: inline-block;
        width: .75rem;
        text-align: left;
      }
			ol,ul {
        margin: $spaceXxs 0 0 $spaceXs;
      }
		}// end > li
    .ck-list-bogus-paragraph { 
      display: inline;
    }
	}//end ol

	.ck-content blockquote{
		border-top: 1px solid $brightBlue !important;
		border-bottom: 1px solid $brightBlue !important;
		@include quote;
		font-size: 28px;
		margin: 0 0 26px;
		position: relative;
		padding-top: 5.75rem;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		text-align: center;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 3rem;
			left: calc(50% - 10px);
			@include quoteMark;
		}
	}

	.ck-content hr{
		height: 1px;
		background: currentColor;
		margin-bottom: 26px;
	}

	.ck-content .table{
		table{
			margin-top: 0;
		}
		& > figcaption{
			background: $white;
			font-weight: bold;
			font-size: 1em;
		}
		thead{
			th{
				background: $warmGrey;
			}
		}
		tbody{
			tr:nth-child(even){
				background: $lightGrey;
			}
		}
	}//end table
}//end CKE editor Main
