/* ======================
 WYSIWYG STYLES
============================ */

@use '00-base/base' as *;
@use '01-parts/buttons/button-mixins' as *;
@use '02-chunks/media/media-mixins' as *;

/*WYSIWYG for editors*/
.ck.ck-editor__main{
  .ck-source-editing-area textarea{
    overflow-y: scroll;
  }
}
.ck-editor__main{
	font-size: 16px;
	line-height: 1.4;
	p{
		margin: 0 0 26px;
	}
	a{
		color: $textLink;
    font-weight: $heavy;
    text-decoration: underline;
    &:hover,&:focus{
      text-decoration: none;
      color: $textLinkHover;
    }
	}

	h2{
		@include heading2;
		font-size: 24px !important;
		margin: 0 0 24px;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
	}

	h3{
		@include heading3;
		font-size: 18px !important;
		margin: 0 0 8px;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
	}

	h4{
		@include heading4;
		font-size: 20px !important;
		margin: 0 0 16px;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
	}

	h5{
		@include heading5;
		font-size: 16px !important;
		margin: 0 0 20px;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
	}

	h6{
		@include heading6;
		font-size: 16px !important;
		margin: 0 0 20px;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
	}

	ul,ol{
		margin-bottom: 26px;
	}

	ul {
    list-style-type: none !important;
	  list-style-position: inside;
		& > li {
      padding: 0 0 $spaceXxs 1.5rem;
      text-indent: -.75rem;
      &:before {
        content: '•';
        display: inline-block;
        font-size: 20px;
        width: .75rem
      }
      ol,ul {
        margin: $spaceXxs 0 0 $spaceXs;
      }
    }//end li
    .ck-list-bogus-paragraph {
      display: inline;
    }
	}//end ul

	ol{
		// default nested lists start at "a"
		ol{
			list-style-type:lower-alpha;

			// default nested-nested lists start at "i"
			ol{
				list-style-type:lower-roman;
			}
		}

		// the above defaults override the type attribute (unfortunately)
		// this makes all types work at all nested levels.
		&[type="a"]{
			list-style-type:lower-alpha !important;
		}
		&[type="A"]{
			list-style-type:upper-alpha !important;
		}
		&[type="i"]{
			list-style-type:lower-roman !important;
		}
		&[type="I"]{
			list-style-type:upper-roman !important;
		}
		&[type="1"]{
			list-style-type:decimal !important;
		}

		// add a bit of spacing in between bullet points
		li{
			margin-bottom:1rem;
			ol,ul{
				margin-top:1rem;
			}
		}
	}

	.ck-content hr{
		height: 1px;
		background: currentColor;
		margin-bottom: 26px;
	}

	.ck-content .table{
		table{
			margin-top: 0;
		}
		& > figcaption{
			background: $white;
			font-weight: bold;
			font-size: 1em;
		}
		thead{
			th{
				background: $coolGrey;
			}
		}
		tbody{
			tr:nth-child(even){
				background: $ice;
			}
		}
	}//end table
}//end CKE editor Main
