/* ===============
   FORMS
================= */

/* ELEMENTS INDEX
------------------------- */
@forward 'elements/checkbox';
@forward 'elements/date';
@forward 'elements/file';
@forward 'elements/radio';
@forward 'elements/select';
@forward 'elements/textfields';
@forward 'slate-form';

@use '../../00-base/base' as *;
@use 'elements/form-mixins' as *;
@use '../buttons/button-mixins' as *;

/* FORM ITEM STYLING
-------------------- */
//wipe browser appearance from inputs
input[type=text], input[type=search], input[type=url], input[type=number], textarea, input[type="search"] {
	@include browserWipe;
}

//validation
.has-error {
	border-color: $validation;
}


// generic form-item
.form-item{
	width: 100%;
	margin-bottom: $formElementSpace;
	label{
		@include formLabel;
	}
}//end form item

// required items
.form-required,.js-form-required{
	position: relative;
	@include required;
}

//descriptions
.description{
	font-size: 2rem;
}

input + .description{
	padding-top: $spaceXs;
	.webform-element-description{
		padding-bottom: 0;
	}
}


//fieldsets
fieldset{
	border: none;
	padding: 0;
	margin: 0;
	legend{
		font-weight: $heavy;
		font-size: 2.5rem;
		margin-bottom: $spaceXs;
	}

}//end fieldset

/* AUTOCOMPLETE DROPDOWN
-------------------------- */
.ui-autocomplete {
	.ui-dialog-off-canvas &{
		background: $siteBack !important;
	}
	.ui-menu-item-wrapper{
		display: block;
		font-size: 2rem;
		&.ui-state-active{
			background: $link;
			border-color: $link;
			color: $white;
			text-decoration: none;
			margin: 0;
		}
	}
}

/* USER LOGIN
--------------- */
.user-login-form,#user-pass,#user-register-form{
  margin-top: $elementSpace;
	max-width: $desk;
	@include auto;
	.form-item:not([type="submit"]),details{
		max-width: 400px;
		input{
			border: 1px solid $navy;
		}
	}
	.js-form-type-password{
		position: relative;
		.password-reset{
			position: absolute;
			top: -1px;
			right: 0;
			font-size: 1.5rem;
      &:hover,&:focus {
        text-decoration: underline;
      }
		}
		.show-password{
			position: absolute;
			top: 54px;
			right: 12px;
			font-size: 1.4rem;
			color: $royal;
			&:hover,&:focus{
				color: $hoverLink;
        text-decoration: underline;
			}
		}
		input#edit-pass{
			padding-right: 56px;
		}
		.description{
			padding-top: 1rem;
		}
	}//end form type password
	.description,p{
		font-size: 1.4rem;
	}
	#edit-submit.button{
		@include button;
    & {
		  margin: 0;
    }
	}
}//end user login form


details.form-wrapper{
	background: $detailsWrapperBack;
	margin-bottom: $spaceMd;
	&[open]{
		padding-bottom: 1px;
		summary{
			border-color: $inputBorderFocus;
			box-shadow: inset 0 0 0 1px $inputBorderFocus;
			margin-bottom: $spaceMd;
		}
		& > *:not(summary){
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}
	summary{
		border: 1px solid $borderRule;
		padding: 1.25rem 2.5rem;
		font-weight: $heavy;
		position: relative;
		font-size: 2.5rem;
		background: $siteBack;
		cursor: pointer;
		&::-webkit-details-marker {
			display: none;
		}
		&:hover{
			border-color: $inputBorderHover;
			box-shadow: inset 0 0 0 1px $inputBorderHover;
		}
	}//end summary
}//end details form-wrapper
