@use '../../00-base/base' as *;
@use '../../01-parts/buttons/button-mixins' as *;

@mixin slateFormContainer{
  @include gradient(right, $bay, 0%, $royal);
	max-width:1138px;
	margin-left:auto;
	margin-right:auto;
	color: $white;
	padding: 50px 20px 30px;
  @include tab {
    padding-top: 40px;
  }
}

@mixin slateRight{
	width:100%;
	@include desk{
		width: 50%;
	}

  .form_page {
		@include safeFlex(row,wrap,justify,end);
    gap: $spaceXms $spaceMs;
    margin-top: $spaceXms;

    @include tab {
      gap: $spaceMs;
      margin-top: $spaceXs;
    }
    .form_question{
			float: none !important;
			width: 100% !important;
			@include tab{
				&[data-export="sys:first"],&[data-export="sys:last"],&[data-export="sys:field:student_type"],&[data-export="sys:mobile"]{
					flex: 1;
				}
			}
		}
  }

	form{
		@include slateForm;
		#form_page_1{
      margin-bottom: 56px;
      @include tab {
			  margin-bottom: 54px;
      }
			.form_p .form_label{
				font-family: $bodyText;
        font-size: 14px;
        line-height: 22px;
				letter-spacing: normal;
				font-weight: $regular;
        margin-bottom: 0;
        @include tab {
          font-size: 16px;
          line-height: 1.625;
        }
			}
		}
	}
}

@mixin slateForm{
  .form_question{
    margin-bottom: 0;
    padding: 0 !important;
    &[data-required='1']{
      & > .form_label{
        &:after{
          content: '*';
          position: relative;
          top: -1px;
          left: 2px;
        }
      }
    }
  }
  .form_label{
    font-family: $header;
    font-size: $formLabelSize;
    font-weight: $formLabelWeight;
    letter-spacing: .05em;
    line-height: 1.5;
    display: block;
    margin: 0 0 5px;
  }
  input[type='text'],input[type='email'],input[type='tel'],textarea,input[type='number']{
    @include browserWipe;
    border: 0;
    border-radius: 4px;
    padding: 14px 22px;
    width: 100%;
    color: $navy;
    letter-spacing: .05em;
    font-size: 14px;
    line-height: 2;
    &::placeholder{
      color: $placeColor;
    }
    @include tab {
      font-size: 16px;
    }
  }
  textarea{
    min-height: 90px;
  }
  .form_checkbox{
    .form_response{
      margin-bottom: $spaceXxs;
      padding-left: 40px;
      position: relative;
    }
    input[type='checkbox']{
      @include browserWipe;
      width: 22px;
      height: 22px;
      border: 1px solid $checkbox;
      background-color: $white;
      position: absolute;
      left: 0;

      &:hover,
      &:focus {
        background-color: $checkboxBackHover;
        border-color: $checkboxHover;
      }
      &:checked {
        background-image: url('../images/elements/check-black.svg');
        background-repeat: no-repeat;
        background-size: contain;
      }
      & + label{
        margin-left:  0;
      }
    }//end checkbox inputs
  }//end form checkbox
  .form_radio{
    .form_response{
      position: relative;
      padding-left: 40px;
    }
    input[type='radio']{
      @include browserWipe;
      width: 22px;
      height: 22px;
      border: 1px solid $checkbox;
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      left: 0;

      &:hover,
      &:focus {
        background-color: $checkboxBackHover;
        border-color: $checkboxHover;
      }
      &:checked{
        background-image: url('../images/elements/radio-dot.svg');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;
      }
      & + label{
        margin-left:  0;
      }
    }//end radio input
  }//end form radio
  select{
    @include browserWipe;
    border: 0;
    border-radius: 4px;
    background: $white;
    padding: 14px 32px 14px 22px;
    background-image: url('../images/elements/chevron-royal-down-sm.svg');
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: calc(100% - 10px) 50%;
    font-size: 14px;
    line-height: 2;
    letter-spacing: .05em;
    color: $placeColor;
    &.selected{
      color: $baseText;
    }
    &:only-of-type{
      width: 100%;
    }
    &:focus{
      background-image: url('../images/elements/chevron-royal-up-sm.svg');
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: calc(100% - 10px) 50%;
    }
    @include tab {
      font-size: 16px;
    }
  }//end select
  fieldset{
    & > div:not(.form_label):not(:last-of-type){
      margin-bottom: 2.5rem;
    }
  }
  button.form_button_submit{
    @include submitButton;
    font-size: 13px;
    margin-top: 27px;
    & {
      height: 42px;
      width: 100%;
    }
    @include tab {
      font-size: 15px;
      min-height: 60px;
      min-width: 247px;
      width: auto;
    }
  }
}
