@use '../../00-base/base' as *;

@mixin slateFormContainer{
	max-width:1138px;
	margin-left:auto;
	margin-right:auto;
	background: $royal;
	color: $white;
	padding: 40px 20px 30px;
}

@mixin slateRight{
	width:100%;
	@include desk{
		width: 50%;
	}

	form{
		@include slateForm;
		#form_page_1{
			margin-bottom: 3rem;
			.form_label{
				margin-left: -20px;
				font-family: $bodyText;
				font-size: 16px;
				line-height: 1.875;
				font-weight: $regular;
				letter-spacing: normal;
				text-transform: none;
			}
		}
	}

	#form_page_2,#form_page_3{
		@include safeFlex(row,wrap,start,end);
		@include bleed(padding,20px);
		.form_question{
			float: none !important;
			width: 100% !important;
			@include tab{
				&[data-export="sys:first"],&[data-export="sys:last"],&[data-export="sys:field:student_type"],&[data-export="sys:mobile"]{
					width: 50% !important;
				}
			}
		}
	}
}

@mixin slateForm{
  .form_question{
    margin-bottom: 20px;
    &[data-required='1']{
      & > .form_label{
        &:after{
          content: '*';
          position: relative;
          top: -1px;
          left: 2px;
        }
      }
    }
  }
  .form_label{
    font-family: $header;
    font-size: $formLabelSize;
    font-weight: $formLabelWeight;
    letter-spacing: .05em;
    line-height: 16px;
    text-transform: uppercase;
    display: block;
    margin: 0 0 5px 20px;
  }
  input[type='text'],input[type='email'],input[type='tel'],textarea,input[type='number']{
    @include browserWipe;
    border: 0;
    border-radius: 10px;
    padding: 14px 22px;
    width: 100%;
    color: $navy;
    letter-spacing: .05em;
    font-size: 2rem;
    line-height: 2;
    &::placeholder{
      color: transparent;
    }
  }
  textarea{
    min-height: 90px;
  }
  .form_checkbox{
    .form_response{
      position: relative;
      padding-left: 40px;
    }
    input[type='checkbox']{
      @include browserWipe;
      width: 22px;
      height: 22px;
      border: 1px solid $white;
      background-color: $white;
      position: absolute;
      top: 2px;
      left: 0;
      &:hover,&:focus{
        background-color: $ice;
      }
      &:checked{
        background-image: url('../images/elements/check-black.svg');
        background-repeat: no-repeat;
        background-size: contain;
      }
      & + label{
        margin-left:  0;
      }
    }//end checkbox inputs
  }//end form checkbox
  .form_radio{
    .form_response{
      position: relative;
      padding-left: 40px;
    }
    input[type='radio']{
      @include browserWipe;
      width: 22px;
      height: 22px;
      border: 1px solid $white;
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      top: 4px;
      left: 0;
      &:hover,&:focus{
        background-color: $ice;
      }
      &:checked{
        background-image: url('../images/elements/radio-dot.svg');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;
      }
      & + label{
        margin-left:  0;
      }
    }//end radio input
  }//end form radio
  select{
    @include browserWipe;
    border: 0;
    border-radius: 10px;
    background: $white;
    padding: 14px 32px 14px 22px;
    background-image: url('../images/elements/chevron-royal-down-sm.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: calc(100% - 10px) 50%;
    font-size: 2rem;
    line-height: 2;
    letter-spacing: .05em;
    color: $royal;
    &.selected{
      color: $navy;
    }
    &:only-of-type{
      width: 100%;
    }
    &:focus{
      background-image: url('../images/elements/chevron-royal-up-sm.svg');
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: calc(100% - 10px) 50%;
    }
  }//end select
  fieldset{
    & > div:not(.form_label):not(:last-of-type){
      margin-bottom: 2.5rem;
    }
  }
  button.form_button_submit{
    @include browserWipe;
    border: 1px solid $gold;
    color: $royal;
    font-family: $header;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: .1em;
    font-weight: $heavy;
    text-align: center;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 12px 21px 11px;
    background-color: transparent;
    margin: $spaceXxs 0 $spaceSm;
    &:hover,&:focus{
      @include animation('breathe .75s 1');
      background-color: $ice;
      color: $royal;
      transition: background-color .3s ease-in-out;
    }
  }
}
