/* ============
   CONTACT LIBRARY
================ */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;

.node-contact{
	padding-top: $elementSpace;
	.main-node-content{
		@include contactHolder;
	}
	#node-section-1{
		margin-bottom: $elementSpace;
		h1.page-title{
			@include contactTitle;
		}
		.block-field:not(.block-title){
			margin-bottom: $spaceXxs;
			@include contactContent;
		}
	}//end node section 1
	#node-section-2{
		.block-field{
			margin-bottom: $spaceXxs;
		}
	}
}//end contact-library

.node-widget-contact{
	@include contactHolder;
	.contact-wrapper{
		@include tab{
			@include safeFlex(row,wrap,start,start);
			@include bleed(padding,20px);
			& > *{
					width: 50%;
					.widget-section > .layout--threecol-section &{
						width: 100%;
					}
				}
			}
	}//end contact wrapper
	.contact-title{
		@include contactTitle;
		padding-bottom: 32px;
		@include tab{
			padding-left: 20px;
		}
	}
	.contact-content{
		@include contactContent;
	}
}//end contact widget
