/* base colors */

$white         : #fff;
$ice           : #eef3fa;
$royal         : #2b3594;
$navy          : #06233d;
$coolGrey      : #b2c5d5;
$black         : #000;
$red           : #bf0e0e;
$lightGold     : #ffcd28;
$gold          : #ebac20;
$royalGradient : radial-gradient(94.94% 72.54% at -12.33% 72.54%, #0F2C46 0%, #232C99 100%);

// previous design leftover colors
//$brightBlue  : #0160f2;
//$sky         : #26b1ed;
//$denim       : #18334b;
//$lightGrey   : #f8f7f6;
//$warmGrey    : #dbd8d1;
//$cream       : #fdf5e4;
//$oldGold     : #b28114;
//$oldGoldDark : #976D11;
//$wheat       : #e4ad42;

$transWhite    : rgba(255,255,255,0.7);
$transNavy     : rgba(6,35,61,0.7);
$transTint     : rgba(35,35,35,0.4);
$transMidBlue  : rgba(34,48,147,0.8);
$transGrey     : rgba(0,0,0,.2);

$highlighter    : #fff01f;
$adminPink     : #f8e8f1;
$adminFuchsia   : #c028bb;
$adminGreen     : #018901;