/* base colors */

$ice        : #edf4fe;
$brightBlue : #0160f2;
$sky        : #26b1ed;
$royal      : #232c99;
$denim      : #18334b;
$navy       : #06233d;
$lightGrey  : #f8f7f6;
$warmGrey   : #dbd8d1;
$black      : #000;
$red        : #bf0e0e;
$cream      : #fdf5e4;
$gold       : #edac1a;
$oldGold    : #b28114;
$wheat      : #e4ad42;

$highlighter    : #fcd916;
$adminFuchsia   : #c028bb;
$adminGreen     : #018901;