/* base colors */

$white         : #fff;
$ice           : #eef3fa;
$alto          : #D9D9D9;
$bay           : #27307F;
$royal         : #2b3594;
$navy          : #06233d;
$elephant      : #0F2C46;
$coolGrey      : #b2c5d5;
$black         : #000;
$red           : #bf0e0e;
$lightGold     : #ffcd28;
$gold          : #ebac20;

$transWhite    : rgba(255,255,255,0.7);
$transNavy     : rgba(6,35,61,0.7);
$transTint     : rgba(35,35,35,0.4);
$transMidBlue  : rgba(34,48,147,0.8);
$transGrey     : rgba(0,0,0,.2);

$highlighter    : #fff01f;
$adminPink     : #f8e8f1;
$adminFuchsia   : #c028bb;
$adminGreen     : #018901;