@use 'colors' as *;
@use 'sass:color';


/* HIDDEN FROM PL SWATCHES BUT USED ON SITE */


/* CHANGEABLE SUBSITE COLORS
----------------------- */
.themeset-uwec{
	--col-primary: #{$royal};
	--col-accent1: #{$gold};
	--col-accent2: #{$navy};
	--col-accent3: lemonchiffon;
  --col-accent4: #{$bay};
}
.themeset-example{
	--col-primary: #{$gold};
	--col-accent1: #{$ice};
	--col-accent2: #011e54;
	--col-accent3: aqua;
}


/* ===========================
    COMPONENT SPECIFIC COLORS
=============================   */

/* TEXT
---------------------- */
$baseText          : $navy;
$link              : $royal;
$linkInvert        : $white;
$textLink          : $navy;
$linkUnderline     : $gold;
$activeLink        : $ice;
$hoverLink         : $navy;
$textLinkHover     : $royal;
$breadLink         : $link;
$breadLinkHover    : $hoverLink;
$breadCurrent      : $baseText;
$headingText       : $royal;
$listMarker        : $navy;

/* BUTTONS
---------------------- */
$buttonBack          : $gold;
$buttonBackHover     : $lightGold;
$buttonBackActive    : color.adjust($lightGold, $lightness: 5%);
$buttonText          : $navy;
$buttonTextHover     : $royal;
$buttonTextActive    : $royal;
$buttonAltBack       : $white;
$buttonAltBackHover  : transparent;
$buttonAltBackActive : rgba(255,255,255,0.2);
$buttonAltText       : $royal;
$buttonAltTextHover  : $white;
$buttonAltTextActive : $white;
$submitBack        : $gold;
$submitText        : $navy;
$submitBackHover   : $lightGold;
$submitTextHover   : $royal;
$submitBackActive  : color.adjust($lightGold, $lightness: 5%);
$submitTextActive  : $royal;
$resetBack         : $white;
$resetText         : $royal;
$resetBackHover    : rgba(255,255,255,0.2);
$resetTextHover    : $royal;

/* SYSTEM
--------------------- */
$siteBack                  : $white;
$unpub                     : $adminPink;
$headerBack                : var(--col-primary);
$prefooterBack             : var(--col-accent1);
$prefooterText             : $white;
$prefooterLink             : $white;
$prefooterLinkHover        : $white;
$footerBack                : var(--col-accent4);
$footerText                : $white;
$footerLink                : $white;
$footerLinkActive          : $gold;
$footerLinkHover           : $gold;
$footerLinkActiveHover     : $white;
$footerSocial              : $white;
$footerSocialHover         : $gold;
$footerRule                : $gold;
$borderRule                : $coolGrey;
$modalBack                 : $navy;
$modalContent              : $white;
$modalContentBack          : $navy;
$modalHeader               : $white;
$modalHeaderBack           : $navy;
$modalHeaderClose          : $white;
$modalHeaderCloseHover     : $white;
$modalGalButton            : $navy;
$modalGalButtonHover       : $navy;
$modalGalButtonBack        : $ice;
$modalGalButtonBackHover   : $coolGrey;
$hamburger                 : $white;
$hamburgerActive           : $white;
$searchIcon                : $white;
$searchIconHover           : $gold;
$searchDropBack            : $navy;
$searchDropText            : $white;
$searchDropPlace           : rgba(6,35,61,0.61);
$searchDropPlaceFocus      : $searchDropPlace;
$searchDropInputBorder     : $white;
$searchDropInputFocus      : $white;
$searchDropSearchIcon      : $white;
$searchDropSearchIconHover : $link;
$searchClose               : $white;
$searchCloseHover          : $navy;
$searchCloseBack           : $navy;
$searchCloseBackHover      : $white;


/* FORMS
--------------------- */
$inputBorderColor         : transparent;
$inputBorderHover         : $ice;
$inputBorderFocus         : $royal;
$placeColor               : $royal;
$placeFocusColor          : $placeColor;
$validation               : $royal;
$checkbox                 : $link;
$checkboxHover            : $link;
$checkboxBackHover        : $ice;
$checkboxChecked          : $link;
$checkboxCheckedHover     : $coolGrey;
$checkboxCheckedBack      : $ice;
$checkboxCheckedBackHover : $coolGrey;
$selectArrow              : $royal;
$selectHighlight          : $link;
$progressBar              : $navy;
$progressMarker           : $navy;
$progressMarkerText       : $white;
$progressMarkerActive     : $royal;
$progressMarkerActiveText : $white;
$sliderTrack              : $navy;
$sliderTrackHover         : $royal;
$sliderKnob               : $white;
$datepickerHeader         : $ice;
$datepickerHeaderElement  : $royal;
$datepickerDays           : $royal;
$datepickerDaysBack       : $ice;
$datepickerDate           : $navy;
$datepickerDateBack       : $white;
$datepickerDateBorder     : $coolGrey;
$datepickerCurrent        : $navy;
$datepickerCurrentBack    : $ice;
$datepickerSelected       : $white;
$datepickerSelectedBack   : $navy;
$detailsWrapperBack       : $ice;

/* TABLES
---------------- */
$tableHeaderBack     : $coolGrey;
$tableHeaderText     : $navy;
$tableRowHeaderBack  : $coolGrey;
$tableRowHeaderText  : $navy;
$rowBorder           : $borderRule;
$oddRowBack          : $siteBack;
$oddRowText          : $baseText;
$evenRowBack         : $ice;
$evenRowText         : $baseText;



/* SUPERFISH
---------------------- */
//desktop
$sfTopLink            : $white;
$sfTopLinkHover       : $white;
$sfTopBackHover       : transparent;
$sfTopActive          : $white;
$sfTopActiveHover     : $white;
$sfChildLink          : $royal;
$sfChildLinkHover     : $royal;
$sfChildActive        : $royal;
$sfChildActiveHover   : $royal;
$sfDropdown           : $ice;

//mobile
$sfMobileDrop            : $navy;
$sfMobileDropBorder      : $navy;
$sfMobileItemBorder      : rgba(255,255,255,0.5);
$sfMobileTop             : $white;
$sfMobileChild           : $white;
$sfMobileChildActive     : $gold;


/* MENU BLOCK (Sidebar)
--------------------- */
$menuBlockTitle       : $white;
$menuBlockTitleBack   : $royal;
$menuBack             : $ice;
$menuTop              : $link;
$menuTopHover         : $royal;


/* SECONDARY MENU
----------------------- */
$secondMenuLink      : $white;
$secondMenuLinkHover : $white;

/* PAGERS
--------------------- */
$pagerBorder                : transparent;
$pagerBack                  : $ice;
$pagerNumber                : $baseText;
$pagerNumberBack            : transparent;
$pagerNumberHover           : $baseText;
$pagerNumberBackHover       : $coolGrey;
$pagerNumberActive          : $white;
$pagerNumberActiveBack      : $navy;
$pagerNumberActiveHover     : $baseText;
$pagerNumberActiveBackHover : $coolGrey;
$pagerLink                  : $navy;
$pagerLinkBack              : transparent;
$pagerLinkHover             : $white;
$pagerLinkBackHover         : $navy;
$resultsText                : $baseText;


/* ACCORDIONS
------------------- */
$accordHeader             : $baseText;
$accordHeaderHover        : $baseText;
$accordHeaderBorder       : $borderRule;
$accordHeaderBorderHover  : $borderRule;
$accordHeaderBack         : transparent;
$accordHeaderBackHover    : $ice;
$accordContentBack        : $white;
$accordContentBorder      : transparent;
$accordActive             : $baseText;
$accordActiveHover        : $baseText;
$accordActiveBorder       : $borderRule;
$accordActiveBorderHover  : $borderRule;
$accordActiveBack         : $white;
$accordActiveBackHover    : $white;

/* GALLERIES
------------------ */
$galleryPagerBack         : $gold;
$galleryPagerHoverBack    : $lightGold;
$galleryEyebrow           : $elephant;
$galleryTitle             : $royal;
$galleryCaption           : $elephant;
$galleryCaptionAlt        : $navy;
$galleryDot               : $alto;
$galleryDotHover          : $lightGold;
$galleryDotActive         : $gold;

/* MESSAGES
------------------ */
$messageText          : $white;
$messageBack          : $navy;
$messageGoodBorder    : $adminGreen;
$messageWarningBorder : $gold;
$messageErrorBorder   : $adminFuchsia;


/* EMBEDDED DOC ICONS
------------------- */
$fileIcon: $navy;
