@use 'colors' as *;
@use 'sass:color';


/* HIDDEN FROM PL SWATCHES BUT USED ON SITE */


/* CHANGEABLE SUBSITE COLORS
----------------------- */
.themeset-uwec{
	--col-primary: #{$royal};
	--col-accent1: #{$gold};
	--col-accent2: #{$navy};
  --col-accent4: #{$bay};
}

/* ===========================
    COMPONENT SPECIFIC COLORS
=============================   */

/* TEXT
---------------------- */
$baseText          : $navy;
$baseTextInvert    : $white;
$link              : $royal;
$linkInvert        : $white;
$textLink          : $navy;
$linkUnderline     : $gold;
$activeLink        : $ice;
$hoverLink         : $navy;
$textLinkHover     : $royal;
$breadLink         : $link;
$breadLinkHover    : $hoverLink;
$breadCurrent      : $baseText;
$headingText       : $royal;
$headingTextAlt    : $gold;
$listMarker        : $navy;

/* BUTTONS
---------------------- */
$buttonBack          : $gold;
$buttonBackHover     : $lightGold;
$buttonBackActive    : color.adjust($lightGold, $lightness: 5%);
$buttonText          : $navy;
$buttonTextHover     : $royal;
$buttonTextActive    : $royal;
$buttonAltBack       : $white;
$buttonAltBackHover  : transparent;
$buttonAltBackActive : rgba(255,255,255,0.2);
$buttonAltText       : $royal;
$buttonAltTextHover  : $white;
$buttonAltTextActive : $white;
$submitBack        : $gold;
$submitText        : $navy;
$submitBackHover   : $lightGold;
$submitTextHover   : $royal;
$submitBackActive  : color.adjust($lightGold, $lightness: 5%);
$submitTextActive  : $royal;
$resetBack         : $white;
$resetText         : $royal;
$resetBackHover    : rgba(255,255,255,0.2);
$resetTextHover    : $royal;

/* SYSTEM
--------------------- */
$siteBack                  : $white;
$unpub                     : $adminPink;
$headerBack                : var(--col-primary);
$prefooterBack             : var(--col-accent1);
$prefooterText             : $white;
$prefooterLink             : $white;
$prefooterLinkHover        : $white;
$footerBack                : var(--col-accent4);
$footerText                : $white;
$footerLink                : $white;
$footerLinkActive          : $gold;
$footerLinkHover           : $gold;
$footerLinkActiveHover     : $white;
$footerSocial              : $white;
$footerSocialHover         : $gold;
$footerRule                : $gold;
$borderRule                : $coolGrey;
$borderRuleAlt             : $gold;
$hamburger                 : $white;
$hamburgerActive           : $white;
$searchIcon                : $white;
$searchIconHover           : $gold;
$searchDropBack            : $navy;
$searchDropText            : $white;
$searchDropPlace           : rgba(6,35,61,0.61);
$searchDropPlaceFocus      : $searchDropPlace;
$searchDropInputBorder     : $white;
$searchDropInputFocus      : $white;
$searchDropSearchIcon      : $white;
$searchDropSearchIconHover : $link;
$searchClose               : $white;
$searchCloseHover          : $navy;
$searchCloseBack           : $navy;
$searchCloseBackHover      : $white;

/* FORMS
--------------------- */
$inputBorderColor         : transparent;
$inputBorderHover         : $ice;
$inputBorderFocus         : $royal;
$placeColor               : $royal;
$placeFocusColor          : $placeColor;
$validation               : $royal;
$checkbox                 : $link;
$checkboxHover            : $link;
$checkboxBackHover        : $alto;
$checkboxChecked          : $link;
$checkboxCheckedHover     : $coolGrey;
$checkboxCheckedBack      : $ice;
$checkboxCheckedBackHover : $coolGrey;
$selectArrow              : $royal;
$selectHighlight          : $link;
$detailsWrapperBack       : $ice;
$label                    : $royal;

/* TABLES
---------------- */
$tableHeaderBack     : $coolGrey;
$tableHeaderText     : $navy;
$tableRowHeaderBack  : $coolGrey;
$tableRowHeaderText  : $navy;
$rowBorder           : $borderRule;
$oddRowBack          : $siteBack;
$oddRowText          : $baseText;
$evenRowBack         : $ice;
$evenRowText         : $baseText;

/* SIDEBAR MENU BLOCK
--------------------- */
$menuBlockTitle       : $royal;
$menuBlockTitleBack   : $gold;
$menuBlockTitleHover  : $royal;
$menuBlockTitleHoverBack : $lightGold;
$menuBorder           : $gold;
$menuBack             : $white;
$menuTop              : $link;
$menuTopHover         : $royal;
$menuLinkHoverBack    : $ice;


/* SECONDARY MENU
----------------------- */
$secondMenuLink      : $white;
$secondMenuLinkHover : $white;

/* PAGERS
--------------------- */
$pagerBorder                : transparent;
$pagerBack                  : transparent;
$pagerNumber                : $royal;
$pagerNumberBack            : transparent;
$pagerNumberHover           : $navy;
$pagerNumberBackHover       : transparent;
$pagerNumberActive          : $white;
$pagerNumberActiveBack      : $royal;
$pagerNumberActiveHover     : $white;
$pagerNumberActiveBackHover : $coolGrey;
$pagerLink                  : $royal;
$pagerLinkBack              : $gold;
$pagerLinkHover             : $navy;
$pagerLinkBackHover         : $lightGold;
$resultsText                : $baseText;

/* ACCORDIONS
------------------- */
$accordHeader             : $baseText;
$accordHeaderHover        : $royal;
$accordHeaderBorder       : $borderRule;
$accordHeaderBorderHover  : $borderRule;
$accordHeaderBack         : transparent;
$accordHeaderBackHover    : color.adjust($ice, $lightness: 2%);
$accordContentBack        : transparent;
$accordContentBorder      : transparent;
$accordActive             : $royal;
$accordActiveHover        : $baseText;
$accordActiveBorder       : $borderRule;
$accordActiveBorderHover  : $borderRule;
$accordActiveBack         : transparent;
$accordActiveBackHover    : color.adjust($ice, $lightness: 2%);

/* GALLERIES
------------------ */
$galleryMobileBack        : $ice;
$galleryPagerBack         : $gold;
$galleryPagerHoverBack    : $lightGold;
$galleryEyebrow           : $elephant;
$galleryTitle             : $royal;
$galleryCaption           : $elephant;
$galleryCaptionAlt        : $navy;
$galleryDot               : $alto;
$galleryDotHover          : $lightGold;
$galleryDotActive         : $gold;

/* MESSAGES
------------------ */
$messageText          : $white;
$messageBack          : $navy;
$messageGoodBorder    : $adminGreen;
$messageWarningBorder : $gold;
$messageErrorBorder   : $adminFuchsia;


/* EMBEDDED DOC ICONS
------------------- */
$fileIcon: $navy;
