@use 'colors' as *;

/* HIDDEN FROM PL SWATCHES BUT USED ON SITE */


/* CHANGEABLE SUBSITE COLORS
----------------------- */
.themeset-uwec{
	--col-primary: #{$brightBlue};
	--col-accent1: #{$gold};
	--col-accent2: #{$royal};
	--col-accent3: lemonchiffon;
}
.themeset-example{
	--col-primary: #{$gold};
	--col-accent1: #{$sky};
	--col-accent2: #011e54;
	--col-accent3: aqua;
}


/* ===========================
    COMPONENT SPECIFIC COLORS
=============================   */

/* TEXT
---------------------- */
$baseText          : $navy;
$link              : $brightBlue;
$activeLink        : $sky;
$hoverLink         : $navy;
$breadLink         : $link;
$breadLinkHover    : $hoverLink;
$breadCurrent      : $baseText;

/* BUTTONS
---------------------- */
$buttonBack        : transparent;
$buttonBackHover   : $navy;
$buttonBackActive  : $denim;
$buttonText        : $baseText;
$buttonTextHover   : $white;
$buttonTextActive  : $white;
$submitBack        : transparent;
$submitText        : $brightBlue;
$submitBackHover   : $brightBlue;
$submitTextHover   : $white;
$submitBackActive  : $sky;
$submitTextActive  : $white;
$resetBack         : $navy;
$resetText         : $white;
$resetBackHover    : transparent;
$resetTextHover    : $navy;

/* SYSTEM
--------------------- */
$siteBack                  : $white;
$unpub                     : $adminPink;
$headerBack                : var(--col-primary);
$prefooterBack             : var(--col-accent2);
$prefooterText             : $white;
$prefooterLink             : $white;
$prefooterLinkHover        : $white;
$footerBack                : var(--col-accent2);
$footerText                : $sky;
$footerLink                : $sky;
$footerLinkHover           : $white;
$footerSocial              : $sky;
$footerSocialHover         : $white;
$borderRule                : $warmGrey;
$modalBack                 : $navy;
$modalContent              : $white;
$modalContentBack          : $navy;
$modalHeader               : $white;
$modalHeaderBack           : $navy;
$modalHeaderClose          : $white;
$modalHeaderCloseHover     : $white;
$modalGalButton            : $navy;
$modalGalButtonHover       : $navy;
$modalGalButtonBack        : $lightGrey;
$modalGalButtonBackHover   : $warmGrey;
$hamburger                 : $white;
$hamburgerActive           : $white;
$searchIcon                : $white;
$searchIconHover           : $lightGrey;
$searchDropBack            : $navy;
$searchDropText            : $white;
$searchDropPlace           : rgba(6,35,61,0.25);
$searchDropPlaceFocus      : $searchDropPlace;
$searchDropInputBorder     : $white;
$searchDropInputFocus      : $white;
$searchDropSearchIcon      : $white;
$searchDropSearchIconHover : $link;
$searchClose               : $white;
$searchCloseHover          : $navy;
$searchCloseBack           : $navy;
$searchCloseBackHover      : $white;


/* FORMS
--------------------- */
$inputBorderColor         : transparent;
$inputBorderHover         : $sky;
$inputBorderFocus         : $brightBlue;
$placeColor               : rgba(6,35,61,0.25);
$placeFocusColor          : $placeColor;
$validation               : $brightBlue;
$checkbox                 : $link;
$checkboxHover            : $link;
$checkboxBackHover        : $lightGrey;
$checkboxChecked          : $link;
$checkboxCheckedHover     : $warmGrey;
$checkboxCheckedBack      : $link;
$checkboxCheckedBackHover : $warmGrey;
$selectArrow              : $warmGrey;
$selectHighlight          : $link;
$progressBar              : $navy;
$progressMarker           : $navy;
$progressMarkerText       : $white;
$progressMarkerActive     : $denim;
$progressMarkerActiveText : $white;
$sliderTrack              : $navy;
$sliderTrackHover         : $denim;
$sliderKnob               : $white;
$datepickerHeader         : $ice;
$datepickerHeaderElement  : $brightBlue;
$datepickerDays           : $brightBlue;
$datepickerDaysBack       : $ice;
$datepickerDate           : $navy;
$datepickerDateBack       : $white;
$datepickerDateBorder     : $warmGrey;
$datepickerCurrent        : $navy;
$datepickerCurrentBack    : $lightGrey;
$datepickerSelected       : $white;
$datepickerSelectedBack   : $navy;
$detailsWrapperBack       : $lightGrey;

/* TABLES
---------------- */
$tableHeaderBack     : $warmGrey;
$tableHeaderText     : $navy;
$tableRowHeaderBack  : $warmGrey;
$tableRowHeaderText  : $navy;
$rowBorder           : $borderRule;
$oddRowBack          : $siteBack;
$oddRowText          : $baseText;
$evenRowBack         : $lightGrey;
$evenRowText         : $baseText;



/* SUPERFISH
---------------------- */
//desktop
$sfTopLink            : $white;
$sfTopLinkHover       : $white;
$sfTopBackHover       : transparent;
$sfTopActive          : $white;
$sfTopActiveHover     : $white;
$sfChildLink          : $brightBlue;
$sfChildLinkHover     : $brightBlue;
$sfChildActive        : $brightBlue;
$sfChildActiveHover   : $brightBlue;
$sfDropdown           : $ice;

//mobile
$sfMobileDrop            : $navy;
$sfMobileDropBorder      : $navy;
$sfMobileItemBorder      : rgba(255,255,255,0.12);
$sfMobileTop             : $white;
$sfMobileTopBack         : $navy;
$sfMobileTopExpanded     : $white;
$sfMobileTopBackExpanded : $navy;
$sfMobileChild           : $white;
$sfMobileChildActive     : $gold;


/* MENU BLOCK (Sidebar)
--------------------- */
$menuBlockTitle       : $white;
$menuBlockTitleBack   : $royal;
$menuBack             : $ice;
$menuTop              : $link;
$menuTopHover         : $brightBlue;


/* SECONDARY MENU
----------------------- */
$secondMenuLink      : $white;
$secondMenuLinkHover : $white;

/* PAGERS
--------------------- */
$pagerBorder                : transparent;
$pagerBack                  : $lightGrey;
$pagerNumber                : $baseText;
$pagerNumberBack            : transparent;
$pagerNumberHover           : $baseText;
$pagerNumberBackHover       : $warmGrey;
$pagerNumberActive          : $white;
$pagerNumberActiveBack      : $navy;
$pagerNumberActiveHover     : $baseText;
$pagerNumberActiveBackHover : $warmGrey;
$pagerLink                  : $navy;
$pagerLinkBack              : transparent;
$pagerLinkHover             : $white;
$pagerLinkBackHover         : $navy;
$resultsText                : $baseText;


/* ACCORDIONS
------------------- */
$accordHeader             : $baseText;
$accordHeaderHover        : $baseText;
$accordHeaderBorder       : $borderRule;
$accordHeaderBorderHover  : $borderRule;
$accordHeaderBack         : transparent;
$accordHeaderBackHover    : $lightGrey;
$accordContentBack        : $white;
$accordContentBorder      : transparent;
$accordActive             : $baseText;
$accordActiveHover        : $baseText;
$accordActiveBorder       : $borderRule;
$accordActiveBorderHover  : $borderRule;
$accordActiveBack         : $white;
$accordActiveBackHover    : $white;

/* MESSAGES
------------------ */
$messageText          : $white;
$messageBack          : $navy;
$messageGoodBorder    : $adminGreen;
$messageWarningBorder : $gold;
$messageErrorBorder   : $adminFuchsia;


/* EMBEDDED DOC ICONS
------------------- */
$fileIcon: $navy;

