/* ====================
   FONT VARIABLES
==================== */
@use 'colors' as *;
@use 'component-colors' as *;
@use 'units' as *;

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIcons.woff2) format('woff2'),
	url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIconsOutlined.woff2) format('woff2'),
	url(../fonts/MaterialIconsOutlined-Regular.otf) format('opentype');;
}

/*  FAMILIES
-------------------- */
$header       : vinila-extended, sans-serif;
$displayHeader: grad, serif;
$bodyText     : neue-haas-grotesk-text, sans-serif;

/*  WEIGHTS
-------------------- */
$regular: 400;
$heavy:  700;
$xHeavy: 800;

/*  SIZES
-------------------- */
$baseSize: 2rem;
$formLabelSize: 1.5rem;
$formLabelWeight: 800;
$button: 1.75rem;
$socialIcons: 2.5rem;

//h1 sizes
$h1Sm: 6.5rem;
$h1Mid: 6rem;
$h1Lg: 7.5rem;

//h2 sizes
$h2: 3rem;

//h3 sizes
$h3: 2.25rem;

//h4 sizes
$h4: 2.5rem;

//h5 sizes
$h5: 2rem;

//h6 sizes
$h6: 2.25rem;

/* FONT AND TYPE MIXINS
--------------------------- */
@mixin headerGlobals{
	line-height: 1.1;
	font-weight: $regular;
	font-family: $displayHeader;
	color: $navy;
	margin: 0;
	font-feature-settings: "liga", "dlig";
}

@mixin heading1{
	@include headerGlobals;
	font-size: $h1Sm;
	@include tab{
		font-size: $h1Mid;
	}
	@include contentStop{
		font-size: $h1Lg;
	}
}

@mixin heading2 {
	@include headerGlobals;
	font-family: $header;
	font-weight: $xHeavy;
	line-height: 1.33;
	font-size: $h2;
}

@mixin heading3{
	@include headerGlobals;
	font-family: $header;
	font-weight: $xHeavy;
	line-height: 1.66;
	color: $brightBlue;
	font-size: $h3;
}

@mixin heading4{
	@include headerGlobals;
	color: $brightBlue;
	font-size: $h4;
}

@mixin heading5{
	@include headerGlobals;
	font-family: $bodyText;
	line-height: 1.875;
	font-size: $h5;
}

@mixin heading6{
	@include headerGlobals;
	font-style: italic;
	font-size: $h6;
}

@mixin blockTitle{
	font-family: $header;
	font-weight: $xHeavy;
	line-height: 1.07143;
	font-size: 3.5rem;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	text-align: center;
	max-width: $textMax;
	@include auto;
}

@mixin metaText{
	font-size: 2rem;
	font-style: italic;
	font-family: $displayHeader;
}

@mixin quoteMark{
	width: 20px;
	height: 19px;
	background: url(../images/elements/quote.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}
@mixin quote{
	font-family: $displayHeader;
	line-height: 1.5;
	font-style: italic;
	font-size: 4rem;
	padding-top: 3.75rem;
	padding-bottom: $spaceSm;
	color: $brightBlue;
	.quote-pre{
		@include auto;
	}
}//end quote

%materialSetup{
	font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
@mixin materialIcon($icon){
	content: '#{$icon}';
	font-family: 'Material Icons';
  @extend %materialSetup;
}
@mixin materialIconOutline($icon){
	content: '#{$icon}';
	font-family: 'Material Icons Outlined';
  @extend %materialSetup;
}

.material-icons {
	font-family: 'Material Icons';
}

.material-icons-outlined {
	font-family: 'Material Icons Outlined';
}
