/* ====================
   FONT VARIABLES
==================== */
@use 'colors' as *;
@use 'component-colors' as *;
@use 'units' as *;

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIcons.woff2) format('woff2'),
	url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIconsOutlined.woff2) format('woff2'),
	url(../fonts/MaterialIconsOutlined-Regular.otf) format('opentype');;
}

/*  FAMILIES
-------------------- */
$header       : "Inter", sans-serif;
$displayHeader: "PT Serif", serif;
$bodyText     : "Inter", sans-serif;

/*  WEIGHTS
-------------------- */
$regular: 400;
$heavy:  700;
$xHeavy: 800;

/*  SIZES
-------------------- */
$baseSize: 2rem;
$formLabelSize: 2rem;
$formLabelWeight: 700;
$button: 15px;
$socialIcons: 2.5rem;

//h1 sizes
$h1Sm: 5.75rem;
$h1Mid: 8rem;
$h1Lg: 10.625rem;

//h2 sizes
$h2: 3.5rem;
$h2Lg: 3.75rem;

//h3 sizes
$h3: 3.25rem;
$h3Lg: 3.5rem;

//h4 sizes
$h4: 2.75rem;
$h4Lg: 3rem;

//h5 sizes
$h5: 2.25rem;
$h5Lg: 2.5rem;

//h6 sizes
$h6: 2rem;
$h6Lg: 2.25rem;

/* FONT AND TYPE MIXINS
--------------------------- */
@mixin headerGlobals{
	font-weight: $heavy;
	font-family: $displayHeader;
	color: $headingText;
	margin: 0;
	font-feature-settings: "liga", "dlig";
}

@mixin heading1{
	@include headerGlobals;
  line-height: 1;
	font-size: $h1Sm;
  font-weight: $regular;
	@include tab{
		font-size: $h1Mid;
    line-height: 1.05;
	}
	@include contentStop{
		font-size: $h1Lg;
	}
}

@mixin heading2 {
	@include headerGlobals;
  line-height: 1.66;
	font-family: $header;
	font-size: $h2;
  @include contentStop{
		font-size: $h2Lg;
    line-height: 1.46;
	}
}

@mixin heading3{
	@include headerGlobals;
	font-family: $displayHeader;
	line-height: 1.27;
	font-size: $h3;
  @include contentStop{
		font-size: $h3Lg;
    line-height: 1.12;
	}
}

@mixin heading4{
	@include headerGlobals;
	font-family: $header;
	font-size: $h4;
  line-height: 1.84;
  text-transform: capitalize;
  @include contentStop{
		font-size: $h4Lg;
    line-height: 1.5;
	}
}

@mixin heading5{
	@include headerGlobals;
	font-family: $header;
	line-height: 1.69;
	font-size: $h5;
  @include contentStop{
		font-size: $h5Lg;
    line-height: 1.466;
	}
}

@mixin heading6{
	@include headerGlobals;
	font-size: $h6;
  line-height: 2;
  @include contentStop{
		font-size: $h6Lg;
    line-height: 1.57;
	}
}

@mixin blockTitle{
	@include heading2;
	max-width: $textMax;
  color: $headingText;
	@include auto;
}

@mixin widgetTitleAlt{
  font-family: $displayHeader;
  color: $headingText;
  size: 2.875rem;
  line-height: 1.03;
	margin-bottom: $spaceSm;
  @include contentStop {
    font-size: 3.25rem;
    line-height: 1.34;
  }
}

@mixin metaText{
	font-size: 2rem;
	font-style: italic;
	font-family: $displayHeader;
}

@mixin quoteMark{
	width: 41px;
	font-family: $displayHeader;
  color: $gold;
  size: 10.625rem;
  line-height: 1.05;
}
@mixin quote{
	font-family: $displayHeader;
	line-height: 1.433;
	font-style: italic;
	font-size: 3.75rem;
	padding-top: 3.75rem;
	padding-bottom: $spaceSm;
	color: $headingText;
	.quote-pre{
		@include auto;
	}
}//end quote

@mixin tag {
  color: $gold;
  font-family: $bodyText;
  font-weight: $heavy;
  font-size: 1.875rem;
  line-height: 1.466;
  text-transform: uppercase;
}

%materialSetup{
	font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
@mixin materialIcon($icon){
	content: '#{$icon}';
	font-family: 'Material Icons';
  @extend %materialSetup;
}
@mixin materialIconOutline($icon){
	content: '#{$icon}';
	font-family: 'Material Icons Outlined';
  @extend %materialSetup;
}

.material-icons {
	font-family: 'Material Icons';
}

.material-icons-outlined {
	font-family: 'Material Icons Outlined';
}
