@use '../../../00-base/base' as *;

.paragraph--type--quick-links{
	.widget-wrapper{
		max-width:1000px;
		margin:0 auto;
	}

	.field-quick-links-items{
		display:flex;
		flex-flow:row wrap;
		justify-content:center;
		gap:2rem;

		.image{
			text-align:center;
			svg{
				width:10rem;
				height:10rem;
				transition:transform .1s;
			}
		}

		/* these classless divs are the container for each tile */
		>div{
			a{
				display:inline-block;
				width:18rem;
				height:100%;
				padding:2rem;
				color:$royal;
				text-align:center;
				line-height:3rem;

				&:hover{
					background-color:$ice;
				}
			}
		}
	}
}