/* ==============
   SUPPORT BOOK NODE
===================== */

@use '../../../00-base/base' as *;

.node-support-book{
  .layout--twocol-sideleft{
    .layout__region--first{
      @include onlyMobile{
        order: 2;
      }
    }
  }
  .block-system-breadcrumb-block{
    .breadcrumb{
      li{
        color: $navy;
        a{
          @include lineLink;
          color: $link;
          &:hover,&:focus {
            color: $black;
          }
        }
      }
    }
  }
	#block-section-menu{
		margin-top: 0;
		margin-left: 0;
	}
	.block-field.block-title{
		max-width: 100%;
    padding-left: 20px;
	}
	.block-field.block-body{
		max-width: 100%;
    padding-left: 20px;
	}
}//end support book
