/* ===============
   VIDEO WIDGET
================= */

@use '../../../00-base/base' as *;


.paragraph--type--video{
	max-width: 874px;
  @include auto;
  &.video-visible{
    article{
      transform: scale(1);
      transition: transform .75s ease-out;
      transition-delay: .3s;
    }
  }
	article{
		transform: scale(0);
	}
}//end video widget

