/* ===============
   VIDEO WIDGET
================= */

@use '../../../00-base/base' as *;


.paragraph--type--video{
	max-width: 874px;
  @include auto;
  &.video-visible{
    article{
      opacity: 1;
      transition: opacity 1s ease-out;
      html.animations-playing & {
        transition-delay: .3s;
      }
    }
  }
  .widget-title {
    @include desk {
      margin-bottom: $spaceMdLg;
    }
  }
	article{
		opacity: 0;
	}
}//end video widget
