/* =============
   BIOS NODE
================== */

@use '../../../00-base/base' as *;

//bio node
.node-bios{

	#node-section-1{
		.layout__region--first{
			@include safeFlex(row,wrap,end,start);
		}
	}
	#node-section-2{
		max-width: 1000px;
		@include auto;
		background: $ice;
		margin-bottom: $elementSpace;
	}

	#node-section-3{
		max-width: $textMax;
		@include auto;
	}

	.block-field-image{
		width: 100%;
	}

}//end bios

//bio teaser
.node-teaser-bios{
	.teaser-title{
		@include heading4;
		font-size: 3.25rem;
		line-height: 4rem;
	}
}//end node teaser bios
