/* =============
   BIOS NODE
================== */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;
@use 'sass:color';

@mixin profileSwirlAnimation{
  @keyframes profileSwirlSlide {
    from {
      left: 200vw;
    }
    to {
      left: 73vw;
    }
  }
  animation: profileSwirlSlide 1.5s forwards;
  @include contentStop{
    left: auto;
    @keyframes profileSwirlSlide {
      from {
        right: -200vw;
      }
      to {
        right: -74px;
      }
    }
    animation: profileSwirlSlide 1.5s forwards;
  }
}

//bio node
.node-bios{
	#node-section-1{
    @include headerInvasion;
    background: radial-gradient(50.13% 157.8% at 6.18% 33.85%, #0F2C46 0%, #232C99 100%);
    overflow: hidden;
    @include desk{
      position: relative;
      padding-bottom: 200px;
      &:after{
        content: '';
        display: block;
        position: absolute;
        top: calc(100% - 666px);
        right: -532px;
        z-index: 0;
        transform: rotate(-160.31deg);
        width: 1833px;
        height: 1337px;
        background-image: url(../images/elements/river-background-shape.svg);
        background-repeat: no-repeat;
        mix-blend-mode: overlay;
      }
    }
		& > .layout--twocol-even {
			max-width: $contentStopMargin;
			position: relative;
      @include contentStopMargin{
        width: 100%;
        padding-top: 80px;
        @include auto
      }
      .layout__region{
        & > * {
          position: relative;
          z-index: 10;
          * {
            color: $white;
          }
        }
        &.layout__region--first{
          @include desk{
            padding-left: 130px;
            padding-right: 30px;
            @include safeFlex(row,wrap,end,start);
            @include contentStopMargin{
              padding-left: 30px;
            }
          }
        }
        &.layout__region--content{
          @include contentStopMargin{
            padding-left: 23px;
          }
        }
      }//end layout region
		}//end layout two column even

    //image - but need to use uid (authored by) field because of logic needed when no image
    .block-field.block-uid {
      padding-left: 32px;
      @include smallTab{
        padding-left: 0;
        max-width: 426px;
        margin: 0 auto $spaceMd;
      }
      .field-uid{
        @include desk{
          @include safeFlex(row,wrap,end,start);
        }
      }
      .image-wrapper {
        position: relative;
        margin-bottom: 2.5rem;
        
        html.animations-paused & {
          opacity: 1;
        }
        @include animation('fadeInDelay 1.5s 1');
        &:before {
          background-image: url(../images/elements/gold-wave-fat.svg);
          content: '';
          display: block;
          width: 87px;
          height: 316px;
          position: absolute;
          bottom: -54px;
          left: -30px;
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }//end before
        .field-media-image,.favicon-image {
          position: relative;
          z-index: 15;
        }
      }//end field uid (image)
    }//end uid block (image block)

    .emeriti-wrapper {
      color: $white;
      width: 120px;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 1rem;
      margin-left: auto;
      @include safeFlex(row,nowrap,start,start);
			.icon-wrapper {
				width: 15px;
				height: 18px;
				margin-top: 3px;
				margin-right: $spaceXxs;
				svg path {
					fill: none;
				}
			}//end icon wrapper
		}//end emeriti

		.alumni-wrapper {
      @extend .emeriti-wrapper;
		}//end is alumni

    .block-title {
      margin-bottom: 0;
      @include edgeReset;
      padding-left: $siteMarginMobile;
      padding-right: $siteMarginMobile;
      @include desk{
        margin-top: 28px;
      }
      .field.title {
				margin-bottom: 1rem;
        h1,.suffixes {
          color: $gold;
          @include contentStop {
            font-size: 9.375rem;
          }
        }
			}
    }//end title block

    .block-created {
      margin-bottom: 0;
      padding-left: $siteMarginMobile;
      padding-right: $siteMarginMobile;
    }

    .block-field-pronouns {
      padding-left: $siteMarginMobile;
      padding-right: $siteMarginMobile;
      text-transform: uppercase;
      margin-bottom: 0;
      letter-spacing: 0.05em;
      .field-pronouns{
        color: $gold;
      }
    }

    .block-field-positions {
      font-family: $header;
      margin-top: 2rem;
      margin-bottom: 0;
      font-size: 4rem;
      line-height: 1.45;
      font-weight: $heavy;
      .field-positions > div:not(:last-child){
        margin-bottom: $spaceXxs;
      }
    }//end block field positions

    //departments & page families -- need type placeholder field because neither is required
    .block-field.block-type {
      margin-top: 3rem;
      padding-left: $siteMarginMobile;
      padding-right: $siteMarginMobile;
      h2.block-title{
        font-family: $bodyText;
        font-size: 1.75rem;
        text-align: left;
        font-weight: normal;
        text-transform: capitalize;
        letter-spacing: unset;
        margin-bottom: 0.5rem;
      }//end block title
      .departments-offices {
        a {
          @include linkArrow(gold,sm);
         margin-bottom: $spaceXs;
        }//end a
        .office{
          font-family: $bodyText;
          font-size: 2rem;
          line-height: 1.2;
          font-weight: $heavy;
          padding-left: 30px;
        }
      }//end field departments
    }//end departments block
	}//end node section one

	#node-section-2{
		@include contactHolder;
    max-width: 904px;
		position: relative;
		z-index: 10;
		margin-bottom: $spaceMd;
    
    .contact-wrapper{
      @include edgeToEdge;
      @include desk {
        margin-top: -100px;
      }
    }
    .contact-title{
      @include contactTitle;
			margin-bottom: 3.5rem;
    }
		.block-field {
			margin-bottom: 1.5rem;
		}
    .field {
      .icon-wrapper {
        width: 16px;
			  margin-right: 12px;
        svg,path {
          stroke: $royal;
        }
        .cls-1 {
          fill: $royal;
        }
      }
    }
		.nid,.field-phone,.field-email {
      a {
        display: block;
        width: fit-content;
        font-weight: $heavy;
        border-bottom: 1px solid $gold;
        transition: color .3s, border-bottom-color .3s;
        &:hover {
          border-bottom: 1px solid transparent;
          color: $navy;
        }
      }
		}
    .nid a{
      margin-bottom: 1.5rem;
    }
		#hours-icon {
			fill: none !important;
		}
		#phone-icon {
			fill: none !important;
		}
		#cv-icon {
			fill: none !important;
		}
    .field-address {
      svg {
        max-height: 17px;
			  margin-top: 6px;
      }
    }
    .field-email {
      svg{
        max-height: 16px;
        margin-top: 3px;
      }
    }
    .field-phone{
      svg{
        max-height: 15px;
        margin-top: 4px;
      }
    }
    .field-office-hours,.field-info{
      svg{
        margin-top: 2px;
      }
    }
		.field-platforms .platform-links{
      li{
        margin-right: 1rem;
      }
      a{
        width: 36px;
        height: 36px;
        &.twitter {
          svg {
            width: 22px;
            height: 22px;
          }
        }
        &:hover,&:focus{
          background: color.adjust($ice, $lightness:-3%);
          border-radius: 4px;
          svg,.cls-1 {
            fill: $navy;
          }
        }
        svg {
          width: 24px;
          height: 24px;
          fill: $royal;
          .cls-1 {
            fill: $royal;
          }
        }
      }
		}
    .layout--twocol-even{
      .layout__region{
        @include contactContent;
        @include tab{
          width: 50%;
        }
      }
    }
	}//end node section two

	#node-section-3{
		max-width: $textMax;
		@include auto;
		padding-top: 3rem;
    @include desk{
      padding-top: 70px;
    }
		h2.block-title {
			text-align: left;
      font-size: 3rem;
      line-height: 1.45;
      margin-bottom: $spaceXs;
      @include desk{
        font-size: 30px;
      }
		}
	}//end node section three
}//end bios

/* PROFILE TEASER
--------------------- */
.node-teaser-bios{
	@include profileTeaser;
  .teaser-title{
    margin-bottom: 1.5rem;
  }
}//end node teaser bios

/* PROFILE STACKED
--------------------- */
.node-stacked-bios{
  //mixin from general mixins because of fauxfile
  @include profileStacked;
}
