/* ===============
   FACTS LIST WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--facts-list{
	max-width: 1092px;
	@include auto;
  padding-left: 20px;
  padding-right: 20px;
  &.facts-visible{
    .node-teaser-fact{
      opacity: 1;
      transition: opacity .5s ease-in;
    }
    .fact-2{
      .node-teaser-fact{
        transition-delay: .25s;
      }
    }
    .fact-3{
      .node-teaser-fact{
        transition-delay: .5s;
      }
    }
    .fact-4{
      .node-teaser-fact{
        transition-delay: .75s;
      }
    }
    .fact-5{
      .node-teaser-fact{
        transition-delay: 1s;
      }
    }
  }
  .node-teaser-fact{
    opacity: 0;
  }
  .facts-wrapper{
    @include tab{
      width: 100%;
  		display: grid;
			grid-template-columns: 1fr 1fr 1fr;
	  	grid-row-gap: 40px;
      grid-column-gap: 65px;
	  	@include factsGrid;
    }//end tab
    @include desk{
      grid-row-gap: 60px;
      grid-column-gap: 85px;
    }
    & > div{
      &:not(:first-child):not(:last-child){
        margin-bottom: $spaceMd;
        @include tab{
          margin-bottom: 0;
        }
      }
    }//end > div
    &:not(.facts-count-3){
      @include tab{
        padding-top: 40px;
        padding-bottom: 40px;
        .facts-title-inner{
          top: -40px;
          margin-bottom: -40px;
        }
      }
    }
  }//edn facts wrapper
  .facts-title{
    margin-bottom: 7rem;
    @include tab{
      grid-column-start: 2;
	    grid-column-end: 3;
	    grid-row-start: 1;
	    grid-row-end: 2;
      margin-bottom: 0;
      // body:not(.logged-in) &{
      //   transform-origin: 0;
      //   transform: translateZ(2px) scale(0.75);
      // }
    }
    .facts-title-inner{
      @include styledHeader;
      position: relative;
      display: block;
      width: 300px;
      @include auto;
      span{
        text-align: center;
      }
    }
    .fact-stripes{
      position: absolute;
      bottom: -39px;
      left: -18px;
      z-index: -1;
      width: 196px;
      height: 128px;
      @include tab{
        bottom: auto;
        top: 120px;
        left: -32px;
      }
      @include desk{
        top: 117px;
        left: -40px;
        width: 264px;
        height: 172px;
        svg{
          width: 264px;
          height: 172px;
        }
      }
    }//end fact stripes
  }//end facts title
}//end facts-list widget
