/* ===============
   FACTS LIST WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--facts-list{
  @include edgeToEdge;
  padding: 28px $siteMarginMobile 70px;
  border-top: 1px solid $coolGrey;
  border-bottom: 1px solid $coolGrey;
  max-width: 1092px;
  @include tab{
    @include auto;
  }
  @include menuStop{
    padding: 36px 40px 0;
  }
  &.facts-visible{
    .node-teaser-fact{
      opacity: 1;
      @include transition-animate(opacity, .5s, ease-in);
    }
    .fact-2{
      .node-teaser-fact{
        html.animations-playing & {
          transition-delay: .25s;
        }
      }
    }
    .fact-3{
      .node-teaser-fact{
        html.animations-playing & {
        transition-delay: .5s;
        }
      }
    }
    .fact-4{
      .node-teaser-fact{
        html.animations-playing & {
        transition-delay: .75s;
        }
      }
    }
    .fact-5{
      .node-teaser-fact{
        html.animations-playing & {
        transition-delay: 1s;
        }
      }
    }
  }
  .node-teaser-fact{
    opacity: 0;
  }
  .facts-wrapper{
    @include tab{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 40px;
      grid-column-gap: 65px;
      @include factsGrid;
    }//end tab
    @include desk{
      grid-row-gap: 60px;
      grid-column-gap: 85px;
    }
    & > div{
      &:not(:first-child):not(:last-child){
        margin-bottom: $spaceMd;
        @include tab{
          margin-bottom: 0;
        }
      }
    }//end > div
    @include tab{
      padding-top: 40px;
      padding-bottom: 40px;
      .facts-title-inner{
        top: -40px;
        margin-bottom: -40px;
      }
    }
  }//edn facts wrapper
  .facts-title{
    margin-bottom: $spaceSm;
    @include tab{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-bottom: 0;
    }
    .facts-title-inner{
      @include auto;
      & {
        display: block;
        font-family: $displayHeader;
        font-size: 46px;
        line-height: 1.08;
        position: relative;
        text-align: center;
        width: 300px;
        z-index: 1;
      }
      span {
        font-weight: $regular;
      }
      @include tab {
        font-size: 62px;
        line-height: 1.05;
      }
      @include desk {
        font-size: 75px;
        line-height: 1;
        strong {
          font-size: 85px;
          line-height: 90px;
        }
      }
    }
  }//end facts title
}//end facts-list widget
