/* =============
	 BREADCRUMBS
------------------- */
@use '../../../00-base/base' as *;

.breadcrumb{
	max-width: $contentStop;
	@include auto;
	padding: $spaceMd 0 0;
	ol {
		@include listReset;
	}

	li{
		display: inline-block;
		color: $white;
		font-family: $bodyText;
		font-size: 1.5rem;
		letter-spacing: 1px;
		text-transform: uppercase;
		&:not(:last-of-type){
			padding-right: .25rem;
			&:after{
				content: " /";
				font-family: $bodyText;
				font-size: 1.5rem;
				letter-spacing: 1px;
				text-transform: uppercase;
        margin-left: .25em;
        margin-right: .25em;
			}
		}
		a{
			color: $breadLink;
			font-family: $bodyText;
			font-size: 1.5rem;
			letter-spacing: 1px;
			text-transform: uppercase;
			&:hover,&:focus{
				color: $breadLinkHover;
        padding-bottom: 2px;
        @include dottedLink($white);
			}
		}
	}

}//end breadcrumb 
