/* ============
   TESTIMONIAL LIBRARY
================ */

@use '../../../00-base/base' as *;

@mixin quote{
	font-size: 31px;
	line-height: 48px;
	font-family: $displayHeader;
	font-style: italic;
	.quote-mark{
		display: block;
		width: 20px;
		height: 19px;
		margin: -16px auto 30px;
		svg,.cls-1{
			fill: $navy;
		}
	}
}

.node-testimonial{
  padding-top: $elementSpace;
	max-width: $breakoutWidth;
	@include auto;
  #node-section-1 {
    margin-bottom: $elementSpace;
		border-bottom: 1px solid $borderRule;
		padding-bottom: $elementSpace;
    .field-eyebrow{
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
    .field-image{
       width: 240px;
       max-width: 100%;
       margin-bottom: $spaceSm;
    }
    .block-title {
       margin-left: 0;
       margin-right: 0;
       h1 {
         @include heading2;
       }
    }
    .field-major{
      font-size: 2rem;
    }
  }
  .body-wrapper{
		@include quote;
	}
  .block-field{
     margin-bottom: $spaceXs;
     .field.entity-reference{
			.field-multi-item{
				& > div:not(:last-child){
					&:after{
						content: ', ';
					}
				}
			}
		}
  }
}//end testimonial-library

//testimonial teasers
.node-teaser-testimonial{
  position: relative;
  background: $ice;
  padding: 72px 0 60px;
  @include tab{
    @include safeFlex(row,wrap,start,start);
    padding-top: 32px;
    padding-bottom: 80px;
  }
  @include desk{
    &:before{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: calc(100% - 5vw);
      height: 29vw;
      width: 100vw;
      z-index: 1;
      background: $white;
      clip-path: polygon(0 100%, 100% 100%, 100% 0);
    }
  }
  @include contentStop{
    &:before{
      left: 100%;
    }
  }
  &:after{
    @include fullBack($ice);
  }
  .field.body{
  	max-width: 650px;
    @include auto;
    @include tab{
      margin: 0;
      width: calc(100% - 240px);
      padding-top: 100px;
      padding-right: 80px;
    }
  	.body-wrapper{
			@include quote;
      font-size: 3rem;
      line-height: 1.5;
      @include contentStop{
        font-size: 4rem;
      }
		}
  }//end field body
  .testimonial-details{
    position: relative;
    max-width: 259px;
    @include auto;
    margin-top: 4rem;
    @include tab{
  		width: 240px;
      margin: 0;
  	}
    .stripes{
      position: absolute;
      top: -46px;
      left: -57px;
      z-index: 0;
      opacity: 0;
      .testimonial-visible &{
        opacity: 1;
        @include transition-animate(opacity, 1s, ease-out);
      }
    }
    .testimonial-details-inner{
      background: $ice;
      padding: 28px 28px 0;
      position: relative;
      z-index: 1;
      min-height: 175px;
      .testimonial-eyebrow{
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }
      .field-image{
        max-width: 240px;
        margin-bottom: $spaceMd;
      }
      .testimonial-title{
        @include heading2;
        margin-bottom: $spaceXs;
      }
      .testimonial-major{
        font-size: 2rem;
        line-height: 2;
      }
    }//end details inner
  }//end testimonial details
}//end testimonial teaser

/* TESTIMONIAL WIDGET (content carousel) */
.node-widget-testimonial{
  .testimonial-quote{
    background: $royal;
    color: $white;
    padding: 50px 32px 90px;
    @include carouselBreak{
      padding: 20px 50px 90px;
    }
    @include desk{
      padding-bottom: 150px;
    }
    .testimonial-eyebrow-lg{
      display: none;
      @include carouselBreak{
        display: block;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: $spaceSm;
        max-width: 874px;
        @include auto;
      }
      @include desk{
        margin-bottom: 6rem;
      }
    }//end testimonial eyebrow lg
  }//end testimonial quote
  .field.body{
    max-width: $largeTab;
    .body-wrapper{
      @include quote;
      .quote-mark{
        margin: 0 auto 40px;
        width: 21px;
        svg,.cls-1{
          fill: $white;
        }
      }
      p{
        text-align: center;
        font-size: 21px;
        line-height: 1.33;
        @include largeTab{
          font-size: 31px;
          line-height: 1.54;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }//end body wrapper
  }//end field body
  .testimonial-details{
    background: $ice;
    @include safeFlex(row,nowrap,start,stretch);
    max-width: $largeTab;
    @include auto;
    @include desk{
      justify-content: flex-end;
      padding-bottom: 20px;
    }
    .testimonial-meta{
      flex: 1 1;
      padding: 28px 20px 12px;
      color: $royal;
      font-size: 1.5rem;
      line-height: 1.5;
      @include carouselBreak{
        margin-bottom: $spaceXs;
      }
      @include desk{
        &:not(:only-child){
          flex: 0 0 335px;
          order: 2;
          font-size: 2rem;
          padding: 36px 28px 24px;
        }
      }
      .testimonial-title{
        font-family: $header;
        font-size: 2.25rem;
        line-height: 1.33;
        margin-bottom: $spaceXs;
        @include desk{
          font-size: 3rem;
        }
      }//end testimonial title
      .field-eyebrow{
        margin-top: $spaceSm;
        text-transform: uppercase;
        letter-spacing: .05em;
        @include carouselBreak{
          display: none;
        }
      }
      //when no ptoho
      &:only-child{
        text-align: center;
        .field-eyebrow{
          text-align: left;
        }
      }
    }//end testimonial meta
    .field-image{
      flex: 0 0 203px;
      *{
        height: 100%;
      }
      article{
        @include desk{
          position: relative;
          top: -20px;
          height: 203px;
        }
      }
      img{
        object-fit: cover;
      }
    }//end field image
  }//end testimonial-details
}//end testimonial