/* ============
   TESTIMONIAL LIBRARY
================ */

@use '../../../00-base/base' as *;

@mixin quote{
	font-size: 31px;
	line-height: 48px;
	font-family: $displayHeader;
	font-style: italic;
	.quote-mark{
		display: block;
		width: 20px;
		height: 19px;
		margin: -16px auto 30px;
		svg,.cls-1{
			fill: $navy;
		}
	}
}

.node-testimonial{
  padding-top: $elementSpace;
	max-width: 914px;
	@include auto;
  #node-section-1 {
    margin-bottom: $elementSpace;
		border-bottom: 1px solid $borderRule;
		padding-bottom: $elementSpace;
    .field-image{
       width: 240px;
       max-width: 100%;
    }
    .block-title {
       margin-left: 0;
       margin-right: 0;
       h1 {
         @include heading2;
       }
    }
  }
  .body-wrapper{
		@include quote;
	}
  .block-field{
     margin-bottom: $spaceXs;
  }
}//end testimonial-library

//testimonial teasers
.node-teaser-testimonial{
  @include safeFlex(row,wrap,justify,start);
  @include bleed (padding, 15px);
  .field.body{
  	max-width: 650px;
  	.body-wrapper{
			@include quote;
		}
  }
  .testimonial-details{
  	@include desk{
  		width: 240px;
  	}
  }
	.field-image{
		max-width: 240px;
	}
	.testimonial-title{
		@include heading2;
	}
}
