{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{% extends 'field.html.twig' %}

{% block fieldSingleNo %}
  <div class="icon-wrapper">
    <svg aria-label="Phone" id="phone-icon" width="16" height="15" viewbox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_3887_12937)">
        <path d="M3.2 6.40914H0.619995V3.66914C0.619995 1.98914 1.99 0.619141 3.67 0.619141H12.19C13.87 0.619141 15.24 1.97914 15.24 3.66914V6.40914H12.66" stroke="#0160F2" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7.92999 11.0203C9.08978 11.0203 10.03 10.0801 10.03 8.92031C10.03 7.76051 9.08978 6.82031 7.92999 6.82031C6.77019 6.82031 5.82999 7.76051 5.82999 8.92031C5.82999 10.0801 6.77019 11.0203 7.92999 11.0203Z" stroke="#0160F2" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9.32001 3.51953H10.95L14.33 9.21953V13.6895H7.93001H1.54001V9.21953L4.92001 3.51953H6.56001" stroke="#0160F2" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
        <clipPath id="clip0_3887_12937">
          <rect width="15.87" height="14.31" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="field-content">
    <a href="{{ item.content['#url'].uri|replace({'tel:':'tel:+1','-':'',' ':'','(':'',')':'','%28':'','%29':'','.':''}) }}">{{ item.content['#title'] }}</a>
  </div>
{% endblock %}
          