{#
/**
 * @file
 * Theme override for the node title field.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 */
#}

{% extends 'field.html.twig' %}

{% block fieldMultiNoItems %}
	<div class="related-intro">
		<h2>Related Programs</h2>
		<p>Thinking about a degree in {{ element['#object'].label }}? You might also be interested in exploring these other, related degrees and programs. </p>
	</div>
  <div class="related-items">
    {%- for item in items -%}
      <div{{ item.attributes.addClass("related-item") }}>
        {% block fieldMultiNo %}
          {{- item.content -}}
        {% endblock %}
      </div>
    {%- endfor -%}
  </div>
{% endblock %}
