/* ===============
   HALLMARK WIDGET
================== */

@use '../../../00-base/base' as *;

@include keyframes(hallmarkDeskLeft){
	from{
		right: 0;
    z-index: -2;
	}
	50%{
		right: -52%;
    z-index: 1;
    @include contentStopMargin{
      right: -52%;
    }
	}
	100%{
		right: -60px;
    z-index: 2;
	}
}
@include keyframes(hallmarkDeskLeftMax){
	from{
		right: 0;
    z-index: -2;
	}
	50%{
		right: -65%;
    z-index: 1;
	}
	100%{
		right: -60px;
    z-index: 2;
	}
}
@include keyframes(hallmarkDeskRight){
	from{
		left: 0;
    z-index: -2;
	}
	50%{
		left: -52%;
    z-index: 1;
	}
	100%{
		left: -60px;
    z-index: 2;
	}
}
@include keyframes(hallmarkDeskRightMax){
	from{
		left: 0;
    z-index: -2;
	}
	50%{
		left: -65%;
    z-index: 1;
	}
	100%{
		left: -60px;
    z-index: 2;
	}
}

.field-hallmarks{
  & > div{
    &:not(:last-child){
      margin-bottom: 32px;
      @include desk{
        margin-bottom: 50px;
      }
    }
  }
}//end hallmarks field

.paragraph--type--hallmark{
  max-width: 1400px;
  @include auto;
  * {
    transform-style: unset;
  }
  &.hallmark-visible .content{
    .hallmark-image{
      .stripes-before,.stripes-after{
        opacity: 1;
        html.animations-playing & {
          transition-delay: 1.5s;
        }
        @include transition-animate(opacity, .5s, ease-in);
      }
    }
    &.left{
      .hallmark-image {
        html.animations-paused & {
          right: -60px;
          z-index: 2;
        }
      }
      @include tab{
        .hallmark-image{
          @include animation('hallmarkDeskLeft 1.5s 1 forwards');
        }
      }
      @include contentStopMargin{
        .hallmark-image{
          @include animation('hallmarkDeskLeftMax 1.5s 1 forwards');
        }
      }
    }//end left
    &.right{
      .hallmark-image {
        html.animations-paused & {
          left: -60px;
          z-index: 2;
        }
      }
      @include tab{
        .hallmark-image{
          @include animation('hallmarkDeskRight 1.5s 1 forwards');
        }
      }
      @include contentStopMargin{
        .hallmark-image{
          @include animation('hallmarkDeskRightMax 1.5s 1 forwards');
        }
      }
    }//end right
  }//end visible hallmark content
	.content{
    position: relative;
    @include edgeToEdge;
    width: calc(100% + 40px);
    @include onlySmall{
      &:after{
        @include fullBack($navy);
        top: 100px;
        height: calc(100% - 100px);
      }
    }
    @include tab{
      width: calc(100% - 20px);
      background: $navy;
      padding-top: 70px;
      padding-bottom: 70px;
      @include safeFlex(row,nowrap,justify,start);
    }
    &.left{
      @include tab{
        margin-right: 60px;
        .hallmark-image{
          left: auto;
          right: 0;
          order: 2;
          .stripes-before{
            display: block;
            left: -35px;
          }
          .stripes-after{
            left: auto;
            right: -35px;
          }
        }//end hallmark image
        .hallmark-text{
          padding-right: 20px;
          padding-left: 60px;
        }
      }//end
      @include contentStopMargin{
        .hallmark-text{
          padding-left: 152px;
        }
      }
    }//end left
    &.right{
      @include tab{
        margin-left: 40px;
        .hallmark-image{
          right: auto;
          left: 0;
          .stripes-before{
            display: block;
            left: auto;
            right: -60px;
          }
          .stripes-after{
            left: 30px;
          }
        }//end hallmark image
        .hallmark-text{
          padding-left: 20px;
          padding-right: 60px;
        }
      }//end tab
      @include contentStopMargin{
        .hallmark-text{
          padding-right: 152px;
        }
      }
    }//end right
    .hallmark-image{
      position: relative;
      max-width: 874px;
      z-index: 1;
      width: calc(100% - 40px);
      left: 20px;
      @include tab{
        flex: 0 0 58%;
        z-index: -2;
      }
      @include contentStopMargin{
        flex: 0 0 65%;
      }
      .stripes-before{
        display: none;
        position: absolute;
        right: 0;
        top: -30px;
        opacity: 0;
        z-index: -1;
      }
      .stripes-after{
        display: block;
        position: absolute;
        left: -30px;
        bottom: -118px;
        opacity: 0;
        z-index: -1;
        @include tab{
          bottom: -90px;
        }
      }
    }//end hallmark image
    .hallmark-text{
      padding: 90px 40px 65px;
      background: $navy;
      color: $white;
      @include tab{
        padding-top: 10px;
        padding-bottom: 0;
        flex: 0 0 42%;
      }
      @include contentStopMargin{
        flex: 0 0 35%;
      }
      .field-headline{
        @include heading2;
        color: $white;
        margin-bottom: $spaceSm;
      }
      .field-long-text{
        a{
          color: $gold;
          @include dottedLink($gold);
          &:hover,&:focus{
            color: $oldGold;
            @include dottedLink($white);
          }
        }
        h2,h6{
          color: $white;
        }
        h3,h4,h5{
          color: $gold;
        }
        &:not(:last-child){
          margin-bottom: 38px;
        }
      }
      .field-link{
        padding-top: 14px;
        a{
          @include linkArrow(gold);
        }//end a
      }//end field link
    }//end hallmark text
	}//end content
}//end hallmark widget
