/* ===============
   HALLMARK WIDGET
================== */

@use '../../../00-base/base' as *;

@include keyframes(hallmarkDeskLeft){
	from{
		right: 0;
    z-index: -2;
	}
	50%{
		right: -52%;
    z-index: 1;
    @include contentStopMargin{
      right: -52%;
    }
	}
	100%{
		right: 0;
    z-index: 2;
	}
}
@include keyframes(hallmarkDeskLeftMax){
	from{
		right: 0;
    z-index: -2;
	}
	50%{
		right: -60%;
    z-index: 1;
	}
	100%{
		right: 0;
    z-index: 2;
	}
}
@include keyframes(hallmarkDeskRight){
	from{
		left: 0;
    z-index: -2;
	}
	50%{
		left: -52%;
    z-index: 1;
	}
	100%{
		left: 0;
    z-index: 2;
	}
}
@include keyframes(hallmarkDeskRightMax){
	from{
		left: 0;
    z-index: -2;
	}
	50%{
		left: -60%;
    z-index: 1;
	}
	100%{
		left: 0;
    z-index: 2;
	}
}

.field-hallmarks{
  padding-top: 100px;
  & > div{
    &:not(:last-child){
      margin-bottom: 130px;
      @include desk{
        margin-bottom: 50px;
      }
    }
  }
}

.paragraph--type--hallmark{
  max-width: 1400px;
  @include auto;
  * {
    transform-style: unset;
  }
  &.hallmark-visible .content{
    .hallmark-image{
      .field-image{
        &:before,&:after{
          opacity: 1;
          transition: opacity .5s ease-in;
          transition-delay: 1.5s;
        }
      }
    }
    &.left{
      @include tab{
        .hallmark-image{
          @include animation('hallmarkDeskLeft 1.5s 1 forwards');
        }
      }
      @include contentStopMargin{
        .hallmark-image{
          @include animation('hallmarkDeskLeftMax 1.5s 1 forwards');
        }
      }
    }//end left
    &.right{
      @include tab{
        .hallmark-image{
          @include animation('hallmarkDeskRight 1.5s 1 forwards');
        }
      }
      @include contentStopMargin{
        .hallmark-image{
          @include animation('hallmarkDeskRightMax 1.5s 1 forwards');
        }
      }
    }//end right
  }//end visible hallmark content
	.content{
    position: relative;
    @include edgeToEdge;
    width: calc(100% + 40px);
    @include onlySmall{
      @include fullBack($navy);
      top: 100px;
      height: calc(100% - 100px);
    }
    &.left{
      @include tab{
        padding-right: 60px;
        .hallmark-image{
          left: auto;
          right: 0;
          .field-image{
            &:after{
              left: -30px;
              right: auto;
            }
            @include tab{
              &:before{
                left: -35px;
              }
              &:after{
                left: auto;
                right: -35px;
              }
            }//end tab
          }//end field image
        }//end hallmark image
        .hallmark-text{
          padding-right: 60%;
          padding-left: 60px;
        }
      }//end 
      @include contentStopMargin{
        .hallmark-text{
          padding-right: calc(61% + 60px);
          padding-left: 152px;
        }
      }
    }//end left
    &.right{
      @include tab{
        padding-left: 60px;
        .hallmark-image{
          right: auto;
          left: 0;
          .field-image{
            &:after{
              left: 90px;
            }
            @include tab{
              &:before{
                left: auto;
                right: -35px;
              }
              &:after{
                left: 30px;
              }
            }//end tab
          }//end field image
        }//end hallmark image
        .hallmark-text{
          padding-left: 60%;
          padding-right: 60px;
        }
      }//end 
      @include contentStopMargin{
        .hallmark-text{
          padding-left: calc(61% + 60px);
          padding-right: 152px;
        }
      }
    }//end right
    .hallmark-image{
      position: relative;
      max-width: 874px;
      z-index: 1;
      width: calc(100% - 40px);
      left: 20px;
      @include tab{
        top: 70px;
        width: 55%;
        height: calc(100% - 160px);
        z-index: -2;
      }
      @include contentStopMargin{
        width: 61%;
      }
      .field-image{
        position: relative;
        &:after{
          @include narrowStripes($sky);
          left: -$siteMarginMobile;
          bottom: -50px;
          height: 150px;
          opacity: 0;
        }//end after
        @include tab{
          &:before{
            @include narrowStripes($sky);
            right: -$siteMarginMobile;
            top: -30px;
            height: 150px;
            opacity: 0;
          }
        }
      }//field-image
    }//end hallmark image
    .hallmark-text{
      padding: 46vw 20px 65px;
      background: $navy;
      color: $white;
      @include smallTab{
        padding-top: 52vw;
      }
      @include tab{
        padding-top: 80px;
        padding-bottom: 90px;
        min-height: 50vw;
      }
      @include contentStop{
        min-height: 632px;
      }
      .field-headline{
        @include heading2;
        color: $white;
        margin-bottom: $spaceSm;
      }
      .field-long-text{
        a{
          color: $gold;
          @include dottedLink($gold);
          &:hover,&:focus{
            color: $oldGold;
            @include dottedLink($white);
          }
        }
        h2,h6{
          color: $white;
        }
        h3,h4,h5{
          color: $gold;
        }
        &:not(:last-child){
          margin-bottom: 38px;
        }
      }
      .field-link{
        padding-top: 14px;
        a{
          @include arrowLinkBefore($gold);
          &:before{
            content: '';
            display: block;
            position: absolute;
            top: -10px;
            left: 0;
            width: 40px;
            height: 40px;
            @include rightArrow(gold,transparent,$gold,lg);
          }
          &:hover,&:focus{
            &:before{
              @include rightArrow(navy,white,$white,lg);
            }
            span{
              @include dottedLink($white);
              padding-bottom: 2px;
            }
          }
        }//end a
      }//end field link
    }//end hallmark text
	}//end content
}//end hallmark widget
