/* ===============
   EVENTS LIST WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--events-list{
  html.animations-paused & {
    opacity: 1;
  }
  @include animation('fadeInDelay 1.5s 1 forwards');
  .events-title{
    @include styledHeader;
    & {
      text-align: left;
      margin-bottom: $spaceXxs;
    }
    span{
      font-size: 5.375rem;
    }
    strong{
      font-size: 5.75rem;
    }
    .widget-section > .layout--onecol &,.node-support-book &{
      @media screen and (min-width: 784px){
        text-align: center;
        margin-bottom: $spaceSm;
        strong{
          display: inline-block;
        }
      }
      @include contentStopMargin{
        margin-bottom: $spaceLg;
        span{
          font-size: 6.5rem;
        }
        strong{
          font-size: 6.75rem;
        }
      }
    }//end layout check for title
  }//end events title

  .lwcw.events-list{
    @include safeFlex(row,wrap,center,start);
    @include bleed(padding,40px);
    margin-bottom: -$spaceSm;
    @include contentStopMargin{
      @include bleed(padding,74px);
    }
  }
  //event day
  .event{
    position: relative;
    margin-bottom: $spaceSm;
    max-width: 412px;
    @include contentStopMargin{
      max-width: 389px;
    }
    .date{
      position: absolute;
      top: 108px;
      left: 0;
      width: 115px;
      height: 115px;
      padding: 15px 0 15px 20px;
      background: $navy;
      color: $white;
      @include safeFlex(column,nowrap,center,start);
      font-size: 1.5rem;
      line-height: 2;
      letter-spacing: .05em;
      text-transform: uppercase;
      @include contentStopMargin{
        top: 100px;
        left: 17px;
      }
      .month{
        font-family: $header;
        font-size: 2.25rem;
        line-height: 1.33;
      }
      .day{
        font-family: $header;
        font-size: 4.5rem;
        line-height: 1.1;
      }
    }//end date
    .image{
      display: block;
      margin-bottom: $spaceXs;
    }
    .title{
      display: block;
      a{
        @include blockArrow(navy, sm);
        &:hover,&:focus{

        }
      }//end a
    }//end title
    .summary{
      display: block;
      margin: $spaceXxs 0;
    }
    .time,.until,.location{
      display: block;
      font-size: 1.5rem;
      line-height: 2;
      text-transform: uppercase;
    }
  }//end event

  // one event on wider screens can use more width
  @media screen and (min-width: 784px){
    .event:only-child{
      display:grid;
      grid-template-columns:1fr 1fr;
      grid-auto-rows: min-content;
      min-width:750px;
      column-gap:30px;

      .image{
        grid-row:1/7;
      }
      .title,.summary,.time,.until,.location{
        grid-column:2/3;
      }
      .title{
        margin-top:10px;
      }
    }
  }

  .livewhale-view-all{
    display:block;
    text-align:center;
    padding-top:2rem;
    a{
      @include linkArrow();
    }
  }
}//end events-list widget
