{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}


{% set count = items|length %}
<div class="facts-wrapper facts-count-{{ count }}">
	<div class="facts-title">
    <h2 class="facts-title-inner">
      Just</br>the</br><strong>facts</strong>
      <div class="fact-stripes">
        <svg width="196" height="128" viewBox="0 0 264 172" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_2283_54569" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-1" y="0" width="265" height="172">
          <path d="M263.209 1.08852V171.297L0.536652 171.297V1.08852L263.209 1.08852Z" fill="white" stroke="white" stroke-width="1.07503"/>
          </mask>
          <g mask="url(#mask0_2283_54569)">
          <path d="M242.59 66.6221L-292.225 219.975" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 48.6904L-292.225 202.043" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 30.7588L-292.225 184.111" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 12.8271L-292.225 166.18" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 -5.10449L-292.225 148.248" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 -23.0352L-292.225 130.317" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 -40.9668L-292.225 112.386" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 -58.8984L-292.225 94.4541" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          </g>
        </svg> 
      </div> 
    </h2>
  </div>
	{% set rowCount = 0 %}
	{%- for item in items -%}
		{% set rowCount = rowCount + 1 %}
    <div{{ item.attributes.addClass('fact-' ~ rowCount) }}>
      {% block fieldMultiNo %}
        {{- item.content -}}
      {% endblock %}
    </div>
  {%- endfor -%}
</div>



