{#
/**
 * @file
 * Theme override for the node title field.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 */
#}

{% extends 'field.html.twig' %}

{% block fieldSingleNo %}
  <div class="icon-wrapper">
    <svg id="email-icon" viewBox="0 0 15.87 15.87"><defs><style>.cls-1{fill:#0160f2;stroke-width:0px;}</style></defs><g id="Layer_1-2"><path id="Vector" class="cls-1" d="m15.05.03L.43,4.91c-.25.07-.43.32-.43.6s.19.51.45.59l7.18,2.15,2.15,7.18c.08.26.31.45.59.45h.01c.27,0,.51-.18.59-.43L15.84.82c.08-.23.03-.48-.15-.64-.16-.18-.41-.23-.64-.15Zm-4.64,13.14l-1.59-5.25,2.74-2.74-.88-.88-2.74,2.74-5.25-1.59L14.26,1.61l-3.85,11.56Z"/></g></svg>
  </div>
	<a href="{{ element.0['#markup'] }}">Curriculum Vitae</a>
{% endblock %}