{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{% extends 'field.html.twig' %}

{% block fieldSingleNo %}
  {% if item.content['#should_show'] %}
    <div class="icon-wrapper">
      <svg id="email-icon" viewBox="0 0 15.87 15.87"><defs><style>.cls-1{fill:#0160f2;stroke-width:0px;}</style></defs><g id="Layer_1-2"><path id="Vector" class="cls-1" d="m15.05.03L.43,4.91c-.25.07-.43.32-.43.6s.19.51.45.59l7.18,2.15,2.15,7.18c.08.26.31.45.59.45h.01c.27,0,.51-.18.59-.43L15.84.82c.08-.23.03-.48-.15-.64-.16-.18-.41-.23-.64-.15Zm-4.64,13.14l-1.59-5.25,2.74-2.74-.88-.88-2.74,2.74-5.25-1.59L14.26,1.61l-3.85,11.56Z"/></g></svg>
    </div>
    <div class="field-content">
      {{- item.content -}}
    </div>
  {% endif %}
{% endblock %}