{#
/**
 * @file
 * Theme override for the node title field.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 */
#}

{% if element.0['#markup'] == 'Alumnus' %}
  <div class="field-wrapper">
    <div class="icon-wrapper">
      <svg width="15" height="16" viewbox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3887_16174)">
          <path d="M0.619995 0.619141H14.14" stroke="white" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round"/>
          <path d="M2.87 3.96914V0.619141" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M11.89 0.619141V7.92914V15.2391L7.38 11.2891L2.87 15.2391V7.92914V6.72914" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_3887_16174">
            <rect width="14.76" height="15.86" fill="white"/>
          </clipPath>
        </defs>
      </svg>

    </div>
    <div class="field field-is-alumni list-string">Alumnus</div>
  </div>
{% endif %}
