{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}


{% set count = rows|length %}
<div class="facts-wrapper facts-count-{{ count }}">
	<div class="facts-title">
    <h2 class="facts-title-inner">
      <span>Just</br>the</br></span>
      <strong>facts</strong>
      <div class="fact-stripes">
        <svg width="196" height="128" viewBox="0 0 264 172" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_2283_54569" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-1" y="0" width="265" height="172">
          <path d="M263.209 1.08852V171.297L0.536652 171.297V1.08852L263.209 1.08852Z" fill="white" stroke="white" stroke-width="1.07503"/>
          </mask>
          <g mask="url(#mask0_2283_54569)">
          <path d="M242.59 66.6221L-292.225 219.975" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 48.6904L-292.225 202.043" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 30.7588L-292.225 184.111" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 12.8271L-292.225 166.18" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 -5.10449L-292.225 148.248" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 -23.0352L-292.225 130.317" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 -40.9668L-292.225 112.386" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          <path d="M242.59 -58.8984L-292.225 94.4541" stroke="#EDAC1A" stroke-width="1.07503" stroke-miterlimit="10"/>
          </g>
        </svg>
      </div>
    </h2>
  </div>
	{% set rowCount = 0 %}
	{% for row in rows %}
		{% set rowCount = rowCount + 1 %}
	  {%
	    set row_classes = [
	      default_row_class ? 'views-row',
        'fact',
	      'fact-' ~ rowCount
	    ]
	  %}
	  <div{{ row.attributes.addClass(row_classes) }}>
	  	{% block rowContent %}
		    {{ row.content }}
		  {% endblock %}
	  </div>
	{% endfor %}
</div>
