/* ============
   BASIC PAGE
================ */

@use '../../../00-base/base' as *;

/* PAGE CONTENT */
.node-page{
	.node-intro-simple{
		position: absolute;
		top: 0;
		left: -$siteMarginMobile;
		width: 100vw;
		z-index: -1;
		height: 800px;
		overflow: hidden;
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: calc(100% - 400px);
			left: -50vw;
			height: 1000px;
			width: 200vw;
			z-index: -2;
			background: $skyBlue;
			@include rotate(16);
		}
	}//end intro simple
	.layout--twocol-sideleft{
		max-width: 100%;
		.layout__region--content{
			transform-style: unset;
			*{
				transform-style: unset;
			}
		}
	}
	#node-section-1{
		transform-style: preserve-3d !important;
		*{
			transform-style: unset;
		}
	}
	.node-section:not(#node-section-1){
		position: static;
	}
	.node-section:not(#node-section-2){
		*{
			transform-style: unset;
		}
	}
}//end basic page
