/* ============
   BASIC PAGE
================ */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;
@use '../../../01-parts/buttons/_button-mixins.scss' as *;

/* PAGE CONTENT */
.node-page{
  //remove contextual stuff
  &.contextual-region{
    position: static;
    & > .contextual{
      display: none;
    }
  }// contextual region
  .block-nid {
    margin-bottom: 0;
  }

  #node-section-1{
    z-index: 1;
    .hero-video &,.hero-full_image &,.hero-background &{
      position: static;
    }
    .hero-video &{
      background: $royal;
      @include edgeToEdge;
    }
  }

  //hero setups
  .page-header-wrapper{
    position: relative;
    z-index: 0;

    /* PATTERN HERO */
    &.page-hero-pattern{
      @include headerInvasion;
      @include patternHero;
      margin-bottom: $elementSpace;
      .page-header-text{
        @include desk{
          .hide-nav &{
            padding-top: 60px;
          }
        }
        .hero-pattern:not(.hero-pattern-links) &{
          margin-bottom: 115px;
        }
        .page-header-text-inner{
          max-width: $textMax;
          padding-left: 20px;
          padding-right: 20px;
          @include auto;
          position: relative;
          z-index: 5;
          @include desk{
            padding-left: 0;
            padding-right: 0;
          }
          .node-body{
            a{
              font-weight: $heavy;
              text-decoration: underline;
              text-decoration-color: $gold;
              &:hover,&:focus {
                text-decoration: none;
              }
            }
          }
        }//end pattern page header text inner
      }//end page header text when pattern
      .field-links{
        @include smallTab{
          padding-top: 120px;
        }
        @include desk{
          padding-top: 40px;
        }
      }
    }//end hero pattern

    /* HERO IMAGE RIGHT HALF */
    @keyframes imageRightWavy{
      0%{
        left: 200vw;
      }
      100%{
        left: 0;
      }
    }
    &.page-hero-image{
      @include headerInvasion;
      @include heroRightImage;
      background: radial-gradient(50.13% 157.8% at 6.18% 33.85%, #0F2C46 0%, #232C99 100%);
      @include desk {
        min-height: 77vw;
        margin-bottom: $elementSpace;
        &.vertical-window{
          min-height: 1030px;
        }
      }
      @include menuStop {
        min-height: 75vw;
      }
      @include contentStop {
        min-height: 1170px;
      }
      .image-right{
        &:after {
          content: none;
        }
        .image-waves {
          position: absolute;
          top: 0;
          width: 70vw;
          z-index: -1;
          left: 200vw;
          animation:.5s ease .4s 1 imageRightWavy;
          animation-fill-mode: forwards;
          @include smallTab {
            width: 350px;
          }
          @include desk {
            width: 35vw;
            max-width: 542px;
          }
          @include contentStop {
            width: 40vw;
          }
          img {
            height: 182%;
          }
        }
      }
      .page-header-text{
        margin-bottom: 0;
        @include desk{
          .hide-nav &{
            padding-top: 80px;
          }
        }
        .page-header-text-inner{
          .node-title{
            h1 {
              color: $white;
            }
          }
          .node-subtitle {
            font-size: 3rem;
            line-height: 1.45;
          }
        }//end page header text inner
      }//end page header text
      .field-links{
        padding-left: 40px;
        max-width: 1092px;
        @include desk{
          align-items: flex-start;
          padding-left: 20px;
          margin-top: 20px;
        }
      }
    }//end page hero image

    /* BACKGROUND RIVER HERO WITH IMAGE RIGHT HALF */
    &.page-hero-background-image {
      @include headerInvasion;
      @include heroRightImage;
      background: radial-gradient(50.13% 157.8% at 6.18% 33.85%, #0F2C46 0%, #232C99 100%);
      &.vertical-window{
        @include desk{
          min-height: 1030px;
        }
      }
      .river-background {
        position: absolute;
        top: -10px;
        left: -30px;
        width: calc(100vw + 120px);
        height: 100%;
        overflow: hidden;
        mix-blend-mode: overlay;
        @include desk {
          left: -90px;
          top: -30px;
        }
        img {
          mix-blend-mode: overlay;
          width: 1150px;
          @include desk {
            width: 1460px;
            transform: rotate(6deg);
          }
        }
      }
    }//end background hero

    /* FULL WIDTH IMAGE HERO */
    &.page-hero-full-image {
      @include heroFullWidthImage;
      .page-header-text{
        .page-header-text-inner{
          .in-main-menu &{
            @include menuStop{
              .node-title{
                margin-bottom: 148px;
              }
            }
          }
        }//end page header text inner
      }//end page header test
    }//end full image

    /* HOMEPAGE BANNER (video & full-image) */
    &.page-hero-full-image,
    &.page-hero-video{
      @include headerInvasion;
      .page-header-text{
        .page-header-text-inner{
          position:absolute;
          z-index: 5;

          width:70%;
          left:40px;
          bottom:100px;
          @include tab{
            left:100px;
          }
          @include desk{
            width: 50%;
            left: 200px;
            bottom: 120px;
          }

          // align left edge with left edge of top nav on large screens
          @include contentStop{
            left:calc((100vw - 1280px) / 2.0);
            width:40%;
            padding-left: 26px;
          }

          .node-title{
            margin-bottom:3rem;
            h1.formatted-title{
              color: $white;
              @include contentStop {
                font-size: 10.625rem;
              }
            }
          }

          .node-body {
            font-size: 1.75rem;
            line-height: 1.57;
            margin-bottom: 3rem;
            max-width: 630px;
            @include desk {
              font-size: 2.5rem;
              line-height: 1.6;
            }
          }
        }// end video page header text inner
      }//end video page header text

      .field-links{
        position:relative;
        a{
          @include button;
          margin-bottom:1rem;
          margin-right:2rem;
        }
      }
    }

    /* VIDEO HERO */
    &.page-hero-video{
      padding-left: 40px;
      padding-right: 40px;
      color: $white;
      min-height: 100vh;
      background-size: 1440px 1024px !important;
      background-position: left 40% bottom -70px !important;
      position:relative;
      @include tab{
        background-size: cover !important;
        background-position: center !important;
      }
      @media screen and (min-width: 2000px){
        background-size: 2000px auto !important;
      }

      video{
        height:100%;
        object-fit:cover;
      }

      @include desk{
        &.vertical-window {
          min-height: unset;
          height: 100vh;
          max-height: 1100px;
        }
        video{
          width:100vw;
        }
      }

      .video-hero{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        // gradient over video
        &::before{
          content:"";
          position:absolute;
          width:100%;
          height:100%;
          background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.15) 100%),
linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        }
      }

      #scroll-anchor{
        position: absolute;
        bottom: 10px;
        left: 0;
      }
    }

    /* GLOBAL HEADER TEXT & FIELD THEMING */
    .page-header-text{
      .page-header-text-inner{
        .node-title{
          margin-bottom: 8rem;
        }
        .node-subtitle{
          margin-bottom: $spaceSm;
        }
      }//end page header text inner
    }//end page header text

    &:not(.page-hero-video,.page-hero-full-image) .field-links{
      padding: 120px 20px 40px;
      max-width: 984px;
      position: relative;
      z-index: 1;
      @include auto;
      @include smallTab{
        padding-top: 40px;
        padding-right: 0;
        @include safeFlex(column,nowrap,end,end);
        & > div{
          width: 210px;
        }
      }
    }//end field links

    .block-system-breadcrumb-block{
      display: none;
      @include desk{
        position: relative;
        z-index: 1;
        margin-bottom: $elementSpace;
        display: block;
      }
    }//end block
  }//end page-header-wrapper

  /* WHEN THERE IS NO HERO */
  .hero-none &{
    .main-node-content {
      position: relative;
    }
    .node-intro-simple{
      @include headerInvasion;
      @include heroSimpleBackground;
    }//end intro simple
    .page-header-text{
      .block-system-breadcrumb-block{
        max-width: 1116px;
        @include auto;
        margin-bottom: $spaceXs;
        .breadcrumb{
          li{
            a{
              &:hover,&:focus{
                color: $white;
              }
            }
          }
        }
      }
      .page-header-text-inner{
        position: relative;
        z-index: 1;
        max-width: 1116px;
        @include auto;
        padding: 75px $siteMarginMobile 60px;
        &:first-child{
          @include desk{
            top: 40px;
          }
        }
        &:after{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background: $white;
          height: calc(100vh - 120px);
          z-index: -1;
        }
        .node-title{
          margin-bottom: 0;
          max-width: 867px;
          @include auto;
          h1.page-title{
            color: $royal;
            @include contentStop {
              font-size: 9.375;
            }
          }
        }
        .field:not(.title){
          max-width: $textMax;
          @include auto;
        }
      }//end page header text inner
    }//end page header text when no hero
  }//end no hero
  .logged-in.hero-none &{
    .main-node-content{
      padding-top: 10px;
    }
  }
  //adjust some elements when there is no hero but the page is in the menu
  .hero-none.in-main-menu:not(.hide-nav) &{
    .page-header-text{
      .page-header-text-inner{
        .node-title{
          max-width: $textMax;
          @include contentStop{
            max-width: 867px;
          }
        }
      }
    }//end page header text
  }//end hero none in menu

  #node-section-2 {
    z-index: 2;
    @include contentStop{
      &:last-child{
        .logged-in &{
          padding-bottom: $spaceXs;
        }
      }
    }
    .layout--twocol-sideleft{
      position: relative;
      & > .layout__region--content{
        & > .block-field:not(.block-field-paragraphs){
          padding-left: 20px;
          padding-right: 20px;
        }
        @include desk{
          width: 100%;
        }
        @include menuStop{
          &:not(:only-child){
            width: 100%;
            @include auto;
          }
        }
        //hide alternate breadcrumb/body/subsitle for pages with heros that have that content in the hero
        .hero-pattern &,.hero-background_image &,.hero-image &{
          .block-system-breadcrumb-block,.block-field-subtitle,.block-field.block-body{
            display: none;
          }
        }
        .hero-none &{
          @include menuStop{
            &:after{
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: calc(50% - 558px);
              height: 100%;
              z-index: -10;
              background: $siteBack;
              width: 100%;
              max-width: 1116px;
            }
          }
          .block-system-breadcrumb-block{
            display: none;
          }
        }
        //set widths for alternate bread/subtitle/body when shown
        .block-system-breadcrumb-block{
          max-width: 1092px;
          @include auto;
          margin-top: -60px;
          .in-main-menu &{
            @include menuStop{
              max-width: $textMax;
              margin-left: 19.5vw;
            }
            @include contentStop{
              max-width: $largeTab;
              margin-left: auto;
            }
          }
          li {
            a {
              color: $royal;
              &:hover,&:focus {
                color: $navy;
              }
            }
          }
        }
        .block-field-subtitle{
          max-width: $textMax;
          @include auto;
          margin-bottom: $spaceSm;
        }
        .block-field.block-body{
          max-width: $textMax;
          @include auto;
        }
      }//end layout region content
    }//end two column side left
    //when breadcrumbs are in the main content (full image & video heros)
    .block-system-breadcrumb-block{
      display: none;
      @include desk{
        display: block;
      }
      .breadcrumb{
        li{
          color: $navy;
          a{
            @include lineLink;
          }
        }
      }//end breadcrumb
    }//end breadcrumb block
  }//end node section 2;

  #node-section-3{
    z-index: 1;
    background: $white;
    max-width: 1116px;
    @include auto;
    @include contentStop{
      &:last-child{
        .block-field-paragraphs{
          &:last-child{
            padding-bottom: $elementSpace;
          }
        }
      }
    }
    .widget.layout-section:last-child{
      .paragraph:last-child{
        @include contentStop{
          margin-bottom: 0;
        }
      }
    }
  }//end node section 3
  .block-field-page-family{
    max-width: $breakoutWidth;
    @include auto;
  }
  .node-section:last-child >.layout >.layout__region:last-child{
    margin-bottom: 0;
  }
}//end basic page
