/* ============
   BASIC PAGE
================ */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;
@use '../../../01-parts/buttons/_button-mixins.scss' as *;

/* PAGE CONTENT */
.node-page{
  //nug up to footer at larger screen sizes
  @include contentStop{
    margin-bottom: -5vw;
  }
  @media screen and (min-width: 1600px){
    margin-bottom: -5.5vw;
  }
  @media screen and (min-width: 1800px){
    margin-bottom: -6vw;
  }
  @media screen and (min-width: 2000px){
    margin-bottom: -6.5vw;
  }
  @media screen and (min-width: 2300px){
    margin-bottom: -7vw;
  }
  @media screen and (min-width: 2500px){
    margin-bottom: -8vw;
  }
  @media screen and (min-width: 2900px){
    margin-bottom: -9vw;
  }
  //remove contextual stuff
  &.contextual-region{
    position: static;
    & > .contextual{
      display: none;
    }
  }// contextual region
  .block-nid {
    margin-bottom: 0;
  }

  #node-section-1{
    z-index: 1;
    .hero-video &,.hero-full_image &,.hero-background &{
      position: static;
    }
    .hero-video &{
      background: $royal;
      @include edgeToEdge;
    }
    .hero-image &{
      padding-bottom: $spaceLg;
    }
  }

  //hero setups
  .page-header-wrapper{
    position: relative;
    z-index: 0;

    /* PATTERN HERO */
    &.page-hero-pattern{
      @include patternHero;
      margin-bottom: $elementSpace;
      @include largeTab{
        margin-bottom: 60px;
      }
      @include desk{
        margin-bottom: 70px;
      }
      .hero-pattern:not(.hero-pattern-links) &{
        @include largeTab{
          margin-bottom: 80px;
        }
        @include desk{
          margin-bottom: 90px;
        }
        @include menuStop{
          margin-bottom: 100px;
        }
      }
      //set a shield to prevent swirl from interfering the page title at small screens
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: $royal;
        width: 100vw;
        height: 25%;
        z-index: 1;
        @include desk{
          height: 30%;
        }
      }
      &:after{
        @include patternHeroSwirl;
      }
      .page-header-text{
        @include heroBlue;
        @include desk{
          .hide-nav &{
            padding-top: 60px;
          }
          .page-header-text-inner > .field:last-child{
            @include stripesRoyalNarrow;
          }
        }
        .hero-pattern:not(.hero-pattern-links) &{
          margin-bottom: 115px;
        }
        .page-header-text-inner{
          max-width: $textMax;
          padding-left: 20px;
          padding-right: 20px;
          @include auto;
          position: relative;
          z-index: 5;
          @include desk{
            padding-left: 0;
            padding-right: 0;
            &:last-child:not(.node-title){
              @include stripesRoyalNarrow;
            }
          }
          .node-body{
            a{
              font-weight: $heavy;
              @include dottedLink($white);
              &:hover,&:focus{
                background-image: none;
                opacity: .7;
              }
            }
          }
        }//end pattern page header text inner
      }//end page header text when pattern
      .field-links{
        @include smallTab{
          padding-top: 120px;
        }
        @include desk{
          padding-top: 40px;
        }
      }
    }//end hero pattern

    /* HERO IMAGE RIGHT HALF */
    &.page-hero-image{
      @include heroRightImage;
      @include desk{
        margin-bottom: 2rem;
        padding-bottom: 29vw;
        &.vertical-window{
          margin-bottom: 6vw;
        }
      }
      @include contentStopMargin{
        &.vertical-window{
          margin-bottom: 4vw;
        }
      }
      @media screen and (min-width: 1600px){
        margin-bottom: -2vw;
        &.vertical-window{
          margin-bottom: 4vw;
        }
      }
      @media screen and (min-width: 1900px){
        margin-bottom: -6vw;
      }
      @media screen and (min-width: 2400px){
        margin-bottom: -8vw;
      }
      .page-header-text{
        margin-bottom: 0;
        @include desk{
          .hide-nav &{
            padding-top: 80px;
          }
        }
        .breadcrumb{
          padding-left: 20px;
          padding-right: 20px;
          @include desk{
            .breadcrumb-list{
              max-width: calc(50% - 80px);
              body:not(.hero-has-image) &{
                max-width: 100%;
              }
            }
          }
        }
        .page-header-text-inner{
          .node-title{
            margin-bottom: $spaceMd;
          }
          .node-subtitle,.node-body{
            @include onlyMobile{
              padding-left: 20px;
              padding-right: 20px;
            }
            a{
              font-weight: $heavy;
              @include dottedLink($white);
              &:hover,&:focus{
                background-image: none;
                opacity: .7;
              }
            }
          }//end subtitle/body
        }//end page header text inner
      }//end page header text
      .field-links{
        padding-left: 40px;
        max-width: 1092px;
        @include desk{
          align-items: flex-start;
          padding-left: 20px;
          margin-top: 20px;
        }
      }
    }//end page hero image

    /* BACKGROUND PATTERNED HERO WITH IMAGE RIGHT HALF */
    &.page-hero-background-image {
      @include heroRightImage;
      overflow: hidden;
      padding-bottom: 29vw;
      background-size: 1273px 958px !important;
      background-position: left -250px bottom -70px !important;
      @include heroHeaderInvade;
      &.vertical-window{
        @include desk{
          min-height: 1030px;
        }
      }
      .hero-image{
        .image-right{
          @include desk{
            top: 100px;
            html.animations-paused & {
              opacity: 1;
            }
            @include animation('fadeIn 1.25s 1');
          }
          @include menuStop{
            top: 120px;
          }
          &:before{
            html.animations-paused & {
              opacity: 1;
              right: 0;
            }
            content: '';
            position: absolute;
            bottom: -195px;
            z-index: 0;
            width: 72px;
            height: 128px;
            background-image: url(../images/elements/fat-stripes-blue.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            @keyframes heroSwirlSlideImage {
              from {
                right: -200vw;
              }
              to {
                right: 0;
              }
            }
            @include animation('heroSwirlSlideImage 1.5s forwards');
            @include smallTab{
              bottom: -68px;
            }
            @include desk{
              bottom: -20px;
              z-index: -1;
              width: 150px;
              height: 242px;
              background-position: bottom left;
              right: auto;
              html.animations-paused & {
                left: -30px;
              }
              @keyframes heroSwirlSlideImage {
                from {
                  left: 200vw;
                }
                to {
                  left: -30px;
                }
              }
              @include animation('heroSwirlSlideImage 1.5s forwards');
            }//end desk
            @include contentStop{
              width: 222px;
              height: 344px;
              bottom: -35px;
            }//end content stop
          }//end image before
          &:after{
            content: none;
          }
        }//end image right
      }//end hero image
      .page-header-text{
        margin-bottom: 0;
        @include desk{
          background: none;
          .hide-nav &{
            padding-top: 80px;
          }
          &:after{
            content: none;
          }
        }
        .breadcrumb{
          padding-left: 20px;
          padding-right: 20px;
          @include desk{
            .breadcrumb-list{
              max-width: calc(50% - 80px);
              body:not(.hero-has-image) &{
                max-width: 100%;
              }
            }
          }
        }
        .page-header-text-inner{
          .node-title{
            margin-bottom: $spaceMd;
          }
          .node-subtitle,.node-body{
            @include onlyMobile{
              padding-left: 20px;
              padding-right: 20px;
            }
            a{
              font-weight: $heavy;
              @include dottedLink($white);
              &:hover,&:focus{
                background-image: none;
                opacity: .7;
              }
            }
          }//end subtitle/body
        }//end page header text inner
      }//end page header text
      .field-links{
        padding-left: 40px;
        max-width: 1092px;
        @include desk{
          align-items: flex-start;
          padding-left: 20px;
          margin-top: 20px;
        }
      }
    }//end background hero

    /* FULL WIDTH IMAGE HERO */
    &.page-hero-full-image {
      @include heroFullWidthImage;
      margin-top: -88px;
      padding-top: -88px;
      .page-header-text{
        .page-header-text-inner{
          .in-main-menu &{
            @include menuStop{
              .node-title{
                margin-bottom: 100px;
              }
            }
          }
        }//end page header text inner
      }//end page header test
    }//end full image

    /* VIDEO HERO */
    &.page-hero-video{
      @include heroHeaderInvade;
      @include edgeToEdge;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 104px;
      color: $white;
      min-height: calc(100vh + 104px);
      margin-top: -104px;
      background-size: 1440px 1024px !important;
      background-position: left 40% bottom -70px !important;
      position:relative;
      @include tab{
        background-size: cover !important;
        background-position: center !important;
      }
      @media screen and (min-width: 2000px){
        background-size: 2000px auto !important;
      }

      video{
        height:100%;
        object-fit:cover;
      }

      @include desk{
        video{
          width:100vw;
        }
      }

      @keyframes videoHeroSlashAnim{
        0%{
          right:-92px;
        }
        100%{
          right:0;
        }
      }

      // thick gold slashes in the top right corner, over video hero
      &:after{
        content:"";
        display:block;
        position:absolute;
        width:112px;
        height:300px;
        top:120px;
        right:-92px;
        background:repeating-linear-gradient(0deg, #edac1a, #edac1a 40px, transparent 40px, transparent 80px);
        transform:skew(0deg, -16deg);
        animation:.5s ease .4s 1 videoHeroSlashAnim;
        animation-fill-mode:forwards;
      }

      .page-header-text{
        .page-header-text-inner{
          position:absolute;
          z-index: 5;

          width:70%;
          left:40px;
          bottom:100px;
          @include tab{
            left:100px;
          }
          @include desk{
            width:50%;
            left:200px;
            bottom:150px;
          }

          // align left edge with left edge of top nav on large screens
          @include contentStop{
            left:calc((100vw - 1280px) / 2.0);
            width:40%;
          }
          .node-body{
            @include desk{
              margin-bottom:4rem;
            }
          }
          .node-title{
            margin-bottom:2rem;
            @include desk{
              margin-bottom:4rem;
            }
            h1.formatted-title{
              color: $white;
              font-size:40px;
              @include desk{
                font-size: 54px;
              }
              strong{
                font-size:44px;
                font-style: normal;
                font-family: $header;
                @include desk {
                  font-size: 58px;
                }
              }//end strong
            }//end formatted title
          }//end node-title
        }// end video page header text inner
      }//end video page header text

      .video-hero{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        // top gradient to provide contrast for main nav
        &::before{
          content:"";
          position:absolute;
          width:100%;
          height:100%;
          background: rgb(6,35,61);
          background: linear-gradient(180deg, rgba(6,35,61,0.8) 0%, rgba(6,35,61,0.2) 20%, rgba(6,35,61,0.0) 100%);
        }

        // bottom-left angled gradient to provide contrast for text
        &::after{
          content:"";
          position:absolute;
          width:100%;
          height:100%;
          background: rgb(6,35,61);
          background: linear-gradient(45deg, rgba(6,35,61,0.8) 0%, rgba(6,35,61,0.5) 50%, rgba(6,35,61,0.1) 100%);
        }
      }

      #scroll-anchor{
        position: absolute;
        bottom: 10px;
        left: 0;
      }

      .field-links{
        position:relative;
        a{
          @include button;
          margin-bottom:1rem;
          margin-right:2rem;
        }
      }
    }

    /* GLOBAL HEADER TEXT & FIELD THEMING */
    .page-header-text{
      .page-header-text-inner{
        .node-title{
          margin-bottom: 8rem;
        }
        .node-subtitle{
          margin-bottom: $spaceSm;
        }
      }//end page header text inner
    }//end page header text

    &:not(.page-hero-video) .field-links{
      padding: 120px 20px 40px;
      max-width: 984px;
      position: relative;
      z-index: 1;
      @include auto;
      @include smallTab{
        padding-top: 40px;
        padding-right: 0;
        @include safeFlex(column,nowrap,end,end);
        & > div{
          width: 210px;
        }
      }
      @include desk {
        margin-top: 10vw;
        margin-bottom: 0;
      }
      @media screen and (min-width: 1650px){
        margin-top: 11vw;
      }
      @media screen and (min-width: 2100px){
        margin-top: 12vw;
      }
      @media screen and (min-width: 2500px){
        margin-top: 13vw;
      }
    }//end field links

    .block-system-breadcrumb-block{
      display: none;
      @include desk{
        position: relative;
        z-index: 1;
        margin-bottom: $elementSpace;
        display: block;
      }
    }//end block
  }//end page-header-wrapper

  /* WHEN THERE IS NO HERO */
  .hero-none &{
    .main-node-content{
      position: relative;
    }
    .node-intro-simple{
      @include heroSimpleBackground;
      left: -20px;
      top: -10px;
    }//end intro simple
    .page-header-text{
      .block-system-breadcrumb-block{
        max-width: 1116px;
        @include auto;
        margin-bottom: $spaceMd;
        .breadcrumb{
          li{
            a{
              &:hover,&:focus{
                color: $white;
              }
            }
          }
        }
      }
      .page-header-text-inner{
        margin-top: 10px;
        position: relative;
        z-index: 1;
        max-width: 1116px;
        @include auto;
        padding: 80px $siteMarginMobile 60px;
        &:first-child{
          @include desk{
            border-top: 40px solid $royal;
          }
        }
        &:after{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background: $white;
          height: calc(100vh - 120px);
          z-index: -1;
        }
        .node-title{
          margin-bottom: 0;
          max-width: 867px;
          @include auto;
          h1.page-title{
            color: $royal;
            @include tab{
              font-size: 6.5rem;
              line-height: 1.1;
            }
          }
        }
        .field:not(.title){
          max-width: $textMax;
          @include auto;
        }
      }//end page header text inner
    }//end page header text when no hero
  }//end no hero
  .logged-in.hero-none &{
    .main-node-content{
      padding-top: 10px;
    }
  }
  //adjust some elements when there is no hero but the page is in the menu
  .hero-none.in-main-menu:not(.hide-nav) &{
    .page-header-text{
      .page-header-text-inner{
        .node-title{
          max-width: $textMax;
          @include contentStop{
            max-width: 867px;
          }
        }
      }
    }//end page header text
  }//end hero none in menu

  #node-section-2 {
    z-index: 2;
    @include contentStop{
      &:last-child{
        .logged-in &{
          padding-bottom: $spaceXs;
        }
      }
    }
    .layout--twocol-sideleft{
      position: relative;
      & > .layout__region--content{
        & > .block-field:not(.block-field-paragraphs){
          padding-left: 20px;
          padding-right: 20px;
        }
        @include desk{
          width: 100%;
        }
        @include menuStop{
          &:not(:only-child){
            width: 100%;
            @include auto;
          }
        }
        //hide alternate breadcrumb/body/subsitle for pages with heros that have that content in the hero
        .hero-pattern &,.hero-background_image &,.hero-image &{
          .block-system-breadcrumb-block,.block-field-subtitle,.block-field.block-body{
            display: none;
          }
        }
        .hero-none &{
          @include menuStop{
            &:after{
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: calc(50% - 558px);
              height: 100%;
              z-index: -10;
              background: $siteBack;
              width: 100%;
              max-width: 1116px;
            }
          }
          .block-system-breadcrumb-block{
            display: none;
          }
        }
        //set widths for alternate bread/subtitle/body when shown
        .block-system-breadcrumb-block{
          max-width: 1092px;
          @include auto;
          margin-top: -60px;
          .in-main-menu &{
            @include menuStop{
              max-width: $textMax;
              margin-left: 19.5vw;
            }
            @include contentStop{
              max-width: $largeTab;
              margin-left: auto;
            }
          }
        }
        .block-field-subtitle{
          max-width: $textMax;
          @include auto;
          margin-bottom: $spaceSm;
        }
        .block-field.block-body{
          max-width: $textMax;
          @include auto;
        }
      }//end layout region content
    }//end two column side left
    //when breadcrumbs are in the main content (full image & video heros)
    .block-system-breadcrumb-block{
      display: none;
      @include desk{
        display: block;
      }
      .breadcrumb{
        li{
          color: $navy;
          a{
            color: $navy;
            &:hover,&:focus{
              @include dottedLink($navy);
            }
          }
        }
      }//end breadcrumb
    }//end breadcrumb block
  }//end node section 2;

  #node-section-3{
    z-index: 1;
    background: $white;
    max-width: 1116px;
    @include auto;
    @include contentStop{
      &:last-child{
        .block-field-paragraphs{
          &:last-child{
            padding-bottom: $elementSpace;
          }
        }
      }
    }
    .widget.layout-section:last-child{
      .paragraph:last-child{
        @include contentStop{
          margin-bottom: 0;
        }
      }
    }
  }//end node section 3
  .block-field-page-family{
    max-width: $breakoutWidth;
    @include auto;
  }
  .node-section:last-child >.layout >.layout__region:last-child{
    margin-bottom: 0;
  }
}//end basic page
