/* ============
   ACADEMIC PROGRAM
================ */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;

.block-field-related-programs {
  --animation-start: -100vw;
  --animation-start-mid: -100vw;
  --animation-start-wide: -100vw;
  --animation-end: 0;
}
.outcomes-image {
  --animation-start: -200vw;
  --animation-start-mid: -200vw;
  --animation-start-wide: -200vw;
  --animation-end: -104px;
  --animation-end-mid: -50px;
  --animation-end-wide: -2px;
}

.node-academic-program{
  margin-bottom: 30rem; // This needs to be so high to push down on the footer.
  @include tab {
    margin-bottom: 0;
  }

  //hero setups
  #node-section-1 {
    @include heroRightImage;
    .field-intro {
      margin-bottom: 6.5rem;
    }
  }
  #node-section-2 {
    @include contentStop{
      margin-top: -2vw;
    }
    @media screen and (min-width: 1600px){
      margin-top: -5vw;
    }
    @media screen and (min-width: 1900px){
      margin-top: -7vw;
    }
    @media screen and (min-width: 2400px){
      margin-top: -8vw;
    }
    @include desk {
      margin-bottom: 9.875rem;
    }
  }
  .block-body {
    margin-bottom: 4rem;
  }
  .field.body {
    max-width: $textMax;
    @include auto;
    padding: 2.5rem 2.5rem 0;
    @include desk {
      padding: 0;
    }
  }
  .available-as {
    margin-bottom: 6.5rem;
    .tag {
      @include tag;
      display: block;
    }
    .field-content {
      @include heading2;
      color: $white;
      font-family: $displayHeader;
    }
  }
  .field-links{
    padding-top: 0 !important;
    a {
      @include linkArrow(white, sm);
      display: block;
      margin-right: 16px;
    }
  }
  .block-field-degree-types {
    margin-bottom: 3px;
    &:last-child{
      margin-bottom: $elementSpace;
    }
  }
  .program-details-wrapper, .accreditation-wrapper {
    @include auto;
    background-color: $lightGrey;
    color: $royal;
    max-width: $wideContent;
    padding: $siteMarginMobile;
    @include desk {
      padding: 6.5rem 16.75rem;
    }

    h2 {
      color: $royal;
      margin: 2.5rem 0 4rem;
      text-align: center;
      @include desk {
        margin: 0 0 2.625rem;
        text-align: left;
      }
    }
  }
  .program-details-wrapper {
    .program-details {
      @include desk {
        @include safeFlex(row,wrap,start,start);
      }
      .program-detail {
        font-weight: $heavy;
        margin-bottom: 3.625rem;
        line-height: 1.375;

        &.degree-level{
          text-transform: capitalize;
        }
        span.label {
          display: block;
          font-weight: $regular;
          margin-bottom: 2px;
        }
        a {
          @include blockArrow(royal, sm);
          &:after {
            margin-top: -4px; // Fix for inline-block lineheight calcs.
          }
          span {
            line-height: 1.125;
          }
        }
      }
      .first {
        border-bottom: $warmGrey solid 1px;
        margin-bottom: 3.625rem;
        padding-bottom: 2rem;
        @include desk {
          border-bottom: 0;
          border-right: $warmGrey solid 1px;
          margin-bottom: 0;
          flex: 0 1 calc(50% - 11rem);
        }
      }
      .last {
        @include safeFlex(row,wrap,start,flex-start);
        @include desk {
          flex: 1 1 50%;
          padding-left: 11rem;
        }
        margin: 0 -1rem;
        .program-detail {
          box-sizing: border-box;
          padding: 0 1rem;
          width: 50%;
        }
      }
    } // end program-details
  } // end program-details-wrapper
  .block-field-accreditation {
    margin-bottom: 0;
    @include desk {
      margin-bottom: $elementSpace;
    }
  }
  .accreditation-wrapper {
    margin-bottom: 3.75rem;
    margin-top: .375rem;
    @include desk {
      margin-bottom: 0;
    }
    .accreditation-details {
      @include safeFlex(column, wrap, justify, start);
      @include desk {
        @include safeFlex(row, wrap, justify, start);
      }
      .accreditation-text {
        max-width: $textMax;
        @include desk{
          &:not(:only-child){
            max-width: 424px;
          }
        }
      }
      .media-item.image {
        align-self: center;
        margin: 4rem 0;
        @include desk {
          margin: 0;
        }
      }
    }//end accred details
    .licensure-details {
      margin-top: 2rem;
      max-width: $textMax;
      @include desk {
        margin-top: 8.875rem;
      }
    }
  }// end accreditation-wrapper

  #node-section-5.outcomes-visible {
    @include edgeToEdge;
    background-color: $brightBlue;
    margin-bottom: 8.75rem;
    padding: 3rem 0 1px; // 1px bottom padding essentially a clearfix.
    @include tab {
      padding-top: 8.25rem;
    }
    * {
      color: $white;
      position: relative;
      z-index: 1;
    }

    .field-outcomes-image {
      @include auto;
      max-width: $largeTab;
    }
    .field-outcome-text {
      @include safeFlex(row, wrap, start, start);
      margin: 0 $siteMarginMobile;
      max-width: $largeTab;
      @include desk {
        @include auto;
        gap: 5rem;
      }
    }
    .outcomes {
      margin: 0 $siteMarginMobile;
      flex: 1 1 100%;
      @include desk {
        @include auto;
        flex: 1 1 60%;
      }
    }
    .example-careers,
    .recent-grads {
      flex: 1 1 100%;
      margin-top: 5rem;
      @include desk {
        flex: 1 1 30%;
        margin: 0;
      }
      h2 {
        font-family: $displayHeader;
      }
    }
    .example-careers {
      order: 3;
      @include desk {
        order: 2;
      }
    }
    .recent-grads {
      order: 2;
      @include desk {
        order: 3;
      }
      .grads {
        @include safeFlex(row,wrap,start,start);
        .grad {
          flex: 0 0 50%;
          box-sizing: border-box;
          @include desk {
            flex: 0 0 33.33%;
          }
        }
      }
    }
    &.outcomes-image {
      &:after {
        right: var(--animation-start-wide);
        transition: right 1s ease-in-out;
        @include desk {
          @include royalSwirl;
          @include animation('none'); // Make sure this doesn't fade in until.
        }
      }
      &.visible:after {
        @include animation('fadeInDelay 1s 1');
        right: var(--animation-end-wide);
      }
    }
  } //end #node-section-5
  .block-field-courses-text {
    @include auto;
    margin-bottom: 0;
    max-width: $wideContent;
    @include desk {
      margin-bottom: $elementSpace;
    }
  }
  .block-courses {
    @include auto;
    margin-bottom: 3rem;
    max-width: 985px;
    @include desk {
      margin-bottom: 6rem;
    }
    p {
      max-width: 650px;
    }
  }
  .course-information {
    @include safeFlex(row,wrap,justify,start);
    @include auto;
    max-width: 1098px;
    .courses-header{
      @include styledHeader(true);
      @include auto;
      color: $brightBlue;
      text-align: center;
      @include desk {
        margin-left: 0;
        text-align: left;
        strong {
          margin-left: 0;
        }
      }
    }//end courses header
    .course-text{
      margin-top: 2rem;
      padding: $siteMarginMobile;
      @include tab{
        margin-top: 0;
        padding-left: 20px;
        width: 50%;
      }
    }
  }//end course-information
  .block-field-course-links {
    @include desk {
      margin-bottom: 9.875rem;
    }
  }
  .field-course-links {
    div {
      height: 40px;
      margin-bottom: 1rem;
      @include tab {
        display: flex;
        justify-content: center;
      }
    }
    a {
      @include heading3;
      @include linkArrow(navy);
      color: $black;
    }
  }//end field course links

  .more-info-wrapper{
    max-width: 1138px;
    @include auto;
    background: $ice;
    color: $brightBlue;
    padding: 40px 20px 30px;
    margin-bottom: 7.5rem;
    @include tab{
      padding: 60px 112px 45px;
    }
    @include desk {
      margin-bottom: 13.875rem;
    }
    .more-info {
      @include safeFlex(row,wrap,start,start);
      @include bleed(padding,60px);
      .slate-left{
        width: 100%;
        @include desk{
          width: 50%;
          padding-top: 35px;
        }
        &.slate-visible{
          h2 strong{
            @include animation('breatheFadeIn 1.5s 1 forwards');
          }
        }
        h2{
          @include styledHeader;
          text-align: center;
          margin-bottom: $spaceSm;
          color: $brightBlue;
          strong{
            opacity: 0;
            scale: 1;
            position: relative;
            bottom: -2px;
          }
          @include desk {
            text-align: left;
          }
        }//end h2
        p{
          line-height: 2;
          margin-bottom: 2.5rem;
        }
      }//end slate left
      .slate-right{
        width: 100%;
        @include desk{
          width: 50%;
        }
        form{
          @include slateForm;
          #form_page_1{
            margin-bottom: 3rem;
            .form_label{
              & > div{
                margin-left: -20px;
                font-family: $bodyText;
                font-size: 16px;
                line-height: 1.875;
                font-weight: $regular;
                letter-spacing: normal;
                text-transform: none;
              }
            }
          }//end form page one
        }//end form
        #form_page_2,#form_page_3{
          @include safeFlex(row,wrap,start,end);
          @include bleed(padding,20px);
          .form_question{
            float: none !important;
            width: 100% !important;
            @include tab{
              &[data-export="sys:first"],&[data-export="sys:last"],&[data-export="sys:field:student_type"],&[data-export="sys:mobile"]{
                width: 50% !important;
              }
            }//end tab
          }//end form question
        }//end form page two
      }//end slate right
    }//end more info
  }//end field request for info
  .block-program-faculty {
    @include desk {
      margin-bottom: 7.5rem;
    }
  }
  .block-field-related-programs {
    @include auto;
    background: $warmGrey;
    max-width: $wideContent;
    padding: 9rem $siteMarginMobile;
    position: relative;
    @include tab {
      padding: 40px 130px;
    }
    &:after {
      @include tab {
        @include fatStripes($gold, 25px);
        bottom: -15px;
        left: var(--animation-start-mid);
        height: 200px;
        top: auto;
        transition: left 1.5s ease-in-out;
        width: 50px;
        z-index: 5;
      }
      @include desk {
        left: var(--animation-start-wide);
      }
    }
    &.visible:after {
      @include tab {
        left: var(--animation-end);
      }
    }
    h2 {
      font-size: 28px;
      margin-bottom: 2.5rem;
      text-align: center;
      text-transform: uppercase;
      @include desk {
        text-align: left;
      }
    }
    .field-related-programs {
      @include bleed(padding, 20px);
      .related-intro {
        line-height: 1.5;
        max-width: 650px;
      }
      .related-items {
        @include safeFlex(row, wrap, start, start);
        margin-top: 5rem;
        @include tab {
          margin: 0 -1.25rem;
        }
      }
      .related-item {
        width: 100%;
        margin-bottom: 5rem;
        padding: 0 1.25rem;
        @include tab {
          width: 33%;
          margin-bottom: 2.5rem;
        }
        @include desk {
          width: 25%;
        }
        .content-thumb-title {
          line-height: 1.2;
          margin-top: 1.5rem;
        }
        a {
          font-family: $displayHeader;
          font-size: 16px;
          font-weight: $heavy;
          @include blockArrow(navy, sm);
        }
      }
    }//end field related programs
  }//end block field related programs
  .field-whats-next {
    h2.next-title {
      @include styledHeader(true);
      color: $brightBlue;
      margin: 1.5rem 0;
      text-align: center;
      @include tab {
        margin: 2.5rem 0;
      }
    }
  }
}//end academic-program

.academic-program-teaser {
  @include tab{
    height: 100%;
  }
  .program-inner{
    border-top: 1px solid $warmGrey;
    min-height: 130px;
    margin-bottom: 20px;
    background: $lightGrey;
    @include safeFlex(column,nowrap,justify,start);
    @include tab{
      height: 100%;
      min-height: 313px;
    }
    & > *{
      width: 100%;
    }
  }//end program inner
  &.open-program{
    position: relative;
    z-index: 1;
    .program-inner{
      background: $warmGrey;
      @include tab{
        position: absolute;
        top: 0;
        left: 0;
      }
    }//end program inner
    .program-intro,.program-meta{
      @include tab{
        background: $warmGrey;
      }
    }
    .program-types .program-toggle{
      &:hover,&:focus{
        .chevron-down{
          background: darken($warmGrey,3%);
        }
      }
    }//end program toggle
  }//end open program
  .program-intro{
    padding: 20px 20px 1px;
    @include tab{
      background: $lightGrey;
    }
    .program-image{
      margin-bottom: $spaceSm;
      @include onlySmall{
        display: none;
      }
    }
    .program-title{
      @include heading3;
      line-height: 1.33;
      color: $navy;
      margin-bottom: $spaceXxs;
    }
  }//end program intro
  .program-meta{
    padding: 1px 20px 12px;
    @include tab{
      background: $lightGrey;
    }
  }
  .program-types{
    position: relative;
    .program-toggle {
      &.open .chevron-down svg{
        transform: rotate(180deg);
      }
      &:hover,&:focus{
        .type-list span{
          @include dottedLink($brightBlue);
        }
        .chevron-down{
          background: rgba($warmGrey,.3);
        }
      }
      .type-list{
        max-width: calc(100% - 50px);
        font-size: 12px;
        color: $navy;
        text-transform: uppercase;
      }
      .chevron-down {
        position: absolute;
        bottom: -12px;
        right: -20px;
        display: block;
        width: 40px;
        height: 40px;
        @include safeFlex(column,nowrap,center,center);
        svg{
          transition: transform 0.3s ease;
          fill: none;
          width: 10px;
        }
      }//end chevron down
    }//end program toggle
  }//end program types
  .program-body{
    margin-top: $spaceSm;
    font-size: 1.75rem;
    line-height: 2;
    &.hidden {
      display: none;
    }
    .program-intro-text{
      margin-bottom: $spaceSm;
    }
    .program-link{
      display: inline-block;
      @include linkArrow(navy, sm, '.program-link-text');
      margin-bottom: $spaceMd;
    }//end program link
  }//end program body
} //end academic-program-teaser
