/* ============
   ACADEMIC PROGRAM
================ */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;

.node-academic-program{
	&.contextual-region{
		position: static;
		& > .contextual{
			display: none;
		}
		.program-hero {
			margin-top: -216px;
			padding-top: 216px;
			@include desk{
				margin-top: -170px;
				padding-top: 170px;
			}
		}
	}

   //page header section
	#node-section-1{
		transform-style: preserve-3d !important;
		.hero-video &,.hero-full_image &,.hero-background &{
			position: static;
		}
		*{
			transform-style: unset;
		}
	}

	//hero setups
	#node-section-1 {
		.program-hero {
			@include heroBackground;
			@include heroImageRight;
		}
		.page-header-text {
			@include heroText;
		}
	}
	.field.body {
		max-width: $textMax;
		@include auto;
	}
	.program-details-wrapper {
		color: $royal;
		background-color: $lightGrey;
		padding: 6.5rem 16.75rem;
		h2 {
			margin-bottom: 2.625rem;
			color: $royal;
		}
		.program-details {
			@include safeFlex(row,wrap,start,start);
			.program-detail {
				font-weight: $heavy;
				margin-bottom: 3.625rem;
				&.degree-level{
					text-transform: capitalize;
				}
				span {
					display: block;
					font-weight: $regular;
				}
			}
			.first {
				border-right: $warmGrey solid 1px;
				width: calc(50% - 11rem);
			}
			.last {
				@include safeFlex(row,wrap,start,flex-start);
				width: 50%;
				padding-left: 11rem;
				div {
					flex: 0 0 50%;
					box-sizing: border-box; 
				}
			}
		} // end program-details
	} // end program-details-wrapper
	.accreditation-wrapper {
		color: $royal;
		background-color: $lightGrey;
		padding: 6.5rem 16.75rem;
		margin-top: .375rem;
		h2 { 
			color: $royal;
		}
		.accreditation-details {
			@include safeFlex(row,wrap,justify,start);
			p {
				max-width: $textMax;
			}
		}
		.licensure-details {
			p {
				max-width: $textMax;
			}
		}
	}// end accreditation-wrapper

	#node-section-5 {
		background-color: $brightBlue;
		padding: 8.25rem 0;
		margin-bottom: 8.75rem;
		* {
			color: $white;
		}
		.field-outcomes-image {
			max-width: 874px;
			@include auto;
		}
		.outcomes {
			@include auto;
			max-width: 874px;
			@include safeFlex(row,wrap,justify,start);
		}
		.recent-grads {
			@include auto;
			max-width: 874px;
			.grads {
				@include safeFlex(row,wrap,start,start);
				.grad {
					flex: 0 0 33.33%;
					box-sizing: border-box; 
				}
			}
		}
	} //end #node-section-5
	.course-information {
		@include safeFlex(row,wrap,justify,start);
		max-width: $contentStop;
		@include auto;
		.courses-header{
			font-size: 74px;
			color: $brightBlue;
			font-style: italic;
			font-family: $displayHeader;
			line-height: 93px;
			text-transform: uppercase;
			letter-spacing: 5%;
			strong{
				font-size: 79px;
				font-family: $header;
				font-weight: $xHeavy;
				line-height: 95px;
				letter-spacing: 0;
			}
			@include tab{
				width: 50%;
				padding-right: 20px;
			}
		}//end courses header
		.course-text{
			@include tab{
				width: 50%;
				padding-left: 20px;
			}
		}
	}//end course-information
	.more-info {
		background-color: $ice;
		@include safeFlex(row,wrap,justify,start);
		max-width: $contentStop;
		@include auto;
		margin-bottom: 8.75rem;

	}
	.block-field-related-programs{
		max-width: 1136px;
		@include auto;
		background: $warmGrey;
		padding: 40px 130px;
		.field-related-programs {
			@include safeFlex(row,wrap,start,start);
			@include bleed(padding, 20px);
			.related-intro{
				width: 100%;
			}
			@include tab{
				div:not(.related-intro) {
					flex: 0 0 25%;
				}
			}
		}//end field related programs
	}//end block field related programs
}//end academic-program

.academic-program-teaser {
	.hidden {
    display: none;
	}
	.program-toggle {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
	}
	.chevron-down {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(45deg);
    margin-left: 5px;
    vertical-align: middle;
			transition: transform 0.3s ease;
		}
	
	.chevron-flip {
			transform: rotate(225deg);
	}
} //end academic-program-teaser 
