/* ============
   ACADEMIC PROGRAM
================ */

@use '../../../00-base/base' as *;
@use '../../../01-parts/forms/forms' as *;
@use '../node-mixins' as *;
@use 'sass:color';

.block-field-related-programs {
  --animation-start: -100vw;
  --animation-start-mid: -100vw;
  --animation-start-wide: -100vw;
  --animation-end: 0;
}
.outcomes-image {
  --animation-start: -200vw;
  --animation-start-mid: -200vw;
  --animation-start-wide: -200vw;
  --animation-end: -104px;
  --animation-end-mid: -50px;
  --animation-end-wide: -2px;
}

.node-academic-program{
  margin-bottom: $spaceMdLg;
  @include tab {
    margin-bottom: 0;
  }

  //hero setups
  #node-section-1 {
    @include headerInvasion;
    @include heroRightImage;
    background: radial-gradient(50.13% 157.8% at 6.18% 33.85%, #0F2C46 0%, #232C99 100%);
    @include desk {
      min-height: 77vw;
      margin-bottom: 80px;
    }
    @include menuStop {
      min-height: 75vw;
    }
    @include contentStop {
      min-height: 1170px;
    }
    .image-right{
      &:after {
        content: none;
      }
      .image-waves {
        position: absolute;
        top: 0;
        width: 70vw;
        z-index: -1;
        left: 200vw;
        animation:.5s ease .4s 1 imageRightWavy;
        animation-fill-mode: forwards;
        @include smallTab {
          width: 350px;
        }
        @include desk {
          width: 35vw;
          max-width: 542px;
        }
        @include contentStop {
          width: 40vw;
        }
        img {
          height: 182%;
        }
      }
    }
    .page-header-text .page-header-text-inner{
      .block-system-breadcrumb-block .breadcrumb{
        padding-left: 0;
      }
      .field.title h1{
        color: $white;
      }
      .field-intro {
        margin-bottom: 6.5rem;
      }
    }
  }
  .block-body {
    margin-bottom: $spaceXl;
    position: relative;
    &:after {
      background: url('../images/elements/river-body-program-desk.svg') left bottom / 977px auto no-repeat scroll transparent;
      content: '';
      width: calc(100% + $siteMarginMobile * 2);
      height: 440px;
      margin-left: -$siteMarginMobile;
      margin-right: -$siteMarginMobile;
      display: block;
      position: absolute;
      bottom: -280px;
      left: 0;
    }
    @include desk {
      margin-bottom: 200px;
      &:after {
        background-position: center bottom;
        background-size: 1500px auto;
        bottom: -500px;
      }
    }
  }
  .field.body {
    max-width: $textMax;
    @include auto;

    h2 {
      margin-bottom: $spaceMd;
    }
  }
  .available-as {
    margin-bottom: 5rem;
    .tag {
      @include tag;
      color: $white;
      font-size: 1.75rem;
      font-weight: $regular;
      display: block;
    }
    .field-content {
      font-family: $displayHeader;
      font-weight: $heavy;
      font-size: 3.125rem;
      line-height: 1.32;
      color: $white;
      font-family: $displayHeader;
    }
  }
  .field-links{
    div {
      &:not(:last-child){
        margin-bottom: $spaceSm;
      }
    }
    a {
      @include linkArrow(gold, lg);
    }
  }
  .block-field-degree-types {
    margin-bottom: 3px;
    &:last-child{
      margin-bottom: $elementSpace;
    }
  }
  .program-details-wrapper,
  .accreditation-details,
  .licensure-details {
    @include auto;
    background-color: $ice;
    color: $royal;
    margin-top: $spaceXxs;
    max-width: $wideContent;
    padding: $siteMarginMobile;
    @include desk {
      padding: 6.5rem 16.75rem;
    }

    h2 {
      color: $royal;
      margin: 2.5rem 0 4rem;
      text-align: center;
      @include desk {
        margin: 0 0 2.625rem;
        text-align: left;
      }
    }
  }
  .program-details-wrapper {
    .program-details {
      @include desk {
        @include safeFlex(row,wrap,start,start);
        gap: $spaceMs;
      }
      .program-detail {
        font-weight: $heavy;
        margin-bottom: 3.625rem;
        line-height: 1.375;
        & > div:not(:last-child){
          margin-bottom: .5rem;
        }
        &.degree-level{
          text-transform: capitalize;
        }
        span.label {
          color: $baseText;
          display: block;
          font-weight: $regular;
          line-height: 1.625;
          margin-bottom: 2px;
        }
        a {
          @include linkArrow(royal, sm);
          &:after {
            margin-top: -4px; // Fix for inline-block lineheight calcs.
          }
          span {
            line-height: 1.125;
          }
        }
      }
      .first {
        border-bottom: 1px solid $borderRuleAlt;
        margin-bottom: $spaceLg;
        padding-bottom: $spaceMs;
        @include desk {
          border-right: 1px solid $borderRuleAlt;
          border-bottom: 0;
          margin-bottom: 0;
          padding-right: 11rem;
        }
      }
      .last {
        @include safeFlex(row,wrap,start,flex-start);
        @include desk {
          flex: 1 1 50%;
        }
        margin: 0 -1rem;
        .program-detail {
          box-sizing: border-box;
          padding: 0 1rem;
          width: 50%;
        }
      }
    } // end program-details
  } // end program-details-wrapper
  //accreditation
  .block-created {
    margin-bottom: 0;
    @include desk {
      margin-bottom: $elementSpace;
    }
  }

  .accreditation-details {
    @include safeFlex(column, wrap, justify, start);
    @include desk {
      @include safeFlex(row, wrap, justify, start);
    }
    @include desk {
      margin-bottom: 0;
    }

    .accreditation-text {
      max-width: $textMax;
      @include desk{
        &:not(:only-child){
          max-width: 424px;
        }
      }
    }
    .media-item.image {
      align-self: center;
      margin: 4rem 0;
      @include desk {
        margin: 0;
      }
    }
  }//end accred details
  .licensure-details {
    max-width: $textMax;
  }

  /* PROGRAM TRACKS */
  .field-tracks {
    position: relative;
    z-index: 1;
    max-width: $textMax;
    @include auto;
    .paragraph--type--accordions{
      .widget-title{
        @include widgetTitleAlt;
      }
      .accordion-item > .accordion-header > a {
        border-top-color: $coolGrey;
        border-bottom-color: $coolGrey;
      }
    }
  }

  #node-section-5.outcomes-visible {
    @include edgeToEdge;
    background-color: $ice;
    margin-bottom: 8.75rem;
    padding: $spaceXl 0 1px; // 1px bottom padding essentially a clearfix.
    @include tab {
      padding-top: 8.25rem;
    }
    * {
      position: relative;
      z-index: 1;
    }

    .field-outcomes-image {
      @include auto;
      margin: 0 $siteMarginMobile;
      max-width: $largeTab;
    }
    .field-outcome-text {
      @include safeFlex(row, wrap, start, start);
      margin: 0 $siteMarginMobile;
      max-width: $largeTab;
      @include desk {
        @include auto;
        gap: 5rem;
      }
    }
    .outcomes {
      flex: 1 1 100%;
      @include desk {
        @include auto;
        flex: 1 1 60%;
        margin: 0 $siteMarginMobile;
      }
    }
    .example-careers,
    .recent-grads {
      flex: 1 1 100%;
      margin-top: 5rem;
      @include desk {
        flex: 1 1 30%;
        margin: 0;
      }
    }
    .example-careers {
      order: 3;
      @include desk {
        order: 2;
      }
      h2 {
        font-family: $displayHeader;
      }
    }
    .recent-grads {
      order: 2;
      @include desk {
        order: 3;
        &:nth-child(2){
          .grads .grad{
            flex: 0 0 100%;
          }
        }
      }
      .grads {
        @include safeFlex(row,wrap,justify,start);
        column-gap: $spaceMd;
        row-gap: $spaceSm;
        .grad {
          flex: 0 0 45%;
          box-sizing: border-box;
          line-height: 1.4;
          strong{
            color: $headingText;
            display: inline-block;
            margin-bottom: $spaceXxs;
          }
          @include desk {
            flex: 0 0 28%;
          }
        }
      }//end grads
    }//end recent grads
    &.outcomes-image {
      &:after {
        right: var(--animation-start-wide);
        @include transition-animate(right, 1s, ease-in-out);
        @include desk {
          @include royalSwirl;
          @include animation('none'); // Make sure this doesn't fade in until.
        }
      }
      &.visible:after {
        html.animations-paused & {
          opacity: 1;
        }
        @include animation('fadeInDelay 1s 1');
        right: var(--animation-end-wide);
      }
    }
  } //end #node-section-5
  .block-field-courses-text {
    @include auto;
    margin-bottom: 0;
    max-width: $wideContent;
    @include desk {
      margin-bottom: $elementSpace;
    }
  }
  .block-courses {
    @include auto;
    margin-bottom: 3rem;
    max-width: 985px;
    @include desk {
      margin-bottom: 6rem;
    }
    p {
      max-width: 650px;
    }
  }
  .course-information {
    @include safeFlex(row,wrap,justify,start);
    @include auto;
    max-width: 1098px;
    .courses-header{
      @include styledHeader(true);
      @include auto;
      color: $royal;
      padding-bottom: $spaceMdLg;
      text-align: center;
      @include desk {
        margin-left: 0;
        text-align: left;
        strong {
          margin-left: 0;
        }
      }
    }//end courses header
    .course-text{
      margin: $spaceXs 0 $spaceLg;
      @include tab{
        margin-top: 0;
        padding-left: 20px;
        width: 50%;
      }
    }
  }//end course-information
  .block-field-course-links {
    margin-bottom: $spaceXl;
    @include desk {
      margin-bottom: 9.875rem;
    }
  }
  .field-course-links {
    max-width: $textMax;
    @include auto;
    div {
      min-height: 40px;
      margin-bottom: 2rem;
      @include tab {
        display: flex;
        justify-content: center;
      }
    }
    a {
      @include heading3;
      @include linkArrow(gold, sm);
      color: $headingText;
      line-height: 1.5;
      padding-left: $spaceLg;
    }
  }//end field course links

  .more-info-wrapper{
    @include slateFormContainer;
    margin-bottom: 7.5rem;
    padding-top: $spaceLg;
    @include tab{
      padding: 60px 112px 45px;
    }
    @include desk {
      margin-bottom: 13.875rem;
    }
    .more-info {
      @include safeFlex(row,wrap,start,start);
      @include bleed(padding,60px);
      .slate-left{
        width: 100%;
        @include desk{
          width: 50%;
          padding-top: 35px;
        }
        &.slate-visible{
          h2 strong{
            html.animations-paused & {
              opacity: 1;
            }
            @include animation('breatheFadeIn 1.5s 1 forwards');
          }
        }
        h2{
          @include styledHeader;
          color: $headingTextAlt;
          margin-bottom: $spaceSm;
          text-align: center;
          strong{
            opacity: 0;
            scale: 1;
            position: relative;
            bottom: -2px;
          }
          @include desk {
            text-align: left;
          }
        }//end h2
        p{
          font-size: 14px;
          line-height: 2;
          margin-bottom: 2.5rem;
        }
      }//end slate left

      .slate-right{
        @include slateRight;
      }
    }//end more info
  }//end field request for info
  .block-program-faculty {
    @include desk {
      margin-bottom: 7.5rem;
    }
  }
  .block-field-related-programs {
    @include auto;
    background: $ice;
    max-width: $wideContent;
    padding: 54px $siteMarginMobile ;
    position: relative;
    @include tab {
      padding: 48px 130px 10px;
    }
    h2 {
      font-size: 28px;
      margin-bottom: $spaceXs;
      text-align: center;
      @include desk {
        text-align: left;
      }
    }
    .field-related-programs {
      @include bleed(padding, 20px);
      .related-intro {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 30px;
        max-width: 650px;
        @include tab {
          font-size: 16px;
          line-height: 1.625;
          margin-bottom: 50px;
        }
      }
      .related-items {
        @include safeFlex(row, wrap, start, start);
        margin-top: 5rem;
        @include tab {
          margin: 0 -1.25rem;
        }
      }
      .related-item {
        width: 100%;
        margin-bottom: $spaceMs;
        padding: 0 1.25rem;
        @include tab {
          width: 33%;
          margin-bottom: $spaceMd;
        }
        @include desk {
          width: 25%;
        }
        .academic-program-thumbnail {
          @include auto;
        }
        .content-thumb-title {
          line-height: 1.2;
          margin-top: $spaceXs;
        }
        a {
          @include blockArrow(gold, xs);
          & {
            color: $link;
            font-size: 18px;
            font-weight: $heavy;
          }
          span {
            margin-right: 9px;
          }
        }
      }
    }//end field related programs
  }//end block field related programs
  .field-whats-next {
    h2.next-title {
      @include styledHeader(true);
      color: $royal;
      margin: 1.5rem 0 $spaceLg;
      text-align: center;
      @include tab {
        margin: 2.5rem 0;
      }
    }
  }
}//end academic-program

.academic-program-teaser {
  @include onlySmall{
    min-height: unset !important;
  }
  @include tab{
    height: 100%;
  }
  .program-inner{
    border-top: 1px solid $coolGrey;
    min-height: 130px;
    margin-bottom: 20px;
    background: $ice;
    @include safeFlex(column,nowrap,justify,start);
    @include tab{
      height: 100%;
      min-height: 313px;
    }
    & > *{
      width: 100%;
    }
  }//end program inner
  &.open-program{
    position: relative;
    z-index: 3;
    .program-inner{
      background: $coolGrey;
      @include tab{
        position: absolute;
        top: 0;
        left: 0;
      }
    }//end program inner
    .program-intro,.program-meta{
      @include tab{
        background: $coolGrey;
      }
    }
    .program-types .program-toggle{
      &:hover,&:focus{
        .chevron-down{
          background: color.adjust($coolGrey, $lightness:-3%);
        }
      }
    }//end program toggle
  }//end open program
  .program-intro{
    padding: 20px 20px 1px;
    @include tab{
      background: $ice;
    }
    .program-image{
      margin-bottom: $spaceSm;
      position:relative;
      @include onlySmall{
        display: none;
      }
      .program-banner{
        color:white;
        position:absolute;
        bottom:1rem;
        left:1rem;
        margin-right:1rem;
        background:$royal;
        padding:0 2rem;
        font-size:80%;
        clip-path: polygon(4px 50%, 0% 100%, 100% 100%, calc(100% - 4px) 50%, 100% 0%, 0% 0%);
      }
    }
    .program-title{
      @include heading3;
      line-height: 1.33;
      color: $navy;
      margin-bottom: $spaceXxs;
      a{
        @include linkArrow(navy, sm);
        padding-bottom:0.65rem;
      }
    }
  }//end program intro
  .program-meta{
    padding: 1px 20px 12px;
    @include tab{
      background: $ice;
    }
  }
  .program-types{
    position: relative;
    .program-toggle {
      &.open .chevron-down svg{
        transform: rotate(180deg);
      }
      &:hover,&:focus{
        .chevron-down{
          background: rgba($coolGrey,.3);
        }
      }
      .type-list{
        max-width: calc(100% - 50px);
        font-size: 12px;
        color: $navy;
        text-transform: uppercase;
      }
      .chevron-down {
        position: absolute;
        bottom: -12px;
        right: -20px;
        display: block;
        width: 40px;
        height: 40px;
        @include safeFlex(column,nowrap,center,center);
        svg{
          transition: transform 0.3s ease;
          fill: none;
          width: 10px;
        }
      }//end chevron down
    }//end program toggle
  }//end program types
  .program-body{
    margin-top: $spaceSm;
    font-size: 1.75rem;
    line-height: 2;
    &.hidden {
      display: none;
    }
    .program-intro-text{
      margin-bottom: $spaceSm;
    }
    .program-link{
      display: inline-block;
      @include linkArrow(navy, sm);
      margin-bottom: $spaceMd;
    }//end program link
  }//end program body
} //end academic-program-teaser
