{% extends 'paragraph.html.twig' %}

{% block widgetContent %}
	<div class="background-image">
		{% if paragraph.field_image.0 %}
			{{ drupal_entity('media', paragraph.field_image.0.target_id, '393x221') }}
		{% endif %}
	</div>

	{{ content }}
{% endblock %}
