{#
/**
 * @file
 * Theme override for the node title field.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 */
#}

{% extends 'field.html.twig' %}

{% block fieldSingleNo %}
  <a class="ec-button" href="https://www.careers.wisconsin.edu/psc/careers/EMPLOYEE/UW_TAM/c/HRS_HRAM_FL.HRS_CG_SEARCH_FL.GBL?Page=HRS_CAREERS_FL&Action=U&FOCUS=Applicant&SiteId=3">Apply Now</a>
  <a class="ec-button" href="https://www.wisconsin.edu/ohrwd/benefits/benefits-estimator/">Benefits Estimator</a>

  <div>
    <span>Share this post:</span>
    {{ drupal_block('social_share') }}
  </div>
{% endblock %}

