/* =================
	SITE HEADER
=================== */

@use '../../../00-base/base' as *;

section.alert-wrapper{
  position: relative;
  z-index: 2;
}

.site-header {
	padding: 34px $siteMarginMobile;
	position:relative;
	z-index:4;

	.node-type-announcement &,
	.node-type-contact &,
	.node-type-fact &,
	.node-type-hours &,
	.node-type-snapshot &,
	.node-type-support-book &,
	.node-type-testimonial &,
	.node-type-video-card &,
	.path-taxonomy &,
	.role-anonymous.path-user & {
		background: radial-gradient(50.13% 157.8% at 6.18% 33.85%, #0F2C46 0%, #232C99 100%);
	}
	& > div{
		max-width: $contentStopMargin;
		@include auto;
		position: relative;
		.contextual-region{
			.contextual{
				display: none;
			}
		}
	}//end > div
}//end layout container


// open on mobile (user clicked hamburger)
.site-header.open{
	background:linear-gradient(270deg, #06233D -98.19%, #2B3594 100%);
}
@include menuStop{
	.site-header{
		background:none !important;
	}
}


/* BRANDING BLOCK PLACEMENT
------------------- */
.block-system-branding-block{
	//leave room for search toogle and menu hamburger on mobile
	width: calc(100% - 70px);
	position: relative;
	z-index: 9;
	@include desk{
		width: 171px;
	}
	a{
		img{
			max-width: 129px;
			margin-right: 4px;
			@include desk{
				max-width: 100%;
			}
		}
	}//end a
}//end branding block
