/* =================
	SITE HEADER
=================== */

@use '../../../00-base/base' as *;

.site-header {
	body:not(.hero-full_image):not(.node-type-news):not(.hero-video) &{
		background: $headerBack;
	}
	padding: 29px $siteMarginMobile;
	.dialog-off-canvas-main-canvas &{
		transform-style: unset;
		*{
			transform-style: unset;
		}
	}
	& > div{
		max-width: $contentStop;
		@include auto;
		position: relative;
		@include safeFlex(row,wrap,null,center);
		.contextual-region{
			.contextual{
				display: none;
			}
		}
	}
}//end layout container


/* BRANDING BLOCK PLACEMENT
------------------- */
.block-system-branding-block{
	//leave room for search toogle and menu hamburger on mobile
	width: calc(100% - 70px);
	position: relative;
	z-index: 10;
	@include desk{
		width: 151px;
	}

	a{
		img{
			max-width: 106px;
			margin-right: 4px;
			@include desk{
				max-width: 100%;
			}
		}
	}
}//end branding block


/* SEARCH BLOCK PLACEMENT
------------------- */
.block-citizen-google-search-block{
	display: none;
	position: absolute !important;
	top: -5px;
	right: 1rem;
	z-index: 2;
	@media screen and (min-width: 1201px){
		display: block;
	}
	.contextual{
		display: none !important;
	}
}//end search block

/* SECONDARY MENU BLOCK
--------------------- */
.block-secondary-menu{
	@media screen and (min-width: 1201px){
		position: absolute !important;
		right: 60px;
		top: 0;
		z-index: 1;
		width: calc(100% - 300px);
	}//end desk
}

/* MAIN NAVIGATION BLOCK
------------------------ */
.block-superfishmain{
	@media screen and (max-width: 1200px){
		&.contextual-region{
			position: static !important;
		}
		#superfish-main-toggle{
			position: absolute;
			height: 40px;
			width: 40px;
			top: 0;
			right: 0;
			z-index: 9;
		}
	}
	//desktop position
	@media screen and (min-width: 1201px){
		position: absolute !important;
		right: 0;
		bottom: -30px;
		z-index: 1;
		width: 100%;
		padding-left: 0;
		padding-right: 40px;
		margin-top: 30px;
	}//end desk
}//end main nav

