/* =================
	SITE HEADER
=================== */

@use '../../../00-base/base' as *;

section.alert-wrapper{
  position: relative;
  z-index: 2;
}

.site-header {
	body:not(.hero-full_image):not(.node-type-news):not(.hero-video):not(.node-type-bios) &{
		background: $headerBack;
	}
	body.node-type-bios & {
		background: $navy;
	}
	padding: 29px $siteMarginMobile;
	.dialog-off-canvas-main-canvas &{
		transform-style: unset;
		*{
			transform-style: unset;
		}
	}
	& > div{
		max-width: $contentStopMargin;
		@include auto;
		position: relative;
		@include safeFlex(row,wrap,justify,center);
    @include menuStop{
      padding-bottom: 10px;
    }
		.contextual-region{
			.contextual{
				display: none;
			}
		}
	}//end > div
}//end layout container


/* BRANDING BLOCK PLACEMENT
------------------- */
.block-system-branding-block{
	//leave room for search toogle and menu hamburger on mobile
	width: calc(100% - 70px);
	position: relative;
	z-index: 10;
	@include desk{
		width: 151px;
	}
  @include menuStop{
    bottom: -21px;
  }
	a{
		img{
			max-width: 106px;
			margin-right: 4px;
			@include desk{
				max-width: 100%;
			}
		}
	}//end a
}//end branding block


/* SEARCH BLOCK PLACEMENT
------------------- */
.block-citizen-google-search-block{
	display: none;
	position: absolute !important;
	top: -5px;
	right: 1rem;
	z-index: 2;
	@include menuStop{
		display: block;
	}
	.contextual{
		display: none !important;
	}
}//end search block

/* SECONDARY MENU BLOCK
--------------------- */
.block-secondary-menu{
	@include menuStop{
		position: absolute !important;
		right: 60px;
		top: 0;
		z-index: 1;
		width: calc(100% - 300px);
	}//end desk
}

/* MAIN NAVIGATION BLOCK
------------------------ */
.block-superfishmain{
  &.contextual-region{
    position: static; 
  }
  #superfish-main-toggle{
    position: absolute;
    height: 40px;
    width: 40px;
    top: -8px;
    right: 0;
    z-index: 9;
  }
	//desktop position
	@include menuStop{
    position: absolute !important;
		right: 0;
    top: auto;
		bottom: -20px;
		z-index: 1;
		width: 100%;
		padding-left: 0;
		padding-right: 40px;
	}//end desk
}//end main nav

