/* ==============
   COOKIE POPUP!
===============*/
@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/_button-mixins.scss' as *;

#sliding-popup.sliding-popup-bottom {
  background-color: $royal;
  color: $white;
  padding: $spaceSm 0;
  width: 100%;
  border-top: 2px solid $white;

  .popup-content{
    max-width:900px;
    padding:2rem;
    box-sizing:border-box;
  }

  h2 {
    color: $white;
    font-size: 2rem;
  }

  .eu-cookie-compliance-message {
    box-sizing: border-box;
    padding-right: $spaceMd;
    p, button {
      display: inline;
      color: $white;
      font-size: 14px;
    }
    button {
      @include buttonWipe;
      @include lineLink;
      padding: 0;
      &:hover {
        background: none;
      }
    }
  }
  .eu-cookie-compliance-buttons button {
    @include button;
    margin-bottom:1rem;
  }
}
