/* =================
   PAGE STRUCTURED SECTION
=================== */
@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;
@use 'sass:color';

.block-structured-section .structured-inner{
  padding-top: $elementSpace;
  @include edgeToEdge;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: radial-gradient(50.13% 157.8% at 6.18% 33.85%, #0F2C46 0%, #232C99 100%);
  &.has-wayfinding {
    overflow: visible;
    .river-background {
      @media screen and (max-width: 699px) {
        top: 400px;
      }
      @media screen and (min-width: 700px) {
        top: -40px;
        left: calc(100vw - 900px);
      }
      @include tab {
        left: calc(100vw - 1100px);
      }
      @include desk {

      }
      @include menuStop {
        top: -46px;
        left: -60px;
      }
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }

  .river-background {
    position: absolute;
    top: -216px;
    left: calc(100vw - 730px);
    width: 1115px;
    mix-blend-mode: overlay;
    transform: rotate(5deg);
    @media screen and (min-width: 700px) {
      top: -216px;
      width: 1260px;
      left: calc(100vw - 830px);
    }
    @include tab {
      @include fadeOutEdges;
      width: 1515px;
      left: calc(100vw - 1050px);
    }
    @include menuStop {
      top: -346px;
      left: -60px;
      width: calc(100% + 120px);
      transform: rotate(-5deg);
    }
    @include ultraWidescreen {
      width: 2372px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .paragraph--type--wayfinding {
    margin: -$elementSpace auto $elementSpace;
    position: relative;
    top: -$elementSpace;
    max-width: calc(100vw - 48px);
    @include smallTab {
      max-width: 440px;
    }
    @include desk {
      max-width: calc(100vw - 48px);
    }
    &.wf-single.wf-no-background,&.wf-single.wf-has-background,&.wf-box.wf-has-background {
      .wayfinding.single,.wayfinding.box {
        padding-top: 2.5rem !important;
        background: $ice !important;
        padding-bottom: 2.5rem !important;
      }
    }

    .wayfinding {
      max-width: 1094px;
      @include desk {
        @include safeFlex(row, no-wrap, justify, start);
      }
      &.single,&.box {
        margin-bottom: 0;
        margin-top: 0;
        padding: $siteMarginMobile;
        &:after {
          content: none !important;
        }
        @include desk {
          padding: $spaceSm 20px;
        }
      }

      .wf-image {
        margin: 0 auto;
        max-width: 440px;
        order: 2;
        width: 100%;
        @include desk {
          margin: 0;
          max-width: 440px;
        }
        .field-media-image img {
          @include desk {
            max-width: 100%;
            max-height: 100%;
          }
        }

        .gold-stripes-narrow {
          display: none;
        }
      }
      .wayfinding-info {
        @include auto;
        max-width: 610px;
        order: 1;
        padding: $siteMarginMobile 0;
        @include desk {
          margin: 0;
          max-width: 560px;
          padding: $spaceLg 60px $spaceLg $spaceXl;
        }
      }
    }
  }

  .field-leadin {
    color: $white;
    line-height: 1.45;
    font-family: $header;
    font-size: 3rem;
    font-weight: $heavy;
    margin-bottom: $spaceMd;
    max-width: 70%;
    padding: 0 $siteMarginMobile;
    text-align: left;
    @include desk {
      font-size: 3.75rem;
      max-width: $wideContent;
      @include auto;
      padding-right: 32%;
    }
  }

  .field-button {
    padding: 0 $siteMarginMobile;
    @include desk {
      max-width: $wideContent;
      @include auto;
      padding-right: 32%;
    }
    a {
      @include button;
      @include onlyMobile {
        margin-bottom: $spaceXl;
      }
    }
  }

  .field-bg-image {
    display: none;
  }
  .cta-section {
    position: relative;
    color: $white;
    padding-bottom: 40px;
    @include desk {
      padding-bottom: 80px;
    }
  
    .cta-section-inner {
      @include safeFlex(column,wrap,start,start);
      @include desk {
        @include auto;
        display: grid;
        gap: 7%;
        grid-template-columns: 57% 36%;
        margin-top: $spaceLg;
        max-width: $wideContent;
      }
      .column {
        width: 100%;
      }
      .first,.last {
        padding: 0 $siteMarginMobile;
      }
      .first {
        order: 1;
        @include desk {
          grid-row-start: span 2;
          margin: 57px 0 0;
        }
      }
      .cta-image {
        order: 0;
        width: 100%;
        position: relative;
        max-width: 320px;
        padding: 0 $siteMarginMobile;
        &.visible {
          &:before {
            right: -12px;
            transition: right .75s ease-out;
            @include desk {
              right: -33px;
            }
          }
          .field-cta-image .media-item {
            visibility: visible;
          }
        }
        @include desk {
          order: 2;
          max-width: 100%;
          width: 320px;
          padding: 0;
        }
        @include menuStop{
          width: 426px;
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: -40px;
          right: -100vw;
          z-index: 1;
          width: 67px;
          height: 257px;
          background-image: url(../images/elements/gold-slight-wave-thin.svg);
          background-repeat: no-repeat;
          background-size: contain;
          @include desk {
            top: 90px;
          }
          @include menuStop {
            top: 97px;
            width: 89px;
            height: 367px;
          }
        }
      }
      .last {
        order: 3;
        overflow: hidden;
        @include desk {
          margin: -5rem 0 0;
        }
        @include menuStop{
          width: 426px;
          margin: 0;
        }
      }
      .field-formatted-headline {
        h2 {
          @include heading1;
          color: $gold;
          p {
            margin-bottom: $spaceSm;
          }
          @include desk {
            text-align: left;
            max-width: 472px;
          }
          @include contentStop {
            font-size: 10.625rem;
          }
        }
      }
      .body {
        color: $white;
        font-size: 14px;
        line-height: 1.57;
        margin-bottom: $spaceMd;
        max-width: 610px;
        @include desk {
          line-height: 1.625;
          font-size: 2rem;
          margin: 0 0 $spaceMd 0;
          max-width: 546px;
        }
        @include menuStop {
          margin-bottom: $spaceXl;
        }
      }
      .field-cta-image {
        margin-bottom: $spaceSm;
        @include desk {
          margin-bottom: 0;
        }
        .media-item {
          visibility: hidden;
          left: 0;
          position: relative;
          transition: visibility .75s ease-out;
        }
      }
      .field-cta-links {
        margin-top: $spaceMd;
        @include desk {
          margin-top: $spaceXxs;
        }
        a {
          @include linkArrow(gold, lg);
          margin-bottom: 2.5rem;
          min-height: 5rem;
        }
      }//end first last
    }//end CTA section inner
  }//end CTA section
  .home-program-search{ 
    padding-top: $spaceMd;
    border-top: 1px solid $white;
    @include desk {
      max-width: 539px;
    }
    h3 {
      color: $white;
      font-size: 2.75rem;
      margin-bottom: $spaceSm;
    }
    .block-program-search form{
      position: relative;
      max-width: 520px;
      @include desk {
        max-width: 330px;
      }
      * {
        transform-style: unset;
      }
      input[type="text"] {
        background: $white;
        border: 0;
        border-radius: 4px;
        font-size: 2.25rem;
        font-family: $bodyText;
        font-weight: $regular;
        color: $royal;
        min-height: 59px;
        padding: 17px 50px 17px 20px;
      }
      #edit-program-search-submit {
        @include browserWipe;
        background: url(../images/elements/home-program-search.svg) center / 24px no-repeat transparent;
        border: 1px solid transparent;
        height: 40px;
        overflow: hidden;
        position: absolute;
        right: 5px;
        text-indent: -9000px;
        top: calc(50% - 20px);
        width: 40px;
        &:hover,&:focus{
          opacity: .6;
          border-bottom: 1px solid $royal;
        }
      }
    }
  }
}//end block page-structured-section
