/* ============
   JOBS
================ */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;

.node-job{
	.main-node-content {
    position: relative;
  }
  .node-intro-simple{
    @include headerInvasion;
    @include heroSimpleBackground;
  }//end intro simple
  .node-section{
    position: relative;
    z-index: 1;
    max-width: 1116px;
    @include auto;
    &:not(#node-section-1){
      padding-left: $siteMarginMobile;
      padding-right: $siteMarginMobile;
      background: $siteBack;
    }
  }
  #node-section-1{
    @include onlyMobile{
      display: none;
    }
    .block-system-breadcrumb-block{
      margin-bottom: 2rem;
    }
  }//end node section one
  #node-section-2,#node-section-3{
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 200px);
      background: $siteBack;
      z-index: -1;
    }
  }
  .block-field.block-title{
    padding-top: 75px;
    max-width: 867px;
    @include auto;
    h1{
      padding-bottom: $spaceXs;
      @include contentStop {
        font-size: 9.375;
      }
    }
  }
  #node-section-3{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: $elementSpace;
    .info-wrapper{
      @include contactHolder;
      h2{
        @include contactTitle;
        margin-bottom: 3.5rem;
        @include desk{
          font-size: 25px;
        }
      }
    }//end info wrapper
    .block-field{
      margin-bottom: 1.5rem;
      color: $navy;
      font-size: 1.75rem;
      line-height: 1.42;
    }
    .field-campus{
      div{
        display: inline;
      }
    }
    .disclaimer{
      font-size: 1.5rem;
      line-height: 1.33;
      margin-top: .5rem;
    }
  }//end node section 3
  // buttons and sharing
  .field.nid{
    @include safeFlex(row,wrap,center,center);
    .ec-button{
      margin-left: 16px;
      margin-right: 16px;
      @include largeTab{
        margin-bottom: 0;
      }
    }
  }//end field nid
  .block-field.block-body{
    @include textContent;
  }
}//end jobs node