/* ===============
   HIGHLIGHT BOX WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--highlight-box{
  background-color: $ice;
  padding: 20px;
  position: relative;
  max-width: 874px;
  @include auto;
  
  .widget-wrapper {
    padding: 24px 20px 40px;
    border: 4px solid $gold;
    .widget-section > .layout--onecol &,
      .widget-section > .layout--twocol-section--67-33 > .layout__region--first &,
      .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
      .widget-section > .layout--twocol-section--33-67 > .layout__region--second &,
      .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
      .node-support-book &{
        @include desk{
          padding: 50px 72px;
        }
    }//end layout checks

    .field-headline {
      @include heading2;

      & {
        margin-bottom: $spaceMd;
      }
    }

    .field-additional-text {
      color: $royal;
      font-family: $displayHeader;
      font-style: italic;
      font-size: 3rem;
      line-height: 1.45;
      @include desk {
        font-size: 3.75rem;
        line-height: 1.43;
      }
    }
    .field-link {
      margin-top: 40px;
      text-align: center;
      a {
        @include linkArrow(goldRoyal, lg);
        min-height: 32px;
      }//end a
    }//end field link
  }//end widget wrapper
}//end highlight-box widget
