/* ===============
   HIGHLIGHT BOX WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--highlight-box{
   background-color: $lightGrey;
   border: 6px solid $oldGold;
   padding: $spaceLg 0;
   .widget-wrapper {
      max-width: $textMax;
      @include auto;
      .field-headline {
         color: $navy;
      }
      .field-additional-text {
         color: $navy;
      }
      .field-link {
         a {
            color: $navy;
         }
      }
   }
}//end highlight-box widget
