/* ===============
   HIGHLIGHT BOX WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--highlight-box{
  background-color: $lightGrey;
  border: 6px solid $oldGold;
  padding: 44px 20px 60px 72px;
  position: relative;
  max-width: 874px;
  @include auto;
  .widget-section > .layout--onecol &,
  .widget-section > .layout--twocol-section--67-33 > .layout__region--first &,
  .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
  .widget-section > .layout--twocol-section--33-67 > .layout__region--second &,
  .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
  .node-support-book &{
    @include desk{
      padding: 70px 92px 70px 112px;
    }
  }//end layout checks
  .navy-stripes{
    position: absolute;
    top: -34px;
    left: -6px;
    z-index: 1;
    width: 53px;
    height: 207px;
  }
  .widget-wrapper {
    .field-additional-text {
      color: $navy;
      font-family: $displayHeader;
      font-size: 3.25rem;
      line-height: 1.23;
    }
    .field-link {
      margin-top: 40px;
      text-align: center;
      a {
        @include linkArrow(navy);
        display: inline-block;
      }//end a
    }//end field link
  }//end widget wrapper
}//end highlight-box widget
