/* =============
	 SECONDARY MENUS
------------------- */
@use '../../../00-base/base' as *;

.block-secondary-menu{
	@include onlySmall{
		display: none;
	}
	ul:not(.contextual-links){
		@include listReset;
		@include desk{
			@include safeFlex(row,wrap,end,start);
			@include bleed(padding,16px);
		}
		li{
			margin: 0 $spaceXs;
			padding-bottom: 0;
			a{
				display: block;
				color: $secondMenuLink;
				font-family: $bodyText;
				font-size: 1.5rem;
				text-transform: uppercase;
				letter-spacing: 1px;
				&:hover,&:focus{
					color: $secondMenuLinkHover;
					@include transAll(.3s);
				}
			}
		}//end li
	}//end ul
}//end secondary-menu

//mobile secondary menu
ul.sf-menu.sf-accordion{
	.mobile-secondary-container{
		ul.mobile-secondary{
			position: static;
			width: 100%;
			li{
				a{
					color: $sfMobileChild;
					padding: 1rem 4rem; 
					&.is-active{
						color: $sfMobileChildActive;
					}
				}
			}
		}//end mobile secondary
	}//end secondary container
}//end ul.sf-menu

