/* ==================
    global views settings
==================== */

/* VIEWS INDEX
------------------- */
@forward 'programs/programs-views';
@forward 'program-search/program-search';
@forward 'profiles/profiles-views';
@forward 'stories/stories-views';
@forward 'snapshots/snapshots-views';
@forward 'video-card/video-card-views';
@forward 'facts/facts-views';
@forward 'departments/department-views';

@use '../../00-base/base' as *;

.view-header{
	.results-tally{
		display: none;
		@include heading2;
		font-size: 20px;
		line-height: 32px;
    max-width: 894px;
		margin: -30px auto 60px;
    @include desk{
      margin: -40px auto 80px;
    }
		.search-terms{
			display: inline;
			.search-term{
				&:not(:last-child){
					&:after{
						content: ', ';
					}
				}
			}
		}//end search terms
	}//end results tally
}//end view header

.view-content{
	@include safeFlex(row,wrap,start,start);
	& > *{
		width: 100%;
	}
}//end view content

.view-empty{
	margin-bottom: $spaceXl;
	max-width: $largeTab;
	@include auto;
	text-align: center;
}
