/* ==================
    global views settings
==================== */

@use '../../00-base/base' as *;

@mixin viewsImage{
	margin-bottom: $spaceSm;
}
@mixin viewsTitle{
	@include heading4;
	margin-bottom: $spaceXxs;
}
@mixin viewsMeta{
	@include metaText;
	margin-bottom: $spaceSm;
}