/* ==================
    PROGRAM SEARCH VIEWS
==================== */

@use '../../../00-base/base' as *;
@use '../views-mixins' as *;

.view.program-search {
  @include paragraphSnug;
  max-width: $contentStopMargin;
  @include auto;
	.views-exposed-form{
    @include exposedForm;
    @include edgeToEdge;
    @include tab{
      @include auto;
    }
    .keyword-wrapper{
      width: 100%;
      .form-item-programs-fulltext{
        width: 100%;
        max-width: 100%;
      }
    }//end keyword wrapper
		.advanced-form{
      width: 100%;
      @include tab{
        @include safeFlex(row,wrap,justify,start);
      }
      .filter-toggle{
        padding-left: 26px;
        padding-right: 20px;
        @include onlySmall{
          @include safeFlex(row,nowrap,justify,center);
          font-size: 14px;
          font-family: $header;
          font-weight: $xHeavy;
          letter-spacing: .05em;
          color: $navy;
          height: 66px;
          margin-bottom: $spaceXxs;
        }
        @include tab{
          order: 2;
          max-width: 50%;
          span{
            @include dottedLink($brightBlue);
          }
        }
        &:hover,&:focus{
          span{
            @include dottedLink($brightBlue);
            @include tab{
              background: none;
            }
          }
        }
        &.active-drawer{
          svg#filter-caret{
            @include rotate(180);
            transition: transform .3s ease-out;
          }
        }
        svg#filter-icon{
          position: relative;
          top: 2px;
          margin-right: 14px;
          @include tab{
            display: none;
          }
        }
        svg#filter-caret{
          fill: none;
          @include tab{
            display: none;
          }
        }
      }
      .advanced-form-inner{
        width: 100%;
        display: none;
        @include tab{
          order: 1;
        } 
        .advanced-form-inner-filters{
          @include safeFlex(row,wrap,start,center);
          border-top: 1px solid $borderRule;
          border-bottom: 1px solid $borderRule;
          margin-bottom: $spaceMd;
          padding-top: $spaceMd;
          padding-bottom: $spaceMd;
          margin-top: $spaceMd;
          @include tab{
            gap: 20px;
          }
          .form-item{
            @include tab{
              max-width: calc(50% - 10px);
              &.form-item-delivery-mode,&.form-item-college-filter,&.form-item-campus{
                max-width: calc(33.33% - 14px);
              }
            }
          }
        }//end advanced form inner filters
      }//end advanced form
      .form-actions{
        order: 3;
        @include tab{
          width: 50%;
          justify-content: flex-end;
        }
      }
    }//end advanced form
	}//end views exposed form
	.view-content{
	  @include tab{
  		@include threeColumnStartStretch;
  	}// end programs-wrapper
    @include desk{
      & > *{
        width: calc(25% - 15px);
      }
    }
  }//end view content
}//end programs-list widget