/* ========================
  USER DASHBOARD
========================== */

@use '../../00-base/base' as *;
@use '../nodes/node-mixins' as *;

.dashboard-wrapper {
  @include headerInvasion;
  position: relative;
}
.page-intro-simple {
  @include heroSimpleBackground;
}
.user-dashboard{
	max-width: 945px;
	@include auto;
  background: $white;
  padding: 75px $siteMarginMobile 60px;
  @include desk {
    padding-left: 80px;
    padding-right: 80px;
  }
	.field-user-image{
		border-radius: 50%;
		overflow: hidden;
		@include onlyMobile{
			max-width: 225px;
		}
	}
	.block-name{
		margin-bottom: $spaceXxs;
		h1{
			margin-bottom: $spaceLg;
		}
	}
  .user-meta-wrapper{
    background: $ice;
    padding: 30px 20px;
    font-size: 1.75rem;
    line-height: 1.42;
    margin-bottom: $spaceLg;
    @include tab{
      @include safeFlex(row,nowrap,start,start);
      gap: 20px;
      & > *{
        width: calc(50% - 10px);
      }
    }
    .username,.user-info{
      margin-bottom: $spaceXxs;
    }
    .user-roles > span{
      &:not(:first-child):not(:last-child){
        position: relative;
        &:after{
          @include vertRule(right,70%,$baseText);
        }
      }
    }
  }//end user meta
	.domains-access{
		ul{
			@include listReset;
			@include safeFlex(row,wrap,start,center);
			@include bleed(padding,24px);
			@include desk{
				@include safeFlex(row,wrap,start,center);
			}
			li{
				a{
					display: block;
					border: 1px solid transparent;
					&:hover,&:focus{
						opacity: .6;
						border: 1px solid $coolGrey;
					}
					img{
						display: block;
						width: 100%;
						max-width: 100px;
						max-height: 50px;
						&.uwec-logo{
							padding: 10px;
							background: $royal;
						}
					}
				}
			}//end li
		}//end ul
	}//domains
	.user-actions{
		margin-bottom: $elementSpace;
		@include safeFlex(row,wrap,start,start);
		@include bleed(padding,32px);
		div{
			display: inline-block;
			&:not(:last-child){
				position: relative;
				&:after{
					@include vertRule(right,80%,$borderRule);
				}
			}
      a{
        &:hover,&:focus{
          background-image: none;
        }
      }
		}//end div
	}//end user actions
  .block-uid{
    margin-bottom: 0;
    .action-buttons{
      a{
        margin-right: 1rem;
      }
    }//end action buttons
  }//end uuid (action buttons
}//end user dashboard
