/* ========================
  USER DASHBOARD
========================== */

@use '../../00-base/base' as *;

.user-dashboard{
	max-width: 945px;
	@include auto;
  margin-bottom: -15rem;
	.field-user-image{
		border-radius: 50%;
		overflow: hidden;
		@include onlyMobile{
			max-width: 225px;
		}
	}
	.block-name{
		margin-bottom: $spaceXxs;
		h1{
			margin-bottom: $spaceLg;
      color: $brightBlue;
		}
	}
  .user-meta-wrapper{
    background: $ice;
    padding: 30px 20px;
    color: $brightBlue;
    font-size: 1.75rem;
    line-height: 1.42;
    margin-bottom: $spaceLg;
    @include tab{
      @include safeFlex(row,nowrap,start,start);
      gap: 20px;
      & > *{
        width: calc(50% - 10px);
      }
    }
    .username,.user-info{
      margin-bottom: $spaceXxs;
    }
    .user-roles > span{
      &:not(:first-child):not(:last-child){
        position: relative;
        &:after{
          @include vertRule(right,70%,$baseText);
        }
      }
    }
  }//end user meta
	.domains-access{
		ul{
			@include listReset;
			@include safeFlex(row,wrap,start,center);
			@include bleed(padding,24px);
			@include desk{
				@include safeFlex(row,wrap,start,center);
			}
			li{
				a{
					display: block;
					border: 1px solid transparent;
					&:hover,&:focus{
						opacity: .6;
						border: 1px solid $warmGrey;
					}
					img{
						display: block;
						width: 100%;
						max-width: 100px;
						max-height: 50px;
						&.uwec-logo{
							padding: 10px;
							background: $brightBlue;
						}
					}
				}
			}//end li
		}//end ul
	}//domains
	.user-actions{
		margin-bottom: $elementSpace;
		@include safeFlex(row,wrap,start,start);
		@include bleed(padding,32px);
		div{
			display: inline-block;
			&:not(:last-child){
				position: relative;
				&:after{
					@include vertRule(right,80%,$borderRule);
				}
			}
      a{
        @include dottedLink($brightBlue);
        &:hover,&:focus{
          background-image: none;
          color: $navy;
        }
      }
		}//end div
	}//end user actions
  .block-uid{
    margin-bottom: 0;
    .action-buttons{
      a{
        margin-right: 1rem;
      }
    }
  }
}//end user dashboard
