/* =================
   FORMATTED PROMO
=================== */
@use '../../../00-base/base' as *;

.block-formatted-promo{
  @include auto;
  max-width: 650px;
  padding: 0 $siteMarginMobile;
  .field-formatted-headline {
    @include styledHeader(true);
    margin-bottom: $spaceSm;
    @include desk {
      text-align: left;
    }
  }
  .body {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }
  .field-link {
    margin-top: $spaceSm;
    a {
      @include linkArrow($navy, lg);
    }
  }
}//end block formatted-promo
