/* =================
   FORMATTED PROMO
=================== */
@use '../../../00-base/base' as *;

.block-formatted-promo{
  @include auto;
  margin-bottom: $spaceLg;
  max-width: 650px;
  @include desk {
    margin-bottom: $spaceXl;
    padding: 0;
  }
  &.visible .field-formatted-headline strong {
    opacity: 1;
    @include animation('breatheFadeIn 1.5s 1 forwards');
  }
  .field-formatted-headline {
    @include heading1;
    color: $royal;
    margin-bottom: $spaceSm;
  }
  .body {
    font-size: 1.75rem;
    line-height: 1.57;
  }
  .field-link {
    margin-top: $spaceMd;
    @include desk {
      margin-top: $spaceLg;
    }
    a {
      @include linkArrow(goldRoyal, lg);
    }
  }
}//end block formatted-promo
