/* =================
   FORMATTED PROMO
=================== */
@use '../../../00-base/base' as *;

.block-formatted-promo{
  @include auto;
  margin-bottom: $spaceSm;
  max-width: 650px;
  padding: 0 $siteMarginMobile;
  @include desk {
    padding: 0;
  }
  &.visible .field-formatted-headline strong {
      @include animation('breatheFadeIn 1.5s 1 forwards');
  }
  .field-formatted-headline {
    @include styledHeader(true);
    margin-bottom: $spaceSm;
    @include desk {
      text-align: left;
    }
  }
  .body {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }
  .field-link {
    margin-top: $spaceMd;
    @include desk {
      margin-top: $spaceLg;
    }
    a {
      @include linkArrow($navy, lg);
    }
  }
}//end block formatted-promo
