/* ===============
   PROFILES LIST WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--profiles-list{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 912px;
  @include auto;
  .field-widget-title{
    text-align: left;
    text-transform: none;
    font-size: 3rem;
    line-height: 1.33;
    margin-left: 0;
  }
}//end profiles-list widget
