/* ============
PAGERS
================= */
@use '../../00-base/base' as *;

%pagerItemStyle{
	@include safeFlex(column,nowrap,center,center);
	height: 36px;
  width: 30px;
	padding: 0px 4px;
	text-align: center;
	color: $pagerNumber;
	background-color: $pagerNumberBack;
  font-size: 1.75rem;
	&:hover,&:focus{
		color: $pagerNumberHover;
		background-color: $pagerNumberBackHover;
		text-decoration: none;
		@include transAll(.3s);
	}
}

@mixin prevLink{
	background-image: url(../images/arrows/pager-left.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	&:hover,&:focus{
		background-image: url(../images/arrows/pager-left-navy.svg);
		@include transition(background-image, 0.3s, ease);
    background-color: transparent;
	}
}
@mixin nextLink{
	background-image: url(../images/arrows/pager-right.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	&:hover,&:focus{
		background-image: url(../images/arrows/pager-right-navy.svg);
		@include transition(background-image, 0.3s, ease);
    background-color: transparent;
	}
}

/* GLOBAL PAGER STYLING
-------------------- */
.js-pager__items{
	@include listReset;
	text-align: center;
	margin-bottom: $spaceSm;
	@include safeFlex(row,wrap,start,start);
	li{
		*{
			display: block;
		}
		&:not(:first-child):not(:last-child){
			margin: 0 .5rem;
		}
	}
}

/* FULL PAGER
---------------- */
.pager{
	@include safeFlex(row,wrap,center,center);
	.view-content + &{
		margin-top: $spaceXl;
	}
	.pager__items{
		padding: 10px 47px;
		margin-bottom: 0;
		background: $lightGrey;
    border-radius: 50px;
	}
	.pager__item{
		a{
			@extend %pagerItemStyle;
		}
		&.is-active{
			a{
				color: $pagerNumberActive;
				background: $pagerNumberActiveBack;
				&:hover,&:focus{
					color: $pagerNumberActiveHover;
					background: $pagerNumberActiveBackHover;
				}
			}
		}
		&.pager__item--ellipsis{
			display: none;
		}
		&.pager__item--previous{
			margin-right: 2rem;
			& > a{
				@include prevLink;
			}
		}
		&.pager__item--next{
			margin-left: 2rem;
			& > a{
				@include nextLink;
			}
		}
	}//end page number items

	.disabled{
		@include visuallyHidden;
	}
}//end full pager


/* MINI PAGER
---------------- */
nav:not(.pager){
	.js-pager__items{
		li{
			color: $baseText;
			margin: 0 1rem;
		}
		//pager controls
		li a{
			@extend %pagerItemStyle;
			span{
				position: relative;
				top: -1px;
			}
		}
	}//end js-pager-items
	.pager__item{
		&.pager__item--previous{
			& > a{
				@include prevLink;
			}
		}
		&.pager__item--next{
			& > a{
				@include nextLink;
			}
		}
	}
}//end mini pager
