/* ============
PAGERS
================= */
@use '../../00-base/base' as *;

%pagerItemStyle{
	@include safeFlex(column,nowrap,center,center);
	background-color: $pagerNumberBack;
  border-radius: 50%;
	color: $pagerNumber;
  font-size: 16px;
  font-weight: $heavy;
	height: 40px;
	text-align: center;
  width: 40px;

	&:hover,&:focus{
		color: $pagerNumberHover;
		background-color: $pagerNumberBackHover;
		text-decoration: underline;
		@include transAll(.3s);
	}
}

@mixin prevLink{
	@include transform(rotate(180deg));
}
@mixin nextLink{
}

%firstLast{
  color: $pagerLink;
  line-height: 1;
  height: 30px;
  @include safeFlex(column,nowrap,center,center);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: $header;
  font-size: 20px;
  position: relative;
  width: auto;
  @include onlySmall{
    display: none;
  }
  &:hover,&:focus{
    text-decoration: underline;
    color: $pagerLinkHover;
  }
  svg{
    display: none;
    // height: 12px;
    // position: absolute;
    // top: calc(50% - 7px);
    // path,g{
    //   fill: none;
    //   stroke: $baseText;
    // }
  }
}

/* GLOBAL PAGER STYLING
-------------------- */
.js-pager__items{
	@include listReset;
	text-align: center;
	margin-bottom: $spaceSm;
	@include safeFlex(row,wrap,start,start);
  gap: $spaceMxxs;
	li{
		* {
			display: block;
		}
	}
}

/* FULL PAGER
---------------- */
.pager{
	@include safeFlex(row,wrap,center,center);
	.view-content + &{
		margin-top: $spaceXl;
	}
	.pager__items{
		padding: 10px $spaceMs;
		margin-bottom: 0;
	}
	.pager__item{
		a{
			@extend %pagerItemStyle;
		}
		&.is-active{
			a{
				color: $pagerNumberActive;
				background: $pagerNumberActiveBack;
				&:hover,&:focus{
					color: $pagerNumberActiveHover;
					background: $pagerNumberActiveBackHover;
				}
			}
		}
		&.pager__item--ellipsis{
			display: none;
		}
    &.pager__item--previous,
    &.pager__item--next {
      & > a {
        background: url(../images/arrows/right-arrow-royal-sm.svg) 50% 50% / 50% no-repeat scroll $pagerLinkBack;
        &:hover {
          background-color: $pagerLinkBackHover;
        }
      }
    }
		&.pager__item--previous > a {
      @include prevLink;
		}
		&.pager__item--next > a {
      @include nextLink;
		}
    &.pager__item--first{
			margin-right: 2.5rem;
			& > a{
				@extend %firstLast;
			}
		}
		&.pager__item--last{
			margin-left: 2.5rem;
			& > a{
        @extend %firstLast;
			}
		}
	}//end page number items

	.disabled{
		@include visuallyHidden;
	}
}//end full pager


/* MINI PAGER
---------------- */
nav:not(.pager){
	.js-pager__items{
		li{
			color: $baseText;
			margin: 0 1rem;
		}
		//pager controls
		li a{
			@extend %pagerItemStyle;
			span{
				position: relative;
				top: -1px;
			}
		}
	}//end js-pager-items
	.pager__item{
		&.pager__item--previous{
			& > a{
				@include prevLink;
			}
		}
		&.pager__item--next{
			& > a{
				@include nextLink;
			}
		}
	}
}//end mini pager
