@use '../../../00-base/base' as *;

.paragraph--type--stats-bar{
	position:relative;
	padding:8rem 0;

	h2,h3,p{
		color:white;
	}
	h2{
		padding:2rem;
		font-size:200%;
	}
	h3{
		font-size:180%;
	}

	&>.widget-wrapper{
		border-left:3px solid gold;
		padding-left:2rem;
	}

	.field-stats-bar-items{
		display:flex;
		flex-direction:column;

		@include tab{
			flex-direction:row;
		}

		// each individual stat:
		&>div{
			flex:1;
			padding:2rem;
		}
	}

	.paragraph--type--stats-bar-item{
		margin:0 !important;
	}

	.background-image{
		position:absolute;
		top:0;
		width:100vw;
		height:100%;
		z-index:-1;
		overflow:hidden;
		left:50%;
		right:50%;
		margin-left:-50vw;
		margin-right:-50vw;

		img{
			object-fit:cover;
		}

		&:after{
			content:"";
			width:100%;
			height:100%;
			top:0;
			left:0;
			position:absolute;
			background:rgb(6,35,61);
			background:linear-gradient(90deg, rgba(6,35,61,1) 0%, rgba(6,35,61,0.8) 50%, rgba(6,35,61,0.8) 100%);
		}
	}

	// vertically center the image
	.background-image{
		display:flex;
		align-items:center;
		>article{
			width:100vw;
		}
		.image,img{
			height:100%;
		}
	}
}