/* =================
   START YOUR BLUGOLD JOURNEY
=================== */
@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins.scss' as *;

.block-start-your-journey {
  @include auto;
  max-width: $menuStop;
  padding: $spaceXl $siteMarginMobile;
  text-align: center;
  @include tab {
	  @include safeFlex(row,wrap,justify,center);
  }
  @include desk {
    padding: $spaceMd $siteMarginDesk;
  }

  h2 {
    font-family: $displayHeader;
    font-size: 26px;
    margin-bottom: $spaceMs;
    @include desk {
      margin-bottom: 0;
    }
  }

  .start-your-journey-buttons {
    @include safeFlex(row, wrap, center, center);
    gap: $spaceMs;
    a {
      @include button($white, $royal, $royal, $white);
      margin-bottom: 0;
    }
  }
}
