/* ===============
   SLATE FORM WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--slate-form{
	max-width: 1138px;
	@include auto;
	background: $ice;
  color: $brightBlue;
  padding: 40px 20px 30px;
  .widget-section > .layout--onecol &,
  .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
  .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
  .node-support-book &{
    @include tab{
      padding: 60px 112px 45px;
    }
  }
	.widget-wrapper{
		@include safeFlex(row,wrap,start,start);
		@include bleed(padding,60px);
		.slate-left,.slate-right{
			width: 100%;
      .widget-section > .layout--onecol &,
      .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
      .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
      .node-support-book &{
			  @include desk{
          &:not(:only-child){
            width: 50%;
            &:first-child{
              padding-top: 35px;
            }
          }
        }
			}//end desk
		}//end slate-left,slate-right
	}//end widget wrapper
  .slate-left.slate-visible{
    .field-formatted-headline strong {
      body.animations-paused & {
        opacity: 1;
      }
      body.animations-playing & {
        @include animation('breatheFadeIn 1.5s 1 forwards');
      }
    }
  }
	.field-formatted-headline{
		@include styledHeader;
		text-align: left;
    margin-bottom: $spaceSm;
    color: $brightBlue;
    strong{
      opacity: 0;
      scale: 1;
      position: relative;
      bottom: -2px;
    }
	}
  .field-additional-text{
    margin-bottom: 2.5rem;
  }
  .field-slate-script-tag{
    @include slateForm;
  }
}//end slate form widget
