/* ===============
   SLATE FORM WIDGET
================== */

@use '../../../00-base/base' as *;
@use '../../../01-parts/forms/forms' as *;

.paragraph--type--slate-form{
	@include slateFormContainer;
  .widget-section > .layout--onecol &,
  .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
  .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
  .node-support-book &{
    @include tab{
      padding: 56px 112px;
    }
  }
	.widget-wrapper{
		@include safeFlex(row,wrap,start,start);
		@include bleed(padding,60px);
		.slate-right{
		  @include slateRight;
		}
		.slate-left,.slate-right{
			width: 100%;
      .widget-section > .layout--onecol &,
      .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
      .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
      .node-support-book & {
			  @include desk{
          &:not(:only-child){
            width: 50%;
          }
        }//end desk
			}
      .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
      .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
      .widget-section > .layout--twocol-section--50-50 > .layout__region--first &,
      .widget-section > .layout--twocol-section--50-50 > .layout__region--second & {
        .field-formatted-headline {
          text-align: center;
        }
			  @include desk {
          &:not(:only-child):first-child {
            padding-top: 35px;
          }
        }//end desk
      }
		}//end slate-left,slate-right
	}//end widget wrapper
  .slate-left.slate-visible{
    .field-formatted-headline strong {
      html.animations-paused & {
        opacity: 1;
      }
      @include animation('breatheFadeIn 1.5s 1 forwards');
    }
  }
	.field-formatted-headline{
		@include styledHeader;
    & {
      margin-bottom: $spaceMs;
      color: $gold;
    }
    strong {
      opacity: 0;
      scale: 1;
      position: relative;
    }
    @include tab {
      margin-bottom: $spaceLg;
      text-align: left;
    }
	}
  .field-additional-text{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: $spaceXxs;
    @include tab {
      font-size: 16px;
      line-height: 1.625;
      margin-bottom: $spaceMs;
    }
  }
}//end slate form widget
