/* ===================
	PARAGRAPHS
===================== */

/* WIDGETS INDEX
------------------- */
@forward 'accordions/accordions';
@forward 'additional-links/additional-links';
@forward 'block-placer/block-placer';
@forward 'button/button';
@forward 'contact-placer/contact-placer';
@forward 'content-carousel/content-carousel';
@forward 'ctas/ctas';
@forward 'events-list/events-list';
@forward 'facts-list/facts-list';
@forward 'fauxfile/fauxfile';
@forward 'gallery/gallery';
@forward 'hallmark/hallmark';
@forward 'highlight-box/highlight-box';
@forward 'hours-placer/hours-placer';
@forward 'hours-set/hours-set';
@forward 'image/image';
@forward 'layout-section/layout-section';
@forward 'profiles-list/profiles-list';
@forward 'programs-list/programs-list';
@forward 'program-search/program-search';
@forward 'quote/quote';
@forward 'select-type/select-type';
@forward 'slate-form/slate-form';
@forward 'snapshot-list/snapshot-list';
@forward 'steps/steps';
@forward 'stories-video-list/stories-video-list';
@forward 'testimonial-placer/testimonial-placer';
@forward 'text/text';
@forward 'video/video';
@forward 'view-placer/view-placer';
@forward 'wayfinding/wayfinding';

@use '../../00-base/base' as *;
@use 'sass:math';

//widgets parent field
.block-field-paragraphs{
	@include edgeToEdge;
}//end field paragraphs

/* WIDGETS
--------------------- */
.widget{
	width: 100%;
	padding: 0 $siteMarginMobile;
	position: relative;
	@include contentStop{
		padding: 0 $siteMarginDesk;
	}
	//regular widgets not in layout sections
	&:not(.layout-section){
		margin-bottom: $elementSpace;
	}
	//layout-sections
	&.layout-section{
		&.background{
			padding-top: $elementSpace;
			&.light-grey{
				background: $lightGrey;
			}
			&.light-blue{
				background: $ice;
			}
			& + .backless{
				margin-top: $elementSpace;
			}
			&:last-child{
				margin-bottom: -$siteBottomSpace;
			}
		}//end background
	}//end layout section
}//end widget
