/* ===================
  PARAGRAPHS
===================== */

/* WIDGETS INDEX
------------------- */
@forward 'accordions/accordions';
@forward 'additional-links/additional-links';
@forward 'block-placer/block-placer';
@forward 'button/button';
@forward 'contact-placer/contact-placer';
@forward 'content-carousel/content-carousel';
@forward 'ctas/ctas';
@forward 'custom-embed/custom-embed';
@forward 'events-list/events-list';
@forward 'external-articles/external-articles';
@forward 'facts-list/facts-list';
@forward 'fauxfile/fauxfile';
@forward 'gallery/gallery';
@forward 'hallmark/hallmark';
@forward 'hero/hero';
@forward 'highlight-box/highlight-box';
@forward 'hours-placer/hours-placer';
@forward 'hours-set/hours-set';
@forward 'image/image';
@forward 'layout-section/layout-section';
@forward 'profiles-list/profiles-list';
@forward 'programs-list/programs-list';
@forward 'program-search/program-search';
@forward 'quick-links/quick-links';
@forward 'quote/quote';
@forward 'select-type/select-type';
@forward 'slate-form/slate-form';
@forward 'snapshot-list/snapshot-list';
@forward 'social-media/social-media';
@forward 'stats-bar/stats-bar';
@forward 'steps/steps';
@forward 'stories-video-list/stories-video-list';
@forward 'testimonial-placer/testimonial-placer';
@forward 'text/text';
@forward 'video/video';
@forward 'view-placer/view-placer';
@forward 'wayfinding/wayfinding';

@use '../../00-base/base' as *;
@use 'sass:math';

//widgets parent field
.block-field-paragraphs{
  @include edgeToEdge;
}//end field paragraphs

/* WIDGETS
--------------------- */
.widget{
  width: 100%;
  margin-bottom: $elementSpace;
  padding: 0 $siteMarginMobile;
  position: relative;
  @include menuStop{
    margin-bottom: 10rem;
  }
  @include contentStop{
    padding: 0 $siteMarginDesk;
  }
  //layout-sections
  &.text + .text {
    margin-top: -4rem;
    @include menuStop{
      margin-top: -8rem;
    }
  }
  &.layout-section{
    margin-bottom: 0;
    &.background{
      padding-top: $elementSpace;
      &.light-grey{
        background: $lightGrey;
      }
      &.light-blue{
        background: $ice;
      }
      & + .backless{
        margin-top: $elementSpace;
      }
      &:last-child{
        margin-bottom: -$siteBottomSpace;
      }
    }//end background
    .paragraph:not(.paragraph--type--layout-section){
      @include tab{
        margin-bottom: 8rem;
      }
      @include menuStop{
        margin-bottom: 10rem;
      }
      &.paragraph--type--text + .paragraph--type--text{
        margin-top: -4rem;
        @include menuStop{
          margin-top: -8rem;
        }
      }
    }
  }//end layout section
}//end widget
