/* ===============
   ADDITIONAL LINKS WIDGET
================== */

@use '../../../00-base/base' as *;
@use '../../../02-chunks/media/media-mixins' as *;

.paragraph--type--links-files {
	max-width: $contentStopMargin;
	@include auto;
	.links-files {
		@include safeFlex(row,wrap,start,stretch);
		@include bleed(padding,20px);
		.widget-section > .layout--twocol-section &{
			@include smallTab{
				@include safeFlex(row,wrap,center,stretch);
				.lf-item{
					width: 100% !important;
					max-width: 335px;
				}
			}
		}
		.lf-item{
			width: 100%;
			@include smallTab{
				width: 50%;
			}
			@include desk{
				width: 25%;
			}
		}
		.lf-inner{
			border-top: 1px solid $borderRule;
			padding: 10px 0px 12px;
			min-height: 83px;
			a{
				@include heading2;
				font-size: 2.25rem;
				line-height: 24px;
				padding-bottom: 3px;
        display: block;
        padding-right: 50px;
        position: relative;
				&:after{
					content: '';
					display: block;
					position: absolute;
					top: 2px;
					right: 2px;
					@include rightArrow(navy,transparent,$navy,sm);
				}
				&:hover,&:focus{
					text-decoration: none;
          span{
					  @include dottedLink($sky);
          }
					&:after{
						@include rightArrow(white,$navy,$navy,sm);
					}
				}
        &.lf-file-link{
          @include docIcon;
        }
			}//end a
		}//end lf inner
	}//end links-files
}//end paragraph type links-files