/* ===============
   ADDITIONAL LINKS WIDGET
================== */

@use '../../../00-base/base' as *;
@use '../../../02-chunks/media/media-mixins' as *;

.paragraph--type--links-files {
	max-width: $contentStopMargin;
	@include auto;
	.links-files {
		@include safeFlex(row,wrap,center,stretch);
		@include bleed(padding,20px);
    &.links-count-left {
      @include desk {
        @include safeFlex(row, wrap, start, stretch);
      }
    }
		.widget-section > .layout:not(.layout--onecol) &{
			@include smallTab{
				@include safeFlex(row,wrap,center,stretch);
				.lf-item{
					width: 100% !important;
					max-width: 335px;
				}
			}
		}
		.lf-item{
			width: 100%;
			@include smallTab{
				width: 50%;
			}
			@include desk{
				width: 25%;
			}
		}
		.lf-inner{
			padding: 10px 0px 12px;
			margin-bottom: $spaceXs;
			a{
        @include linkArrow(goldRoyal, lg);
        min-height: 32px;
        &.lf-file-link{
          span{
            word-break: break-word;
          }
        }
			}//end a
		}//end lf inner
	}//end links-files
}//end paragraph type links-files