/* ============
   HOURS LIBRARY
================ */

@use '../../../00-base/base' as *;

.node-hours{
	padding-top: $elementSpace;
	@include auto;
	max-width: $textMax;
	.block-field:not(.block-title){
		margin-bottom: $spaceXxs;
	}
	.field-set-title{
		@include heading2;
	}
	.block-field-hours{
		padding-top: $elementSpace;
	}
}//end hours-library
