/* ============
   HOURS LIBRARY
================ */

@use '../../../00-base/base' as *;

@mixin hoursHolder{
	max-width: 914px;
	@include auto;
	& > *:first-child{
		background: $ice;
		padding: 60px 124px 76px;
	}
}

.node-hours{
	padding-top: $elementSpace;
	@include auto;
	max-width: $textMax;
	.block-field:not(.block-title){
		margin-bottom: $spaceXxs;
	}
	.field-set-title{
		@include heading2;
	}
	.block-field-hours{
		padding-top: $elementSpace;
	}
}//end hours-library

.node-teaser-hours{
	@include hoursHolder;
	.hours-wrapper{
		@include safeFlex(row,wrap,start,start);
		@include bleed(padding,20px);
		& > *{
			@include tab{
				width: 50%;
			}
		}
	}
}//end hours teaser
