/* ==================
	BLOCKS INDEX
=================== */

/* ADD SUB BLOCKS
------------------- */
@forward 'announcements/announcements';
@forward 'branding/branding';
@forward 'courses/courses';
@forward 'formatted-promo/formatted-promo';
@forward 'omnilert/omnilert';
@forward 'page-structured-section/page-structured-section';
@forward 'search/search';
@forward 'social-links/social-links';
@forward 'social-share/social-share';

@use '../../00-base/base' as *;

/* MISC BLOCKS
-------------- */

// FOOTER ADDRESS
.block-2{
	color: $gold;
	@include onlyMobile{
		padding-top: 150px;
		margin-top: 20px;
		max-width: 282px;
		@include auto;
		background-image: url(../images/logos-badges/uwec-stacked-gold.svg);
		background-repeat: no-repeat;
		background-size: 63px 92px;
		background-position: top center;
	}
	@include desk{
		color: $black;
		background: $gold;
		padding: 45px 40px 200px;
		width: 100%;
		max-width: $contentStop;
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;
			width: 100vw;
			height: 400px;
			background: $prefooterBack;
		}
	}
	p{
		margin-bottom: $spaceXxs;
		font-size: 14px;
		line-height: 22px;
		&:first-child{
			font-family: $header;
			font-weight: $xHeavy;
		}
	}
}//end block 2

//SOCIAL MEDIA & COPYRIGHT
.block-1{
	.block-social-media{
		.field-platforms{
			.platform-links{
				justify-content: center;
			}
			li{
				margin: 0 3px;
				a{
					color: $footerLink;
					*{
						transform-style: unset;
					}
					svg{
						width: 22px;
						height: 22px;
					}
					svg,.cls-1{
						fill: $footerLink;
					}
					&:hover,&:focus{
						color: $footerLinkHover;
						svg,.cls-1{
							fill: $footerLinkHover;
							color: $footerLinkHover;
						}
					}
				}
			}
		}//end field platforms
	}//end block social media
	.copyright{
		text-align: center;
		font-size: 1.5rem;
		line-height: 24px;
		text-transform: uppercase;
		& > span:first-child{
			padding-right: .25em;
			& + *{
				display: inline;
			}
		}
		p{
			margin: 0;
		}
	}//end copyright
}//end footer-copyright
