/* ==================
	BLOCKS INDEX
=================== */

/* ADD SUB BLOCKS
------------------- */
@forward 'announcements/announcements';
@forward 'branding/branding';
@forward 'formatted-promo/formatted-promo';
@forward 'page-structured-section/page-structured-section';
@forward 'search/search';
@forward 'social-links/social-links';
@forward 'social-share/social-share';

@use '../../00-base/base' as *;

/* MISC BLOCKS
-------------- */

//COPYRIGHT
.block-4{
	.copyright{
		text-align: center;
		font-size: 2rem;
		@include tab{
			text-align: left;
		}
		& > span:first-child{
			padding-right: .25em;
			& + *{
				display: inline;
			}
		}
		p{
			margin: 0;
		}
	}
}//end footer-copyright
