/* ============
   LISTS
============== */
@use '../../00-base/base' as *;

ul {
	list-style-type: disc;
	li {
		padding: 0 0 $spaceXxs 0;
	}
}

ol {
	list-style-type: none;
	list-style-position: inside;
	&[type="A"]{
		list-style-type: lower-alpha;
	}
	&[type="I"]{
		list-style-type: upper-roman;
	}
	&:not([type]){
		.text-long &,.text-with-summary &{
			counter-reset: number;
			& > li {
				counter-increment: number;
				padding: 0 0 $spaceXxs $spaceXs;
				text-indent: -$spaceXs;
				list-style-type:none;
				&:before {
					content: counter(number) '. ';
					font-style: italic;
					font-family: $displayHeader;
					display: inline-block;
					width: $spaceXxs;
					padding-right: $spaceXxs;
					text-align: left;
				}
				ol {
					margin-top: $spaceXxs;
					margin-bottom: $spaceXxs;
					li {
						list-style-type: disc;
						list-style-position: outside;
						text-indent: 0;
						padding: 0 0 $spaceXxs 0;
						&:before {
							content: unset;
							display: inline;
							width: unset;
							padding: unset;
							text-align: unset;
						}
					}
				}
			}
		}
	}
}

//set list spacing in WYSGIWYG
.text-with-summary,.text-long{
	ul,ol {
		//overflow hidden is needed for lists next to floated elements
		overflow: hidden;
		margin: $spaceXs 0 $spaceMd;
		padding: 0 0 0 3.5rem;
		ul,ol{
			margin: $spaceXs 0;
			padding: 0 0 0 2.5rem;
		}
	}
}//end text-with-summary,text-long



