/* ============
   LISTS
============== */
@use '../../00-base/base' as *;

.text-long,.text-with-summary{
	ol{
		// default nested lists start at "a"
		ol{
			list-style-type:lower-alpha;

			// default nested-nested lists start at "i"
			ol{
				list-style-type:lower-roman;
			}
		}

		// the above defaults override the type attribute (unfortunately)
		// this makes all types work at all nested levels.
		&[type="a"]{
			list-style-type:lower-alpha !important;
		}
		&[type="A"]{
			list-style-type:upper-alpha !important;
		}
		&[type="i"]{
			list-style-type:lower-roman !important;
		}
		&[type="I"]{
			list-style-type:upper-roman !important;
		}
		&[type="1"]{
			list-style-type:decimal !important;
		}
	}

	// add a bit of spacing in between bullet points
	li{
		margin-bottom:1rem;
		ol,ul{
			margin-top:1rem;
		}
	}
}

