/* =============
	 FOOTER MENUS
------------------- */
@use '../../../00-base/base' as *;

// visit apply etc
.block-footer-menu{
	@include desk{
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			bottom: calc(100% + 97px);
			left: calc(50% - 6px);
			width: 62px;
			height: 92px;
			background-image: url(../images/logos-badges/uwec-stacked-gold.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top center;
		}
	}
	ul:not(.contextual-links){
		@include listReset;
		@include safeFlex(row,wrap,center,center);
		margin-bottom: $spaceMd;
		li{
			margin-left: 10px;
			margin-right: 10px;
			a{
				display: block;
				color: $prefooterLink;
				&:not(.menu-button){
					@include onlySmall{
						display: none;
					}
				}
				&:hover,&:focus{
					color: $prefooterLinkHover;
					border-color: $prefooterLinkHover;
					@include transAll(.3s);
				}
				&.menu-button{
					border: 1px solid $prefooterLink;
					border-radius: 25px;
					padding: 13px 20px 10px;
					min-width: 116px;
					display: inline-block;
					text-align: center;
					text-transform: uppercase;
					font-family: $header;
					font-weight: $heavy;
					font-size: $button;
					line-height: 16.8px;
					letter-spacing: .1em;
					&:hover,&:focus{
						text-decoration: none;
					}
				}
			}
		}//end li
	}//end ul
}//end footer-menu

//for audience links
.block-footer-for-menu{
	ul:not(.contextual-links){
		@include listReset;
		li{
			padding-bottom: 0;
		}
		a{
			color: $prefooterLink;
			line-height: 29px;
			font-size: 14px;
			&:hover,&:focus{
				color: $prefooterLinkHover;
			}
		}
	}//end ul
	.audience-menu{
		.link-label{
			font-family: $displayHeader;
			font-style: italic;
			font-size: 13.34px;
		}
		a{
			font-family: $header;
			font-weight: $xHeavy;
			text-transform: uppercase;
			letter-spacing: .05em;
		}
	}//end audience menu
	.additional-audience-menu{
		ul:not(.contextual-links){
			margin-top: 14px;
			border-top: 1px solid rgba(255,255,255,.12);
			padding-top: 14px;
			margin-bottom: 7rem;
			a{
				font-size: 12px;
				padding-bottom: 2px;
				@include dottedLink($prefooterLink);
				&:hover,&:focus{
					background: none;
					text-decoration: none;
				}
			}
		}
	}//end additional audience
}//end footer-for menu

//Footer ancillary left
.block-footer-ancillary-left-menu{
	ul:not(.contextual-links){
		@include listReset;
		li{
			padding-bottom: $spaceXxs;
		}
		@include tab{
			@include safeFlex(row,wrap,start,end);
			@include bleed(padding,10px);
		}
		@media screen and (min-width: 1240px){
			justify-content: flex-end;
		}
		a{
			color: $footerLink;
			font-size: 1.5rem;
			line-height: 3rem;
			padding-bottom: 2px;
			@include dottedLink($footerLink);
			&:hover,&:focus{
				color: $footerLinkHover;
			}
		}
	}
}//end ancillary left

.block-footer-ancillary-right-menu{
	@extend .block-footer-ancillary-left-menu;
	ul:not(.contextual-links){
		@include tab{
			justify-content: flex-end;
		}
		@media screen and (min-width: 1240px){
			justify-content: flex-start;
		}
	}
}

