/* ===============
   PROGRAMS LIST WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--programs-list{
	max-width: 984px;
	@include auto;
	@include tab{
  	.programs-wrapper{
  		width: 100%;
  		display: grid;
			grid-template-columns: 1fr 1fr 2fr;
	  	grid-gap: 65px;
  	}
	}//end tab
	
}//end programs-list widget