/* ===============
   PROGRAMS LIST WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--programs-list {
	max-width: 985px;
	@include auto;
  .field-widget-title {
    line-height: 1.2;
    margin-bottom: $spaceSm;
    max-width: 100%;
    @include desk {
      margin-bottom: $spaceMd;
    }
  }
  .field-programs{
    @include tab{
      width: 100%;
      @include safeFlex(row,wrap,start,stretch);
      gap: 20px;
      & > *{
        width: calc(33.33% - 14px);
      }
    }//end tab
  }//end field programs
}//end programs-list widget