/* ===============
   PROGRAMS LIST WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--programs-list{
	max-width: 985px;
	@include auto;
  .field-programs{
    @include tab{
      width: 100%;
      @include safeFlex(row,wrap,start,stretch);
      gap: 20px;
      & > *{
        width: calc(33.33% - 14px);
      }
    }//end tab
  }//end field programs
}//end programs-list widget