/* ===============
   SELECT TYPE WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--select-type{
  &.select-visible{
    .select-items-wrapper{
      .widget-section > .layout--onecol &,.node-support-book &{
        @media screen and (min-width: 1104px){
          &:before{
            left: 100vw;
          }
        }
      }
    }
  }
  .select-items-wrapper {
    max-width: $contentStopMargin;
    @include auto;
    .widget-section > .layout--onecol &,.node-support-book &{
      @media screen and (min-width: 1104px){
        margin: -20px auto 0;
        padding: 20px 0;
        overflow: hidden;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: -50vw;
          z-index: 1;
          width: 300px;
          height: 100%;
          background: linear-gradient(to right, transparent 0%, rgba(255,255,255,0.15) 60%, transparent 100%);
          transform: skewX(-16deg);
          transition: 1s;
        }
        @include safeFlex(row,nowrap,center,stretch);
        .select-item{
          width: 33.33%;
          max-width: 330px;
        }
        &.items-4{
          .select-item{
            width: 25%;
          }
        }
        &.items-5{
          .select-item{
            width: 20%;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }//end media query
    }//end one column selects
    .select-item {
      background-color: $navy;
      padding: $spaceLg;
      padding: 40px;
      transition: transform .3s ease-in-out;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:nth-child(even) {
        background-color: rgba(6, 35, 61, .93);
      }
      @include desk{
        padding-top: 150px;
        padding-bottom: 56px;
        transform: scale(1);
        z-index: 0;
        &:hover{
          transform: scale(1.05);
          transition: scale .75s ease-in-out;
          position: relative;
          z-index: 9;
        }
      }
      .select-item-inner{
        height: 100%;
        color: $white;
        @include safeFlex(column,nowrap,justify,start);
        .field-headline{
          font-family: $displayHeader;
          font-size: 4rem;
          line-height: 1.25;
          margin-bottom: 40px;
          @include desk{
            margin-bottom: 45px;
            word-break: break-word;
          }
        }
        .field-additional-text {
          line-height: 1.5;
          display: none;
          @include tab{
            display: block;
            margin-bottom: 40px;
          }
          @include desk{
            margin-bottom: 82px;
          }
        }
        .field-link{
          a{
            display: inline-block;
            @include linkArrow(gold, sm);
            &:before{
              top: -2px;
            }//end before
          }//end a
        }//end field link
      }//end paragraph select item
    }//end select item
  }//end select items wrapper
}//end select-type widget
