/* ============
   DEPARTMENT
================ */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;

/* NOTE: RESOLVE THESE WITH PATTERN HERO GENERAL MIXIN ONCE HEROS ARE DONE */
@mixin patternHero{
  padding-top: 40px;
  background: $royal;
  @include edgeToEdge;
  padding-left: $siteMarginMobile;
  padding-right: $siteMarginMobile;
  color: $white;
  //set min heights for main section
  min-height: calc(100vh - 88px);
  @include desk{
    min-height: calc(100vh - 100px);
  }
  @include menuStop{
    min-height: calc(100vh - 110px);
  }
  .logged-in &{
    min-height: calc(100vh - 137px);
    @media screen and (min-width: 976px){
      min-height: calc(100vh - 216px);
    }
    @include menuStop{
      min-height: calc(100vh - 226px);
    }
  }//end logged in min heights
  .hero-pattern:not(.hero-pattern-links) &{
    @include menuStop{
      padding-bottom: 150px;
    }
    @media screen and (min-width: 1600px){
      padding-bottom: 10vw;
    }
    @media screen and (min-width: 1800px){
      padding-bottom: 12vw;
    }
  }
  h1,h2,h3,h4,h5,h6,li,a{
    color: $white;
  }
  //specific link colors
  .breadcrumb{
    max-width: 1096px;
    a{
      &:hover,&:focus{
        @include dottedLink($white);
      }
    }
  }//end breadcrumb
  .field-college a{
    padding-bottom: 1px;
    @include dottedLink($white);
    &:hover,&:focus{
      color: $transWhite;
      background-image: none;
    }
  }
  .field-links a{
    display: inline-block;
    @include arrowLinkBefore($white);
    padding-left: 32px;
    font-size: 16px;
    line-height: 1.2;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      @include rightArrow(white,transparent,$white,sm);
    }//end before
    &:hover,&:focus{
      &:before{
        @include rightArrow(royal,$white,$white,sm);
      }
      span{
        @include dottedLink($white);
        padding-bottom: 1px;
      }
    }//end hover, focus
  }//end links field a
}//end patternHero

@mixin heroBlue{
  position: relative;
  &:before{
    @include fullBack($brightBlue);
    top: auto;
    bottom: 0;
    height: 1000px;
    z-index: -1;
  }//end before
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: calc(100% - 1px);
    left: -$siteMarginMobile;
    height: 29vw;
    width: 100vw;
    z-index: -1;
    background: $brightBlue;
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
}//end pattern bright blue 

@mixin stripesRoyalNarrow{
  position: relative;
  &:before{
    @include animation('fadeInDelay 1s 1');
    content: url(../images/elements/stripes-narrow-royal.svg);
    position: absolute;
    top: calc(100% - 22px);
    left: -23px;
    z-index: -1;
    width: 263px;
    height: 171px;
    @include tab{
      left: -43px;
    }
  }
}

/* START ACTUAL DEPARTMENT THEMING */
.node-department{
  padding-bottom: $spaceXxs;
  @include menuStop{
    padding-bottom: 0;
  }
	#node-section-1 {
    @include patternHero;
    position: relative;
    z-index: 0;
    margin-bottom: $elementSpace;
    .hero-pattern:not(.hero-pattern-links) &{
      @include largeTab{
        margin-bottom: 70px;
      }
      @include menuStop{
        margin-bottom: $elementSpace;
      }
    }
    &:after{
      @include animation('fadeInDelay 1s 1');
      content: '';
      position: absolute;
      bottom: -8px;
      left: 73vw; 
      z-index: 0;
      width: 308px;
      height: 572px;
      background-image: url(../images/elements/swirl-vertical-blue.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      @include desk{
        left: 77vw;
        width: 380px;
        height: 706px;
        bottom: -83px;
      }
      @include contentStop{
        left: auto;
        right: -104px;
        width: 452px;
        height: 839px;
        bottom: -95px;
      }
    }//end after swirl
    .layout__region--content{
      .block-field{
        max-width: 100%;
        &:last-child{
          margin-bottom: 0;
        }
      }
      .hero-pattern-links &{
        & > .block-field:nth-last-child(2){
          @include heroBlue;
          @include desk{
            & > .field{
              @include stripesRoyalNarrow;
            }
          }
        }
      }//end pattern
      .hero-pattern:not(.hero-pattern-links) &{
        padding-bottom: 115px;
        & > .block-field:last-child{
          @include heroBlue;
          @include desk{
            & > .field{
              @include stripesRoyalNarrow;
            }
          }
        }
      }//end non-pattern
    }//end layout region content
    .block-system-breadcrumb-block{
      @include onlyMobile{
        display: none;
      }
    }
	}// end node section 1

	.field.title,
	.field-subtitle,
	.field-intro-text,
  .field-links {
		max-width: $textMax;
    padding-left: 20px;
    padding-right: 20px;
		@include auto;
    position: relative;
    z-index: 5;
    @include tab{
      padding-left: 0;
      padding-right: 0;
    }
	}
  .field-college{
    max-width: 610px;
    @include auto;
    font-size: 1.75rem;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .block-field.block-title{
    margin-bottom: 8rem;
  }
  .block-field-subtitle{
    margin-bottom: $spaceSm;
  }
  .field-links{
    padding-top: 100px;
    padding-bottom: 60px;
    max-width: 984px;
    @include smallTab{
      padding-top: 40px;
      padding-right: 0;
      @include safeFlex(column,nowrap,end,end);
      & > div{
        width: 210px;
      }
    }
    @include desk {
      margin-top: 10vw;
			margin-bottom: 0;
		}
    @media screen and (min-width: 1650px){
      margin-top: 11vw;
    }
    @media screen and (min-width: 2100px){
      margin-top: 12vw;
    }
    @media screen and (min-width: 2500px){
      margin-top: 13vw;
    }
  }//end field links
  //section two - nav and body
  .layout--twocol-sideleft{
    position: relative;
    .layout__region--content{
      padding-left: 20px;
      padding-right: 20px;
      @include desk{
        width: 100%;
      }
      @include menuStop{
        &:not(:only-child){
          width: 100%;
          @include auto;
        }
      }
    }//end layout region content
  }//end two column side left
  .block-field.block-body{
    max-width: $textMax;
    @include auto;
    @include menuStop{
      margin-top: $spaceMd;
      margin-bottom: $spaceXl;
    }
  }

  #node-section-3{
    .layout__region--content > *{
      @include menuStop{
        margin-bottom: 70px;
      }
    }
    .block-department-faculty{
      margin-bottom: $spaceXl;
    }
    .block-field-facts-list{
      @include edgeToEdge;
      margin-bottom: $spaceSm;
      background: $siteBack;
      @include menuStop{
        margin-bottom: 70px;
      }
    }//end fact list
    .block-field-opportunities{
      position: relative;
      z-index: 1;
      max-width: $textMax;
      @include auto;
      &:after{
        @include fullBack($lightGrey);
      }
    }
  }//end node section 3

	#node-section-4{
		@include contactSection;
    &:not(:last-child){
      margin-bottom: $spaceXl;
    }
	}//end node-section-4

  .block-field-whats-next{
    h2.next-title{
      @include styledHeader;
      text-align: left;
      margin-bottom: $spaceSm;
      color: $brightBlue;
      font-size: 43px;
      @include onlyMobile{
        strong{
          font-size: 46px;
        }
      }
      @include tab{
        text-align: center;
      }
    }//end next title
  }//end whats next
}//end department
