<script async src="https://cse.google.com/cse.js?cx={{ js_sha }}"></script>

<div class="search-form-container google-search">
	<a href="#" class="t-search" aria-controls="header-search" role="button">
		<span class="visually-hidden">Open Search</span>
	</a>
	<div id="header-search" class="google-search-container" aria-hidden="true">
		<div class="search-box-wrapper">
			<div class="gcse-searchbox-only" data-resultsUrl="{{ results_page }}"></div>
		</div>
	</div>
</div>
