/* ===============
   ACCORDIONS
================= */
@use '../../../00-base/base' as *;

.paragraph--type--accordions{
  //and background for the accordions depending on layout section
  background: $lightGrey;
  position: relative;
  padding: 35px 0;
  @include menuStop{
    padding: 60px 0 80px;
  }
  &:after{
    @include fullBack($lightGrey);
  }
  .node-type-page & {
    @include menuStop {
      @include auto;
      max-width: 750px;
      &:after {
        display: none;
      }
    }
  }
  .widget-section > .layout--onecol &{
    @include desk{
      padding-top: 92px;
      padding-bottom: 105px;
    }
  }
  .widget-section > .layout:not(.layout--onecol) &,.node-support-book &{
    @include tab{
      background: $lightGrey;
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
      &:after{
        content: none;
      }
    }
    @include desk{
      padding-top: 46px;
      padding-bottom: 52px;
    }
  }//end multicolumn layouts
  .widget-section > .layout--twocol-section--50-50 &,
    .widget-section > .layout--twocol-section--67-33 > .layout__region--first &,
    .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
    .widget-section > .layout--twocol-section--33-67 > .layout__region--second &,
    .widget-section > .layout--twocol-section--25-75 > .layout__region--second &{
      @include desk{
        padding-top: 60px;
        padding-bottom: 70px;
      }
  }

  .widget-wrapper {
	  @include textConstrain;
  }
}//end paragraph type accordions

/* ITEM STYLING
------------------- */
.accordion-item{

	//accordion header bar
	.accordion-header{
		a{
			color: $accordHeader;
			@include heading2;
			font-size: 2.25rem;
			line-height: 24px;
			position: relative;
			border-top: 1px solid $accordHeaderBorder;
			border-bottom: 1px solid $accordHeaderBorder;
			margin-top: -1px;
			padding: 10px 40px 10px 10px;
			background: $accordHeaderBack;
			min-height: 84px;
			@include safeFlex(column,nowrap,center,start);
      @include desk{
        font-size: 2.5rem;
        line-height: 32px;
      }
			.accordion-chevron{
				position: absolute;
				top: calc(50% - 12px);
				right: 10px;
				display: block;
				transition: transform .3s ease-in-out;
        @include desk{
          top: calc(50% - 15px);
        }
				svg{
					fill: none;
				}
			}
			&:hover,&:focus{
				color: $accordHeaderHover;
				background: $accordHeaderBackHover;
				border-color: $accordHeaderBorderHover;
				@include transAll(.3s);
        text-decoration: none;
        .accordion-header-text{
          @include dottedLink($brightBlue);
        }
			}
		}//end a
	}//end accorion header

	//accordion content
	.field-long-text{
		display: none;
		padding: 0 10px 48px;
		background: $accordContentBack;
		border-left: 1px solid $accordContentBorder;
		border-right: 1px solid $accordContentBorder;
    @include desk{
      padding: 0 20px 60px;
    }
	}

	//active accordion
	&.accord-active{
		.accordion-header{
			a{
				color: $accordActive;
				background: $accordActiveBack;
				border-bottom: 0;
				&:hover,&:focus{
					color: $accordActiveHover;
					background: $accordActiveBackHover;
					border-color: $accordActiveBorderHover;
          text-decoration: none;
          .accordion-header-text{
            @include dottedLink($brightBlue);
          }
				}
				.accordion-chevron{
					@include rotate(180);
				}
			}
		}
	}//end active

	//no-js fallback
	.no-js &{
		&:hover,&:focus{
			.field-long-text{
				display: block;
			}
		}
	}

}//end accordion-item
