{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{% extends 'field.html.twig' %}

{% block fieldSingleNo %}
	<div class="body-wrapper">
		{% if element['#object'].field_is_quote.0.value == '1' %}
			<div class="quote-mark">
				<svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.974023 11.3C0.974023 9.83333 1.29069 8.43333 1.92402 7.1C2.55736 5.76666 3.39069 4.55 4.42402 3.45C5.49069 2.31667 6.64069 1.35 7.87402 0.549999L8.82402 1.9C7.62402 2.86667 6.64069 3.78333 5.87402 4.65C5.14069 5.48333 4.49069 6.56667 3.92402 7.9L5.37402 9.2C6.14069 9.83333 6.65736 10.45 6.92402 11.05C7.19069 11.65 7.32402 12.2667 7.32402 12.9C7.32402 13.9 7.05736 14.65 6.52402 15.15C5.99069 15.6167 5.27402 15.85 4.37402 15.85C3.87402 15.85 3.39069 15.7833 2.92402 15.65C2.49069 15.4833 2.07402 15.2167 1.67402 14.85C1.20736 13.7167 0.974023 12.5333 0.974023 11.3ZM11.124 11.3C11.124 9.83333 11.4407 8.43333 12.074 7.1C12.7074 5.76666 13.5407 4.55 14.574 3.45C15.6407 2.31667 16.7907 1.35 18.024 0.549999L18.974 1.9C17.774 2.86667 16.7907 3.78333 16.024 4.65C15.2907 5.48333 14.6407 6.56667 14.074 7.9L15.524 9.2C16.2907 9.83333 16.8074 10.45 17.074 11.05C17.3407 11.65 17.474 12.2667 17.474 12.9C17.474 13.9 17.2074 14.65 16.674 15.15C16.1407 15.6167 15.424 15.85 14.524 15.85C14.024 15.85 13.5407 15.7833 13.074 15.65C12.6407 15.4833 12.224 15.2167 11.824 14.85C11.3574 13.7167 11.124 12.5333 11.124 11.3Z" fill="#EBAC20"/>
        </svg>
			</div>
		{% endif %}
	  {{- item.content -}}
	</div>
{% endblock %}
