/* =================
   HOURS SET WIDGET
==================== */

@use '../../../00-base/base' as *;

//hours field on the set paragraph
.field-hours.entity-reference-revisions{
  
  .additional-select {
    & > label {
      font-size: 1.75rem;
      line-height: 1.57;
      text-transform: capitalize;
      margin-bottom: $spaceXxs;
      display: block;
    }
  }

  select.panel-select{
    @include browserWipe;
    width: 100%;
    background: $white;
    color: $navy;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
    padding: 21px 20px;
    background-image: url('../images/elements/chevron-royal-down-sm.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: top 50% right 20px;
    margin-bottom: 24px;
    &:focus{
      background-image: url('../images/elements/chevron-royal-up-sm.svg');
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: top 50% right 20px;
    }
  }//end select
	.select-panel{
		&:not(.show-panel){
			@include visuallyHidden;
		}
	}
}//end hours set


.paragraph--type--hours-set{
  color: $navy;
  font-size: 1.75rem;
  font-family: $displayHeader;
  line-height: 1.625;
  .widget-wrapper{
    @include safeFlex(row,nowrap,start,start);
    .icon-wrapper{
      display: none;
    }
  }
  .field-set-title{
    display: none;
  }
  .field-hours-set{
    .office-hours__item-label{
      width: 105px;
      display: inline-block;
      font-weight: $heavy;
    }
  }//end field hours
  .office-hours{
    margin-bottom: $spaceXs;
    .office-hours__item{
      @include safeFlex(row,nowrap,start,start);
      &:nth-child(5){
        margin-bottom: $spaceXs;
      }
      .office-hours__item-label{
        flex: 0 0 105px;
        display: block;
        font-weight: $heavy;
      }
      .office-hours__item-slots{
        margin-right: .5em;
      }
    }
  }//end office hours
  .display-notice-wrapper{
    margin-bottom: $spaceXxs;
  }
  .exception-wrapper{
    .field-exceptions{
      display: inline;
    }
  }
}//end hours set