/* =================
   SOCIAL MEDIA LINKS
=================== */
@use '../../../00-base/base' as *;

.social-share{
	@include safeFlex(row,wrap,start,start);
	a{
		display: block;
		padding-right: 8px;
		&.facebook-share{
			color: #4267B2;
		}
		&.x-share{
			color: #000000;
      svg{
        width: 23px;
      }
      .cls-1{
        fill: currentColor;
      }
		}
		&.linkedin-share{
			color: #2867B2;
		}
		&.email-share{
			color: $link;
		}
		&:hover,&:focus{
			color: $hoverLink;
      &.x-share{
        .cls-1{
          color: #777;
        }
      }
		}
		&:last-child {
			padding-right: 0;
		}
		svg{
			width: 32px;
			height: 32px;
		}
	}
}//end social share

