/* ============
   COLLEGE
================ */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;

.node-college{
  padding-bottom: $spaceXl;
	#node-section-1 {
		@include headerInvasion;
    @include heroRightImage;
    background: radial-gradient(50.13% 157.8% at 6.18% 33.85%, #0F2C46 0%, #232C99 100%);
    @include desk {
      min-height: 77vw;
      margin-bottom: $elementSpace;
    }
    @include menuStop {
      min-height: 75vw;
    }
    @include contentStop {
      min-height: 1170px;
    }
    .image-right{
      &:after {
        content: none;
      }
      .image-waves {
        position: absolute;
        top: 0;
        width: 70vw;
        z-index: -1;
        left: 200vw;
        animation:.5s ease .4s 1 imageRightWavy;
        animation-fill-mode: forwards;
        @include smallTab {
          width: 350px;
        }
        @include desk {
          width: 35vw;
          max-width: 542px;
        }
        @include contentStop {
          width: 40vw;
        }
        img {
          height: 182%;
        }
      }
    }
    .page-header-text .page-header-text-inner{
      .block-system-breadcrumb-block .breadcrumb{
        padding-left: 0;
      }
      .field.title h1{
        color: $white;
      }
      h2.page-subtitle {
        color: $gold;
      }
    }
	}//end node section 1
  #node-section-2{
    @include desk{
      position: relative;
      z-index: 5;
    }
    .layout--twocol-sideleft{
      position: relative;
      .layout__region--content{
        @include desk{
          width: 100%;
          padding-left: 20px;
          padding-right: 20px;
        }
        @include menuStop{
          &:not(:only-child){
            width: 100%;
            @include auto;
          }
        }
      }//end layout region content
    }//end two column side left
    .block-field.block-body{
      max-width: $textMax;
      @include auto;
      @include onlySmall{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }//end node section 2
  .block-field-paragraphs{
    margin-top: 80px;
    margin-bottom: 62px;
    @include tab{
      margin-top: 20px;
      margin-bottom: 90px;
    }
  }
  .block-field-facts-list{
    @include edgeToEdge;
    margin-bottom: $spaceSm;
    background: $siteBack;
    margin-bottom: 70px;
  }//end fact list
  .block-field-stories-video-list{
    margin-bottom: 70px;
    .field-widget-title{
      @include onlySmall{
        text-align: left;
        margin-left: 0;
      }
    }
  }
	#node-section-4{
		@include contactSection;
	}//end node-section-4
}//end college
