/* =================
	 SECTION MENU
===================== */
@use '../../../00-base/base' as *;
#block-section-menu {
  @include transition(max-height, .3s, ease-in-out);
  @include edgeToEdge;
  background-color: $menuBack;
  bottom: 0;
  margin-bottom: 0;
  max-height: 0;
  position: fixed;
  z-index: 20;
  &.active-nav {
    max-height: 75vh;
  }
  @include menuStop {
    @include edgeReset;
    @include transition(left, .3s, ease-in-out);
    bottom: auto;
    height: 100vh;
    left: -$sideBar;
    max-height: 100%;
    top: 0;
    width: $sideBar;
    &.active-nav{
      left: 0;
      height: 100vh;
      .gin--vertical-toolbar:not(.responsive-preview-frame) & {
        left: 65px;
      }
    }
    .gin--vertical-toolbar:not(.responsive-preview-frame) & {
      left: 65px - $sideBar;
    }
    .layout-builder__layout &{
      position: relative !important;
      left: 0 !important;
      opacity: 1;
    }
    .node-type-support-book &{
      position: static;
    }
    .hero-none.in-main-menu &{
      top: 0 !important;
    }
    &:after {
      // A mask to cover the shadow of the toggle/tab;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $menuBack;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      .node-type-support-book &{
        display: none;
      }
    }
  }
  .hide-nav &{
		display: none;
	}
  .section-menu-toggle {
    @include safeFlex(column, nowrap, end, center);
    background-color: $menuBack;
    border-radius: 50%;
    box-shadow: 2px 2px 6px 0 $transGrey;
    color: $link;
    cursor: pointer;
    height: 150px;
    left: calc(50vw - 75px);
    position: absolute;
    text-align: center;
    top: -75px;
    width: 150px;
    @include menuStop {
      @include safeFlex(row, nowrap, end, center);
      height: 200px;
      left: auto;
      right: -100px;
      text-align: left;
      top: calc(50vh - 100px);
      width: 200px;
    }
    &:hover {
      color: $hoverLink;
    }
    .node-type-support-book &{
      display: none;
    }
    .toggle-label {
      font-family: $header;
      font-size: 12px;
      font-weight: $heavy;
      line-height: 1.3;
      margin-bottom: 50%;
      position: relative;
      text-transform: uppercase;
      top: -6px; // To balance out the absolutely-positioned arrow, below.
      width: 50%;
      z-index: 25;
      &:after {
        @include materialIconOutline(\f1e3);
        @include transition(transform, .3s, ease-in-out);
        bottom: 10px;
        right: -22px;
        position: absolute;
        transform: rotate(-135deg);
      }
      @include menuStop {
        font-size: 14px;
        margin-bottom: 0;
        padding: 0 14px 0 8px;
        top: -12px;
        &:after {
          bottom: -24px;
          left: 8px;
          right: auto;
          transform: rotate(-45deg);
        }
      }
    }
  }
  &.active-nav .section-menu-toggle .toggle-label:after {
    transform: rotate(-45deg);
    @include menuStop {
      transform: rotate(45deg);
    }
  }
	h2.block-page-title {
    margin-bottom: $spaceSm;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    text-align: left;
    a {
      display: block;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: .05em;
      max-width: calc(100% - 112px);
      width: 100%;
      max-width: 100%;
      color: $brightBlue;
      padding: 10px;
      &:hover,&:focus {
        background: $white;
      }
    }
	}//end block title
}//end section menu block


//top level
#section-menu-wrapper{
	background: $menuBack;
	padding: 30px 15px 100px;
  position: relative;
  overflow-y: auto;
  width: 100vw;
  z-index: 5;
	@include menuStop {
		display: block !important;
    margin-bottom: $spaceLg;
    padding: 89px 10px 20px;
    width: auto;
    .layout-builder__layout & {
      display: none !important;
    }
	}
	& > ul:not(.contextual-links){
		@include listReset;
		@include auto;
    padding-bottom: $elementSpace;
    ul{
      @include listReset;
      display: none;
    }
		//global menu items
		li{
			list-style: none;
			position: relative;
      &:not(:last-child){
        border-bottom: 1px solid rgba($brightBlue,.12);
      }
			//active link
			a{
				text-decoration: none;
				display: block;
				color: $menuTop;
				padding: 12px 15px;
        line-height: 1.5;
        @include menuStop{
          padding: 12px 10px;
          &:hover,&:focus{
            color: $menuTopHover;
            background: $white;
          }
        }
				&.is-active{
					background: $siteBack;
          &:hover,&:focus{
            background: $lightGrey;
          }
          + ul{
            display: block;
          }
				}
			}//end a
      //child menu items
			li{
        border-bottom: 0;
				a{
          padding-left: 25px;
				}//end a
			}//end child items
		}//end global li
	}//end first level ul
}//end section menu wrapper
