/* =================
	 SECTION MENU
===================== */
@use '../../../00-base/base' as *;
#block-section-menu{
  margin-bottom: 0;
  @include edgeToEdge;
  @include menuStop{
    @include edgeReset;
    position: absolute;
    top: -200px !important;
    left: -10px;
    z-index: 20;
    width: $sideBar;
    opacity: 0;
    &.show-nav{
      @include animation('fadeInDelay 1s 1 forwards');
    }
    .logged-in &{
      left: -15px;
    }
    .layout-builder__layout &{
      position: relative !important;
      left: 0 !important;
      opacity: 1;
    }
    .node-type-support-book &{
      position: static;
    }
    .hero-full_image.in-main-menu &{
      top: -110px !important;
    }
    .hero-none.in-main-menu &{
      top: 0 !important;
    }
  }
  @media screen and (min-width: 1480px){
    left: calc(50% - 730px);
  }
  .hide-nav &{
		display: none;
	}
  &.post-intro{
    @include mobileMenu{
      @include edgeReset;
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 9999;
      max-height: 100vw;
      width: 100%;
      //override potential interference from desktop position
      top: auto !important;
      z-index: 20;
    }
    @include menuStop{
      position: absolute;
      top: -200px !important;
      left: -10px;
      width: $sideBar;
      z-index: 20;
      .node-type-support-book &{
        position: static;
      }
    }
    .logged-in &{
      @include desk{
        left: 60px;
        width: calc(100% - 60px);
      }
      @include menuStop{
        left: -15px;
        width: 259px;
      }
    }
  }//end is fixed
	h2.block-title{
    padding: 10px 10px 10px 30px;
		position: relative;
		display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
		color: $menuBlockTitle;
		max-width: none;
		margin-bottom: 0;
		text-align: left;
    @include menuStop{
      background: $ice;
      padding: 10px;
    }
  }
  h2.section-menu-toggle {
		background: $menuBlockTitleBack;
    color: $menuBlockTitle;
    @include menuStop{
      pointer-events: none;
      display: none;
    }
    .toggle-label {
      max-width: calc(100% - 112px);
      width: 100%;
    }
    a span{
      font-family: $bodyText;
      font-weight: $regular;
      font-size: 14px;
      text-transform: none;
      letter-spacing: 0;
      text-indent: -9000px;
      display: block;
      width: 52px;
      height: 40px;
      background-image: url(../images/elements/caret-down-mobile-main-nav.svg);
      background-repeat: no-repeat;
      background-position: center;
      @include rotate(180);
      &.expanded{
        @include rotate(0);
        transition: transform .3s ease-in-out;
      }
    }
  }//end section menu toggle
	h2.block-page-title	{
    padding-left: 0;
    a {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: .05em;
      max-width: calc(100% - 112px);
      width: 100%;
      max-width: 100%;
      color: $brightBlue;
      padding: 10px;
      &:hover,&:focus {
        background: $white;
      }
    }
	}//end block title
}//end section menu block


//top level
#section-menu-wrapper{
	display: none;
	background: $menuBack;
	padding: 0 15px 100px;
  overflow-y: auto;
	@include menuStop{
		display: block !important;
    padding: 0 10px 20px;
    margin-bottom: $spaceLg;
    .layout-builder__layout &{
      display: none !important;
    }
	}
	& > ul:not(.contextual-links){
		@include listReset;
		@include auto;
    ul{
      @include listReset;
      display: none;
    }
		//global menu items
		li{
			list-style: none;
			position: relative;
      &:not(:last-child){
        border-bottom: 1px solid rgba($brightBlue,.12);
      }
			//active link
			a{
				text-decoration: none;
				display: block;
				color: $menuTop;
				padding: 12px 15px;
        line-height: 1.5;
        @include menuStop{
          padding: 12px 10px;
          &:hover,&:focus{
            color: $menuTopHover;
            background: $white;
          }
        }
				&.is-active{
					background: $siteBack;
          + ul{
            display: block;
          }
				}
			}//end a
      //child menu items
			li{
        border-bottom: 0;
				a{
          padding-left: 25px;
				}//end a
			}//end child items
		}//end global li
	}//end first level ul
}//end section menu wrapper
