/* =================
	 SECTION MENU
===================== */
@use '../../../00-base/base' as *;
#block-section-menu{
  @include transition(top, .3s, ease-in-out);
  @include edgeToEdge;
  background-color: $menuBack;
  margin-bottom: 0;
  @include menuStop{
    @include edgeReset;
    @include transition(left, .3s, ease-in-out);
    height: 100vh;
    left: -$sideBar;
    position: fixed;
    top: 0;
    width: $sideBar;
    z-index: 20;
    &.active-nav{
      left: 0;
    }
    .logged-in &{
      left: -15px;
    }
    .layout-builder__layout &{
      position: relative !important;
      left: 0 !important;
      opacity: 1;
    }
    .node-type-support-book &{
      position: static;
    }
    .hero-full_image.in-main-menu &{
      top: -110px !important;
    }
    .hero-none.in-main-menu &{
      top: 0 !important;
    }
    &:after {
      // A mask to cover the shadow of the toggle/tab;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $menuBack;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
  .hide-nav &{
		display: none;
	}
	h2.block-title{
    padding: 10px 10px 10px 30px;
		position: relative;
		display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
		color: $menuBlockTitle;
		max-width: none;
		margin-bottom: 0;
		text-align: left;
    @include menuStop{
      background: $ice;
      padding: 10px;
    }
  }
  a.section-menu-toggle {
    @include safeFlex(row, nowrap, end, center);
    background-color: $menuBack;
    border-radius: 50%;
    box-shadow: 2px 2px 6px 0 $transGrey;
    cursor: pointer;
    height: 200px;
    position: absolute;
    right: -100px;
    top: calc(50vh - 100px);
    width: 200px;
    .section-menu-toggle-title {
      font-family: $header;
      font-size: 14px;
      font-weight: $heavy;
      line-height: 1.3;
      padding: 0 14px 0 8px;
      position: relative;
      width: 50%;
      text-transform: uppercase;
      z-index: 25;
    }
  }
  h2.section-menu-toggle {
		background: $menuBlockTitleBack;
    color: $menuBlockTitle;
    @include menuStop{
      pointer-events: none;
      display: none !important;
    }
    .toggle-label {
      max-width: calc(100% - 112px);
      width: 100%;
    }
    a span{
      font-family: $bodyText;
      font-weight: $regular;
      font-size: 14px;
      text-transform: none;
      letter-spacing: 0;
      text-indent: -9000px;
      display: block;
      width: 52px;
      height: 40px;
      background-image: url(../images/elements/caret-down-mobile-main-nav.svg);
      background-repeat: no-repeat;
      background-position: center;
      @include rotate(180);
      &.expanded{
        @include rotate(0);
        transition: transform .3s ease-in-out;
      }
    }
  }//end section menu toggle
	h2.block-page-title	{
    padding-left: 0;
    a {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: .05em;
      max-width: calc(100% - 112px);
      width: 100%;
      max-width: 100%;
      color: $brightBlue;
      padding: 10px;
      &:hover,&:focus {
        background: $white;
      }
    }
	}//end block title
}//end section menu block


//top level
#section-menu-wrapper{
	display: none;
	background: $menuBack;
	padding: 0 15px 100px;
  position: relative;
  overflow-y: auto;
  z-index: 5;
	@include menuStop{
		display: block !important;
    padding: 0 10px 20px;
    margin-bottom: $spaceLg;
    .layout-builder__layout &{
      display: none !important;
    }
	}
	& > ul:not(.contextual-links){
		@include listReset;
		@include auto;
    ul{
      @include listReset;
      display: none;
    }
		//global menu items
		li{
			list-style: none;
			position: relative;
      &:not(:last-child){
        border-bottom: 1px solid rgba($brightBlue,.12);
      }
			//active link
			a{
				text-decoration: none;
				display: block;
				color: $menuTop;
				padding: 12px 15px;
        line-height: 1.5;
        @include menuStop{
          padding: 12px 10px;
          &:hover,&:focus{
            color: $menuTopHover;
            background: $white;
          }
        }
				&.is-active{
					background: $siteBack;
          &:hover,&:focus{
            background: $lightGrey;
          }
          + ul{
            display: block;
          }
				}
			}//end a
      //child menu items
			li{
        border-bottom: 0;
				a{
          padding-left: 25px;
				}//end a
			}//end child items
		}//end global li
	}//end first level ul
}//end section menu wrapper
