/* ================
	 SEARCH
=================== */
@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;
@use 'sass:color';

///mixin placholder
%searchBlockPlaceholder{
	&::-webkit-placeholder{
		color: $searchDropPlace;
	}
	&::-moz-placeholder{
		color: $searchDropPlace;
	}
	&:-ms-input-placeholder{
		color: $searchDropPlace;
	}
	&::-webkit-input-placeholder{
		color: $searchDropPlace;
	}
}

///mixin - placeholderFocus
%searchBlockPlaceholderFocus{
	&::-webkit-placeholder{
		color: $searchDropPlaceFocus;
	}
	&::-moz-placeholder{
		color: $searchDropPlaceFocus;
	}
	&:-ms-input-placeholder{
		color: $searchDropPlaceFocus;
	}
	&::-webkit-input-placeholder{
		color: $searchDropPlaceFocus;
	}
}

.block-citizen-google-search-block{
	.t-search{
		@include safeFlex(column,nowrap,center,center);
		width: 40px;
		height: 40px;
		background-image: url('../images/elements/search-open-white.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		z-index: 10;
		top: -4px;
		right: 0;
		&:hover,&:focus{
			background-image: url('../images/elements/search-open-hover.svg');
		}
		&.close-search {
			background-image: url('../images/elements/search-close-white.svg');
			&:hover,&:focus{
				background-image: url('../images/elements/search-close-hover.svg');
			}
		}
	}
	.google-search-container {
		display:block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9;
		width: 100%;
		height: 0;
		background: $royal;
		transition:height .2s ease,visibility .2s ease,opacity .2s ease;
		visibility:hidden;
		opacity:0;
		&.expanded{
			height:33rem;
			opacity:1;
			visibility:visible;
		}
		&:before {
			content: '';
			display: block;
			top: 0;
			left: 4rem;
			position: absolute;
			width: 313px;
			height: 313px;
      opacity: .3;
			background-image: url(../images/logos-badges/seal.svg);
			background-position: center -108px;
			background-repeat: no-repeat;
			background-size: 313px 313px;
			z-index: -1;
		}
		.logged-in &{
			top: 56px;
		}
		.search-box-wrapper{
			position: relative;
			width: 100%;
			height: 100%;
			max-width: $contentStop;
			@include auto;
			padding: 0 20px;
			@include safeFlex(column,nowrap,center,center);
			.gsc-control-searchbox-only{
				width: 674px;
				max-width: 100%;
				//clear search box
				.gsst_a .gscb_a {
					padding-top: 4px;
					color: $navy !important;
					&:hover,&:focus {
						color: $link !important;
					}
				}
			}
		}
	}//end google search container
}//end search block form

// the search form at the top of /search
#search-results-wrapper .gsc-control-wrapper-cse{
	visibility: visible !important;
	label{
		font-size:2rem;
		color:$royal;
	}
	form.gsc-search-box{
		display:table !important;
		width:100%;
		max-width:894px;
		margin:0 auto;
		background-color:$ice;
		padding:4rem;
	}
	input.gsc-input{
		height:48px !important;
		padding:1px 16px !important;
		border-top-left-radius:4px;
		border-bottom-left-radius:4px;
	}
	td.gsc-input{
		padding-right:12px;
	}
	.gsc-input-box{
		border-radius:4px;
		padding:0;
	}
	.gsib_a{
		padding:1px 0 0 0;
	}

	button.gsc-search-button{
		@include submitButton;
		margin:auto;
	}
}

// header search box
.search-box-wrapper{
	.gsc-control-wrapper-cse,.gsc-control-searchbox-only{
		font-family: $bodyText;
		.paragraph--type--custom-embed &{
			visibility: visible !important;
			.gsc-search-box{
				display: table !important;
			}
		}
		.gsc-search-box{
			width: 100%;
			@include auto;
			position: relative;
			padding: 0;
			margin: 0;
			background: none;
			border: 0;
			box-shadow: none;
			.layout__region--content &{
				@include exposedForm;
				@include edgeToEdge;
				max-width: calc(100% + 40px);
				width: calc(100% + 40px);
				@include desk{
					@include edgeReset;
					width: 100%;
				}
				.gsc-search-box{
					padding: 0;
					margin: 0;
					width: 100%;
				}
			}
			& > label{
				font-weight: $heavy;
				line-height: 1.5;
				margin-bottom: $spaceXxs;
				color: white;
				margin-left: 2rem;
				header &{
					color: $white;
					@include menuStop {
						font-size: 2rem;
						margin-left: 0;
						margin-bottom: 1.5rem;
					}
				}
				.layout__region--content &{
					font-family: $displayHeader;
					font-size: 21px;
					line-height: 1.17;
					font-weight: $regular;
					margin-bottom: $spaceXs;
					display: inline-block;
				}
			}

			//search box input
			td.gsc-input{
				padding-right: 0;
				.gsc-input-box{
					border-radius: 25px;
					border: 0;
					background: $ice;
					.layout__region--content &{
						background: $white;
					}
					header &{
						@include menuStop{
							padding:0;
							margin-right: 15px;
							border-radius: 4px;
						}
					}
					.gsib_a{
						padding:1px 0 0 0;
					}
					input.gsc-input{
						height:48px !important;
						padding-left:2rem !important;
						font-size: 2rem;
						font-family: $bodyText;
						font-weight: $regular;
						@extend %searchBlockPlaceholder;
						background: none !important;
						@include menuStop{
							padding-left:1rem !important;
						}
						&:focus{
							@extend %searchBlockPlaceholderFocus;
						}
					}//end input
				}//end gsc input box
			}// end gsc input td

			//clear search box
			.gsst_a .gscb_a {
				padding-top: 4px;
				color: $transNavy !important;
				font-family: $bodyText;
				font-size: 22px;
				line-height: 1;
				&:hover,&:focus {
					color: inherit !important;
				}
			}

			button.gsc-search-button{
				@include submitButton;
				margin:0;
			}
		}//end gsc search box
	}//end google search control wrapper
}

//search autocomplete suggestions
.gssb_c{
	z-index: 500;
	.gssb_e{
		box-shadow: none;
	}
	table.gsc-completion-container{
		font-family: $bodyText;
		margin: 11px -20px 0;
		width: calc(100% + 68px) !important;
		& > tbody{
			& > tr{
				//hide enhanced by Google
				&:last-child{
					display: none;
				}
				div.gsq_a{
					margin-bottom: 5px;
					padding-left: 20px;
				}
			}
		}
	}//end completion container
}//end autocomplete suggestions table

.search-box-wrapper.mobile-search {
	padding: 0 2.5rem;
	margin-bottom: 5rem;
	.gsc-search-box {
		label {
			display: block;
      font-family: $header;
      font-weight: $xHeavy;
      font-size: 2rem;
      line-height: 1.5;
			margin-bottom: $spaceXxs;
		}
		.gsc-input-box {
			.gsst_a {
				padding: 0;
			}
      .gsc-input {
        font-size: 1.75rem;
      }
		}
		.gsc-search-button .gsc-search-button-v2 {
			border: unset !important;
			height: 52px;
			padding-top: 0;
			&:hover,&:focus{
				background-color: transparent;
			}
		}
	}
}

//search results
.gsc-results-wrapper-visible{
	width: 100%;
	max-width: 894px;
	margin: $elementSpace auto 0;
	.gs-result{
		.gs-title .gs-title{
			font-size:20px;
			color:$royal;

			// thanks google
			*{
				font-size:inherit;
				color:inherit;
			}
		}
		.gs-visibleUrl-breadcrumb{
			font-size:16px;
		}
		.gs-image{
			border:0;
		}
	}
}

