/* ================
	 SEARCH
=================== */
@use '../../../00-base/base' as *;

///mixin placholder
%searchBlockPlaceholder{
	$placeTint: 1;
	&::-webkit-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
	&::-moz-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
	&:-ms-input-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
	&::-webkit-input-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
}

///mixin - placeholderFocus
%searchBlockPlaceholderFocus{
	$placeFocusTint: .2;
	&::-webkit-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
	&::-moz-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
	&:-ms-input-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
	&::-webkit-input-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
}

.block-citizen-google-search-block{
	.t-search{
		@include safeFlex(column,nowrap,center,center);
		width: 40px;
		height: 40px;
		background-image: url('../images/elements/search-open-white.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		z-index: 10;
		top: -4px;
		right: 0;
		&:hover,&:focus{
			background-image: url('../images/elements/search-open-hover.svg');
		}
		&.close-search {
			background-image: url('../images/elements/search-close-white.svg');
			&:hover,&:focus{
				background-image: url('../images/elements/search-close-hover.svg');
			}

		}
	}
	.google-search-container {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9;
		width: 100%;
		height: 100vh;
		background: $navy;
		&:before {
			content: '';
			display: block;
			top: 0;
			left: calc(50% - 203px);
			position: absolute;
			width: 405px;
			height: 405px;
			background-image: url(../images/logos-badges/uwec-seal-white.svg);
			background-position: center -203px;
			background-repeat: no-repeat;
			background-size: 405px 405px;
      z-index: -1;
		}
		&:after {
			content: '';
			display: block;
			bottom: 0;
			left: calc(50% - 203px);
			position: absolute;
			width: 405px;
			height: 405px;
			background-image: url(../images/logos-badges/uwec-seal-white.svg);
			background-position: center 203px;
			background-repeat: no-repeat;
			background-size: 405px 405px;
      z-index: -1;
		}
		.logged-in &{
			top: 56px;
		}
		.search-box-wrapper{
			position: relative;
			width: 100%;
			height: 100%;
			max-width: $contentStop;
			@include auto;
			padding: 0 20px;
			@include safeFlex(column,nowrap,center,center);
			.gsc-control-searchbox-only{
				width: 820px;
				max-width: 100%;
				//clear search box
				.gsst_a .gscb_a {
					padding-top: 4px;
					color: $navy !important;
					&:hover,&:focus {
						color: $link !important;
					}
				}
			}
		}
	}//end google search container
}//end search block form

//search console wrapper
.gsc-control-wrapper-cse,.gsc-control-searchbox-only{
	font-family: $bodyText;
	.paragraph--type--custom-embed &{
		visibility: visible !important;
		.gsc-search-box{
			display: table !important;
		}
	}
	.gsc-search-box{
		width: 100%;
		@include auto;
		position: relative;
		padding: 0;
		margin: 0;
		background: none;
		border: 0;
		box-shadow: none;
		.layout__region--content &{
			@include exposedForm;
      @include edgeToEdge;
      max-width: calc(100% + 40px);
      width: calc(100% + 40px);
      @include desk{
        @include edgeReset;
        width: 100%;
      }
			.gsc-search-box{
				padding: 0;
				margin: 0;
        width: 100%;
			}
		}
		& > label{
			@include heading3;
			margin-bottom: $spaceXxs;
			color: $navy;
			margin-left: 3rem;
			header &{
				color: $white;
			}
      .layout__region--content &{
        font-family: $displayHeader;
        font-size: 21px;
        line-height: 1.17;
        font-weight: $regular;
        margin-bottom: $spaceXs;
        display: inline-block;
      }
		}
		//search box input
		td.gsc-input{
			padding-right: 0;
			.gsc-input-box{
				padding: 11px 50px 11px 20px;
				border-radius: 25px;
				border: 0;
				background: $ice;
        .layout__region--content &{
          background: $white;
        }
        header &{
          @include menuStop{
            padding: 4px 20px 5px;
            margin-right: 12px;
          }
        }
				input.gsc-input{
					@include browserWipe;
					font-size: 2rem;
					font-family: $bodyText;
					font-weight: $regular;
					@extend %searchBlockPlaceholder;
					background: none !important;
					&:focus{
						@extend %searchBlockPlaceholderFocus;
					}
				}//end input
			}//end gsc input box
		}// end gsc input td

    //clear search box
    .gsst_a .gscb_a {
      padding-top: 4px;
      color: $transNavy !important;
      font-family: $bodyText;
      font-size: 22px;
      line-height: 1;
      &:hover,&:focus {
        color: $link !important;
      }
    }

		.gsc-search-button{
      position: absolute;
      top: 0;
      right: 0;
      header &{
        @include menuStop{
          position: static;
        }
      }
			button.gsc-search-button-v2{
				@include browserWipe;
				border: 1px solid $navy;
				border-radius: 25px;
				color: $navy;
				background-color: transparent;
				margin-bottom: 0;
				height: 50px;
				padding: 3px 23px 0;
				text-transform: uppercase;
        background-image: url('../images/elements/search.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 17px 17px;
        .layout__region--content &{
          border: none;
          top: 5px;
          right: 5px;
          background-image: none;
          background-color: $navy;
          -webkit-mask: url('../images/elements/search.svg') no-repeat 50% 50%;
          mask: url('../images/elements/search.svg') no-repeat 50% 50%;
          -webkit-mask-size: 17px;
          mask-size: 17px;
        } 
				&:hover,&:focus{
					background-color: $navy;
					color: $white;
          .layout__region--content &{
            background-color: $brightBlue;
          }
				}
				header &{
					border: 1px solid $white;
					color: $white;
          @include menuStop{
            font-size: 14px;
            line-height: 1.2;
            font-family: $header;
            font-weight: $xHeavy;
          }
					&:hover,&:focus{
						background-color: $white;
						color: $navy;
					}
				}
				svg{
					display: none;
				}//end svg
			}//end button v2
		}//end gsc search button
	}//end gsc search box
}//end google search control wrapper

//search autocomplete suggestions
.gssb_c{
	z-index: 500;
	.gssb_e{
		box-shadow: none;
	}
	table.gsc-completion-container{
		font-family: $bodyText;
		margin: 11px -20px 0;
		width: calc(100% + 68px) !important;
		& > tbody{
			& > tr{
				//hide enhanced by Google
				&:last-child{
					display: none;
				}
				div.gsq_a{
					margin-bottom: 5px;
					padding-left: 20px;
				}
			}
		}
	}//end completion container
}//end autocomplete suggestions table

.search-box-wrapper.mobile-search {
	padding: 40px 2.5rem 0;
	margin-bottom: 6rem;
	.gsc-search-box {
		label {
			display: block;
			margin-bottom: $spaceXxs;
		}
		.gsc-input-box {
			.gsst_a {
				padding: 0;
			}
		}
		.gsc-search-button .gsc-search-button-v2 {
			border: unset !important;
			height: 52px;
			padding-top: 0;
      &:hover,&:focus{
        background-color: transparent;
      }
		}
	}
}

//search results
.gsc-results-wrapper-visible{
	width: 100%;
	max-width: 894px;
	margin: $elementSpace auto 0;
}

#search-results-wrapper {
  max-width: 984px;
  @include auto;
  //general wrapper
  .gsc-control-cse{
    padding: 0;
    background: transparent;
    border: none;
  }
	a, a *:not(.gscb_a) {
		color: $link !important;
	}
  // sorting/ordering
  .gsc-result-info,.gsc-orderby-label{
    color: $navy;
    font-size: 1.5rem;
  }
  .gsc-selected-option-container{
    background: $lightGrey;
    border: none;
  }
	.gsc-tabsArea{
		display: none;
	}
	.gsc-refinementBlock {
		.gsc-refinementhInactive {
			color: $link;
		}
	}
	.gsc-result {
		padding: 0 0 4rem;
		margin-top: $spaceXs;
		margin-bottom: 4rem;
    border-bottom: 1px solid $borderRule;
    &:nth-last-child(2){
      border-bottom: 0;
    }
	}
	.gs-per-result-labels{
		display: none;
	}
	a.gs-title {
    font-family: $header;
    font-weight: $xHeavy;
    font-size: 2.25rem;
    line-height: 1.33;
    &:hover,&:focus{
      color: $navy !important;
      @include dottedLink($navy);
      padding-bottom: 1px;
    }//end hover, focus
	}//end title link
	.gsc-url-top{
    margin-bottom: $spaceXxs;
    *{
      font-size: 1.75rem;
      color: $royal;
    }
	}
  .gsc-table-result{
    .gs-web-image-box{
      margin-right: 12px;
      width: 90px;
      @include tab{
        width: 150px;
      }
      .gs-image{
        border: none;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .gsc-table-cell-snippet-close{
      font-size: 2rem;
      line-height: 1.5;
    }
  }
	.gsc-cursor-box {
		text-align: center;
		margin-bottom: $elementSpace;
		border-top: 1px solid var(--border);
		padding-top: 4.5rem;
		.gsc-cursor{
			background: $lightGrey;
			padding: 14px 20px;
			border-radius: 25px;
			.gsc-cursor-page {
				color: $navy;
				font-size: 14px;
				line-height: 32px;
				margin: 0 4px;
				padding: 2px 0;
				width: 30px;
				text-align: center;
				display: inline-block;
				border: 0;
				background-color: transparent;
				&:hover,&:focus{
					background: $warmGrey;
				}
				&.gsc-cursor-current-page{
					color: $white;
					background: $navy;
					&:hover,&:focus{
						color: $navy;
						background: $warmGrey;
					}
				}
			}//end cursor page
		}	//end cursor
	}//end GSC cursor box
	.gcsc-find-more-on-google-magnifier {
		fill: $link;
	}
}//end search results wrapper


