/* ================
	 SEARCH
=================== */
@use '../../../00-base/base' as *;

///mixin placholder
%searchBlockPlaceholder{
	$placeTint: 1;
	&::-webkit-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
	&::-moz-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
	&:-ms-input-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
	&::-webkit-input-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
}

///mixin - placeholderFocus
%searchBlockPlaceholderFocus{
	$placeFocusTint: .2;
	&::-webkit-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
	&::-moz-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
	&:-ms-input-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
	&::-webkit-input-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
}

.block-citizen-google-search-block{
	.t-search{
		@include safeFlex(column,nowrap,center,center);
		width: 40px;
		height: 40px;
		background-image: url('../images/elements/search-open-white.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		&:hover,&:focus{
			background-image: url('../images/elements/search-open-hover.svg');
		}
	}
	.google-search-container {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9;
		width: 100%;
		height: 100vh;
		background: $navy;
		.logged-in &{
			top: 56px;
		}
		.search-box-wrapper{
			position: relative;
			width: 100%;
			height: 100%;
			max-width: $contentStop;
			@include auto;
			padding: 0 20px;
			@include safeFlex(column,nowrap,center,center);
			.close-search{
				position: absolute;
				top: 17px;
				right: 28px;
				width: 40px;
				height: 40px;
				background-image: url('../images/elements/search-close-white.svg');
				background-repeat: no-repeat;
				background-size: 100%;
				&:hover,&:focus{
					background-image: url('../images/elements/search-close-hover.svg');
				}
			}
			.gsc-control-searchbox-only{
				width: 820px;
				max-width: 100%;
				//clear search box
				.gsst_a .gscb_a {
					padding-top: 4px;
					color: $navy !important;
					&:hover,&:focus {
						color: $link !important;
					}
				}
			}
		}
	}//end google search container
}//end search block form

//search console wrapper
.gsc-control-wrapper-cse,.gsc-control-searchbox-only{
	font-family: $bodyText;
	.paragraph--type--custom-embed &{
		visibility: visible !important;
		.gsc-search-box{
			display: table !important;
		}
	}
	.gsc-search-box{
		width: 100%;
		@include auto;
		position: relative;
		padding: 0;
		margin: 0;
		background: none;
		border: 0;
		box-shadow: none;
		.layout__region--content &{
			@include exposedForm;
			.gsc-search-box{
				padding: 0;
				margin: 0;
			}
		}
		& > label{
			@include heading3;
			margin-bottom: $spaceXxs;
			color: $navy;
			header &{
				color: $white;
			}
		}
		//search box input
		td.gsc-input{
			padding-right: 0;
			.gsc-input-box{
				padding: 11px 50px 11px 20px;
				border-radius: 25px;
				border: 0;
				background: $ice;
				@include desk{
					padding: 4px 20px 5px;
					margin-right: 12px;
				}
				input.gsc-input{
					@include browserWipe;
					font-size: 2rem;
					font-family: $bodyText;
					font-weight: $regular;
					@extend %searchBlockPlaceholder;
					background: none !important;
					&:focus{
						@extend %searchBlockPlaceholderFocus;
					}
					.layout__region--content &{
						&::placeholder{
							font-weight: $heavy;
						}
					}
				}//end input
			}//end gsc input box
		}// end gsc input td

		.gsc-search-button{
			@include onlyMobile{
				position: absolute;
				top: 0;
				right: 0;
			}
			button.gsc-search-button-v2{
				@include browserWipe;
				border: 1px solid $navy;
				border-radius: 25px;
				color: $navy;
				background-color: transparent;
				margin-bottom: 0;
				height: 50px;
				padding: 3px 23px 0;
				text-transform: uppercase;
				@include onlyMobile{
					background-image: url('../images/elements/search.svg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: 17px 17px;
				}
				@include desk{
					font-size: 14px;
					line-height: 1.2;
					font-family: $header;
					font-weight: $xHeavy;
				}
				&:hover,&:focus{
					background-color: $navy;
					color: $white;
				}
				header &{
					border: 1px solid $white;
					color: $white;
					&:hover,&:focus{
						background-color: $white;
						color: $navy;
					}
				}
				svg{
					display: none;
				}//end svg
			}//end button v2
		}//end gsc search button
	}//end gsc search box
}//end google search control wrapper

//search autocomplete suggestions
.gssb_c{
	z-index: 500;
	.gssb_e{
		box-shadow: none;
	}
	table.gsc-completion-container{
		font-family: $bodyText;
		margin: 11px -20px 0;
		width: calc(100% + 68px) !important;
		& > tbody{
			& > tr{
				//hide enhanced by Google
				&:last-child{
					display: none;
				}
				div.gsq_a{
					margin-bottom: 5px;
					padding-left: 20px;
				}
			}
		}
	}//end completion container
}//end autocomplete suggestions table

.search-box-wrapper.mobile-search {
	padding: 0 2.5rem;
	margin-bottom: 6rem;
	.gsc-search-box {
		label {
			display: block;
			margin-bottom: $spaceXxs;
			padding-left: 3rem;
		}
		.gsc-input-box {
			.gsst_a {
				padding: 0;
			}
		}
		.gsc-search-button .gsc-search-button-v2 {
			border: unset !important;
			height: 35px;
			padding-top: 0;
		}
	}
}

//search results
.gsc-results-wrapper-visible{
	width: 100%;
	max-width: 894px;
	margin: $elementSpace auto 0;
}

#search-results-wrapper {
	a, a * {
		color: $link !important;
	}
	//clear search box
	.gsst_a .gscb_a {
		padding-top: 4px;
		color: $navy !important;
		&:hover,&:focus {
			color: $link !important;
		}
	}
	.gsc-tabsArea{
		display: none;
	}
	.gsc-refinementBlock {
		.gsc-refinementhInactive {
			color: $link;
		}
	}
	.gsc-webResult {
		padding: 0;
		margin-top: $spaceXs;
		margin-bottom: 4rem;
	}
	.gs-per-result-labels{
		display: none;
	}
	.gs-title,.gs-title *,.gs-visibleUrl,.gs-fileFormat,.gs-fileFormatType,.gs-snippet,.gs-per-result-labels {
		font-family: $bodyText;
		font-size: $baseSize;
		a {
			color: $link;
			text-decoration: none;
			b {
				color: $link;
			}
			&:hover {
				color: $hoverLink;
				text-decoration: underline;
				b {
					color: $hoverLink;
				}
			}
		}
	}
	.gs-title,.gs-title * {
		font-size: 22px;
		font-weight: $heavy;
	}
	.gsc-url-top * {
		color: #595959;
	}
	.gsc-cursor-box {
		text-align: center;
		margin-bottom: $elementSpace;
		border-top: 1px solid var(--border);
		padding-top: 4.5rem;
		.gsc-cursor{
			background: $lightGrey;
			padding: 14px 20px;
			border-radius: 25px;
			.gsc-cursor-page {
				color: $navy;
				font-size: 14px;
				line-height: 32px;
				margin: 0 4px;
				padding: 2px 0;
				width: 30px;
				text-align: center;
				display: inline-block;
				border: 0;
				background-color: transparent;
				&:hover,&:focus{
					background: $warmGrey;
				}
				&.gsc-cursor-current-page{
					color: $white;
					background: $navy;
					&:hover,&:focus{
						color: $navy;
						background: $warmGrey;
					}
				}
			}
		}	
	}//end GSC cursor
	.gcsc-find-more-on-google-magnifier {
		fill: $link;
	}
}//end search results wrapper


