/* ============
   TYPOGRAPHY
============== */

@use '../../00-base/base' as *;

/* HEADING STYLING
------------------- */
h1 {
	@include heading1;
}

h2{
	@include heading2;
	.text-long &,.text-with-summary &{
		margin-bottom: $spaceMs;
	}
}

h3{
	@include heading3;
	.text-long &,.text-with-summary &{
		margin-bottom: $spaceXms;
	}
}

h4{
	@include heading4;
	.text-long &,.text-with-summary &{
		margin-bottom: $spaceXxs;
	}
}

h5{
	@include heading5;
	.text-long &,.text-with-summary &{
		margin-bottom: $spaceMxxs;
	}
}

h6{
	@include heading6;
}

h2+ul, h3+ul, h4+ul, h5+ul, h6+ul {
	margin-top: 0;
}



/* BLOCK, SECTION AND WIDGET HEADINGS
-------------------------- */
.block-title{
	max-width: $textMax;
	@include auto;
}
h2.block-title{
	@include blockTitle;
}
h2.section-title{
	@include blockTitle;
	font-size: 3rem;
	max-width: $textMax + 40px;
}
.widget-title,.field-widget-title{
	@include blockTitle;
}

/* TEXT STYLES
--------------- */
html,code{
	font-family: $bodyText;
	font-size: $em-base;
	line-height: 1.625;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: normal;
	font-synthesis: none;
  font-optical-sizing: auto;
}

body {
	color: $baseText;
	margin: 0;
	font-size: $baseSize;
}

p{
	margin-top: 0;
	&:not(:last-child){
		margin-bottom: $spaceSm;
	}

	a{
		word-wrap:break-word;
	}
}

a {
	color: $link;
	text-decoration: none;
  .text-with-summary &,.text-long &{
  
  }
	&:hover,&:focus {
		color: $hoverLink;
		text-decoration: none;
		.text-with-summary &,.text-long &{
			transition: color .3s ease-in;
		}
	}
}
a[target="_blank"]::after {
	content:' (opens in a new window)';
	font-size:0;
	position: absolute;
}

em{
	font-style: italic;
}
strong{
	font-weight: $heavy;
}

.highlighter{
	background: $highlighter;
}

.hr,hr {
	border-style: solid;
	border-width: 1px 0 0;
	color: $borderRule;
	& + *{
		margin-top: $spaceMd;
	}
}

blockquote{
	@include quote;
	margin: 0;
	position: relative;
	padding-top: 8rem;
  background: $ice;
	text-align: center;
	&:before{
		content: '“';
		display: block;
		position: absolute;
		top: 3rem;
		left: calc(50% - 20px);
		@include quoteMark;
	}
}

//clear floats in common long text fields, remove bottom margin from last child
.text-with-summary,.text-long{
	@include clearFix;
	& > *:last-child{
		margin-bottom: 0;
	}
	& + *{
		clear: both;
	}
	article:not(:last-child){
		margin-bottom: $spaceMd;
	}
  a{
    &:focus{
      color: $royal;
      @include dottedLink($royal);
    }
  }
}//end text-with-summary,text-long

/* ICONS
--------------- */

//svg icon color
svg{
	fill: currentColor;
	use{
		fill: currentColor;
	}
}
