/* ============
   FACT LIBRARY
================ */

@use '../../../00-base/base' as *;

.node-fact{
	padding-top: $elementSpace;
	@include auto;
	max-width: $textMax;
	.block-field:not(.block-title){
		margin-bottom: $spaceXxs;
	}
	.field.entity-reference{
		.field-multi-item{
			& > div:not(:last-child){
				&:after{
					content: ', ';
				}
			}
		}
	}
}//end fact-library

.node-teaser-fact{
	.teaser-title{
		@include heading2;
    font-size: 2.25rem;
    line-height: 1.5;
    margin-bottom: .85rem;
    word-break: break-all;
    @include desk{
      font-size: 3rem;
      line-height: 1.33;
    }
	}
  .field-plain-text{
    margin-bottom: 10px;
  }
  .field-source{
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
