/* ============
   FACT LIBRARY
================ */

@use '../../../00-base/base' as *;

.node-fact{
	padding-top: $elementSpace;
	@include auto;
	max-width: $textMax;
	.block-field:not(.block-title){
		margin-bottom: $spaceXxs;
	}
}//end fact-library

.node-teaser-fact{
	.teaser-title{
		@include heading2;
	}
}
