/* ================
	 MEDIA
============== */
@use '../../00-base/base' as *;

@mixin imageBase{
	display: block;
	width: 100%;
	height: auto;
}

@mixin imageHover{
	border: 1px solid $ice;
	&:hover,&:focus{
		border-color: $borderRule;
		opacity: .7;
		@include transAll(.3s);
	}
}

@mixin responsiveVideo{
	position: relative;
	padding-bottom: 56.25%;
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}

@mixin docIcon{
	position: relative;
	padding-left: 22px;
	&:hover:before,&:focus:before{
		opacity: .7;
	}
	&:before{
		@include materialIconOutline(\e873);
		display: block;
		position: absolute;
		top: 1px;
		left: -2px;
		color: $fileIcon;
		font-size: 20px;
	}
}




