/* ==================
    DEPARTMENT VIEWS
==================== */

@use '../../../00-base/base' as *;


/* DEPARTMENTS BY COLLEGE
--------------- */
.departments.by-college{
  @include desk{
    max-width: 900px;
    @include auto;
  }
  @include contentStop{
    max-width: 1094px;
  }
  .view-content{
    @include safeFlex(row,wrap,start,stretch);
    @include bleed(padding,20px);
    &.center-departments{
      @include smallTab{
        justify-content: center;
      }
    }
    @include contentStop{
      @include bleed(padding,40px);
    }
  }
  .views-row{
    max-width: 335px;
    @include smallTab{
      width: 50%;
      max-width: 100%;
    }
    @include desk{
      width: 33.33%;
    }
  }//end views row
  .views-field-title{
    padding: 10px 0px 12px;
    margin-bottom: $spaceXs;
    a{
      @include linkArrow(goldRoyal, lg);
      min-height: 32px;
      &.lf-file-link{
        span{
          word-break: break-word;
        }
      }
    }//end a
  }//end views field title
}//end departments by college