/* ========================
  ADMIN CSS
=========================*/

/* hide default drupal preview button
---------------------------- */
#edit-gin-actions input[data-drupal-selector="edit-preview"]{
	display: none;
}

/* style disabled buttons in gin
--------------------------------- */
button[disabled],button.disabled{
	color: #676767 !important;
}
button[disabled]:hover,button.disabled:hover{
	background-color: transparent !important;
}

/* FIX CKE MODALS HIDING BEHIND OTHER MODALS
------------------ */
.ck.ck-balloon-panel{
	z-index: 1261 !important;
}

.role-personnel .ck.ck-button.ck-source-editing-button,.role-editor .ck.ck-button.ck-source-editing-button,.role-marketing_editor .ck.ck-button.ck-source-editing-button,.role-section_manager .ck.ck-button.ck-source-editing-button{
	display: none;
}

/* ADJUST MEDIA LIBRARY
----------------------- */
#media-library-wrapper{
	padding-top: 20px;
}

/* hide additional buttons added by infinite scroll in media library
----------------------------------------- */
.media-library-widget-modal .ui-dialog-buttonset.form-actions button.media-library-select.ui-widget:not(:first-child){
	display: none !important;
}
[data-drupal-views-infinite-scroll-pager="automatic"] {
	bottom: 0;
}

/* ADJUST UI DIALOG CLOSE X */
.ui-dialog.ui-widget .ui-dialog-titlebar-close.ui-button-icon-only{
	top: 13px;
}

/* FIX CKE WRAPPING IN PARAGRAPH SUBFORMS
-------------------------------*/
.form-textarea-wrapper .ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items{
	flex-wrap: wrap;
}

/* ADD LAYOUT PARAGRAPH UI IMPROVEMENTS */
.ui-widget-content.lpb-dialog{
	width: 75% !important;
}
.ui-widget-content.lpb-dialog .ui-dialog-buttonpane .button.button--small{
	padding-top: 14px;
	padding-bottom: 14px;
}
.lpb-component-list{
	margin-top: 20px;
	margin-bottom: 20px;
}

.lpb-component-list__search .lpb-component-list-search-input{
	width: 60%;
	min-height: 2rem;
	padding: calc(0.75rem - 1px) calc(1rem - 1px);
	background: #fff;
	font-size: 1rem;
	line-height: 1.5rem;
	appearance: none;
	font-family: inherit;
	border: 1px solid #444;
	border-radius: 10px;
}
.lpb-component-list__search .lpb-component-list-search-input:hover{
	border-color: #000;
	box-shadow: inset 0 0 0 1px #000;
}

.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .lpb-component-list__item{
	width: 33.33%;
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .lpb-component-list__item > a{
	flex-direction: column;
	margin-top: 20px;
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .lpb-component-list__item > a:hover{
	color: #676767;
	text-decoration: underline;
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .lpb-component-list__item > a:hover::before{
	opacity: .6;
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .lpb-component-list__item > a:before {
  content: '';
  display: block;
  width: 100%;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
/* CUSTOM ICONS ARE ALL DOWNLOADED FROM MATERIAL ICONS */
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-accordions > a:before{
  background-image: url('../icons/paragraphs/accordions.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-block_placer > a:before{
  background-image: url('../icons/paragraphs/block-placer.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-button > a:before{
  background-image: url('../icons/paragraphs/button.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-ctas > a:before{
  background-image: url('../icons/paragraphs/ctas.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-contact_placer > a:before{
  background-image: url('../icons/paragraphs/contact-placer.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-custom_embed > a:before{
  background-image: url('../icons/paragraphs/custom-embed.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-events_list > a:before{
  background-image: url('../icons/paragraphs/events-list.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-facts_list > a:before{
  background-image: url('../icons/paragraphs/facts-list.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-fauxfile > a:before{
  background-image: url('../icons/paragraphs/fauxfile.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-gallery > a:before{
  background-image: url('../icons/paragraphs/gallery.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-hallmark > a:before{
  background-image: url('../icons/paragraphs/hallmark.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-highlight_box > a:before{
  background-image: url('../icons/paragraphs/highlight-box.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-hours_placer > a:before{
  background-image: url('../icons/paragraphs/hours-placer.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-image > a:before{
  background-image: url('../icons/paragraphs/image.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-links_files > a:before{
  background-image: url('../icons/paragraphs/links-files.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-profiles_list > a:before{
  background-image: url('../icons/paragraphs/profiles-list.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-programs_list > a:before{
  background-image: url('../icons/paragraphs/programs-list.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-program_search > a:before{
  background-image: url('../icons/paragraphs/program-search.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-quote > a:before{
  background-image: url('../icons/paragraphs/quote.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-social_media_links > a:before{
  background-image: url('../icons/paragraphs/social-media-links.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-select_type > a:before{
  background-image: url('../icons/paragraphs/select-type.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-slate_form > a:before{
  background-image: url('../icons/paragraphs/form-placer.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-snapshot_list > a:before{
  background-image: url('../icons/paragraphs/snapshot-list.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-steps > a:before{
  background-image: url('../icons/paragraphs/steps.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-stories_video_list > a:before{
  background-image: url('../icons/paragraphs/stories-video-list.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-text > a:before{
  background-image: url('../icons/paragraphs/text.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-testimonial_placer > a:before{
  background-image: url('../icons/paragraphs/testimonial-placer.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-video > a:before{
  background-image: url('../icons/paragraphs/video.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-view_placer > a:before{
  background-image: url('../icons/paragraphs/view-placer.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-wayfinding > a:before{
  background-image: url('../icons/paragraphs/wayfinding.svg');
}

.js-lpb-component.paragraph--view-mode--preview{
	padding: 10px 5px;
	margin: 2px;
	min-height: 30px;
	border: 1px solid #000;
	border-radius: 5px;
}
.js-lpb-component.paragraph--view-mode--preview .para-preview-label{
	margin-bottom: 5px;
	text-transform: capitalize;
	color: #4176d9;
	font-style: italic;
	font-size: 16px;
}
.js-lpb-component.paragraph--view-mode--preview:not(.paragraph--type--layout-section):not(.paragraph--type--layout-section-single) .para-preview-label{
	font-size: 14px;
}
.js-lpb-component.paragraph--view-mode--preview:last-of-type{
	margin-bottom: 15px;
}

/* RESTRICT PARAGRAPH OPTIONS TO SITE ADMINS
-------------------------------- */
.role-personnel fieldset[data-drupal-selector="edit-layout-paragraphs-layout"],
.role-personnel .form-item--layout-paragraphs-config-column-widths,
.role-personnel .lpb-duplicate,
.role-editor fieldset[data-drupal-selector="edit-layout-paragraphs-layout"],
.role-editor .form-item--layout-paragraphs-config-column-widths,
.role-editor .lpb-duplicate,
.role-marketing_editor fieldset[data-drupal-selector="edit-layout-paragraphs-layout"],
.role-marketing_editor .form-item--layout-paragraphs-config-column-widths,
.role-marketing_editor .lpb-duplicate,
.role-section_manager fieldset[data-drupal-selector="edit-layout-paragraphs-layout"],
.role-section_manager .form-item--layout-paragraphs-config-column-widths,
.role-section_manager .lpb-duplicate,
.role-site_manager fieldset[data-drupal-selector="edit-layout-paragraphs-layout"],
.role-site_manager .form-item--layout-paragraphs-config-column-widths,
.role-site_manager .lpb-duplicate{
	display: none;
}

/* INDIVIDUAL PARAGRAPH PREVIEW TWEAKS
------------------------------- */
.paragraph--type--form-placer.paragraph--view-mode--preview .field--name-field-form a,
.paragraph--view-mode--preview .field--name-field-link a,
.paragraph--view-mode--preview .field--name-field-link-multi a,
.paragraph--view-mode--preview .field--name-field-file-multi a,
.paragraph--view-mode--preview .field--name-field-long-text a{
	pointer-events: none;
	color: #444;
  text-decoration: underline;
}


/* FIELD ADJUSTMENTS
------------------------ */
.field--name-field-geolocation fieldset.geolocation-widget-input,.field--name-field-address #edit-field-address-0-address-country-code{
	display: none;
}
#edit-field-formatted-title-wrapper .ck-editor__main > :is(.ck-editor__editable),#edit-field-formatted-headline-wrapper .ck-editor__main > :is(.ck-editor__editable),.field--name-field-formatted-headline .ck-editor__main > :is(.ck-editor__editable){
	min-height: 3.4rem;
}
.role-editor .field--name-field-formatted-title .ck.ck-editor__top,
.role-marketing_editor .field--name-field-formatted-title .ck.ck-editor__top,
.role-section_manager .field--name-field-formatted-title .ck.ck-editor__top,
.role-site_manager .field--name-field-formatted-title .ck.ck-editor__top,
.role-personnel .field--name-field-formatted-title .ck.ck-editor__top{
	display: none;
}

body:not(.role-super-user):not(.role-administrator):not(.role-site_admin) .field--name-field-primary-editor{
	display: none;
}

/* CUSTOM ADMIN REVIEW VIEWS
-------------------------- */
.view-snapshots.view-display-id-review .form-item--field-entry-year-value-min .form-item__label,.view-snapshots.view-display-id-review .form-item--field-entry-year-value-max .form-item__label{
	margin-top: -27px;
	top: 5px;
}

.view-snapshots.view-display-id-review fieldset#edit-field-entry-year-value-wrapper{
	border: 0;
	padding: 0;
	margin-top: 18px;
}

