/* =============
	 FOOTER MENUS
------------------- */
@use '../../../00-base/base' as *;

// visit apply etc
.block-footer-menu{
	ul:not(.contextual-links){
		@include listReset;
		@include safeFlex(row,wrap,center,center);
		margin-bottom: $spaceMd;
    @include desk{
      margin-bottom: 0;
    }
		li{
			margin-left: 10px;
			margin-right: 10px;
      @include desk{
        &:first-child{
          margin-right: 30px;
        }
        &:last-child{
          margin-left: 30px;
        }
      }
			a{
				display: block;
				color: $prefooterLink;
        text-transform: uppercase;
        font-family: $header;
        font-weight: $heavy;
        font-size: $button;
        line-height: 16.8px;
        letter-spacing: .1em;
        //padding-bottom: 1px;
				&:not(.menu-button){
					@include onlyMobile{
						display: none;
					}
          &:hover,&:focus{
            @include dottedLink($white);
          }
				}
				&:hover,&:focus{
					color: $prefooterLinkHover;
          text-decoration: none;

				}
				&.menu-button{
					border: 1px solid $prefooterLink;
					border-radius: 25px;
					padding: 13px 20px 10px;
					min-width: 116px;
					display: inline-block;
					text-align: center;
          @include transAll(.3s);
					&:hover,&:focus{
						background-color: $white;
            color: $prefooterBack;
            @include animation('breathe .75s 1');
					}
				}//end menu button
			}//end a
		}//end li
	}//end ul
}//end footer-menu

//for audience links
.block-footer-for-menu{
  @include tab {
    @include safeFlex(row, nowrap, justify, start);
    gap: 20px;
  }
  @include desk {
    gap: 90px;
  }

	ul:not(.contextual-links){
		@include listReset;
		li{
			padding-bottom: 0;
      &.menu-item--active-trail > a {
        color: $footerLinkActive;
        &:hover {
          color: $footerLinkActiveHover;
        }
      }
		}
		a {
			color: $footerLink;
			font-size: 20px;
      &:active {
        color: $footerLinkActive;
      }
			&:hover,&:focus{
        color: $footerLinkHover;
        text-decoration: none;
        &:active {
          color: $footerLinkActiveHover;
        }
			}
		}
	}//end ul
	.audience-menu{
    break-after: column;
    li:not(:last-child){
      margin-bottom: 18px;
    }
		a {
      @include lineLinkHover;
			font-family: $header;
			font-weight: $xHeavy;
			text-transform: uppercase;
			letter-spacing: .05em;
		}
	}//end audience menu
	.additional-audience-menu{
    margin-top: $spaceLg;
		ul:not(.contextual-links){
      li {
        margin-bottom: 18px;
      }
			a {
				@include lineLink;
				font-size: 15px;
        font-weight: 700;
        line-height: 20px;
			}
		}
    @include tab {
      margin-top: 0;
      width: 205px;
    }
	}//end additional audience
}//end footer-for menu

//Footer ancillary left
.block-footer-ancillary-menu{
	ul:not(.contextual-links){
		@include listReset;

    @include tab{
      @include safeFlex(row,wrap,center,center);
		  @include bleed(padding,30px);
    }
		li{
			padding-bottom: $spaceXs;
      position: relative;
      text-align: left;
      &.menu-item--active-trail > a {
        color: $footerLinkActive;
        &:hover {
          color: $footerLinkActiveHover;
        }
      }
      @include tab {
        padding-bottom: $spaceXxs;
      }
    }//end li

		a{
			color: $footerLink;
      font-family: $displayHeader;
			font-size: 14px;
			line-height: 28px;
      transition: color .3s ease;
      text-decoration: underline;
			&:hover,&:focus{
				color: $footerLinkHover;
        background: none;
        text-decoration: none;
			}
		}
	}
}//end ancillary
