/* ==============
   ANNOUNCEMENTS!
===============*/
@use '../../../00-base/base' as *;

.block-announcements{
	.announcement{
		display:flex;
		padding:$spaceXs;
	}
	.announcement-title,
	.announcement-body{
		flex:1;
		padding: $spaceXxs;
		color: $royal;
	}

	.announcement-title{
		font-family: $displayHeader;
		font-style:italic;
		text-transform:uppercase;
		p{
			margin-bottom: 0;
		}
	}

	.announcement-body{
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: 0.6px;
		& > *:last-child{
			margin:0;
		}
	}

	.announcement.urgent{
		background-color: $gold;
	}
	.announcement.casual{
		background-color: $ice;
	}

	.announcement{
		flex-direction:column;
		a{
			color: $royal;
			font-weight: $heavy;
			text-decoration: underline;
			&:hover,&:focus{
				text-decoration: none;
			}
		}
	}
	@include tab{
		.announcement{
			flex-direction:row;
			align-items:center;
		}
		.announcement-title{
			text-align:right;
		}
	}

	/* multiple announcements stacked can blend together, so add a small border */
	.announcement+.announcement{
		border-top:1px solid rgba(0,0,0,0.5);
	}
}
