/* ==============
   ANNOUNCEMENTS!
===============*/
@use '../../../00-base/base' as *;

.block-announcements{
	.announcement{
		padding:$spaceXs;
	}
	.announcement-title,
	.announcement-body{
		padding: $spaceXxs;
		color: $royal;
		max-width:1116px;
		margin:0 auto;
	}

	.announcement-title{
		font-family: $displayHeader;
		font-size:110%;
		font-weight:bold;
		p{
			margin-bottom: 0;
		}
	}

	.announcement-body{
		& > *:last-child{
			margin:0;
		}
	}

	.announcement.urgent{
		background-color: $gold;
	}
	.announcement.casual{
		background-color: $ice;
	}

	.announcement{
		a{
			color: $royal;
			font-weight: $heavy;
			text-decoration: underline;
		}
	}

	/* multiple announcements stacked can blend together, so add a small border */
	.announcement+.announcement{
		border-top:1px solid rgba(0,0,0,0.5);
	}
}
