@use '../../../00-base/base' as *;

.block-courses{
  > p {
    @include headerGlobals;
    line-height: 1.25;
    font-size: 22px;
  }

  .courses{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
    padding-bottom: $spaceMs;
    padding-top: $spaceMs;

    @include tab{
      flex-direction: row;
      gap: 5rem;
      margin-top: 3.5rem;
      padding: 0;
    }

    .course{
      flex: 1;

      p {
        margin: .75rem 0;
      }
      h3 {
        font-family: $header;
        font-size: 18px;
        font-weight: $xHeavy;
        margin-bottom: $spaceXxs;
        @include desk {
          font-size: 20px;
        }
      }
      .number {
        font-size: 12px;
      }
    }
  }
}
