@use '../../../00-base/base' as *;

.block-courses{
	>p{
		@include headerGlobals;
		font-size: $h2;
	}

	.courses{
		display:flex;
		gap:2rem;
		flex-direction:column;
		@include tab{
			flex-direction:row;
		}

		.course{
			flex:1;

			p{
				margin:.75rem 0;
			}
			.number{
				font-size:75%;
			}
			.title{
				font-weight:bold;
			}
			.description{
				
			}
		}
	}
}