/* ===============
   PAGE FAMILIES VOCABULARY
================= */

@use '../../00-base/base' as *;
@use '../nodes/node-mixins' as *;


.vocab-page-families{
	@include contactSection;
  @include tab{
    @include safeFlex(row,wrap,start,start);
  }
	h1{
    width: 100%;
		font-size: 32px;
		line-height: 40px;
		color: $brightBlue;
		width: 100%;
		padding: 0 20px;
	}
  & > .field-contact,& > .field-hours{
    margin-bottom: 1.5rem;
    &:last-child{
      margin-bottom: $spaceLg;
    }
		@include tab{
			width: 50%;
      margin-bottom: $spaceLg;
		}
  }
  & > .field-platforms{
    @include contactSocial;
  }
}//end page family vocab

.vocab-teaser-page-families{
	@extend .vocab-page-families;
	h2{
		font-family: $displayHeader;
	}
}

