/* ================
	 FIELDS
============== */
@use '../../00-base/base' as *;

.field{
	span.inline-label{
		font-weight: $heavy;
		margin-right: 1rem;
		& + div{
			display: inline;
			//if multifield
			&.field-multi-item{
				& > div{
					display: inline;
				}
			}
		}
	}//end inline label
	&.long-text,&.text-with-summary{
		@include clearFix;
	}
}//end field

/* FORMATTED TITLE
-------------------- */
.formatted-title,.field-formatted-title{
	font-weight: $regular;
	strong{
		font-weight: $heavy;
	}
}

/* SOCIAL MEDIA LINKS FIELD
-------------------- */
.field-platforms{
	margin-bottom: -$spaceXxs;
	.platform-links{
		@include listReset;
		@include safeFlex(row,wrap,start,start);
		li{
			margin-bottom: $spaceXxs;
      a{
        @include safeFlex(column,nowrap,center,center);
        width: 38px;
        height: 38px;
        &:hover,&:focus{
          svg,.cls-1{
            fill: $navy;
            transition: fill .3s ease;
          }
        }
      }
		}
		svg{
			width: $socialIcons;
			height: $socialIcons;
      &#facebook{
        width: $socialIcons * 1.1;
			  height: $socialIcons * 1.1;
        position: relative;
        top: -1px;
      }
      &#twitter{
        width: $socialIcons * .9;
			  height: $socialIcons * .9;
        margin-right: 2px;
      }
      &#youtube{
        width: $socialIcons * 1.2;
			  height: $socialIcons * 1.2;
        margin-left: 2px;
        margin-right: 2px;
      }
      &#tiktok{
        width: $socialIcons * .95;
			  height: $socialIcons * .95;
      }
		}//end platform links
	}//end platform links
}//end field platforms

/* ADDRESS FIELD
--------------------- */
.field-address{
  .country{
    display: none;
  }
}//end field address