/* ==============
	 SUPERFISH
================ */
@use '../../../00-base/base' as *;

/* PLACEHOLDERS
------------ */
%menuDropdown{
	background: $sfDropdown;
}

/* SUPERFISH BLOCK
------------------------ */
#superfish-main-toggle{
	display: block;
  background: url(../images/elements/menu-open-white.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  &:hover,&:focus{
    opacity: .75;
  }
	span{
		@include visuallyHidden;
	}
	&.sf-expanded{
		background: url(../images/elements/menu-close-white.svg);
    background-repeat: no-repeat;
    background-size: 100%;
	}
}//end superfish-main-toggle

/* GLOBAL COLORS
	----------------- */
.sf-main li{
	a{
		color: $sfChildLink;
		text-align: left;
		&:hover,&:focus{
			color: $sfChildLinkHover;
		}
	}
	&.active-trail > a{
		color: $sfChildActive;
		&:hover,&:focus{
			color: $sfChildActiveHover;
		}
	}
}//end sf-main li



/* DESK FISH
---------------- */
ul.sf-menu.sf-horizontal{
	@include safeFlex(row,wrap,end,null);
	list-style-type: none;
	//override defult floats
	li{
		float: none;
	}
	//top level links
	& > li{
		margin-left: $spaceXxs !important;
		margin-right: $spaceXxs !important;
		margin-top: 30px !important;
		@media only screen and (min-width: 1305px) {
			margin-left: $spaceXs !important;
			margin-right: $spaceXs !important;
		}
    @include contentStop{
      margin-left: 2rem !important;
			margin-right: 2rem !important;
    }
		&:not(.sfHover){
			& > ul{
				display: none !important;
			}
		}
		& > a{
			&:after {
				display: block;
				content: '';
				border-bottom: solid 2px $gold;  
				transform: scaleX(0);  
				transition: transform 250ms ease-in-out;
			}
			&.is-active:after {
        color: $gold;
				border-bottom: solid 2px $gold; 
				display: block;
				content: '';
				transform: scale(1);
			}
		}
		&:hover{
			& > a{
				background: $sfTopBackHover;
				color: $sfTopLinkHover;
				text-decoration: none;
				&:after {
					transform: scaleX(1);
				}
			}
		}
		& > a,& > span.nolink{
			color: $sfTopLink;
			padding: .5rem 1.5rem !important;
			font-family: $header;
      font-weight: $xHeavy;
			font-size: 2.5rem;
      line-height: 1;
			text-transform: uppercase;
			display: block;
			position: relative;
			&:hover,&:focus{
				background: $sfTopBackHover;
				color: $sfTopLinkHover;
			}
		}
		&.active-trail{
			&:hover > a{
				color: $sfTopActiveHover;
			}
			& > a{
				color: $sfTopActive;
				&:after {
					border-bottom: solid 2px $gold; 
					display: block;
					content: '';
					transform: scale(1);
				}
				&:hover,&:focus{
					color: $sfTopActiveHover;
          opacity: .85;
          &:after{
            border-bottom-color: $white;
          }
				}
			}
		}
		&.menuparent {		
			position: relative;		
			&:after {
				content: '';
				background-color: $white;
				position: absolute;
				right: -12px;
				bottom: 6px;
				@include safeFlex(row,no-wrap,center,center);
				width: 20px;
        height: 20px;
				text-indent: 0;
        -webkit-mask-image: url(../images/elements/caret-down-mobile-main-nav.svg);
        mask-image: url(../images/elements/caret-down-mobile-main-nav.svg);
        mask-repeat: no-repeat;
        mask-size: 10px;
        mask-position: center center;
				@include transFormAnimate;
			}
		}
	}

	//top level dropdowns
	& > li.sf-depth-1{

		//dropdown wrapper
		& > ul{
			padding:0 2rem;
			top: 100%;
			min-width: 328px;
			@extend %menuDropdown;
			& > li{
				padding: 0;
				&:last-of-type{
					border-bottom: 0px;
				}
			}
		}

	}//end main dropdown

	li.sf-depth-2 {
		border-bottom:1px solid $coolGrey;
		margin:0;
		width:100%;
	}

	//level 2 links
	a.sf-depth-2{
		line-height: 1;
		padding:2rem;
		font-size: 2rem;
		line-height: 1;
		font-weight: $heavy;
		&:hover, &:focus, &.is-active {
			background: $white;
		}
		&.is-active{
			&:hover,&:focus{
				background: $ice;
			}
		}
	}

	// sub menu toggles
	.sf-depth-2 {
		//global toggles
		a.menuparent{
			&:after{
				content: '';
				display: inline-block;
				padding: 0;
				position: relative;
				right: -7px;
				top: 1px;
				opacity: 1;
				height: 18px;
				width: 18px;
				background-image: none;
				@include materialIconOutline(\e5e1);
				font-size: 12px;
				@include transFormAnimate;
			}
			&:hover,&:focus{
				&:after{
					color: $buttonBackHover;
				}
			}
		}
	}//end menu toggles

	//level 2 dropdowns
	.sf-depth-2{
		ul{
			@extend %menuDropdown;
			left: 100%;
			top: 0px;
			min-width: 240px;
		}
	}

	//level 3 links
	li.sf-depth-3{
		font-size: 1.7rem;
		line-height: 1;
		& > a{
			padding-left: 40px;
			padding: 1rem 2.5rem 1rem 5rem;
			&.menuparent{
				padding: 1rem 5rem;
			}
		}
	}//end level 2


}//sf-horizontal

/* MOBILE FISH
----------------- */
ul.sf-menu.sf-accordion{
	&.sf-expanded{
    background: linear-gradient(270deg, #06233D -98.19%, #2B3594 100%);
    min-height: 100vh;
		.site-header &{
			position: absolute !important;
			left: -$siteMarginMobile !important;
			top: -34px !important;
			text-align: left;
			width: calc(100% + $siteMarginMobile*2);
			overflow: hidden;
			background-color: $sfMobileDrop;
			padding-top: 102px;
			z-index: 21;
		}
	}

	// global mobile links
	a{
		padding: 1rem 4rem;
    font-size: 1.75rem;
		line-height: 1.57;
	}

	//parents, expanders & dropdowns
	&.sf-accordion-with-buttons li{
		position: relative;
		& > .sf-accordion-button{
			width: 52px;
			height: 52px;
			padding: 0;
			text-indent: 9000px;
			position: absolute;
			top: 0;
			right: -18px;
			z-index: 1;
			background-color: $white;
      -webkit-mask-image: url(../images/elements/caret-down-mobile-main-nav.svg);
      mask-image: url(../images/elements/caret-down-mobile-main-nav.svg);
      mask-repeat: no-repeat;
      mask-position: center center;			
      @include transFormAnimate;
      &:after{
        content: '' !important;
      }
		}//end accordion button
	
		&.menuparent{
			a{
				display: block;
				&:not(.sf-accordion-button){
					width: 100%;
				}
			}
		}//end menupareny
		&.sf-expanded > .sf-accordion-button{
      background-color: $gold;
			@include rotate(180);
		}
	}//end li

	li.sf-expanded > ul{
		padding: 0 0 2.5rem;
	}

	// top level
	li.sf-depth-1{
		margin: 0 36px;
		width: calc(100% - 72px);
		& > a{
			font-family: $header;
      font-weight: $xHeavy;
			text-transform: uppercase;
			font-size: 2.5rem;
      line-height: 2;
			color: $sfMobileTop;
			letter-spacing: 0;
			padding-left: 0;
      &.is-active{
        color: $gold;
      }
		}
		&:not(:nth-child(2)){
			border-top: 1px solid $sfMobileItemBorder;
		}
		&.sf-expanded{
			& > a{
        &.is-active{
          color: $gold;
        }
			}
			& > ul{
				padding: 0 0 1.5rem;
			}
		}
	}//end level 1

	//level 2
	li.sf-depth-2{
		&:first-of-type.sf-expanded{
			border-top: 0;
		}
		&:last-of-type.sf-expanded{
			border-bottom: 0;
		}
		&.active-trail > a{
			color: $sfMobileChildActive;
		}
		//inset level2 and those below
		& > a{
			color: $sfMobileChild;
			&.sf-accordion-button{
				height: 40px;
			}
			&:not(.sf-accordion-button){
				padding: .5rem 30px .5rem 15px;
			}
		}
	}//end level 2


	//level 3
	li.sf-depth-3{
		//font size for level 3 and those below
		&.active-trail > a{
			color: $sfMobileChildActive;
		}
		a{
			color: $sfMobileChild;
			font-size: 2rem;
			padding: 10px 30px;
			&.sf-accordion-button{
				&:after{
					font-size: 2.75rem;
				}
			}
			&:not(.sf-accordion-button){
				padding: 10px 30px 10px 50px;
			}
		}
	}//end level 3

}//end sf-menu.sf-accordion

