/* ===============
   HERO PARAGRAPH WIDGET
================== */
@use '../../../00-base/base' as *;

.page-hero-video {

  .video-button {
    display:block;
    position:absolute;
    top:500px;
    right:64px;
    transform:rotate(90deg);
    transform-origin:right;
    z-index:10;
    width:5rem;
    color:white;
    &:hover,
    &:focus {
      opacity: 1;
    }

    &::after{
      content:"";
      display:block;
      background:url("../images/elements/pause-white.svg");
      width:24px;
      height:24px;
      position:absolute;
      top:6px;
      left:calc(100% + 2rem);
      transform:rotate(-90deg);
    }
  }

  &.paused .video-button::after {
    background:url("../images/elements/play-white.svg");
  }
}
