/* ===============
   HERO PARAGRAPH WIDGET
================== */
@use '../../../00-base/base' as *;

.page-hero-video {

  .video-button {
    display:block;
    position:absolute;
    top:500px;
    right:64px;
    transform:rotate(90deg);
    transform-origin:right;
    z-index:10;
    width:5rem;
    color:white;
    &:hover,
    &:focus {
      opacity:0.7;
    }
    &:hover{
      text-decoration:underline;
    }

    &::before{
      content:"";
      display:block;
      background:url("../images/elements/pause-white.svg");
      width:24px;
      height:24px;
      position:absolute;
      top:2px;
      left:-32px;
      transform:rotate(-90deg);
    }
  }

  &.paused .video-button::before{
    background:url("../images/elements/play-white.svg");
  }
}
