/* =============
   NEWS NODE
================ */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;

.node-news {
  #node-section-1 {
    z-index: 1;
    @include headerInvasion;
    @include heroFullWidthImage;
    & {
      margin-bottom: 0;
    }
    @include onlyMobile {
      margin-bottom: 0;
      .block-field.block-nid {
        margin-bottom: 0;
      }
      .hero-background {
        margin-bottom: 0;
      }
      .page-header-text {
        display: none;
      }
    }
    & > .layout--onecol {
      width: 100%;
    }
  }//end node section 1

  #node-section-2 {
    @include auto;
    max-width: $textMax;
    .layout__region--content {
      @include safeFlex(row,nowrap,start,start);
      @include desk {
        @include safeFlex(row,nowrap,justify,start);
        gap: $spaceSm;
        max-width: none;
        width: auto;
      }
    }
    .block-system-breadcrumb-block,
    .block-field-story-categories {
      margin: $spaceSm 0;
      @include desk {
        margin-bottom: $spaceXl;
      }
    }
    @include desk {
      .block-system-breadcrumb-block {
        flex: 1 0 25%;
      }
      .block-field-story-categories {
        flex: 1 1 100%;
      }
    }

    .breadcrumb {
      display: none;
      padding: 0;
      @include desk {
        display: block;
      }
      li,
      li a {
        color: $navy;
      }
      li a {
        @include linkArrow(gold, sm);
        & {
          color: $headingText;
          line-height: 1.5;
        }
      }
    }
    .block-field-story-categories {
      color: $navy;
      .field-story-categories {
        @include safeFlex(row, wrap, start, start);
        min-height: 31px;
        @include desk {
          @include safeFlex(row, wrap, end, start);
        }
      }
      .category {
        font-size: 16px;
        line-height: 1.5;
        &:after {
          color: $gold;
          content: "|";
          margin-right: .5rem;
        }
        &:last-child:after {
          content: "";
        }
      }
      a {
        color: $link;
        font-weight: $heavy;
        &:hover {
          color: $textLinkHover;
          text-decoration: underline;
        }
      }
    }
  }//end section 2

  #node-section-3{
    max-width: $textMax;
    @include auto;
    @include tab{
      .layout__region--content{
        @include safeFlex(row,wrap,justify,start);
      }
    }
    .block-created {
      margin-bottom: $spaceSm;
      .field-created {
        display: block;
        font-size: 20px;
        font-weight: $heavy;
        line-height: 1.3;
        @include desk {
          padding: 0;
          margin-bottom: $spaceLg;
        }
      }
      .mobile-title {
        @include heading1;
        margin-bottom: $spaceMd;
        margin-right: $spaceMd;
        @include desk {
          display: none;
        }
      }
    }//end created
    .block-social-share{
      h2.block-title{
        color: $baseText;
        font-size: $baseSize;
        font-family: $bodyText;
        font-weight: $regular;
        text-transform: none;
        letter-spacing: 0;
        line-height: 1.875;
        text-align: left;
      }
      .social-share{
        padding: 0;
      }
    }
  }//end node section 3

  #node-section-4 {
    .field-authors,
    .block-field-intro-text,
    .block-field-image,
    .field-paragraphs > .widget > .paragraph:not(.paragraph--type--layout-section) {
      @include auto;
      max-width: $textMax;
    }

    // Text-based fields have extra-wide margins on mobile.
    .field-authors,
    .block-field-intro-text{
      padding: 0;
    }

    .field-authors {
      @include safeFlex(row,wrap,start,start);
    }
    .block-field-intro-text {
      font-size: 25px;
      margin-bottom: $spaceMd;
      @include desk {
        margin-bottom: $spaceXl;
      }
    }
    .block-field-paragraphs {
      padding: 0 $siteMarginMobile;
      h2, h3, h4, h5, h6 {
        color: $royal;
      }
      .widget {
        padding: 0;
      }
    }
    .block-field-image {
      margin-bottom: $elementSpace;
      position: relative;
      @include desk{
        margin-bottom: 10rem;
      }
      &:before {
        background-color: $borderRule;
        content: '';
        display: block;
        height: 1px;
        margin-bottom: $spaceSm;
        @include desk {
          margin-bottom: 70px;
          margin-left: -200px;
          margin-right: -200px;
        }
      }
      .field-label {
        @include headerGlobals;
        color: $baseText;
        font-size: 25px;
        line-height: 32px;
        margin-bottom: $spaceXxs;
      }
      a {
        @include linkArrow(gold, sm);
        color: $link;
      }
    }
  }//end node section 4

  #node-section-5 {
    position: relative;

    .layout__region {
      margin-bottom: 0;
    }

    .block-field-authors,
    .block-related-stories {
      @include edgeToEdge;
      margin-bottom: 0;
    }

    .block-field-authors {
      @include edgeToEdge;
      background-color: $ice;
      margin-bottom: 0;
      margin-top: 12rem; // Needs to be large to accommodate overlapping.
      padding: 0 $siteMarginMobile;
      @include desk {
        margin-top: 16rem; // Sometimes very large.
      }
      h2.block-title{
        @include headerGlobals;
        font-size: 26px;
        line-height: 32px;
        text-align: left;
        text-transform: none;
      }
      .field-authors {
        background-color: $royal;
        margin-bottom: -$spaceLg; // Correction for negative top spacing.
        padding: calc($spaceLg + $siteMarginMobile) 0;
        position: relative;
        top: -$spaceLg; // Causes the overlapping and margin calculation bugs.
        @include desk {
          @include auto;
          max-width: $breakoutWidth;
          padding-top: $spaceXl;
          top: -$spaceXl;
        }
        & > div{
          &:not(:last-child){
            margin-bottom: $elementSpace;
          }
        }
        .term-page {
          color: $baseTextInvert;
          padding: 0 $siteMarginMobile;
          @include desk {
            @include auto;
            max-width: $textMax;
            padding-left: 120px;
            padding-top: $spaceMd;
            position: relative;
          }
          .teaser-image {
            @include desk {
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
        .author-name {
          color: $white;
        }
      }
    }//end authors fields block

    .block-related-stories {
      background-color: $ice;
      padding: $spaceXl $siteMarginMobile $spaceLg;
      @include desk {
        max-width: none;
        padding: $spaceXl $siteMarginDesk $siteMarginDesk;
      }
      &:after {
        z-index: 0;
      }
      .view {
        @include desk {
          @include auto;
          max-width: $contentStopMargin;
        }
      }
    }
  }//end node section 5
}//end news


/* STORY TEASER
------------------- */
.node-teaser-news{
  max-width: 426px;
  @include auto;
  .field-image{
    margin-bottom: $spaceSm;
  }
  .teaser-title{
    margin-bottom: $spaceXs;
    a{
      @include linkArrow(goldRoyal, lg);
      min-height: 32px;
      font-size: 2rem;
    }//end a
  }//end teaser-title
}//end teaser story

/* STORY WIDGET
------------------- */
.node-widget-news{
  .story-eyebrow-lg{
    display: none;
    @include carouselBreak {
      color: $galleryEyebrow;
      display: block;
      font-size: 16px;
      font-weight: $heavy;
      letter-spacing: .05em;
      line-height: 1.5;
      margin-bottom: $spaceMs;
      position: relative;
      text-align: right;
      text-transform: uppercase;
      z-index: 2;
    }
    @include desk {
      padding-top: $spaceMs;
    }
  }//end story eyebrow lg
  .story-text{
    padding: $spaceMd 0 12px;
    color: $royal;
    @include carouselBreak{
      padding: $spaceMd 0;
    }
    @include smallTab{
      @include safeFlex(row,nowrap,start,start);
      padding-top: 49px;
    }
  }//end story text
  .field-image{
    @include desk{
      position: relative;
      z-index: 1;
      &:after{
        background:  url(../images/elements/wavy-lines-gold.svg) no-repeat center center / cover transparent;
        content: '';
        display: block;
        height: 300px;
        position: absolute;
        top: -53px;
        left: -50px;
        transform: rotate(180deg);
        width: 530px;
        z-index: -1;
      }
    }
  }//end field image
  .story-title{
    margin-bottom: $spaceXs;
    @include smallTab {
      padding-right: 20px;
      width: 50%;
      margin-bottom: 0;
    }
    a{
      @include linkArrow(royal, lg);
    }//end a
  }//end story title
  .field-intro-text{
    color: $galleryCaptionAlt;
    margin-top: $spaceXxs;
    @include smallTab {
      margin-top: -9px;
      width: 50%;
    }
  }//end field intro text
  .field-eyebrow{
    margin-top: $spaceSm;
    font-size: 1.5rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .05em;
    @include carouselBreak{
      display: none;
    }
  }//end field eyebrow
}//end widget story