/* =============
   NEWS NODE
================ */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;

.node-news {
  #node-section-1 {
    @include heroCornerSlice;
  }//end node section 1

  #node-section-2 {
    @include auto;
    max-width: $textMax;
    .layout__region--content {
      @include safeFlex(row,nowrap,start,start);
      @include tab {
        @include safeFlex(row,nowrap,justify,start);
      }
    }
    .block-system-breadcrumb-block,
    .block-field-story-categories {
      margin: $spaceSm 0;
    }
    .breadcrumb {
      display: none;
      padding: 0;
      @include tab {
        display: block;
      }
      li,
      li a {
        color: $navy;
      }
    }
    .block-field-story-categories {
      @include tag;
      color: $navy;
      line-height: 2.625;
    }
    .field-story-categories {
      @include safeFlex(row, wrap, center, center);
      min-height: 31px;
    }
  }//end section 2

  #node-section-3 {

    // Set each field and blocks's width individually so that child elements can
    // more easily "break out" to the wider width.
    .field-authors,
    .block-created,
    .block-field-intro-text,
    .block-field-image,
    .field-paragraphs > .widget > .paragraph:not(.paragraph--type--layout-section) {
      @include auto;
      max-width: $textMax;
    }

    // Text-based fields have extra-wide margins on mobile.
    .field-authors,
    .field-created,
    .block-field-intro-text,
    .block-field-paragraphs .paragraph--type--text {
      padding: 0 $siteMarginMobile;
      @include desk {
        padding: 0;
      }
    }

    .field-authors {
      @include safeFlex(row,wrap,start,start);
    }
    .block-created {
      margin-bottom: $spaceMd;
      .field-created {
        @include heading2;
        display: block;
      }
      .mobile-title {
        @include heading1;
        @include desk {
          display: none;
        }
        margin-bottom: $spaceSm;
      }
    }
    .block-field-intro-text {
      font-size: 20px;
      margin-bottom: $spaceMd;
    }
    .block-field-paragraphs {
      padding: 0 $siteMarginMobile;
      h2, h3, h4, h5, h6 {
        color: $brightBlue;
      }
      .widget {
        padding: 0;
      }
    }
    .block-field-image {
      margin-bottom: $elementSpace;
      position: relative;
      &:before {
        background-color: $navy;
        content: '';
        display: block;
        height: 2px;
        margin-bottom: $spaceSm;
        width: 202px;

      }
      .field-label {
        @include headerGlobals;
        font-size: 26px;
        line-height: 32px;
      }
      a {
        @include linkArrow(navy, sm);
      }
    }
  }//end node section 3

  #node-section-4 {
    color: $white;
    position: relative;

    .layout__region {
      margin-bottom: 0;
    }

    .block-field-authors,
    .block-related-stories {
      @include edgeToEdge;
      background-color: $brightBlue;
      margin-bottom: 0;
    }

    .block-field-authors {
      @include edgeToEdge;
      background-color: $brightBlue;
      margin-bottom: 0;
      margin-top: 12rem; // Needs to be large to accommodate overlapping.
      max-width: $textMax;
      padding: 0 $siteMarginMobile;
      @include desk {
        max-width: none;
      }
      h2.block-title{
        @include headerGlobals;
        font-size: 26px;
        line-height: 32px;
        text-align: left;
        text-transform: none;
      }
      .field-authors {
        background-color: $royal;
        padding: calc($spaceLg + $siteMarginMobile) 0;
        position: relative;
        top: -$spaceLg; // Causes the overlapping and marging calculation bugs.
        @include desk {
          @include auto;
          max-width: $breakoutWidth;
          padding-top: $spaceXl;
          top: -$spaceXl;
        }
        & > div{
          &:not(:last-child){
            margin-bottom: $elementSpace;
          }
        }
        .term-page {
          padding: 0 $siteMarginMobile;
          @include desk {
            @include auto;
            max-width: $textMax;
            padding-left: 120px;
            padding-top: $spaceMd;
            position: relative;
          }
          .teaser-image {
            @include desk {
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
        .author-name {
          color: $white;
        }
      }
    }//end authors fields block

    .block-related-stories {
      padding: $siteMarginMobile;
      @include desk {
        max-width: none;
        padding: $siteMarginDesk;
      }
      &:after {
        z-index: 0;
      }
      .view {
        @include desk {
          @include auto;
          max-width: $contentStopMargin;
        }
      }
    }
  }//end node section 4
}//end news


/* STORY TEASER
------------------- */
.node-teaser-news{
  max-width: 426px;
  @include auto;
  .field-image{
    margin-bottom: $spaceXs;
  }
  .teaser-title{
    margin-bottom: $spaceXxs;
    a{
      @include blockArrow(navy, sm);
      .views-block.block-related-stories & {
        color: $white;
      }
      &:after{
        .views-block.block-related-stories &{
          @include rightArrow(white,transparent,$white,sm);
        }
      }
      &:hover,&:focus{
        &:after{
          .views-block.block-related-stories &{
            @include rightArrow(blue,$white,$white,sm);
          }
        }
        span{
          @include dottedLink($brightBlue);
          .views-block.block-related-stories &{
            @include dottedLink($white);
          }
        }
      }//end hover, focus
    }//end a
  }//end teaser-title
  .field.body{
    line-height: 1.5;
  }
}//end teaser story

/* STORY WIDGET
------------------- */
.node-widget-news{
  .story-eyebrow-lg{
    display: none;
    @include carouselBreak{
      display: block;
      text-align: right;
      font-size: 1.5rem;
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: $spaceXxs;
      color: $brightBlue;
    }
    @include desk{
      padding-top: 22px;
    }
  }//end story eyebrow lg
  .story-text{
    padding: 20px 20px 12px;
    color: $brightBlue;
    background: $lightGrey;
    @include carouselBreak{
      background: $siteBack;
      @include safeFlex(row,nowrap,start,start);
      padding: 20px 0 0;
    }
    @include desk{
      padding-top: 30px;
    }
  }//end story text
  .field-image{
    @include desk{
      position: relative;
      z-index: 1;
      &:after{
        content: url(../images/elements/swirl-horizontal-blue.svg);
        position: absolute;
        top: -53px;
        left: -50px;
        z-index: -1;
      }
    }
  }//end field image
  .story-title{
    margin-bottom: $spaceXxs;
    @include carouselBreak{
      padding-right: 20px;
      width: 50%;
      margin-bottom: 0;
    }
    a{
      @include blockArrow(brightBlue, sm);
    }//end a
  }//end story title
  .field-intro-text{
    line-height: 1.5;
    @include carouselBreak{
      padding-top: 4px;
      width: 50%;
    }
  }//end field intro text
  .field-eyebrow{
    margin-top: $spaceSm;
    font-size: 1.5rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .05em;
    @include carouselBreak{
      display: none;
    }
  }//end field eyebrow
}//end widget story