/* =============
   NEWS NODE
================ */

@use '../../../00-base/base' as *;
@use '../node-mixins' as *;

.node-news {
  #node-section-1 {
    z-index: 1;
    @include headerInvasion;
    @include heroFullWidthImage;
    @include onlyMobile {
      margin-bottom: 0;
      .block-field.block-nid {
        margin-bottom: 0;
      }
      .hero-background {
        margin-bottom: 0;
      }
      .page-header-text {
        display: none;
      }
    }
    & > .layout--onecol {
      width: 100%;
    }
  }//end node section 1

  #node-section-2 {
    @include auto;
    max-width: $textMax;
    .layout__region--content {
      @include safeFlex(row,nowrap,start,start);
      max-width: 75%;
      @include desk {
        @include safeFlex(row,nowrap,justify,start);
        gap: $spaceSm;
        margin-right: -12rem;
        max-width: none;
        width: auto;
      }
    }
    .block-system-breadcrumb-block,
    .block-field-story-categories {
      margin: $spaceSm 0;
      @include desk {
        flex: 1 1 50%;
      }
    }
    .breadcrumb {
      display: none;
      padding: 0;
      @include desk {
        display: block;
        margin-top: -0.5rem;
      }
      li,
      li a {
        color: $navy;
      }
      li a:hover {
        @include dottedLink($navy);
      }
    }
    .block-field-story-categories {
      color: $navy;
      @include menuStop{
        width: 100%;
        margin-right: -12vw;
      }
      @include contentStopMargin{
        margin-right: -16vw;
      }
      @include contentStop{
        margin-right: -400px;
      }
      .field-story-categories {
        @include safeFlex(row, wrap, end, start);
        min-height: 31px;
        @include desk {
          @include safeFlex(row, wrap, start, start);
        }
      }
      .category {
        font-size: 1.5rem;
        line-height: 2;
        text-transform: uppercase;
        &:after {
          content: "|";
          margin-right: .5rem;
        }
        &:last-child:after {
          content: "";
        }
      }
      a {
        color: $navy;
        display: inline-block;
        &:hover {
          @include dottedLink($navy);
        }
      }
    }
  }//end section 2

  #node-section-3{
    max-width: $textMax;
    @include auto;
    @include tab{
      .layout__region--content{
        @include safeFlex(row,wrap,justify,start);
      }
    }
    .block-created {
      margin-bottom: $spaceSm;
      .field-created {
        @include heading2;
        display: block;
        font-size: $h5;
        line-height: 1.2;
        padding: 0 $siteMarginMobile;
        @include desk {
          padding: 0;
          margin-bottom: $spaceLg;
        }
      }
      .mobile-title {
        @include heading1;
        margin-bottom: $spaceMd;
        margin-right: $spaceMd;
        @include desk {
          display: none;
        }
      }
    }//end created
    .block-social-share{
      h2.block-title{
        font-size: $baseSize;
        font-family: $bodyText;
        font-weight: $regular;
        text-transform: none;
        letter-spacing: 0;
        line-height: 1.875;
        text-align: left;
      }
      .social-share{
        padding: 0 $siteMarginMobile;
        @include desk{
          padding: 0;
        }
      }
    }
  }//end node section 3

  #node-section-4 {
    .field-authors,
    .block-field-intro-text,
    .block-field-image,
    .field-paragraphs > .widget > .paragraph:not(.paragraph--type--layout-section) {
      @include auto;
      max-width: $textMax;
    }

    // Text-based fields have extra-wide margins on mobile.
    .field-authors,
    .block-field-intro-text{
      padding: 0 $siteMarginMobile;
      @include desk {
        padding: 0;
      }
    }

    .field-authors {
      @include safeFlex(row,wrap,start,start);
    }
    .block-field-intro-text {
      font-size: 20px;
      margin-bottom: $spaceMd;
    }
    .block-field-paragraphs {
      padding: 0 $siteMarginMobile;
      h2, h3, h4, h5, h6 {
        color: $royal;
      }
      .widget {
        padding: 0;
      }
    }
    .block-field-image {
      margin-bottom: $elementSpace;
      position: relative;
      @include desk{
        margin-bottom: 10rem;
      }
      &:before {
        background-color: $navy;
        content: '';
        display: block;
        height: 1px;
        margin-bottom: $spaceSm;
        width: 202px;

      }
      .field-label {
        @include headerGlobals;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: $spaceXxs;
      }
      a {
        @include linkArrow(navy, sm);
      }
    }
  }//end node section 4

  #node-section-5 {
    color: $white;
    position: relative;

    .layout__region {
      margin-bottom: 0;
    }

    .block-field-authors,
    .block-related-stories {
      @include edgeToEdge;
      margin-bottom: 0;
    }

    .block-field-authors {
      @include edgeToEdge;
      background-color: $royal;
      margin-bottom: 0;
      margin-top: 12rem; // Needs to be large to accommodate overlapping.
      padding: 0 $siteMarginMobile;
      @include desk {
        margin-top: 16rem; // Sometimes very large.
      }
      h2.block-title{
        @include headerGlobals;
        font-size: 26px;
        line-height: 32px;
        text-align: left;
        text-transform: none;
      }
      .field-authors {
        background-color: $royal;
        margin-bottom: -$spaceLg; // Correction for negative top spacing.
        padding: calc($spaceLg + $siteMarginMobile) 0;
        position: relative;
        top: -$spaceLg; // Causes the overlapping and margin calculation bugs.
        @include desk {
          @include auto;
          max-width: $breakoutWidth;
          padding-top: $spaceXl;
          top: -$spaceXl;
        }
        & > div{
          &:not(:last-child){
            margin-bottom: $elementSpace;
          }
        }
        .term-page {
          padding: 0 $siteMarginMobile;
          @include desk {
            @include auto;
            max-width: $textMax;
            padding-left: 120px;
            padding-top: $spaceMd;
            position: relative;
          }
          .teaser-image {
            @include desk {
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
        .author-name {
          color: $white;
        }
      }
    }//end authors fields block

    .block-related-stories {
      padding: $spaceXl $siteMarginMobile $siteMarginMobile;
      @include desk {
        max-width: none;
        padding: $spaceXl $siteMarginDesk $siteMarginDesk;
      }
      &:after {
        z-index: 0;
      }
      .view {
        @include desk {
          @include auto;
          max-width: $contentStopMargin;
        }
      }
    }
  }//end node section 5
}//end news


/* STORY TEASER
------------------- */
.node-teaser-news{
  max-width: 426px;
  @include auto;
  .field-image{
    margin-bottom: $spaceXs;
  }
  .teaser-title{
    margin-bottom: $spaceXxs;
    a{
      @include blockArrow(navy, sm);
      .views-block.block-related-stories & {
        color: $white;
      }
      &:after{
        .views-block.block-related-stories &{
          @include rightArrow($gold,$royal,sm);
        }
      }
      &:hover,&:focus{
        &:after{
          .views-block.block-related-stories &{
            @include rightArrow($white,$royal,sm);
          }
        }
        span{
          @include dottedLink($royal);
          .views-block.block-related-stories &{
            @include dottedLink($white);
          }
        }
      }//end hover, focus
    }//end a
  }//end teaser-title
  .field.body{
    line-height: 1.5;
  }
}//end teaser story

/* STORY WIDGET
------------------- */
.node-widget-news{
  .story-eyebrow-lg{
    display: none;
    @include carouselBreak{
      display: block;
      text-align: right;
      font-size: 1.5rem;
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: $spaceXxs;
      color: $royal;
    }
    @include desk{
      padding-top: 22px;
    }
  }//end story eyebrow lg
  .story-text{
    padding: 20px 20px 12px;
    color: $royal;
    background: $ice;
    @include carouselBreak{
      background: $ice;
      @include safeFlex(row,nowrap,start,start);
      padding: 20px $siteMarginMobile;
    }
    @include desk{
      padding-top: 30px;
    }
  }//end story text
  .field-image{
    @include desk{
      position: relative;
      z-index: 1;
      &:after{
        content: url(../images/elements/wavy-lines-gold.svg);
        position: absolute;
        top: -53px;
        left: -50px;
        z-index: -1;
      }
    }
  }//end field image
  .story-title{
    margin-bottom: $spaceXxs;
    @include carouselBreak{
      padding-right: 20px;
      width: 50%;
      margin-bottom: 0;
    }
    a{
      @include blockArrow(royal, sm);
    }//end a
  }//end story title
  .field-intro-text{
    line-height: 1.5;
    @include carouselBreak{
      padding-top: 4px;
      width: 50%;
    }
  }//end field intro text
  .field-eyebrow{
    margin-top: $spaceSm;
    font-size: 1.5rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .05em;
    @include carouselBreak{
      display: none;
    }
  }//end field eyebrow
}//end widget story