<div class="announcement {{ node.field_urgency.value }}">
	<div class="announcement-title"><p>{{ node.title.value }}</p></div>
	<div class="announcement-body">
		{{ node.body.value|raw }}
	</div>
</div>
