{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% extends 'breadcrumb.html.twig' %}
	{% block trail %}
    <li><a href="{{ path('entity.node.canonical', {'node':'55'}) }}">View all stories</a></li>
  {% endblock %}
  {% block current %}{% endblock %}