{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% extends 'breadcrumb.html.twig' %}
	{% block trail %}
		{% for item in breadcrumb %}
			{% if loop.first %}
				<li>
					{% if item.url %}
						<a href="{{- item.url -}}">{{- item.text -}}</a>
					{% else %}
						{{- item.text -}}
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
    <li><a href="{{ path('entity.node.canonical', {'node':'55'}) }}">View all stories</a></li>
  {% endblock %}
  {% block current %}{% endblock %}