/* ============
   VIDEO CARD LIBRARY
================ */

@use '../../../00-base/base' as *;

.node-video-card {
	padding-top: $elementSpace;
	max-width: 914px;
	@include auto;
  #node-section-1 {
    margin-bottom: $elementSpace;
		border-bottom: 1px solid $borderRule;
		padding-bottom: $elementSpace;
		.layout__region--content{
			@include safeFlex(row,wrap,start,start);
			@include bleed(padding,40px);
		}
		.block-field-eyebrow{
			width: 100%;
			text-align: right;
		}
		.block-field-video{
			width: 100%;
		}
    .block-title {
    	margin-left: 0px;
      margin-right: 0px;
      @include smallTab{
      	width: 50%;
      }
      h1 {
      	@include heading2;
      }
    }
    .block-field.block-body{
    	@include smallTab{
      	width: 50%;
      }
    }
  }//end node section 1
  .block-field{
  	margin-bottom: $spaceXs;
  	.field.entity-reference{
			.field-multi-item{
				& > div:not(:last-child){
					&:after{
						content: ', ';
					}
				}
			}
		}
  }//end block field
}//end video-card-library

/* VIDEO CARD TEASER
----------------- */
.node-teaser-video-card{
  max-width: 426px;
  @include auto;
  .field-video{
    margin-bottom: $spaceXs;
  }
  .teaser-title{
    margin-bottom: $spaceXxs;
    a{
      @include arrowLinkAfter($navy);
      &:after{
        @include rightArrow(navy,transparent,$navy,sm);
      }
      &:hover,&:focus{
        &:after{
          @include rightArrow(white,$navy,$navy,sm);
        }
        span{
          @include dottedLink($navy);
          padding-bottom: 1px;
        }
      }//end hover, focus
    }//end a
  }
  .field.body{
    line-height: 1.5;
  }
}//end node teaser video card

/* STORY WIDGET
------------------- */
.node-widget-video-card{
  .video-card-eyebrow-lg{
    display: none;
    @include carouselBreak{
      display: block;
      text-align: right;
      font-size: 1.5rem;
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: $spaceXxs;
      color: $brightBlue;
    }
    @include desk{
      padding-top: 22px;
    }
  }//end eyebrow lg
  .video-card-text{
    padding: 20px 20px 12px;
    color: $brightBlue;
    background: $lightGrey;
    @include carouselBreak{
      background: $siteBack;
      @include safeFlex(row,nowrap,start,start); 
      padding: 20px 0 0;
    }
    @include desk{
      padding-top: 30px;
    }
  }//end video card text
  .field-video{
    @include desk{
      position: relative;
      z-index: 1;
      &:after{
        content: url(../images/elements/swirl-horizontal-blue.svg);
        position: absolute;
        top: -53px;
        left: -50px;
        z-index: -1;
      }
    }
  }//end field video
  .video-card-title{
    margin-bottom: $spaceXxs;
    @include arrowLinkAfter($brightBlue);
    @include carouselBreak{
      padding-right: 20px;
      width: 50%;
      margin-bottom: 0;
    }
  }//end video card title
  .field.body{
    line-height: 1.5;
    @include carouselBreak{
      padding-top: 4px;
      width: 50%;
    }
  }
  .field-eyebrow{
    margin-top: $spaceSm;
    font-size: 1.5rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .05em;
    @include carouselBreak{
      display: none;
    }
  }
}//end widget video card
