/* ============
   VIDEO CARD LIBRARY
================ */

@use '../../../00-base/base' as *;

.node-video-card {
	padding-top: $elementSpace;
	max-width: $breakoutWidth;
	@include auto;
  #node-section-1 {
    margin-bottom: $elementSpace;
		border-bottom: 1px solid $borderRule;
		padding-bottom: $elementSpace;
		.layout__region--content{
			@include safeFlex(row,wrap,start,start);
			@include bleed(padding,40px);
		}
		.block-field-eyebrow{
			width: 100%;
			text-align: right;
		}
		.block-field-video{
			width: 100%;
		}
    .block-title {
    	margin-left: 0px;
      margin-right: 0px;
      @include smallTab{
      	width: 50%;
      }
      h1 {
      	@include heading2;
      }
    }
    .block-field.block-body{
    	@include smallTab{
      	width: 50%;
      }
    }
  }//end node section 1
  .block-field{
  	margin-bottom: $spaceXs;
  	.field.entity-reference{
			.field-multi-item{
				& > div:not(:last-child){
					&:after{
						content: ', ';
					}
				}
			}
		}
  }//end block field
}//end video-card-library

/* VIDEO CARD TEASER
----------------- */
.node-teaser-video-card{
  max-width: 426px;
  @include auto;
  .field-video{
    margin-bottom: $spaceSm;
  }
  .teaser-title{
    margin-bottom: $spaceXs;
    font-size: 2rem;
    line-height: 1.22;
    font-weight: $heavy;
    color: $royal;
  }
}//end node teaser video card

/* STORY WIDGET
------------------- */
.node-widget-video-card{
  .video-card-eyebrow-lg{
    display: none;
    color: $galleryEyebrow;
    font-size: 16px;
    font-weight: $heavy;
    letter-spacing: .05em;
    line-height: 1.5;
    margin-bottom: $spaceMs;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    z-index: 2;
    @include smallTab {
      display: block;
    }
    @include desk{
      padding-top: 22px;
    }
  }//end eyebrow lg
  .video-card-text{
    color: $galleryCaptionAlt;
    padding: 20px 0 12px;
    @include smallTab {
      @include safeFlex(row,nowrap,start,start);
      padding: 20px 0 0;
    }
    @include desk {
      padding-top: 30px;
    }
  }//end video card text
  .field-video{
    @include desk{
      position: relative;
      z-index: 1;
      &:after{
        background:  url(../images/elements/wavy-lines-gold.svg) no-repeat center center / cover transparent;
        content: '';
        display: block;
        height: 300px;
        position: absolute;
        top: -53px;
        left: -50px;
        transform: rotate(180deg);
        width: 530px;
        z-index: -1;
      }
    }
  }//end field video
  .video-card-title{
    margin-bottom: $spaceXxs;
    @include arrowLinkAfter($royal);
    @include smallTab {
      padding-right: 20px;
      width: 50%;
    }
  }//end video card title
  .field.body{
    line-height: 1.5;
    @include smallTab {
      padding-top: 4px;
      width: 50%;
    }
  }
  .field-eyebrow {
    color: $royal;
    margin-bottom: $spaceXs;
    font-size: 1.5rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .05em;
    @include smallTab {
      display: none;
    }
  }
}//end widget video card
