/* ==================
    BIOS VIEWS
==================== */

@use '../../../00-base/base' as *;
@use '../views-mixins' as *;

/* DIRECTORY
--------------- */
.profile-search.directory{
	.views-exposed-form{
		@include exposedForm;
		.form-item-title,.form-item-title-1{
			display: none;
		}
	}
	.view-content{
		@include bleed(padding,20px);
	}
	.views-row{
		@include smallTab{
			width: 50%;
		}
		@include tab{
			width: 25%;
		}
	}
}//end directory

/* FACULTY VIEWS
------------- */
.department-faculty{
  .view-wrapper{
    @include profileSlider;
    padding-bottom: 40px;
    .node-teaser-bios{
      padding: 0 10px;
    }
  }
  h2.block-title{
    margin-bottom: $spaceSm;
  }
	.more-link{
    padding-top: 40px;
		text-align: left;
    margin-left: $siteMarginMobile;
    margin-right: $siteMarginMobile;
    @include tab{
      text-align: center;
    }
		a{
			@include arrowLinkBefore($navy);
      display: inline-block;
      max-width: $textMax;
      @include auto;
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        left: 0;
        width: 40px;
        height: 40px;
        @include rightArrow(navy,transparent,$navy,lg);
      }
      &:hover,&:focus{
        &:before{
          @include rightArrow(navy,white,$white,lg);
        }
        span{
          @include dottedLink($navy);
          padding-bottom: 2px;
        }
      }
		}//end a
	}//end more link
}//end department faculty

.bios.program-faculty{
	@extend .department-faculty;
}