/* ==================
    BIOS VIEWS
==================== */

@use '../../../00-base/base' as *;
@use '../views-mixins' as *;

/* DIRECTORY
--------------- */
.profile-search.directory{
  @include paragraphSnug;
	.views-exposed-form{
		@include exposedForm;
    @include edgeToEdge;
    @include tab{
      @include auto;
    }
    .form-item-profiles-fulltext{
      @include tab{
        width: 100%;
        max-width: 100%;
      }
      label{
        @include visuallyHidden;
      }
    }
		.form-item-title,.form-item-title-1{
			display: none;
		}
    .form-actions{
      margin-left: 0;
    }
	}//end exposed form
	.view-content{
		@include bleed(padding,20px);
    justify-content: center;
    @include smallTab{
      justify-content: flex-start;
    }
	}
	.views-row{
    max-width: 335px;
		@include smallTab{
			width: 50%;
		}
		@include tab{
			width: 33.3%;
		}
    @include desk{
      width: 25%;
    }
	}
}//end directory

/* FACULTY VIEWS
------------- */
.department-faculty{
  position: relative;
  .view-wrapper{
    @include profileSlider;
    padding-bottom: 40px;
    .node-teaser-bios{
      padding: 0 10px;
    }
  }
  h2.block-title{
    margin-bottom: $spaceSm;
  }
	.more-link{
    padding-top: 40px;
		text-align: left;
    margin-left: $siteMarginMobile;
    margin-right: $siteMarginMobile;
    @include tab{
      text-align: center;
    }
		a{
			@include linkArrow(navyLight);
      display: inline-block;
      max-width: $textMax;
      @include auto;
		}//end a
	}//end more link
}//end department faculty

.bios.program-faculty{
	@extend .department-faculty;
  h2.block-title {
    text-align: left;
    @include tab {
      text-align: center;
    }
  }
}
