/* ==================
    BIOS VIEWS
==================== */

@use '../../../00-base/base' as *;


/* PROFILES LIST
------------- */
.bios.profiles-list{
	.view-content{
		margin-bottom: -$spaceLg;
		@include bleed(padding,40px);
	}
	.views-row{
		&:not(:last-child){
			margin-bottom: $spaceMd;
		}
		@include smallTab{
			width: 50%;
		}
		@include tab{
			width: 33.33%;
		}
	}
}//end bios

