/* ===============
   NODES
=================== */

/* NODES INDEX
------------------- */
@forward 'academic-program/academic-program';
@forward 'announcement/announcement';
@forward 'college/college';
@forward 'contact-library/contact-library';
@forward 'department/department';
@forward 'fact-library/fact-library';
@forward 'general-page/general-page';
@forward 'hours-library/hours-library';
@forward 'jobs/jobs';
@forward 'profile/profile';
@forward 'snapshot-library/snapshot-library';
@forward 'story/story';
@forward 'support-book/support-book';
@forward 'testimonial-library/testimonial-library';
@forward 'video-card-library/video-card-library';

@use '../../00-base/base' as *;
@use 'node-mixins' as *;

@mixin warning{
	min-height: 400px;
	@include safeFlex(column,nowrap,center,center);
  h1 {
    @include heading3;
    margin-bottom: $spaceSm;
  }
	& > div{
		max-width: $textMax + 40px;
		border: 1px solid $borderRule;
		padding: 40px 30px;
	}
	#block-citizen-dart-content{
		padding-top: 0 !important;
	}
}

/* REVISIONS
-------------------- */
.revisions-actions{
	max-width: $contentStop;
	@include auto;
	margin-top: $spaceMd;
	border-bottom: 1px solid $borderRule;
	.action-wrapper{
		@include safeFlex(row,wrap,start,start);
		@include bleed(margin,10px);
	}
}//end revisions actions

.node-revision{
	.breadcrumb{
		li{
			&:nth-last-child(2){
				&:after{
					content: none;
				}
			}
			&:last-child{
				display: none;
			}
		}
	}
}//end node-revisions

/* RESTRICTED NODE TYPES
---------------------- */
.node,.path-media{
	//restricted access message
	&:not(.logged-in){
		.restricted-node{
			@include warning;
		}
	}//end restricted access
}//end path node

//regular 403 & 404 messages
body .layout-content{
	& > .error-content{
		@include warning;
	}
}

/* GLOBAL SECTIONS
-------------------- */
.node-section{
	position: relative;
}
