/* ===============
   NODES
=================== */

@use '../../00-base/base' as *;

@mixin swirlAnimationNoImage {
  left: auto;
  html.animations-paused & {
    right: -240px;
  }
  @keyframes heroSwirlSlide {
    from {
      right: -200vw;
    }
    to {
      right: -240px;
    }
  }
  @include animation("heroSwirlSlide 1.5s forwards");
  @include smallTab {
    html.animations-paused & {
      right: -220px;
    }
    @keyframes heroSwirlSlide {
      from {
        right: -200vw;
      }
      to {
        right: -220px;
      }
    }
    @include animation("heroSwirlSlide 1.5s forwards");
  }
  @include menuStop {
    html.animations-paused & {
      right: -80px;
    }
    @keyframes heroSwirlSlide {
      from {
        right: -200vw;
      }
      to {
        right: -80px;
      }
    }
    @include animation("heroSwirlSlide 1.5s forwards");
  }
  @include contentStop {
    html.animations-paused & {
      right: 0;
    }
    @keyframes heroSwirlSlide {
      from {
        right: -200vw;
      }
      to {
        right: 0;
      }
    }
    @include animation("heroSwirlSlide 1.5s forwards");
  }
}//end swirlAnimationNoImage

@mixin swirlAnimationRightImage{
  left: auto;
  html.animations-paused & {
    right: -12px;
  }
  @keyframes heroSwirlSlideImage {
    from {
      right: -200vw;
    }
    to {
      right: -12px;
    }
  }
  @include animation("heroSwirlSlideImage 1.5s forwards");
  @include smallTab{
    html.animations-paused & {
      right: -30px;
    }
    @keyframes heroSwirlSlideImage {
      from {
        right: -200vw;
      }
      to {
        right: -30px;
      }
    }
    @include animation("heroSwirlSlideImage 1.5s forwards");
  }
  @include desk{
    right: auto;
    html.animations-paused & {
      left: -80px;
    }
    @keyframes heroSwirlSlideImage {
      from {
        left: 200vw;
      }
      to {
        left: -80px;
      }
    }
    @include animation("heroSwirlSlideImage 1.5s forwards");
  }
}//end swirlAnimationRightImage

@mixin swirlAnimationFullImage{
  left: auto;
  html.animations-paused & {
    right: -80px;
  }
  @keyframes heroSwirlSlideFullImage {
    from {
      right: -200vw;
    }
    to {
      right: -80px;
    }
  }
  animation: heroSwirlSlideFullImage 1.5s forwards;
  @include smallTab{
    html.animations-paused & {
      right: -60px;
    }
    @keyframes heroSwirlSlideFullImage {
      from {
        right: -200vw;
      }
      to {
        right: -60px;
      }
    }
    html.animations-playing & {
      animation: heroSwirlSlideFullImage 1.5s forwards;
    }
  }
  @include desk{
    html.animations-paused & {
      right: -70px;
    }
    @keyframes heroSwirlSlideFullImage {
      from {
        right: -200vw;
      }
      to {
        right: -70px;
      }
    }
    html.animations-playing & {
      animation: heroSwirlSlideFullImage 1.5s forwards;
    }
  }
  @include contentStop{
    html.animations-paused & {
      right: -100px;
    }
    @keyframes heroSwirlSlideFullImage {
      from {
        right: -200vw;
      }
      to {
        right: -100px;
      }
    }
    html.animations-playing & {
      animation: heroSwirlSlideFullImage 1.5s forwards;
    }
  }
}//end swirlAnimationRightImage

@mixin sectionLimit{
	max-width: $contentStop;
	@include auto;
}//end section limit

@mixin textContent{
	max-width: $textMax;
	@include auto;
}

@mixin contactSocial{
  width: 100%;
  margin-bottom: 0;
  position: relative;
  padding: 20px 0;
  @include tab{
    padding: 12px 0 10px;
  }
  &:not(:first-child){
    margin-top: 5rem;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 457px);
    width: $breakoutWidth;
    height: 2px;
    background: $siteBack;
  }
  .platform-links{
    justify-content: center;
    li{
      a{
        &:hover,&:focus{
          background: darken($ice,3%);
          border-radius: 4px;
        }
      }
    }
  }//end platform links
}

@mixin contactSection{
	max-width: $breakoutWidth;
	@include auto;
	background: $ice;
  padding: 22px 20px 1px;
  overflow: hidden;
  .layout__region--content{
    margin-bottom: 0 !important;
  }
  @include tab{
    padding: 60px 84px 1px;
    .layout__region--content{
      @include safeFlex(row,wrap,start,start);
    }
  }
	h2{
		@include contactTitle;
    width: 100%;
    padding-bottom: 32px;
	}
	.block-field-contact,.block-field-hours-library{
		margin-bottom: 1.5rem;
    &:last-child{
      margin-bottom: $spaceLg;
    }
		@include tab{
			width: 50%;
		}
	}
	.block-field-platforms{
		@include contactSocial;
	}//end block field platforms
}//end contactSection

@mixin contactHolder{
	max-width: 894px;
	@include auto;
	& > *:first-child{
		background: $ice;
		padding: 40px 20px 30px;
		@include tab{
			padding: 60px 112px 45px;
		}
	}
}

@mixin contactTitle{
	@include heading4;
	font-size: 3.5rem;
	line-height: 1.28;
  @include tab{
    font-size: 4rem;
    line-height: 1.25;
  }
}

@mixin contactContent{
	color: $brightBlue;
	font-size: 1.75rem;
	line-height: 1.42;
	.field{
		@include safeFlex(row,nowrap,start,start);
		&:not(:last-child){
			margin-bottom: $spaceXxs;
			.address{
				margin-bottom: 0;
			}
		}
		.icon-wrapper{
			width: 16px;
			margin-right: 12px;
      svg{
        fill: none;
      }
		}
		.field-content{
			width: calc(100% - 28px);
		}
	}
	.field-address{
		svg{
			max-height: 17px;
			margin-top: 4px;
		}
	}
	.field-email{
		svg{
			max-height: 16px;
			margin-top: 1px;
		}
    a{
      @include dottedLink($brightBlue);
      padding-bottom: 1px;
      &:hover,&:focus{
        @include dottedLink($navy);
      }
    }
	}//end field email
	.field-phone{
		svg{
			max-height: 15px;
			margin-top: 2px;
		}
    a{
      @include dottedLink($brightBlue);
      padding-bottom: 1px;
      &:hover,&:focus{
        @include dottedLink($navy);
      }
    }
	}//end field phone
  .field-fax{
    @extend .field-phone;
  }
}//end contact contnet

@mixin hoursHolder{
	max-width: $breakoutWidth;
	@include auto;
	& > *:first-child{
		background: $ice;
    padding: 40px 20px 30px;
    @include tab{
		  padding: 60px 124px 76px;
    }
	}
}

@mixin heroRightImage{
  @include edgeToEdge;
  position: relative;
  min-height: calc(82vh - 88px);
  @include height100;
  @include onlyMobile{
    background: $brightBlue;
    margin-bottom: 29vw;
    &:before{
      @include blueTriangle;
      z-index: 0;
    }
  }
  @include desk{
    padding-bottom: 1px;
  }
  &.vertical-window{
    @include desk{
      min-height: 828px;
      .image-right{
        img{
          min-height: 0;
          height: calc(100vh - 82px);
          max-height: 828px;
        }
      }
    }
    @include contentStopMargin{
      height: calc(100vh - 100px);
      .image-right{
        img{
          height: calc(100vh - 100px);
        }
      }
    }
    @include contentStop{
      height: calc(100vh - 100px);
      .image-right{
        img{
          height: calc(100vh - 110px);
        }
      }
    }
  }//end vertical window
  .image-right{
    max-width: 520px;
    @include auto;
    position: relative;
    z-index: 1;
    @include desk{
      position: absolute;
      top: 6px;
      right: 0;
      width: 50%;
      z-index: 2;
      max-width: 720px;
      margin: 0;
      img{
        object-fit: cover;
        @include height100;
      }
    }//end desk
    @include contentStop{
      right: calc(50% - 720px);
      img{
        height: 828px;
        min-height: 0;
      }
    }
    &:after{
      @include goldSwirl;
      width: 189px;
      height: 351px;
      bottom: -66px;
      z-index: -1;
      @include desk{
        bottom: -125px;
      }
      @include contentStop{
        bottom: -146px;
      }
      .hero-image &,
      .node-type-college.hero-has-image &,
      .node-type-academic-program & {
        @include swirlAnimationRightImage;
      }
    }//end after swirl
  }//end image right

  .swirl-pattern{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .page-header-text{
    position: relative;
    z-index: 1;
    margin-bottom: 29vw;
    max-width: 690px;
    @include auto;
    @include desk{
      max-width: 100%;
      position: relative;
      background: $brightBlue;
      &:after{
        @include blueTriangle;
      }
    }
    .block-system-breadcrumb-block{
      @include onlyMobile{
        display: none;
      }
      .breadcrumb{
        max-width: 1096px;
        padding-top: 62px;
        margin-bottom: 40px;
        @include menuStop{
          margin-bottom: 80px;
        }
        a{
          &:hover,&:focus{
            color: $white;
            @include dottedLink($white);
          }
        }
      }//end breadcrumb
    }//end breadcrumb block
    .page-header-text-inner{
      color: $white;
      padding: 58px 20px 0;
      max-width: 1092px;
      @include auto;
      body:not(.hero-has-image) &{
        & > *:not(.block-system-breadcrumb-block){
          max-width: 650px;
          @include auto;
        }
      }
      @include desk{
        padding-top: 0;
        min-height: 300px;
        & > *{
          max-width: calc(50% - 80px);
          body:not(.hero-has-image) &{
            max-width: 100%;
          }
        }
      }
      h1,h2,h3,h4,h5,h6,li,a{
        color: $white;
      }
	  .field-banner{
	    color:black;
	    background: $gold;
		display:inline-block;
		padding:0 2rem;
		font-size:90%;
		margin-bottom:1rem;
        clip-path: polygon(4px 50%, 0% 100%, 100% 100%, calc(100% - 4px) 50%, 100% 0%, 0% 0%);
	  }
      .field.title{
        margin-bottom: 30px;
      }
      .field-subtitle{
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        @include desk{
          padding-left: 0;
          padding-right: 0;
        }
      }
      .field-intro{
        padding-left: 20px;
        padding-right: 20px;
        a{
          font-weight: $heavy;
          @include dottedLink($white);
          &:hover,&:focus{
            background-image: none;
            opacity: .7;
          }
        }
        @include desk{
          padding-left: 0;
          padding-right: 0;
        }
      }
    }//end page header text inner
  }//end page header text
  body:not(.hero-has-image) &{
    &:after{
      @include goldSwirl;
      max-height: 100%;
      bottom: -180px;
      @include swirlAnimationNoImage;
      @include desk{
        z-index: 1;
      }
      @media screen and (min-width: 1600px){
        bottom: auto;
        top: 60px;
      }
    }//end after swirl
  }//end not has hero image
  .field-links{
    padding-top: 20px;
    padding-bottom: 0;
    a{
      display: inline-block;
      @include linkArrow(white, sm, "span");
      min-height: 32px;
    }
  }//end field links
}//end hero image right

@mixin patternHero{
  padding-top: 40px;
  background: $royal;
  @include edgeToEdge;
  padding-left: $siteMarginMobile;
  padding-right: $siteMarginMobile;
  color: $white;
  //set min heights for main section
  min-height: calc(100vh - 88px);
  @include desk{
    min-height: calc(100vh - 100px);
  }
  @include menuStop{
    min-height: calc(100vh - 110px);
  }
  .hero-pattern:not(.hero-pattern-links) &{
    @include menuStop{
      padding-bottom: 150px;
    }
    @media screen and (min-width: 1600px){
      padding-bottom: 10vw;
    }
    @media screen and (min-width: 1800px){
      padding-bottom: 12vw;
    }
  }
  h1,h2,h3,h4,h5,h6,li,a{
    color: $white;
  }
  //specific link colors
  .breadcrumb{
    max-width: 1096px;
    a{
      &:hover,&:focus{
        color: $white;
        @include dottedLink($white);
      }
    }
  }//end breadcrumb
  .field-college a{
    padding-bottom: 1px;
    @include dottedLink($white);
    &:hover,&:focus{
      color: $transWhite;
      background-image: none;
    }
  }
  .field-intro-text{
    a{
      font-weight: $heavy;
      @include dottedLink($white);
      &:hover,&:focus{
        background-image: none;
        opacity: .7;
      }
    }
  }
  .field-links a{
    display: inline-block;
    @include linkArrow(white, sm, "span");
    min-height: 32px;
  }//end links field a
}//end patternHero

@mixin patternHeroSwirl{
  html.animations-paused & {
    opacity: 1;
  }
  content: '';
  position: absolute;
  bottom: -8px;
  z-index: 0;
  width: 308px;
  height: 572px;
  background-image: url(../images/elements/swirl-vertical-blue.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  @include swirlAnimationNoImage;
  @include desk{
    width: 380px;
    height: 706px;
    bottom: -83px;
  }
  @include contentStop{
    left: auto;
    width: 452px;
    height: 839px;
    bottom: -95px;
  }
}

@mixin heroHeaderInvade{
  @include smallTab{
    margin-top: -88px;
    padding-top: 88px;
  }
  @include desk{
    margin-top: -100px;
    padding-top: 100px;
  }
  @include menuStop{
    margin-top: -110px;
    padding-top: 110px;
  }
}

@mixin heroSimpleBackground{
  position: absolute;
  top: 0;
  left:0;
  width: 100vw;
  z-index: 0;
  height: 140px;
  padding: 0 $siteMarginMobile;
  background: $brightBlue;
  @include desk{
    height: 180px;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    height: 29vw;
    width: 100vw;
    z-index: -1;
    background: $brightBlue;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}

@mixin heroBlue{
  position: relative;
  &:before{
    @include fullBack($brightBlue);
    top: auto;
    bottom: 0;
    height: 1000px;
    z-index: -1;
  }//end before
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: calc(100% - 1px);
    left: -$siteMarginMobile;
    height: 29vw;
    width: 100vw;
    z-index: -1;
    background: $brightBlue;
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
}//end hero bright blue

@mixin heroText {
	position: relative;
	z-index: 10;
	padding-left: $siteMarginDesk;
	& > * {
		margin-bottom: $spaceXs;
	}
	.breadcrumb{
		li,a{
			color: $white;
		}
	}
	.field-links {
		a {
			color: $white;
			display: block;
		}
	}
	.field,
	.field > *{
		color: $white;
		margin-bottom: $spaceXs;
	}
}//end page header text

@mixin heroCornerSlice {
  margin-left: -$siteMarginMobile;
  margin-top: -88px;
  position: relative;
  width: 100vw;
  z-index: 0;
  @include heroHeaderInvade;
  @include smallTab{
    padding-top: 0;
  }
  @include desk {
    background-color: $brightBlue;
    .gin--vertical-toolbar:not(.responsive-preview-frame) &{
      width: calc(100vw - 66px);
    }
  }
  .layout {
    position: relative;
    @include desk {
      height: 100vh;
      @include auto;
      max-width: $ultraWidescreen;
      max-height: 1000px;
    }
    &:after { // Right gold stripes.
      content: '';
      display: block;
      position: absolute;
      background: url(../images/elements/fat-stripes-gold.svg) left top / cover no-repeat transparent;
      bottom: -80px;
      height: 155px;
      width: 87px;
      z-index: 2;
      margin-right: 40px;
      @include swirlAnimationFullImage;
      @include desk {
        bottom: 0;
        height: 260px;
        width: 147px;
        top: 136px;
        margin-right: 0;
      }
      @include contentStop{
        height: 346px;
        width: 195px;
      }
    }
  }
  .block-field-image {
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include desk {
      left: 0;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    &:before { // Top gradient.
      html.animations-paused & {
        opacity: 1;
      }
      html.animations-playing & {
        @include animation('fadeIn 1.25s 1');
      }
      @include fullBack(transparent); // BG will be replaced by gradient.
      @include gradient('top', #{$navy}ff, 0, #d9d9d900);
      height: 110px;
      z-index: 1;
      @include desk {
        height: 249px;
      }
    }
    &:after { // Bottom gradient, only exists on desktop.
      @include desk {
        html.animations-paused & {
          opacity: 1;
        }
        html.animations-playing & {
          @include animation('fadeIn 1.25s 1');
        }
        @include fullBack(transparent); // BG will be replaced by gradient.
        @include gradient('bottom', #{$navy}ff, 0, #d9d9d900);
        bottom: 0;
        height: 50%;
        top: auto;
        z-index: 1;
      }
    }
    * {
      height: 100%;
    }
    .field-label{
      display: none;
    }
    img {
      object-fit: cover;
      object-position: top center;
    }
  }//end main section 1 image
  .block-field.block-title {
    @include auto;
    margin-bottom: 0;
    max-width: 1092px;
    opacity: 0; // Hide on mobile but still be screen-reader accessible.
    @include desk {
      @include safeFlex(row, no-wrap, start, end);
      max-height: 1000px;
      height: 100vh;
      padding-bottom: 138px;
      opacity: 1;
    }
    h1 {
      color: $white;
      font-size: 1px;
      max-width: $textMax;
      text-align: left;
      @include desk {
        font-size: $h1Mid;
        padding-left: $siteMarginMobile;
      }
      @include contentStop {
        font-size: $h1Lg;
        padding-left: 0;
      }
    }
  }//end title
  &:after { // Right bottom corner triangles.
    background: $navy;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    content: '';
    display: block;
    height: 29vw;
    left: calc(100vw - 45%);
    position: absolute;
    top: calc(100% - 2px);
    width: 100vw;
    z-index: 1;
    @include desk {
      background: $white;
      bottom: -1px;
      clip-path: polygon(0 100%, 100% 0, 100% 100%);
      left: calc(100vw - 25%);
      top: auto;
      z-index: 3;
    }
  }
}

@mixin heroFullWidthImage {
  @include heroHeaderInvade;
  padding-top: 40px;
  @include edgeToEdge;
  padding-left: $siteMarginMobile;
  padding-right: $siteMarginMobile;
  color: $white;
  height: 100vh;
  max-height: 1000px;
  margin-bottom: $elementSpace;
  @include safeFlex(column,nowrap,end,start);
  @media screen and (min-width: 2001px){
    background: $brightBlue;
  }
  .hero-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @media screen and (min-width: 2001px){
      width: 2000px;
      left: calc(50% - 1000px);
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 110px;
      width: 100%;
      z-index: 1;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(#d9d9d9, 0) 0%, $navy 100%);
      html.animations-paused & {
        opacity: 1;
      }
      html.animations-playing & {
        @include animation('fadeIn 1.25s 1');
      }
      @include desk{
        height: 160px;
      }
      @include menuStop{
        height: 220px;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: calc(100% - 110px);
      z-index: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(#d9d9d9, 0) 0%, $navy 100%);
      html.animations-paused & {
        opacity: 1;
      }
      html.animations-playing & {
        @include animation('fadeIn 1.25s 1');
      }
      @include desk{
        height: calc(100% - 160px);
      }
      @include menuStop{
        height: calc(100% - 220px);
      }
    }
    *{
      height: 100%;
      img{
        object-fit: cover;
        object-position: top center;
      }
    }
    .field-media-image{
      &:after{
        content: '';
        position: absolute;
        top: 90px;
        z-index: 2;
        width: 113px;
        height: 200px;
        background-image: url(../images/elements/fat-stripes-gold.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        @include swirlAnimationFullImage();
        @include desk{
          top: 120px;
          width: 140px;
          height: 248px;
          background-position: bottom left;
        }
        @include contentStop{
          top: 140px;
          width: 196px;
          height: 347px;
        }
      }//end after
    }//end field media image
  }//end hero background
  h1,h2,h3,h4,h5,h6,li,a{
    color: $white;
  }
  .page-header-text{
    max-width: 1104px;
    width: 100%;
    @include auto;
    .page-title{
      max-width: 800px;
      margin-left: 0;
    }
  }
  .field-links{
    padding-top: 0;
    margin-top: -30px;
    width: 100%;
    @include desk{
      position: absolute;
      bottom: 0;
      right: 20px;
    }
    @include menuStop{
      right: calc(50% - 560px);
    }
    a{
      display: inline-block;
      @include linkArrow(white, sm, "span");
      min-height: 32px;
    }
  }//end links field a
}//end heroFullWidthImage

@mixin profileTeaser{
  padding-bottom: 40px;
  .field-image{
    margin-bottom: 2rem;
  }
  .field:not(.field-image):not(.field-name){
    font-size: 1.75rem;
    line-height: 1.285;
    &:not(:last-of-type){
      margin-bottom: 1rem;
    }
  }
  .field-name,.teaser-title{
    font-weight: $displayHeader;
    font-size: 3.25rem;
    line-height: 1.23;
    padding-right: 20px;
    margin-bottom: 1rem;
    a{
      color: $navy;
      @include dottedLink($navy);
      &:hover,&:focus{
        color: $royal;
        background-image: none;
        .profile-search.directory &{
          color: $brightBlue;
        }
      }
    }
  }//end name
  .field-departments{
    font-weight: $heavy;
    padding-right: 20px;
    & > div{
      display: inline-block;
      &:not(:last-child){
        &:after{
          content: ' |';
          margin-right: .25em;
          white-space: nowrap;
        }
      }
    }
  }
  .field-job-title,.field-long-text,.field-position,.field-position-override{
    @extend .field-departments;
    font-family: $bodyText;
    font-weight: $regular;
  }//end job title
  .field-email{
    @include safeFlex(row,nowrap,start,start);
    padding-right: 20px;
    .icon-wrapper{
      width: 16px;
			margin-right: 12px;
		}
		.field-content{
			width: calc(100% - 28px);
      a{
        color: $navy;
        @include dottedLink($navy);
        display: inline-block;
        &:hover,&:focus{
          color: $royal;
          background-image: none;
        }
      }
		}
		svg{
			max-height: 16px;
			margin-top: 3px;
      position: relative;
      top: -2px;
      .cls-1{
        fill: $navy;
      }
		}
	}
	.field-phone{
    @extend .field-email;
		svg{
			max-height: 15px;
      top: 1px;
		}
	}
}//end profileTeaser

@mixin goldSwirl{
  html.animations-paused & {
    opacity: 1;
  }
  html.animations-playing & {
    @include animation('fadeInDelay 1s 1');
  }
  content: '';
  position: absolute;
  bottom: -83px;
  animation: heroSwirlSlideMobileLeft 1.5s forwards;
  z-index: 0;
  width: 308px;
  height: 572px;
  background-image: url(../images/elements/swirl-vertical-gold.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  @include desk{
    animation: heroSwirlSlideMidLeft 1.5s forwards;
    width: 380px;
    height: 706px;
  }
  @include contentStop{
    left: auto;
    animation: heroSwirlSlideWideRight 1.5s forwards;
    width: 452px;
    height: 839px;
    bottom: -95px;
  }
}//end gold swirl

@mixin royalSwirl{
  html.animations-paused & {
    opacity: 1;
  }
  html.animations-playing & {
    @include animation('fadeInDelay 1s 1');
  }
  content: '';
  position: absolute;
  top: 212px;
  left: 77vw;
  z-index: 0;
  width: 308px;
  height: 572px;
  background-image: url(../images/elements/swirl-vertical-wide-royal.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  @include desk{
    left: 77vw;
    width: 380px;
    height: 706px;
  }
  @include contentStop{
    left: auto;
    right: -104px;
    width: 452px;
    height: 839px;
    bottom: -95px;
  }
}//end royal swirl

@mixin stripesRoyalNarrow{
  position: relative;
  &:before{
    html.animations-paused & {
      opacity: 1;
    }
    html.animations-playing & {
      @include animation('fadeInDelay 1s 1');
    }
    content: url(../images/elements/stripes-narrow-royal.svg);
    position: absolute;
    top: calc(100% - 22px);
    left: -23px;
    z-index: -1;
    width: 263px;
    height: 171px;
    @include tab{
      left: -43px;
    }
  }
}