/* ===============
   NODES
=================== */

@use '../../00-base/base' as *;
@use 'sass:color';

@mixin swirlAnimationNoImage {
  left: auto;
  html.animations-paused & {
    right: -240px;
  }
  @keyframes heroSwirlSlide {
    from {
      right: -200vw;
    }
    to {
      right: -240px;
    }
  }
  @include animation("heroSwirlSlide 1.5s forwards");
  @include smallTab {
    html.animations-paused & {
      right: -220px;
    }
    @keyframes heroSwirlSlide {
      from {
        right: -200vw;
      }
      to {
        right: -220px;
      }
    }
    @include animation("heroSwirlSlide 1.5s forwards");
  }
  @include menuStop {
    html.animations-paused & {
      right: -80px;
    }
    @keyframes heroSwirlSlide {
      from {
        right: -200vw;
      }
      to {
        right: -80px;
      }
    }
    @include animation("heroSwirlSlide 1.5s forwards");
  }
  @include contentStop {
    html.animations-paused & {
      right: 0;
    }
    @keyframes heroSwirlSlide {
      from {
        right: -200vw;
      }
      to {
        right: 0;
      }
    }
    @include animation("heroSwirlSlide 1.5s forwards");
  }
}//end swirlAnimationNoImage

@mixin swirlAnimationRightImage{
  left: auto;
  html.animations-paused & {
    right: -12px;
  }
  @keyframes heroSwirlSlideImage {
    from {
      right: -200vw;
    }
    to {
      right: -12px;
    }
  }
  @include animation("heroSwirlSlideImage 1.5s forwards");
  @include smallTab{
    html.animations-paused & {
      right: -30px;
    }
    @keyframes heroSwirlSlideImage {
      from {
        right: -200vw;
      }
      to {
        right: -30px;
      }
    }
    @include animation("heroSwirlSlideImage 1.5s forwards");
  }
  @include desk{
    right: auto;
    html.animations-paused & {
      left: -80px;
    }
    @keyframes heroSwirlSlideImage {
      from {
        left: 200vw;
      }
      to {
        left: -80px;
      }
    }
    @include animation("heroSwirlSlideImage 1.5s forwards");
  }
}//end swirlAnimationRightImage

@mixin swirlAnimationFullImage{
  left: auto;
  html.animations-paused & {
    right: -80px;
  }
  @keyframes heroSwirlSlideFullImage {
    from {
      right: -200vw;
    }
    to {
      right: -80px;
    }
  }
  animation: heroSwirlSlideFullImage 1.5s forwards;
  @include smallTab{
    html.animations-paused & {
      right: -60px;
    }
    @keyframes heroSwirlSlideFullImage {
      from {
        right: -200vw;
      }
      to {
        right: -60px;
      }
    }
    html.animations-playing & {
      animation: heroSwirlSlideFullImage 1.5s forwards;
    }
  }
  @include desk{
    html.animations-paused & {
      right: -70px;
    }
    @keyframes heroSwirlSlideFullImage {
      from {
        right: -200vw;
      }
      to {
        right: -70px;
      }
    }
    html.animations-playing & {
      animation: heroSwirlSlideFullImage 1.5s forwards;
    }
  }
  @include contentStop{
    html.animations-paused & {
      right: -100px;
    }
    @keyframes heroSwirlSlideFullImage {
      from {
        right: -200vw;
      }
      to {
        right: -100px;
      }
    }
    html.animations-playing & {
      animation: heroSwirlSlideFullImage 1.5s forwards;
    }
  }
}//end swirlAnimationRightImage

@mixin sectionLimit{
	max-width: $contentStop;
	@include auto;
}//end section limit

@mixin textContent{
	max-width: $textMax;
	@include auto;
}

@mixin contactSocial{
  width: 100%;
  margin-bottom: 0;
  position: relative;
  padding: 20px 0;
  @include tab{
    padding: 12px 0 10px;
  }
  &:not(:first-child){
    margin-top: 5rem;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 457px);
    width: $breakoutWidth;
    height: 2px;
    background: $siteBack;
  }
  .platform-links{
    justify-content: center;
    li{
      a{
        &:hover,&:focus{
          background: color.adjust($ice,$lightness:-3%);
          border-radius: 4px;
        }
      }
    }
  }//end platform links
}

@mixin contactSection{
	max-width: $breakoutWidth;
	@include auto;
	background: $ice;
  padding: 22px 20px 1px;
  overflow: hidden;
  .layout__region--content{
    margin-bottom: 0 !important;
  }
  @include tab{
    padding: 60px 84px 1px;
    .layout__region--content{
      @include safeFlex(row,wrap,start,start);
    }
  }
	h2{
		@include contactTitle;
    width: 100%;
    padding-bottom: 32px;
	}
	.block-field-contact,.block-field-hours-library{
		margin-bottom: 1.5rem;
    &:last-child{
      margin-bottom: $spaceLg;
    }
		@include tab{
			width: 50%;
		}
	}
	.block-field-platforms{
		@include contactSocial;
	}//end block field platforms
}//end contactSection

@mixin contactHolder{
	max-width: 894px;
	@include auto;
	& > *:first-child{
		background: $ice;
		padding: 40px 20px 30px;
		@include tab{
			padding: 60px 112px 45px;
		}
	}
}

@mixin contactTitle{
	@include heading4;
	font-size: 3.5rem;
	line-height: 1.28;
  @include tab{
    font-size: 4rem;
    line-height: 1.25;
  }
}

@mixin contactContent{
	color: $navy;
	font-size: 1.75rem;
	line-height: 1.42;
	.field{
		@include safeFlex(row,nowrap,start,start);
		&:not(:last-child){
			margin-bottom: $spaceXxs;
			.address{
				margin-bottom: 0;
			}
		}
		.icon-wrapper{
			width: 16px;
			margin-right: 12px;
      svg{
        fill: none;
      }
		}
		.field-content{
			width: calc(100% - 28px);
		}
	}
	.field-address{
		svg{
			max-height: 17px;
			margin-top: 4px;
		}
	}
	.field-email{
		svg{
			max-height: 16px;
			margin-top: 1px;
		}
    a{
      padding-bottom: 1px;
      &:hover,&:focus{
        
      }
    }
	}//end field email
	.field-phone{
		svg{
			max-height: 15px;
			margin-top: 2px;
		}
    a{

      padding-bottom: 1px;
      &:hover,&:focus{
        
      }
    }
	}//end field phone
  .field-fax{
    @extend .field-phone;
  }
}//end contact contnet

@mixin hoursHolder{
	max-width: $breakoutWidth;
	@include auto;
	& > *:first-child{
		background: $ice;
    padding: 40px 20px 30px;
    @include tab{
		  padding: 60px 124px 76px;
    }
	}
}

@mixin headerInvasion {
  margin-top: -104px;
  padding-top: 104px;
  @include edgeToEdge;
  @include desk {
    margin-top: -116px;
    padding-top: 116px;
  }
  @include menuStop {
    margin-top: -152px;
    padding-top: 152px;
  }
}

@mixin heroRightImage{
  position: relative;
  margin-bottom: $elementSpace;
  padding-bottom: $elementSpace;
  @include desk{
    min-height: 61vw;
    margin-bottom: 160px;
  }
  @include contentStop {
    margin-bottom: 180px;
    min-height: 916px;
  }
  &.vertical-window{
    @include desk{
      .image-right{
        img{
          height: 100vh;
          max-height: 828px;
        }
      }
    }
    @include contentStopMargin{
      .image-right{
        img{
          height: calc(100vh - 100px);
        }
      }
    }
    @include contentStop{
      .image-right{
        img{
          height: calc(100vh - 110px);
        }
      }
    }
  }//end vertical window
  .image-right{
    max-width: 520px;
    @include auto;
    padding-left: 36px;
    position: relative;
    z-index: 1;
    @include desk{
      position: absolute;
      top: 165px;
      right: 0;
      width: 50%;
      z-index: 2;
      max-width: 720px;
      margin: 0;
      img{
        object-fit: cover;
      }
    }//end desk
    @include contentStop{
      right: calc(50% - 720px);
      img{
        height: 828px;
        min-height: 0;
      }
    }
    @keyframes imageRightSquig{
      0%{
        right: -100vw;
      }
      100%{
        right: calc(100% - 96px);
      }
    }

    // thick gold squiggles in the top right corner, over video hero
    &:after{
      content:"";
      display:block;
      position:absolute;
      width:87px;
      height: 316px;
      bottom: -38px;
      right: -100vw;
      z-index: -1;
      background-image: url(../images/elements/gold-wave-fat.svg);
      background-repeat: no-repeat;
      background-size: contain;
      animation:.5s ease .4s 1 imageRightSquig;
      animation-fill-mode: forwards;
    }
  }//end image right

  .page-header-text{
    position: relative;
    z-index: 1;
    max-width: 690px;
    @include auto;
    @include desk{
      max-width: 100%;
      position: relative;
    }
    .block-system-breadcrumb-block{
      @include onlyMobile{
        display: none;
      }
      .breadcrumb{
        max-width: 1180px;
        padding: 62px 20px 0;
        margin-bottom: 40px;
        @include desk{
          .breadcrumb-list {
            max-width: calc(50% - 40px);
            body:not(.hero-has-image) &{
              max-width: 100%;
            }
          }
        }
      }//end breadcrumb
    }//end breadcrumb block
    .page-header-text-inner{
      color: $white;
      padding: 60px 2.5rem 0;
      max-width: 1180px;
      @include auto;
      @include desk{
        padding-top: 0;
        min-height: 300px;
        & > *:not(.block-system-breadcrumb-block){
          max-width: calc(50% - 40px);
        }
      }
      h1,h2,h3,h4,h5,h6,li{
        color: $white;
      }
      .field.title,.node-title{
        margin-bottom: 16px;
        h1 {
          color: $gold;
        }
      }
      .field-subtitle,.node-subtitle,.node-body,.field-intro{
        margin-bottom: 16px;
        a{
          font-weight: $heavy;
          text-decoration: underline;
          &:hover,&:focus{
            text-decoration: none;
            opacity: .7;
          }
        }
      }
      .field-subtitle,.node-subtitle {
        color: $gold;
      }
      .field-links {
        max-width: 1092px;
        a {
          display: inline-block;
          min-height: 32px;
        }
      }
    }//end page header text inner
  }//end page header text
}//end hero image right

@mixin patternHero{
  background: radial-gradient(50.13% 157.8% at 6.18% 33.85%, #0F2C46 0%, #232C99 100%);
  @include edgeToEdge;
  padding-left: $siteMarginMobile;
  padding-right: $siteMarginMobile;
  padding-bottom: $elementSpace;
  color: $white;
  overflow: hidden;
  .wavy-lines {
    @include patternHeroLines;
  }
  h1,h2,h3,h4,h5,h6,li,.node-body a,.text-long a{
    color: $white;
  }
  //specific link colors
  .breadcrumb{
    max-width: 1096px;
    a{
      &:hover,&:focus{
      }
    }
  }//end breadcrumb
  .field-college a{
    padding-bottom: 1px;
    &:hover,&:focus{
      background-image: none;
    }
  }
  .field-intro-text{
    a{
      font-weight: $heavy;
      &:hover,&:focus{
        background-image: none;
        opacity: .7;
      }
    }
  }
  .field-links a{
    display: inline-block;
    @include linkArrow(white, sm);
    min-height: 32px;
  }//end links field a

}//end patternHero

@mixin patternHeroLines {
  width: 355px;
  padding-bottom: 469px;
  position: absolute;
  overflow: hidden;
  bottom: -344px;
  right: -100vw;
  @keyframes linesRight{
    0%{
      right: -100vw;
    }
    100%{
      right: -170px;
    }
  }
  @keyframes linesRightDesk{
    0%{
      right: -100vw;
    }
    100%{
      right: -230px;
    }
  }
  @keyframes linesRightLarge{
    0%{
      right: -100vw;
    }
    100%{
      right: -30px;
    }
  }
  animation:.5s ease .4s 1 linesRight;
  animation-fill-mode: forwards;
  @include desk {
    bottom: auto;
    top: 130px;
    animation:.5s ease .4s 1 linesRightDesk;
    animation-fill-mode: forwards;
  }
  @include contentStop {
    top: 200px;
    animation:.5s ease .4s 1 linesRightLarge;
    animation-fill-mode: forwards;
  }
  img {
    width: 542px;
    position: absolute;
    top: -359px;
    left: 0;
  }
}

@mixin heroSimpleBackground{
  position: absolute;
  top: 0;
  left:0;
  width: 100vw;
  z-index: 0;
  height: 184px;
  padding-left: $siteMarginMobile;
  padding-right: $siteMarginMobile;
  background: radial-gradient(50.13% 157.8% at 6.18% 33.85%, #0F2C46 0%, #232C99 100%);
  @include tab {
    height: 300px;
  }
  @include desk{
    height: 446px;
  }
}

@mixin heroText {
	position: relative;
	z-index: 10;
	padding-left: $siteMarginDesk;
	& > * {
		margin-bottom: $spaceXs;
	}
	.breadcrumb{
		li,a{
			color: $white;
		}
	}
	.field-links {
		a {
			color: $white;
			display: block;
		}
	}
	.field,
	.field > *{
		color: $white;
		margin-bottom: $spaceXs;
	}
}//end page header text

@mixin heroFullWidthImage {
  color: $white;
  max-height: 1000px;
  margin-bottom: $elementSpace;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  @include safeFlex(column,nowrap,end,start);
  @include desk {
    height: 100vh;
  }
  @media screen and (min-width: 2001px){
    background: $royal;
  }
  .hero-background{
    width: 100vw;
    margin-bottom: $spaceMd;
    position: relative;
    @include desk {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      margin-bottom: 0;
    }
    @media screen and (min-width: 2001px){
      width: 2000px;
      left: calc(50% - 1000px);
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(6, 35, 61, 0.7) 0%, rgba(6, 35, 61, 0.2) 36.09%, rgba(6, 35, 61, 0.2) 80.62%, rgba(6, 35, 61, 0.7) 97.5%);
      html.animations-paused & {
        opacity: 1;
      }
      html.animations-playing & {
        @include animation('fadeIn 1.25s 1');
      }
    }
    *{
      height: 100%;
      img{
        object-fit: cover;
        object-position: top center;
      }
    }
  }//end hero background
  h1,h2,h3,h4,h5,h6,li,a{
    color: $white;
  }
  .page-header-text{
    max-width: $textMax;
    width: 100%;
    padding-left: $siteMarginMobile;
    padding-right: $siteMarginMobile;
    @include auto;
    @include desk {
      max-width: 1104px;
    }
    .page-header-text-inner{
      .node-title {
        margin-bottom: 0;
      }
      h1.page-title{
        max-width: 800px;
        margin-left: 0;
        color: $royal;
        @include desk {
          margin-bottom: 100px;
          color: $white;
        }
        @include contentStop {
          margin-bottom: 148px;
        }
      }
    }
  }
  .field-links{
    padding-top: 0;
    margin-top: -30px;
    width: 100%;
    @include desk{
      position: absolute;
      bottom: 0;
      right: 20px;
    }
    @include menuStop{
      right: calc(50% - 560px);
    }
    a{
      display: inline-block;
      @include linkArrow(white, sm);
      min-height: 32px;
    }
  }//end links field a
}//end heroFullWidthImage

@mixin profileTeaser{
  padding-bottom: 40px;
  .field-image{
    margin-bottom: 2rem;
  }
  .field:not(.field-image):not(.field-name){
    font-size: 1.75rem;
    line-height: 1.285;
    &:not(:last-of-type){
      margin-bottom: 1rem;
    }
  }
  .field-name,.teaser-title{
    font-weight: $displayHeader;
    font-size: 3.25rem;
    line-height: 1.23;
    padding-right: 20px;
    margin-bottom: 1rem;
    a{

      &:hover,&:focus{

        background-image: none;
      }
    }
  }//end name
  .field-departments{
    font-weight: $heavy;
    padding-right: 20px;
    & > div{
      display: inline-block;
      &:not(:last-child){
        &:after{
          content: ' |';
          margin-right: .25em;
          white-space: nowrap;
        }
      }
    }
  }
  .field-job-title,.field-long-text,.field-position,.field-position-override{
    @extend .field-departments;
    font-family: $bodyText;
    font-weight: $regular;
  }//end job title
  .field-email{
    @include safeFlex(row,nowrap,start,start);
    padding-right: 20px;
    .icon-wrapper{
      width: 16px;
			margin-right: 12px;
		}
		.field-content{
			width: calc(100% - 28px);
      a{
        color: $navy;
        @include dottedLink($navy);
        display: inline-block;
        &:hover,&:focus{
          color: $royal;
          background-image: none;
        }
      }
		}
		svg{
			max-height: 16px;
			margin-top: 3px;
      position: relative;
      top: -2px;
      .cls-1{
        fill: $navy;
      }
		}
	}
	.field-phone{
    @extend .field-email;
		svg{
			max-height: 15px;
      top: 1px;
		}
	}
}//end profileTeaser

@mixin goldSwirl{
  html.animations-paused & {
    opacity: 1;
  }
  html.animations-playing & {
    @include animation('fadeInDelay 1s 1');
  }
  content: '';
  position: absolute;
  bottom: -83px;
  animation: heroSwirlSlideMobileLeft 1.5s forwards;
  z-index: 0;
  width: 308px;
  height: 572px;
  background-image: url(../images/elements/swirl-vertical-gold.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  @include desk{
    animation: heroSwirlSlideMidLeft 1.5s forwards;
    width: 380px;
    height: 706px;
  }
  @include contentStop{
    left: auto;
    animation: heroSwirlSlideWideRight 1.5s forwards;
    width: 452px;
    height: 839px;
    bottom: -95px;
  }
}//end gold swirl

@mixin royalSwirl{
  html.animations-paused & {
    opacity: 1;
  }
  html.animations-playing & {
    @include animation('fadeInDelay 1s 1');
  }
  content: '';
  position: absolute;
  top: 212px;
  left: 77vw;
  z-index: 0;
  width: 308px;
  height: 572px;
  background-image: url(../images/elements/swirl-vertical-wide-royal.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  @include desk{
    left: 77vw;
    width: 380px;
    height: 706px;
  }
  @include contentStop{
    left: auto;
    right: -104px;
    width: 452px;
    height: 839px;
    bottom: -95px;
  }
}//end royal swirl

@mixin stripesRoyalNarrow{
  position: relative;
  &:before{
    html.animations-paused & {
      opacity: 1;
    }
    html.animations-playing & {
      @include animation('fadeInDelay 1s 1');
    }
    content: url(../images/elements/stripes-narrow-royal.svg);
    position: absolute;
    top: calc(100% - 22px);
    left: -23px;
    z-index: -1;
    width: 263px;
    height: 171px;
    @include tab{
      left: -43px;
    }
  }
}