/* =============
   SITE FOOTER
=============== */

@use '../../../00-base/base' as *;

.prefooter-wrapper{
	background: $prefooterBack;
	color: $prefooterText;
	position: relative;
	z-index: 1;
	margin-top: calc(20px + 29vw);
	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: calc(100% - 1px);
		right: 0;
		width: 100vw;
		height: 29vw;
		clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
		background: $prefooterBack;
		z-index: -2;
	}
	.back-anchor{
		a{
			@include safeFlex(column,nowrap,center,center);
			width: 96px;
			height: 96px;
			position: absolute;
			top: -70px;
			left: 20px;
			z-index: 500;
			border-radius: 50%;
			background-color: $white;
			border-radius: 50%;
			box-shadow: 0 4px 4px rgba(0,0,0,.25);
      opacity: 0;
      @include rotate(180);
			@include desk{
				display: none;
			}
			svg{
				fill: none;
			}
			&:active{
				background: $lightGrey;
			}
		}
	}//end back anchor
	.dialog-off-canvas-main-canvas &{
		transform-style: unset;
		*{
			transform-style: unset;
		}
	}
	.prefooter-guard{
		background: $prefooterBack;
	}
	.prefooter-inner{
		padding: 32px $siteMarginMobile 67px;
		max-width: $contentStop + 40px;
		@include auto;
		position: relative;
    @include desk{
      padding-bottom: 37px;
    }
		& > div{
			@include safeFlex(row,wrap,center,start);
			@include desk{
				@include safeFlex(row,wrap,justify,start);
			}
		}
		//address
		.block-2{
			@include onlySmall{
				width: 100%;
				order: 99;
			}
			@include desk{
				position: absolute;
				top: -275px;
				left: 100vw;
				z-index: -2;
			}
      @media screen and (min-width: 1600px){
        top: calc(180px - 29vw);
      }
      @media screen and (min-width: 1700px){
        top: calc(180px - 28.5vw);
      }
      @media screen and (min-width: 1800px){
        top: calc(180px - 27.5vw);
      }
      @media screen and (min-width: 1900px){
        top: calc(180px - 26.5vw);
      }
      @media screen and (min-width: 2000px){
        top: calc(180px - 25.75vw);
      }
      @media screen and (min-width: 2300px){
        top: calc(180px - 25vw);
      }
      @media screen and (min-width: 2500px){
        top: calc(180px - 24vw);
      }
      @media screen and (min-width: 2900px){
        top: calc(180px - 22.5vw);
      }
      @media screen and (min-width: 3300px){
        top: calc(180px - 21vw);
      }
    }//end address block
		.block-footer-for-menu{
			@include auto;
			@include desk{
				margin: calc(80px - 27vw) $siteMarginMobile 0 auto;
			}
      @include contentStop{
        margin-top: -300px;
        margin-right: $siteMarginDesk;
      }
		}
		.block-footer-menu{
			width: 100%;
      @include desk{
        margin-left: -22px;
        margin-bottom: 0;
      }
		}
	}//end prefooter inner

  //footer animations
  &.visible{
    .back-anchor a{
      opacity: 1;
      @include rotate(0);
      html.animations-playing & {
        transition: opacity 0.5s ease-in, transform .5s ease-in-out;
      }
    }
    .block-2{
      @include desk{
        left: 60px;
        @include transition-animate(left, 0.75s, ease-in);
      }
    }
  }//end visible
}//end prefooter-wrapper


.site-footer{
	background: $footerBack;
	color: $footerText;
	.dialog-off-canvas-main-canvas &{
		transform-style: unset;
		*{
			transform-style: unset;
		}
	}
	.modal-content{
		color: $baseText;
	}
	//set style for footer (need inner for fixed footer script)
	.footer-inner{
		padding: 0 $siteMarginMobile 115px;
		@include auto;
		position: relative;
    @include smallTab{
			padding-top: 20px;
		}
		@include tab{
			padding-bottom: 100px;
		}
    @media screen and (min-width: 1024px){
      padding-bottom: 20px;
      .logged-in &{
        padding-bottom: 80px;
      }
    }
		& > div{
			@include safeFlex(row,wrap,center,end);
			@include bleed(padding,20px);
			@include tab{
				align-items: flex-end;
			}
		}
    //social
    .block-3{
      margin-bottom: $spaceSm;
      @include smallTab{
        margin-bottom: $spaceXxs;
      }
    }
		.footer-ancillary{
			margin-bottom: $spaceMd;
      @include smallTab{
        margin-bottom: $spaceXxs;
      }
		}
		//copy right
		.block-1{
			width: 100%;
			@include contentStopMargin{
				width: 360px;
			}
		}
	}//end footer-inner
}//end footer
