/* =============
   SITE FOOTER
=============== */

@use '../../../00-base/base' as *;

.prefooter-inner{
	background-color: $prefooterBack;
	color: $prefooterText;
  overflow: hidden;
	position: relative;
	z-index: 1;
  &:before {
    background: url('../images/elements/wavy-y-white-large.svg') no-repeat scroll right center / 485px, $prefooterBack;
    background-blend-mode: overlay, normal;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    @include tab {
      background: url('../images/elements/wavy-y-white.svg') no-repeat scroll right -200px center / 1200px, $prefooterBack;
      opacity: .65;
    }
  }
	.dialog-off-canvas-main-canvas &{
		transform-style: unset;
		*{
			transform-style: unset;
		}
	}
	.prefooter-inner{
		padding: 32px $siteMarginMobile 67px;
		max-width: $contentStop + 40px;
		@include auto;
		position: relative;
    @include tab {
      padding-bottom: 37px;
    }
		& > div{
			@include safeFlex(row,wrap,center,start);
			@include tab {
				@include safeFlex(row,wrap,justify,start);
			}
		}
	}//end prefooter inner
}//end prefooter-wrapper

.back-anchor{
  position: relative;
  a{
    @include safeFlex(column,nowrap,center,center);
    width: 66px;
    height: 66px;
    position: absolute;
    top: -30px;
    right: 20px;
    z-index: 1;
    border-radius: 50%;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    @include desk{
      display: none;
    }
    svg{
      fill: none;
      width: 45%;
    }
    &:active{
      background: $ice;
    }
  }
}//end back anchor

.site-footer{
	background-color: $footerBack;
	color: $footerText;
  overflow: hidden;
  position: relative;
  &:before {
    background: url('../images/elements/wavy-lines-white.png') -167.691px -117.284px / 3000px no-repeat transparent;
    background-blend-mode: overlay;
    content: '';
    height: 100%;
    left: 0;
    opacity: .05;
    position: absolute;
    top: 0;
    width: 100%;
    @include tab {
      background-size: 2500px;
    }
  }
  @include desk {
  }
	.modal-content{
		color: $baseText;
	}
	//set style for footer (need inner for fixed footer script)
	.footer-inner{
		padding: $spaceMl $siteMarginMobile $spaceLg;
		@include auto;
    max-width: $contentStopMargin;
		position: relative;
		@include tab{
			padding-bottom: 45px;
			padding-top: 75px;
		}
		> div{
			@include bleed(padding,20px);
			@include desk {
				align-items: flex-end;
        display: grid;
        grid-template:
          "a c"
          "b c" auto / 50% 50%;
			}
		}
    .block-2 {
      grid-area: a;
    }
    .block-3 {
      grid-area: b;
    }
    .footer-for {
      grid-area: c;
    }
    //social
    .block-2,
    .block-3{
      @include smallTab{
        margin-bottom: $spaceXxs;
      }
    }
    .block-footer-for-menu {
      break-before: column;
      margin-top: $spaceLg;
      @include desk {
        margin-top: 0;
      }
    }
		.footer-ancillary{
			margin-bottom: $spaceMd;
      @include smallTab{
        margin-bottom: $spaceXxs;
      }
		}
	}//end footer-inner
}//end footer

.postfooter {
  @include auto;
  max-width: $contentStopMargin;
  padding: 0 $siteMarginMobile;
  .postfooter-inner {
    border-top: 1px solid $footerRule;
    padding: $spaceLg 0 $spaceXl;
    position: relative;
    @include tab {
      padding-bottom: $spaceMd;
      padding-top: $spaceMdLg;
    }
    > div {
      @include tab {
        @include safeFlex(row, no-wrap, justify, center);
        gap: 30px;
      }
    }
  }
}
