/* =============
   SITE FOOTER
=============== */

@use '../../../00-base/base' as *;

.prefooter-wrapper{
	background: $prefooterBack;
	color: $prefooterText;
	position: relative;
	z-index: 1;
	.back-anchor{
		a{
			@include safeFlex(column,nowrap,center,center);
			width: 96px;
			height: 96px;
			position: absolute;
			top: -70px;
			left: 20px;
			z-index: 500;
			border-radius: 50%;
			background-color: $white;
			border-radius: 50%;
			box-shadow: 0 4px 4px rgba(0,0,0,.25);
      opacity: 0;
      @include rotate(180);
			@include desk{
				display: none;
			}
			svg{
				fill: none;
			}
			&:active{
				background: $ice;
			}
		}
	}//end back anchor
	.dialog-off-canvas-main-canvas &{
		transform-style: unset;
		*{
			transform-style: unset;
		}
	}
	.prefooter-guard{
		background: $prefooterBack;
	}
	.prefooter-inner{
		padding: 32px $siteMarginMobile 67px;
		max-width: $contentStop + 40px;
		@include auto;
		position: relative;
    @include desk{
      padding-bottom: 37px;
    }
		& > div{
			@include safeFlex(row,wrap,center,start);
			@include desk{
				@include safeFlex(row,wrap,justify,start);
			}
		}
		//address
		.block-2{
			@include onlySmall{
				width: 100%;
				order: 99;
			}
    }//end address block
		.block-footer-for-menu{
			@include auto;
      @include contentStop{
        margin-right: $siteMarginDesk;
      }
		}
		.block-footer-menu{
			width: 100%;
      @include desk{
        margin-left: -22px;
        margin-bottom: 0;
      }
		}
	}//end prefooter inner

  //footer animations
  &.visible{
    .back-anchor a{
      opacity: 1;
      @include rotate(0);
      html.animations-playing & {
        transition: opacity 0.5s ease-in, transform .5s ease-in-out;
      }
    }
  }//end visible
}//end prefooter-wrapper


.site-footer{
	background-color: $footerBack;
	color: $footerText;
  overflow: hidden;
  position: relative;
  &:before {
    background: url('../images/elements/wavy-lines-white.png') -167.691px -117.284px / auto 233.177% no-repeat transparent;
    background-size: 500%;
    background-blend-mode: overlay;
    content: '';
    height: 100%;
    left: 0;
    opacity: .05;
    position: absolute;
    top: 0;
    width: 100%;
    @include tab {
      background-size: 250%;
    }
  }
	.dialog-off-canvas-main-canvas & {
		transform-style: unset;
		*{
			transform-style: unset;
		}
	}
	.modal-content{
		color: $baseText;
	}
	//set style for footer (need inner for fixed footer script)
	.footer-inner{
		padding: 0 $siteMarginMobile 115px;
		@include auto;
    max-width: $contentStopMargin;
		position: relative;
    @include smallTab{
			padding-top: 75px;
		}
		@include tab{
			padding-bottom: 45px;
		}
		> div{
			@include bleed(padding,20px);
			@include tab{
				align-items: flex-end;
        columns: 2;
			}
		}
    //social
    .block-2,
    .block-3{
      @include smallTab{
        margin-bottom: $spaceXxs;
      }
    }
    .block-footer-for-menu {
      break-before: column;
    }
		.footer-ancillary{
			margin-bottom: $spaceMd;
      @include smallTab{
        margin-bottom: $spaceXxs;
      }
		}
	}//end footer-inner
}//end footer

.postfooter {
  @include auto;
  max-width: $contentStopMargin;
  padding: 0 $siteMarginMobile;
  .postfooter-inner {
    border-top: 1px solid $footerRule;
    padding: $spaceLg 0 $spaceXl;
    position: relative;
    @include tab {
      padding-bottom: $spaceSm;
    }
    > div {
      @include tab {
        @include safeFlex(row, no-wrap, justify, center);
      }
    }
  }
}
