/* ==============
	 BUTTONS
================== */
@use '../../00-base/base' as *;
@use 'button-mixins' as *;

//button classes
.ec-button {
	@include button;
}
.button-danger-robinson{
	@include warningButton;
}

/* secondary task buttons
------------------ */
#block-citizen-dart-local-tasks .tabs.secondary a{
	background: $link !important;
	border-color: $link;
	color: $white;
	padding: .5rem 1.5rem;
	font-weight: bold;
	&:hover, &:focus, &.is-active{
		background: $white !important;
		color: $link;
		border-color: $link;
		outline: 0;
	}
}
