/* ==============
	 BUTTONS
================== */
@use '../../00-base/base' as *;

@mixin dropbutton{
	input,.button,a,button{
		border-radius: 0 !important;
		box-shadow: none;
		background: $siteBack;
		text-shadow: none;
		border-color: $borderRule;
		font-size: 2rem;
		color: $baseText;
		text-decoration: none;
		&:hover,&:focus{
			background-color: $buttonTextHover !important;
			background-image: none !important;
			border-radius: 0 !important;
			box-shadow: none;
			outline: 0;
		}
		&:active{
			background: $buttonBackActive;
			border-radius: 0;
			box-shadow: none;
		}
	}
}

///mixin - button
@mixin button($color: $buttonBack, $textColor: $buttonText, $hoverColor: $buttonBackHover, $hoverTextColor: $buttonTextHover) {
	background-color: $color;
	border: 1px solid $color;
	border-radius: 5px;
	color: $textColor;
	line-height: 1.2;
	padding: $buttonPadding;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: $header;
	font-weight: $xHeavy;
	font-size: $button;
	margin-bottom: $spaceMd;
	letter-spacing: .1em;
	&:hover,&:focus {
		color: $hoverTextColor;
		background-color: $hoverColor;
		border-color: $hoverColor;
		@include transAll(.3s);
		text-decoration: none;
		outline: 0;
		@include animation('breathe .75s 1');
	}
	&:active{
		color: $buttonTextActive;
		background-color: $buttonBackActive;
		border-color: $buttonBackActive;
	}
	.text-with-summary &,.text-long &{
		& + .ec-button,& + .ec-button-outline{
			margin-left: 1.5rem;
		}
	}//end wysiwyg
	&.js-hide{
		display: none;
	}
}//end button mixin

@mixin buttonAlt{
	@include button;
	&:hover,&:focus {
		color: $buttonTextHover;
		background-color: $buttonBackHover;
		border-color: $buttonBackHover;
	}
	&:active{
		color: $buttonTextActive;
		background-color: $buttonBackActive;
		border-color: $buttonBackActive;
	}
}//end button mixin

///mixin - outlineButton
@mixin outlineButton($outlineColor){
	@include button;
	background: transparent;
	border: 1px solid $outlineColor;
	color: $outlineColor;
	&:hover,&:focus{
		background: $buttonBackHover;
		color: $buttonTextHover;
		border-color: $buttonBackHover;
		@include transAll(.3s);
	}
	&:active{
		background: $buttonBackActive;
		color: $buttonTextActive;
		border-color: $buttonBackActive;
	}
	.text-with-summary &,.text-long &{
		padding: 0;
		background: none;
		border: none;
		width: auto;
	}//end wysiwyg
}

@mixin submitButton{
	@include button;
	background: $submitBack;
	color: $submitText;
	padding: $submitPadding;
	height: 48px;
  font-weight: $heavy;
	line-height: 1;
	@include safeFlex(column,nowrap,center,center);
	min-width: 120px;
	cursor: pointer;
	&:hover,&:focus{
		background: $buttonBackHover;
		border-color: $buttonBackHover;
		color: $buttonTextHover;
	}
	&:active{
		background: $buttonBackActive;
		border-color: $buttonBackActive;
		color: $buttonTextActive;
	}
}

@mixin cautionButton{
	@include submitButton;
	background: $coolGrey;
	color: $navy;
	border-color: $coolGrey;
	&:hover,&:focus{
		background: $ice;
		border-color: $ice;
		color: $navy;
	}
	&:active{
		background: $white;
		border-color: $white;
		color: $navy;
	}
}

@mixin warningButton{
	@include submitButton;
	background: $resetBack;
	color: $resetText;
	border-color: $resetBack;
	&:hover,&:focus{
		background: $buttonBackHover;
		border-color: $buttonBackHover;
		color: $buttonTextHover;
	}
	&:active{
		background: $buttonBackActive;
		border-color: $buttonBackActive;
		color: $buttonTextActive;
	}
}
