/* ==================
 3RD PARTY GALLERY STYLES
====================*/

@use '../../00-base/base' as *;

@mixin sliderPagerBase {
  visibility: hidden;
  &:before {
    background-color: $galleryPagerBack;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 22px;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100px;
    opacity: 1;
    transition: background-color .3s;
    width: 100px;
  }
  &:hover:before,
  &:active:before {
    background-color: $galleryPagerHoverBack;
  }
  @include desk {
    visibility: visible;
  }
}


@mixin sliderPrev {
  @include sliderPagerBase;
  &:before {
	  background-image: url(../images/arrows/slider-arrow-left-royal.svg);
    background-position: 36px center;
  }
}

@mixin sliderNext {
  @include sliderPagerBase;
  &:before {
	  background-image: url(../images/arrows/slider-arrow-right-royal.svg);
    background-position: 44px center;
  }
}

/* FEATHERLIGHT
------------------- */
body{
  .featherlight{
    background: $navy !important;
    .featherlight-content {
      background: $navy;
      padding: 0px;
      border-bottom: 0px;
      overflow: visible;
      width: 100%;
      height: 100%;
      padding-top: 70px;
      @include auto;
      max-width: 1166px;
      .featherlight-slide{
        @include safeFlex(column,nowrap,center,center);
        height: 100%;
        width: 100%;
        max-height: 100vh;
        overflow-y: scroll;
      }
      .featherlight-counter{
        font-family: $header;
        font-size: 2.25rem;
        line-height: 1.667;
        color: $white;
        text-align: left;
        padding: 20px;
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        @include desk{
          left: calc(50% - 50px);
          text-align: center;
        }
        span{
          margin: 0 .2em;
        }
      }//end featherlight counter
      //controls
      .featherlight-close-icon {
        background: none;
        top: 20px;
        right: 20px;
        color: $gold;
        @include dottedLink($gold);
        font-family: $bodyText;
        font-size: 2rem;
        line-height: 1.875;
        width: auto;
        height: auto;
        &:hover,&:focus{
          color: $white;
          @include dottedLink($white);
        }
        @include desk{
          right: 40px;
        }
      }//end close icon
      .featherlight-previous {
        top: calc(40% - 48px);
        left: 10px;
        bottom: auto;
        right: auto;
        @include sliderPrev;
        span {
          display: block;
          font-size: 0;
          width: 0;
        }
      }
      //end previous
      .featherlight-next {
        @include sliderNext;
        right: 10px;
        bottom: auto;
        left: auto;
        top: calc(40% - 48px);
        span {
          display: block;
          font-size: 0;
          width: 0;
        }
      }
      //end next
      article.image{
        width: 80%;
        max-width: 450px;
      }
      .featherlight-caption {
        color: $white;
        padding: 40px;
        max-width: 872px;
        .field-caption-headline {
          font-family: $header;
          font-size: 2.25rem;
          margin-bottom: $spaceXxs;
        }
      }//end featherlight caption
    }//end featherlight content
  }//end featherlight
}//end body

/* SLIDER STYLING
-------------- */
.slick-slider {
	.slick-list {
		@include listReset;
    .slick-current{
      &:focus{
        outline: 0;
        border: 1px inset $royal;
      }
    }
	}
	.slick-arrow {
		z-index: 1;
		&.slick-prev {
      left: 20px;
      @include desk{
			  left: -48px;
      }
      @include sliderPrev;
		}
		&.slick-next {
      right: 20px;
      @include desk{
			  right: -48px;
      }
      @include sliderNext;
		}
	}//end slick arrow
}//end slick-slider
