/* ==================
 GLOBAL SITE STYLES
====================*/

@use '../../00-base/base' as *;

[dir="ltr"]{
	body {
		width: 100%;
		box-sizing: border-box;
		&.responsive-preview-frame.gin--vertical-toolbar{
			padding-left: 0 !important;
			.dialog-off-canvas-main-canvas{
			 	padding-left: 0;
			 	.layout-container{
			 		left: 0;
			 		width: 100%;
			 	}
			}
		}
		.gin-secondary-toolbar--frontend{
      padding-left: 0;
      @media screen and (min-width: 976px){
			  padding-left: 58px;
      }
		}
	}//end body
}

.overflow-guard{
	overflow: hidden;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: $siteBack;
	.unpublished &{
		background: $unpub;
	}
	div{
		box-sizing: border-box;

		*{
			box-sizing: inherit;
		}
	}
	.main-page-content{
		padding: 0;
	}
}//end overflow guard

.dialog-off-canvas-main-canvas{
	position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  // -webkit-perspective: 8px;
  // perspective: 8px;
  // perspective-origin: 0 0;
  // -webkit-perspective-origin: 0 0;
  // *{
  // 	-webkit-transform-style: preserve-3d;
  // 	transform-style: preserve-3d;
  // }
  .gin--vertical-toolbar &{
    @media screen and (min-width: 976px){
  	  padding-left: 58px;
    }
  }
  .layout-container{
  	position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: auto;
	  transform: translateZ(0px);
	  .gin--vertical-toolbar &{
      @media screen and (min-width: 976px){
	  	  left: 66px;
			  width: calc(100% - 66px);
      }
		}
  }//end layout container
}//end off canvas main canvas

.container-inline div{
	display: inline;
}

#block-citizen-dart-help{
	padding: $elementSpace 0;
	max-width: $contentStop;
	@include auto;
	h2{
		margin-bottom: $spaceSm;
		font-size: 3rem;
	}
	p{
		font-size: 2rem;
		margin-bottom: $spaceXs;
		small{
			font-size: 1.75rem;
			font-style: italic;
		}
	}
}

/* SKIP NAV
------------- */
#skip-nav-wrapper > a.focusable{
	&:focus{
		position: fixed !important;
		top: 0;
		left: 0;
		z-index: 9999;
		display: block;
		width: 100%;
		background: $siteBack;
		padding: .5rem 3rem;
		font-size: 12px;
		opacity: 1;
	}
}


