/* ==================
 GLOBAL SITE STYLES
====================*/

@use '../../00-base/base' as *;

[dir="ltr"]{
	body {
		width: 100%;
		box-sizing: border-box;
	}//end body
}

body.sidebar-open {
  overflow-x: hidden;
  overflow-y: hidden;
}

.overflow-guard{
  @include transition(left, .3s, ease-in-out);
	overflow-x: hidden;
	background: $siteBack;
  left: 0;
  width: 100%;
  position: absolute;
  .gin--vertical-toolbar:not(.responsive-preview-frame) &{
  	@media screen and (min-width:976px) {
	    padding-left: 66px;
  	  width: calc(100% - 66px);
  	}
  }
	.unpublished &{
		background: $unpub;
	}
	div{
		box-sizing: border-box;

		*{
			box-sizing: inherit;
		}
	}
	.main-page-content{
		padding: 0;
	}
  .sidebar-open & {
    @include menuStop {
      left: $sideBar;
    }
  }
}//end overflow guard

.container-inline div{
	display: inline;
}

#block-citizen-dart-help{
	padding: $elementSpace 0;
	max-width: $contentStop;
	@include auto;
	h2{
		margin-bottom: $spaceSm;
		font-size: 3rem;
	}
	p{
		font-size: 2rem;
		margin-bottom: $spaceXs;
		small{
			font-size: 1.75rem;
			font-style: italic;
		}
	}
}

/* SKIP NAV
------------- */
#skip-nav-wrapper > a.focusable{
	&:focus{
		position: fixed !important;
		top: 0;
		left: 0;
		z-index: 9999;
		display: block;
		width: 100%;
		background: $siteBack;
		padding: .5rem 3rem;
		font-size: 12px;
		opacity: 1;
	}
}
