/* ===============
   CTAs WIDGET
================== */

@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;

.paragraph--type--ctas{
  .widget-title {
    text-align: center;
    margin-bottom: $spaceSm;
  }
  &.cta-visible{
    .cta-trio .cta-item .cta-item-inner .cta-image{
      .widget-section > .layout--onecol &,
      .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
      .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
      .node-support-book &{
        @include tab{
          opacity: 1;
          @include transition-animate(opacity, 0.5s, ease-in);
        }
        .cta-bar{
          .cta-item-inner article .field-media-image img{
            opacity: .7;
            @include transition-animate(opacity, 0.75s, ease-in);
          }
        }
      }
    }
    .cta-bar{
      .cta-item-inner article .field-media-image img{
        opacity: .7;
        @include transition-animate(opacity, 0.75s, ease-in);
      }
    }
  }
	.dialog-off-canvas-main-canvas .node-support-book &{
		*{
			transform-style: unset;
		}
	}
	.cta-trio{
		max-width: 1045px;
		@include auto;
		.ctas-wrapper{
			@include safeFlex(row,wrap,start,stretch);
			@include bleed(padding,24px);
		}
		.cta-item{
			width: 100%;
      &:not(:last-child){
        margin-bottom: $spaceSm;
        .widget-section > .layout--onecol &,
        .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
        .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
        .node-support-book &{
          @include tab{
            margin-bottom: 0;
          }
        }
      }
      .widget-section > .layout--onecol &,
      .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
      .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
      .node-support-book &{
        @include tab{
          width: 33.33%;
        }
      }
			.cta-item-inner{
				height: 100%;
				background: $navy;
				padding: 28px;
        .widget-section > .layout--onecol &,
        .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
        .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
        .node-support-book &{
          @include tab{
            padding: 30px 30px 80px;
            position: relative;
          }
        }
        .cta-image{
          display: none;
          .widget-section > .layout--onecol &,
          .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
          .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
          .node-support-book &{
            @include tab{
              display: block;
              margin-bottom: 20px;
              opacity: 0;
            }
          }
        }//end cta image
        .cta-headline{
          font-size: 3rem;
          font-weight: $xHeavy;
          line-height: 1;
          .widget-section > .layout--onecol &,
          .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
          .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
          .node-support-book &{
            @include tab{
              &:not(:only-child){
                margin-bottom: 2rem;
              }
            }
          }
        }//end cta headline
        .cta-text{
          .widget-section > .layout--onecol &,
          .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
          .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
          .node-support-book &{
            @include tab{
              margin-bottom: 5rem;
            }
          }
        }//end cta text
        .cta-button{
          .widget-section > .layout--onecol &,
          .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
          .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
          .node-support-book &{
            @include tab{
              position: absolute;
              bottom: 30px;
              left: 30px;
              width: calc(100% - 60px);
            }
          }
          a{
            @include tab {
              @include auto;
              width: calc(100% - 4rem);
            }
          }
        }//end cta button
			}//end cta item inner
		}//end CTA item
	}//end is trio

	.cta-bar{
		max-width: 1094px;
		@include auto;
    position: relative;
    @include tab {
      margin-bottom: 100px;
    }
    @include menuStop {
      margin-bottom: 140px;
    }
    @include contentStop {
      margin-bottom: 10vw;
    }
    @media screen and (min-width: 1800px) {
      margin-bottom: 11vw;
    }
    @include ultraWidescreen {
      margin-bottom: 210px;
    }
    .cta-river{
      position: absolute;
      top: -150px;
      left: 50%;
      transform: translateX(-50%);
      width: 1508px;
      height: 691px;
      pointer-events:none;
      @include onlySmall {
        display: none;
      }
      @include contentStop {
        top: -10vw;
        width: 100vw;
        img{
          -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
          mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
          -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
        }
      }
      @include largeScreen {
        top: -13vw;
      }
      @include ultraWidescreen {
        width: 2000px;
        top: -300px;
      }
      .widget-section > .layout:not(.layout--onecol) &{
        @include tab{
          display: none;
        }
      }
    }
		.cta-item-inner{
			position: relative;
      z-index: 1;
			overflow: hidden;
			width: 100%;
			padding: 86px 20px 40px;
      background: #283ae3;
      @include tab {
        padding-bottom: 82px;
      }
			article{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				mix-blend-mode: multiply;
				.field-media-image{
					width: 100%;
					height: 100%;
					position: relative;
					overflow: hidden;
					z-index: -2;
					img{
						width: 100%;
				    height: 100%;
				    filter: grayscale(100%);
						position: relative;
						z-index: -3;
						object-fit: cover;
            opacity: 0;
					}
				}//end field media image
			}//end article
			.cta-text-wrapper{
        width: 80%;
        .widget-section > .layout--onecol &,
        .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
        .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
        .node-support-book &{
          @include tab{
            width: 100%;
            max-width: $textMax;
            @include auto;
          }
        }
        .cta-headline{
          font-size: 2.75rem;
          line-height: 1.27;
          font-family: $displayHeader;
          font-weight: $heavy;
          @include tab {
            font-size: 3.125rem;
          }
          &:not(:only-child){
            margin-bottom: $spaceSm;
          }
        }
        .cta-text{
          font-size: 2rem;
          line-height: 1.625;
          margin-bottom: $spaceSm;
        }
        a {
          @include button;
          & {
            margin-bottom: 0;
          }
        }
			}//end cta text wrapper
		}//end cita item inner
	}//end is bar

	.cta-item{
		color: $white;
		.cta-headline{
      & {
			  color: $white;
      }
      &:not(:only-child){
        margin-bottom: $spaceXs;
      }
		}
    .cta-text{
      margin-bottom: $spaceMd;
      font-size: 1.75rem;
      line-height: 1.57;
      @include desk {
        font-size: 2rem;
        line-height: 1.625;
      }
    }
		.cta-button,.cta-text-right{
      text-align: center;
			a {
				@include outlineButton($white);
        & {
          margin-bottom: 0 !important;
          width: 100%;
        }
        &:hover,&:focus{
          color: $royal;
          background: $white;
          border-color: $white;
        }
			}
		}
	}//end cta item
}//end ctas widget
