/* ===============
   CTAs WIDGET
================== */

@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;

.paragraph--type--ctas{
  &.cta-visible{
    .cta-trio .cta-item .cta-item-inner .cta-image{
      .widget-section > .layout--onecol &,
      .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
      .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
      .node-support-book &{
        @include tab{
          opacity: 1;
          transition: opacity 0.5s ease-in;
        }
      }
    }
    .cta-bar{
      .gold-stripes{
        right: -20px;
        transition: right 1s ease-out;
      }
      .cta-item-inner article .field-media-image img{
        opacity: .3;
        transition: opacity 0.75s ease-in;
      }
    }
  }
	.dialog-off-canvas-main-canvas .node-support-book &{
		*{
			transform-style: unset;
		}
	}
	.cta-trio{
		max-width: 1045px;
		@include auto;
		.ctas-wrapper{
			@include safeFlex(row,wrap,start,stretch);
			@include bleed(padding,16px);
		}
		.cta-item{
			width: 100%;
      &:not(:last-child){
        margin-bottom: $spaceSm;
        .widget-section > .layout--onecol &,
        .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
        .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
        .node-support-book &{
          @include tab{
            margin-bottom: 0;
          }
        }
      }
      .widget-section > .layout--onecol &,
      .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
      .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
      .node-support-book &{
        @include tab{
          width: 33.33%;
        }
      }
			.cta-item-inner{
				height: 100%;
				background: $brightBlue;
				padding: 38px 20px 50px;
        .widget-section > .layout--onecol &,
        .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
        .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
        .node-support-book &{
          @include tab{
            padding: 30px 30px 80px;
            position: relative;
          }
        }
        .cta-image{
          display: none;
          .widget-section > .layout--onecol &,
          .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
          .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
          .node-support-book &{
            @include tab{
              display: block;
              margin-bottom: 20px;
              opacity: 0;
            }
          }
        }//end cta image
        .cta-headline{
          .widget-section > .layout--onecol &,
          .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
          .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
          .node-support-book &{
            @include tab{
              line-height: 1.583;
              &:not(:only-child){
                margin-bottom: 2.5rem;
              }
            }
          }
        }//end cta headline
        .cta-text{
          line-height: 1.5;
          .widget-section > .layout--onecol &,
          .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
          .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
          .node-support-book &{
            @include tab{
              margin-bottom: $spaceSm;
            }
          }
        }//end cta text
        .cta-button{
          .widget-section > .layout--onecol &,
          .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
          .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
          .node-support-book &{
            @include tab{
              position: absolute;
              bottom: 30px;
              left: 30px;
              width: calc(100% - 60px);
            }
          }
        }//end cta button
			}//end cta item inner
		}//end CTA item
	}//end is trio

	.cta-bar{
		max-width: 1094px;
		@include auto; 
    position: relative;
    &:after{
      @include fullBack($lightGrey);
      height: 76%;
      top: 12%;
      z-index: -5;
      .widget-section > .layout:not(.layout--onecol) &,.node-support-book &{
        @include tab{
          width: calc(100% + 40px);
          left: -20px;
          height: 40%;
          top: 30%;
        }
      }
    }
    .gold-stripes{
      position: absolute;
      top: -128px;
      right: -100vw;
      z-index: 1;
      width: 263px;
      height: 171px;
      //move strips when in a layout wide enough on a screen large enough
      .widget-section > .layout--onecol &,
      .widget-section > .layout--twocol-section--50-50 &,
      .widget-section > .layout--twocol-section--67-33 > .layout__region--first &,
      .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
      .widget-section > .layout--twocol-section--33-67 > .layout__region--second &,
      .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
      .node-support-book &{
        @include tab{
          top: -65px;
        }
      }
    }//end gold stripes
		.cta-item-inner{
			position: relative;
			overflow: hidden;
			width: 100%;
			padding: 86px 20px 50px;
      //change layout and padding in a layout wide enough on a screen large enough
      .widget-section > .layout--onecol &,
      .widget-section > .layout--twocol-section--50-50 &,
      .widget-section > .layout--twocol-section--67-33 > .layout__region--first &,
      .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
      .widget-section > .layout--twocol-section--33-67 > .layout__region--second &,
      .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
      .node-support-book &{
        @include tab{
          @include safeFlex(row,wrap,start,center);
          padding: 80px 109px 90px;
        }
      }
			&:after{
				@include fullBack($brightBlue);
				z-index: -4;
			}
			article{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				mix-blend-mode: multiply;
				.field-media-image{
					width: 100%;
					height: 100%;
					position: relative;
					overflow: hidden;
					z-index: -2;
					img{
						width: 100%;
				    height: 100%; 
				    filter: grayscale(100%);
						position: relative;
						z-index: -3;
						object-fit: cover;
            opacity: 0;
					}
				}//end field media image
			}//end article
			.cta-text-wrapper{
        //change layout of elements a layout wide enough on a screen large enough
        .widget-section > .layout--onecol &,
        .widget-section > .layout--twocol-section--50-50 &,
        .widget-section > .layout--twocol-section--67-33 > .layout__region--first &,
        .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
        .widget-section > .layout--twocol-section--33-67 > .layout__region--second &,
        .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
        .node-support-book &{
          @include tab{
            @include safeFlex(row,wrap,start,center);
            .cta-text-left{
              width: 60%;
              padding-right: 20px;
              .cta-text{
                margin-bottom: 0;
                line-height: 1.875;
              }
            }
            .cta-text-right{
              width: 40%;
            }
          }// tab
        }//end layout sections
        .cta-headline{
          &:not(:only-child){
            margin-bottom: $spaceMd;
          }
        }
        .cta-text{
          line-height: 2;
        }
        
				.cta-text-right{
					a{
            //change button padding and padding in a layout wide enough on a screen large enough
            .widget-section > .layout--onecol &,
            .widget-section > .layout--twocol-section--50-50 &,
            .widget-section > .layout--twocol-section--67-33 > .layout__region--first &,
            .widget-section > .layout--twocol-section--75-25 > .layout__region--first &,
            .widget-section > .layout--twocol-section--33-67 > .layout__region--second &,
            .widget-section > .layout--twocol-section--25-75 > .layout__region--second &,
            .node-support-book &{
              @include tab{
                padding: 2.1rem 3.25rem 1.85rem;
              }
            }//end sections
					}//end a
				}//end cta text right
			}//end cta text wrapper
		}//end cita item inner
	}//end is bar

	.cta-item{
		color: $white;
		.cta-headline{
			@include heading2;
			color: $white;
      &:not(:only-child){
        margin-bottom: $spaceXxs;
      }
		}
    .cta-text{
      margin-bottom: $spaceLg;
    }
		.cta-button,.cta-text-right{
      text-align: center;
			a{
				@include outlineButton($white);
        margin-bottom: 0 !important;
        &:hover,&:focus{
          color: $brightBlue;
          background: $white;
          border-color: $white;
        }
			}
		}
	}//end cta item
}//end ctas widget
