/* =================
   IMAGE WIDGET
==================== */

@use '../../../00-base/base' as *;
@use '../../../02-chunks/media/media-mixins' as *;

.paragraph--type--image{
	.caption-left,
	.caption-right,
	.caption-below {
		@include safeFlex(row,wrap,left,start);
		@include bleed(padding,32px);
		.caption {
			flex: 1;
		}
	}
	.caption-right {
		flex-direction: row-reverse;
	}
	.caption-below {
		flex-direction: column-reverse;
	}
	.image-wrapper{
		position: relative;
		&:after{
			@include narrowStripes($gold);
		}
		&.small{
			max-width: 280px;
		}
		&.medium{
			max-width: 480px;
		}
		&.large{
			max-width: 640px;
		}
		&.default{
			img{
				width: auto;
				@include auto;
				max-width: 100%;
			}
		}
	}
	
	a{
		color: $baseText;
		text-decoration: none;
		img{
			@include imageHover;
		}
	}
	
}//end image widget

