/* =================
   IMAGE WIDGET
==================== */

@use '../../../00-base/base' as *;
@use '../../../02-chunks/media/media-mixins' as *;

.paragraph--type--image{
	max-width: 1104px;
	@include auto;
	.caption-left,
	.caption-right{
		@include tab{
			@include safeFlex(row,wrap,left,start);
			@include bleed(padding,32px);
			.caption {
				flex: 1;
				max-width: $textMax;
			}
			.image-wrapper{
				max-width: 650px;
			}
		}
	}//end left right
	.caption-left {
		flex-direction: row-reverse;
	}
	.caption-below,.caption-none {
		max-width: 874px;
		@include auto;
	}
}//end image widget

