/* ===============
   FAUXFILE WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--fauxfile{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 912px;
  @include auto;
  .widget-title{
    text-align: left;
    margin-left: 0;
  }
}
.paragraph--type--fauxfile-item .widget-wrapper{
  @include profileStacked;
}
