/* ==================
		NEWS VIEWS
==================== */

@use '../../../00-base/base' as *;
@use '../views-mixins' as *;

%newsThreeColumn{
	@include bleed(padding,24px);
	& > .views-row{
		width: 100%;
		@include tab{
			width: 33.33%;
		}
	}
}

/* NEWS RECENT THREE */
.news.recent-three{
	.view-content{
    & > div{
      margin-bottom: $spaceMd;
    }
		.widget-section > .layout--onecol &,.node-support-book &,.block-field-stories-video-list &{
      @include desk{
        @include safeFlex(row,nowrap,start,start);
        @include bleed(padding,20px);
        & > div{
          width: 33.3%;
        }
      }
    }//end layout check
	}//end view content
}//end news recent three

/* NEWS RECENT TWO */
.news.recent-two{
	.view-content{
    & > div{
      margin-bottom: $spaceMd;
    }
		.widget-section > .layout--onecol &,.node-support-book &,.block-field-stories-video-list &{
      @include desk{
        @include safeFlex(row,nowrap,start,start);
        @include bleed(padding,20px);
        & > div{
          width: 50%;
        }
      }
    }//end layout check
	}//end view content
}//end news recent two

.news.recent-by-tag{
	.view-content{
		@extend %newsThreeColumn;
	}
}

/* FEATURED NEWS */
.news.all-news{
  @include paragraphSnug;
}
.news.featured-stories{
  padding-bottom: $spaceXl;
  max-width: $largeTab;
  @include auto;
	.view-content{
		@include safeFlex(row,wrap,center,start);
    @include tab{
      justify-items: flex-start;
      gap: 20px;
    }
		& > .views-row{
      max-width: 426px;
      @include tab{
        max-width: 100%;
        &:not(:first-child){
          width: calc(50% - 10px);
        }
        &:first-child{
          .views-field-nothing .field-content{
            @include safeFlex(row,wrap,start,start);
            gap: 20px;
            & > *{
              width: calc(50% - 10px);
            }
          }//end combo nothing field
        }//end first featured row
      }//end tab
      &:not(:last-child){
        margin-bottom: $spaceLg;
      }
      .views-field-field-image{
        margin-bottom: $spaceXs;
      }
      .story-title{
        margin-bottom: $spaceXxs;
        a{
          @include arrowLinkAfter($navy);
          &:after{
            @include rightArrow(navy,transparent,$navy,sm);
          }
          &:hover,&:focus{
            &:after{
              @include rightArrow(white,$navy,$navy,sm);
            }
            span{
              @include dottedLink($navy);
              padding-bottom: 1px;
            }
          }//end hover, focus
        }//end a
      }//end title
      .intro-text{
        line-height: 1.5;
      }
		}//end views row
	}//end view contnet
}//end featured news
.main-news-view{
  max-width: $contentStopMargin;
  @include auto;
	.views-exposed-form{
		@include exposedForm;
    @include exposedForm;
    @include edgeToEdge;
    @include safeFlex(column,wrap,start,start);
    @include tab{
      max-width: $largeTab;
      @include auto;
      padding-left: 60px;
      padding-right: 60px;
    }
		.form-item-combine{
			width: 100%;
	    max-width: none;
      margin-bottom: $spaceSm;
      @include tab{
			  border-bottom: 1px solid rgba($navy,.12);
        padding-bottom: 4rem;
        padding-left: 32px;
        padding-right: 32px;
      }
      @include largeTab{
        padding-left: 52px;
        padding-right: 52px;
      }
		}
		input[type="text"]{
			border-radius: 30px;
			border: 0;
			min-height: 0;
		}
		.js-form-type-select{
			max-width: none;
      margin-bottom: $spaceSm;
      @include tab{
        padding-left: 32px;
      }
      @include largeTab{
        padding-left: 52px;
      }
		}//end select 
    .form-actions{
      @include tab{
        width: 50%;
        justify-content: flex-end;
        padding-right: 12px;
      }
      @include largeTab{
        padding-right: 32px;
      }
    }
	}//end exposed form
	.view-content{
		@include bleed(padding,20px);
		& > .views-row{
			width: 100%;
      margin-bottom: $spaceLg;
			@include tab{
				width: 50%;
        .node-teaser-news{
          max-width: 100%;
        }
			}
      @include desk{
        width: 33.33%;
      }
		}
	}//end view content
}//end all news main news content

/* RELATED NEWS
---------------- */
.views-block.block-related-stories{
  position: relative;
  max-width: $contentStopMargin;
  @include auto;
  &:after{
    @include fullBack($brightBlue);
    height: 100vh;
    z-index: -3;
    top: 100%;
  }
  h2.block-title{
    color: $white;
    margin-bottom: $spaceXs;
  }
	.view-content{
		@include bleed(padding,20px);
		& > .views-row{
			width: 100%;
      &:not(:last-child){
        margin-bottom: $spaceXl;
      }
			@include tab{
				width: 33.33%;
			}
		}//end views row
	}//end view content
}//end related stories
