/* ==================
		NEWS VIEWS
==================== */

@use '../../../00-base/base' as *;
@use '../views-mixins' as *;


/* NEWS RECENT THREE */
.news.recent-three{
	.view-content{
		@include bleed(padding,24px);
		& > .views-row{
			width: 100%;
			@include tab{
				width: 33.33%;
			}
		}
	}
}//end news recent three

/* NEWS RECENT TWO */
.news.recent-two{
	.view-content{
		@include bleed(padding,24px);
		& > .views-row{
			@include tab{
				width: 50%;
			}
		}
	}
}//end news recent two

